﻿@model IEnumerable<Scoolfirst.Model.Camp.CampQuestion>

@{
    ViewBag.Title = "Index";
    var id = Request.QueryString["PostId"];
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {setid=id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Query)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowSolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Query)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowSolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
