﻿@model Scoolfirst.Model.WorkBook.Books

@{
    ViewBag.Title = "Create";
}

@UIHelper.Header("Books", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Book</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Title, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClassesId,"Class", htmlAttributes: new { @class = " " })
                            @Html.DropDownList("ClassesId",null, new { @class="form-control"})
                            @Html.ValidationMessageFor(model => model.ClassesId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubjectId, "Subject", htmlAttributes: new { @class = " " })
                            @Html.DropDownList("SubjectId", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BoardId, "Class", htmlAttributes: new { @class = " " })
                            @Html.DropDownList("BoardId", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BoardId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="" for="Image">Image</label>

                            <div class="input-group">
                                <input class="form-control text-box single-line" id="ImageUrl" name="ImageUrl" type="text" value="">
                                <span class="input-group-btn">
                                    <a href="#ImageUrl" class="filepicker btn btn-info btn-flat" title="upload image" style="color:white !important"><i class="fa fa-image"></i></a>
                                </span>
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Image" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Author, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Global, htmlAttributes: new { @class = " " })
                            @Html.CheckBoxFor(model => model.Global, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Global, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Books/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @FilePopUp.ModalFileFancyBox("ImageUrl")

}
