﻿@model Scoolfirst.Model.WorkBook.Books

@{
    ViewBag.Title = "Details";
}

@if (TempData["ChapterExist"] != null)
{
    <div class="alert alert-warning">
       
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <ul class="list-unstyled">
            @foreach(var item in (List<string>)TempData["ChapterExist"])
            {
                <li>Chapter @item already exist.</li>
            }
        </ul>
    </div>
}
@UIHelper.Header("Books Details",null,"List Of All Book Details")
<section class="content">

    <div class="row">
       
            <div class="col-lg-12">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 class="">@Model.Title</h3>

                        <p>
                            <ul class="list-unstyled">
                                <li class="f-19 c-white">
                                    <b>Class: </b>@Model.Classes.RomanDisplay
                                </li>
                                <li class="f-19 c-yellow">
                                    <b>Author: </b>@Model.Author
                                </li>
                                <li class="f-19 c-yellow">
                                    <b>No. Of Chapters: </b><a class="label bgm-pink">@Model.Chapters.Count()</a>
                                </li>

                            </ul>
                        </p>
                    </div>
                    <div class="icon">
                        @*<i class="ion ion-bag"></i>*@
                        <img class="img-responsive m-t-25" src="@Model.ImageUrl?height=130" alt="User profile picture">
                    </div>
                    <a href="#" class="small-box-footer"> </a>
                </div>
            </div>
          
        <!-- /.col -->
        <div class="col-lg-12">
            
                @Html.Action("BooksChapter", "chapters", new { BookId = Model.Id })
            
        </div>
       
    </div>
    <!-- /.row -->

</section>
