﻿@model Scoolfirst.Model.WorkBook.Books

@{
    ViewBag.Title = "Edit";

    //Todo Shahid => correct the linking of file manager
    // TODO Shahid => Review Required.
}

@UIHelper.Header("Books", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Title, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClassesId, "Class", htmlAttributes: new { @class = " " })
                            @Html.DropDownList("ClassesId", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClassesId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubjectId, "Subject", htmlAttributes: new { @class = " " })
                            @Html.DropDownList("SubjectId", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClassesId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BoardId, "Subject", htmlAttributes: new { @class = " " })
                            @Html.DropDownList("BoardId", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BoardId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="" for="Image">Image</label>

                            <div class="input-group">
                                <input class="form-control text-box single-line" id="ImageUrl" name="ImageUrl" type="text" value="@Model.ImageUrl">
                                <span class="input-group-btn">
                                    <a href="#ImageUrl" class="filepicker btn btn-info btn-flat" title="upload image" style="color:white !important"><i class="fa fa-image"></i></a>
                                </span>
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Image" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Author, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Global, htmlAttributes: new { @class = " " })
                            @Html.CheckBoxFor(model => model.Global)
                            @Html.ValidationMessageFor(model => model.Global, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Books/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@*<div class="card">
    <div class="card-header bgm-blue">
        <h2>Edit-Books</h2>
        <a href="@Url.Action("Index","Books")" class="btn bgm-deeporange btn-float waves-effect"><i class="zmdi zmdi-arrow-back"></i></a>

    </div>
    <div class="card-body card-padding">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group fg-line">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "fg-label" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
  
              
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="fg-line">
                            <label class="fg-label">Select Image</label>
                            @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })

                        </div>
                        <span class="input-group-addon last">
                            <a href="ImageUrl" class="filepicker">
                                <i class="zmdi zmdi-image zmdi-hc-fw" style="font-size:50px;"></i>
                            </a>
                        </span>
                    </div>
                </div>
                 <div class="form-group fg-line">
                    @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "fg-label" })
                        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                </div>

                <div class="form-group fg-line">
                    @Html.LabelFor(model => model.ClassesId, "Class", htmlAttributes: new { @class = "fg-label" })
                        @Html.DropDownList("ClassesId", null, htmlAttributes: new { @class = "selectpicker" })
                        @Html.ValidationMessageFor(model => model.ClassesId, "", new { @class = "text-danger" })
                </div>
                <div class="clearfix">
                    <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                </div>
                </div>
        }
    </div>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @FilePopUp.ModalFileFancyBox("ImageUrl")

}
