﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Books>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Books",null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Books"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-bordered table-condensed table-striped table-vmiddle " role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th>Class</th>
                                <th>Book Title</th>
                                <th>Author</th>

                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Classes.RomanDisplay</td>
                                    <td>
                                        @item.Title
                                    <img src="@item.ImageUrl" class="lv-img-sm" style="width:60px;height:40px" />
                                </td>
                                <td>@item.Author</td>
                                <td class="btn-group btn-group-sm" width="120px">
                                    <a href="@Url.Action("Edit", "Books", new { id =item.Id })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Details", "Books", new { id =item.Id })" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" ><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Delete", "Books", new { id = item.Id })" data-toggle="tooltip" data-placement="top" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>

                            }
                        </tbody>


                    </table>

                </div>
                <div class="box-footer">
                    @Pager.Page("/Books/index")
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

                                  