﻿@model IEnumerable<Scoolfirst.Model.RNM.ReasoningQuestion>

@{
    ViewBag.Title = "Index";
}

@UIHelper.Header("Reasoning Question",null,"List Of All Reasoning Question")
<input type="hidden" value="@ViewBag.SetId" />
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @*@UIHelper.Search(Url.Action("CreateRnmQuestion", "ReasoningQuestions", new { sid = ViewBag.SetId }), "")*@
                    @UIHelper.Search(Url.Action("CreateRnmQuestion", "ReasoningQuestions", new { sid = ViewBag.SetId }), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Set.Class)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Query)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Set.Class)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Query)
                                            </td>
                                            <td class="btn-group btn-group-sm" width="120px">
                                                <a href="@Url.Action("CreateRnmQuestion", "ReasoningQuestions",new { Id = item.Id, sid = ViewBag.SetId })" class="btn btn-success  btn-sm"><i class="fa fa-edit"></i>Edit</a>
                                                <a href="@Url.Action("Edit", "ReasoningQuestions", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("Delete", "ReasoningQuestions", new { id = item.Id })" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>

                                            </td>
                                        </tr>

                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/ReasoningQuestions/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

