﻿@model Scoolfirst.Model.MCQ.QuestionSet

@{
    ViewBag.Title = "Details";
}

@UIHelper.Header("Question Set")
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>

                    <h3 class="box-title">Details Of Question Set</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl>
                        <dt>Title</dt>
                        <dd>@Model.Title</dd>
                        <dt>Description</dt>
                        <dd>@Html.Raw(Model.Description)</dd>
                        <dt>Class</dt>
                        <dd>@Model.Class</dd>
                        <dt>Type</dt>
                        <dd>@Model.Type</dd>
                        <dt>Level</dt>
                        <dd>@Model.Level</dd>
                        <dt>Active</dt>
                        <dd>@Model.Active</dd>
                        <dt>Minutes</dt>
                        <dd>@Model.Minutes</dd>

                    </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Edit", "QuestionSets", new { id=Model.Id})" class="btn btn-success pull-right"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Index", "QuestionSets")" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
