﻿@model IEnumerable<Scoolfirst.Model.MCQ.QuestionSet>
@*ToDo: Paging Shaid*@
@{
    ViewBag.Title = "Index";
}
@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Questions Set", null, "List of All Questions Set")
<section class="content">
    <div class="row">

        <div class="col-xs-12">

            <div class="box box-primary">

                <div class="box-header">
                  @UIHelper.Search(Url.Action("Create","QuestionSets"),"")
                </div>
                <div class="box-body">

                    <h4>Available Question Sets</h4>
                    <ul class="list-group">

                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">
                                <div class="header">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </div>
                                <div class="text-sm">
                                   @Html.Raw(item.Description)
                                </div>
                                <br />
                                <span class="label label-info">
                                    @Html.DisplayFor(modelItem => item.Class)
                                </span>
                                <span class="label label-default">
                                    @Html.DisplayFor(modelItem => item.Type)
                                </span>
                                <span class="label label-primary">
                                    @Html.DisplayFor(modelItem => item.Level)
                                </span>
                                <span class="label label-info">
                                    @(item.Active?"Active":"Disabled")
                                </span>
                                <span class="label label-success">
                                    @Html.DisplayFor(modelItem => item.Minutes)
                                </span>
                                <br />
                                <div class="btn btn-group btn-group-xs">
                                    <a href="@Url.Action("Index", "McqQuestions", new { id = item.Id })" class="btn btn-xs btn-success" ><i class="fa fa-tags"></i> View Question</a>
                                    <a href="@Url.Action("Edit",  new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-edit"></i> Edit</a>
                                    <a href="@Url.Action("Details",  new { id = item.Id })" class="btn btn-xs btn-success"><i class="fa fa-eye"></i> View</a>
                                    <a href="@Url.Action("Delete",  new { id = item.Id })" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete</a>
                                    
                                   
                                </div>
                            </li>
                        }

                    </ul>
                    
                </div>
            </div>

        </div>
    </div>
</section>


