﻿@{ 
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var fileUrl = http+System.Web.Configuration.WebConfigurationManager.AppSettings["fileDomain"];
    var notificationServer = http + System.Web.Configuration.WebConfigurationManager.AppSettings["notificationServer"]+"/signalr";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["ProjectName"].ToString()</title>


    @Scripts.Render("~/bundles/modernizr")

    <!-- Vendor CSS -->

   
    <link href="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />
    @RenderSection("style", false)
    
    <link href="~/static/vendors/bower_components/lightgallery/light-gallery/css/lightGallery.css" rel="stylesheet">

    <link href="~/static/vendors/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/static/vendors/bower_components/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
     @Styles.Render("~/static/css")
    
    <script>
        var fburl = '@fileUrl/filemanager/dialog.php?type=3&editor=ckeditor&crossdomain=1&fldr=';
        var fuurl = '@fileUrl/filemanager/dialog.php?type=3&editor=ckeditor&crossdomain=1&fldr=';
        var fbiurl = '@fileUrl/filemanager/dialog.php?type=0&editor=ckeditor&crossdomain=1&fldr=';
    </script>
</head>
<body>
    

    <section id="main" data-layout="layout-1">
      
       
        <section id="content">
            <div class="container">
                <img src="http://static.upgrde.net/source/logo/Web_logo.png" style="margin-left:auto; display:block; margin-right:auto; margin-bottom:50px;" />

                @RenderBody()
            </div>
        </section>
    </section>
    



   

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="~/static/img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Javascript Libraries -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/static/vendors/bower_components/Waves/dist/waves.min.js"></script>
   
    
   
    
    @RenderSection("scripts", required: false)
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="~/static/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    

   
   
</body>
</html>
