﻿<!DOCTYPE html>
@{ 
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var fileUrl = http + System.Web.Configuration.WebConfigurationManager.AppSettings["pictureServer"];
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/static/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/static/Content/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/static/Content/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/static/Content/plugins/iCheck/flat/blue.css" rel="stylesheet" />
    <link href="~/static/Content/plugins/morris/morris.css" rel="stylesheet" />
    <link href="~/static/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/static/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/static/Content/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/static/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="~/static/Content/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script>
        var fileUrl = "http:\\\\static.upgrde.net";
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("style",false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("HeaderSection")
       
        @Html.Partial("leftSidebar")
       
        <div class="content-wrapper">
          
            @RenderSection("breadcrumb",false)

            @*<section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>*@
           
            <section id="content" ng-app="scoolfirstadmin">
                @RenderBody()
            </section>
          
           
        </div>
     
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> <span id="ver"></span>
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="http://goldpi.com">Developed by Gold Pi technologies Pvt ltd</a> For School First.</strong> All rights
            reserved. 
        </footer>
       
      @Html.Partial("rightSidebar")
    </div>
    <!--Model PopUp-->
    <div id='myModal' class='modal fade'>
        <div class="modal-dialog modal-lg">

            <div class="modal-content">


                <div id="myModalContent">

                    <div class="text-info pn centered " style="box-shadow:0px;"><i class="fa fa-spinner faa-spin animated" style="margin-top: 12%; font-size: 7.6em;"></i></div>
                </div>

            </div>

        </div>
    </div>
  
    <script src="~/static/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>

    <script src="~/static/Content/plugins/jQueryUI/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
 
    <script src="~/static/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/static/Content/plugins/morris/morris.min.js"></script>
    <script src="~/static/Content/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/static/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/static/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/static/Content/plugins/knob/jquery.knob.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="~/static/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/static/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/static/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/static/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/static/Content/plugins/fastclick/fastclick.min.js"></script>

    <script src="~/static/Content/plugins/fancybox/jquery.fancybox.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/angular-elastic.js"></script>
    <script src="~/Scripts/BootstrapAngular.js"></script>
    <script src="~/Scripts/angular-filter.min.js"></script>
<script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/ui-tinymce.min.js"></script>

    <script src="~/Scripts/app/app.js"></script>
    <script src="~/static/Content/dist/js/app.js"></script>

    <script src="~/static/js/modal-popup.js"></script>
    @RenderSection("scripts", required:false)

    <script>
        var url = '@fileUrl' + '/home/kdc/';
        $("#newKDC").click(function (e) {
            e.preventDefault();
            console.log(url);
            var win = window.open(url,'windowName', "width =900,height=800,scrollbars=no");
            var timer = setInterval(function () {
                if (win.closed) {
                    clearInterval(timer);

                    window.location.reload();
                }
            }, 1000);
        })
        function Invoke(str) {
            var url = str;

            var win = window.open(url, 'windowName', "width =900,height=800,scrollbars=no");

            var timer = setInterval(function () {
                if (win.closed) {
                    clearInterval(timer);

                    alert("Reported")
                }
            }, 1000);

        }
    </script>
    <script>
        $(function () {
            $.get("https://ci.appveyor.com/api/projects/imran04/scoolfirst", function (data) {
                $("span#ver").html(data.build.version)
            })
        })
    </script>

</body>
</html>
