﻿@{ 
    var http = "http" + (Request.IsSecureConnection?"s://":"://");
    var fileUrl = http+System.Web.Configuration.WebConfigurationManager.AppSettings["fileDomain"];
    var notificationServer = http + System.Web.Configuration.WebConfigurationManager.AppSettings["notificationServer"]+"/signalr";
    string fileServer = fileUrl+ "/filemanager/dialog.php?crossdomain=1&type=1&field_id=";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["ProjectName"].ToString()</title>


    @Scripts.Render("~/bundles/modernizr")

    <!-- Vendor CSS -->

   
    <link href="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />
    @RenderSection("style", false)
    
    <link href="~/static/vendors/bower_components/lightgallery/light-gallery/css/lightGallery.css" rel="stylesheet">
    <link href="~/static/css/sidebarMini.css" rel="stylesheet" />
    <link href="~/static/vendors/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/static/vendors/bower_components/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
     @Styles.Render("~/static/css")
    
    <script>

        //tinymce
        var fburl = '@fileUrl/filemanager/';
        var fpurl = '@fileUrl/filemanager/plugin.min.js';
        console.log(fburl)
        console.log(fpurl)
    </script>
</head>
<body class="" ng-app="scoolfirstadmin">
    <header id="header" class="clearfix" data-current-skin="graydark">
        @if (User.Identity.IsAuthenticated) { 
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo">
                <a href="@HttpContext.Current.Request.UserHostName" class="m-l-10"><img src="http://static.upgrde.net/source/logo/shape-text-logo-2.png" class="img-responsive" alt=""></a>
            </li>

            <li class="pull-right">
                <ul class="top-menu">
                    <li id="toggle-width">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>

                    <li id="top-search">
                        <a href="#"><i class="tm-icon zmdi zmdi-search"></i></a>
                    </li>

                  @Html.Partial("_messageagview")
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#">
                            <i class="tm-icon zmdi zmdi-notifications"></i>
                            <i class="tmn-counts">0</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg pull-right">
                            <div class="listview" id="notifications">
                                <div class="lv-header">
                                    Notification

                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="#" data-clear="notification">
                                                <i class="zmdi zmdi-check-all"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="lv-body">
                                    
                                </div>

                                <a class="lv-footer" href="#">View Previous</a>
                            </div>

                        </div>
                    </li>
                    
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#"><i class="tm-icon zmdi zmdi-more-vert"></i></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li class="skin-switch hidden-xs">
                                <span class="ss-skin bgm-graydark" data-skin="graydark"></span>
                                <span class="ss-skin bgm-lightblue" data-skin="lightblue"></span>
                                <span class="ss-skin bgm-bluegray" data-skin="bluegray"></span>
                                <span class="ss-skin bgm-cyan" data-skin="cyan"></span>
                                <span class="ss-skin bgm-teal" data-skin="teal"></span>
                                <span class="ss-skin bgm-orange" data-skin="orange"></span>
                                <span class="ss-skin bgm-blue" data-skin="blue"></span>
                            </li>
                            <li class="divider hidden-xs"></li>
                            <li class="hidden-xs">
                                <a data-action="fullscreen" href="#"><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                            </li>
                            <li>
                                <a data-action="clear-localstorage" href="#"><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-settings"></i> Other Settings</a>
                            </li>
                            <li>
                                <a href="/account/logoff"><i class="zmdi zmdi-settings"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                   
                </ul>
            </li>
        </ul>


        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <div class="tsw-inner">
                <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
                <input type="text">
            </div>
        </div>
        }
    </header>
    <section id="main" data-layout="layout-1">
   @Html.Partial("_LinksLeftSide")
       
        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </section>
    <footer id="footer">
        Copyright &copy; @DateTime.Now.Year @System.Configuration.ConfigurationManager.AppSettings["ProjectName"].ToString()

        <ul class="f-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>


    <!-- Page Loader -->
    @*<div class="page-loader">
        <div class="preloader pls-blue">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>

            <p>Please wait...</p>
        </div>
    </div>*@

    <!--Modal PopUp-->
    <div id='myModal' class='modal fade '>
        <div class="modal-dialog">
            <div class="modal-content">

                <div id="myModalContent">
                    <div class="text-info pn centered " style="box-shadow:0px;"><i class="fa fa-spinner faa-spin animated" style="margin-top: 12%; font-size: 7.6em;"></i></div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="~/static/img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Javascript Libraries -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/static/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/static/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="~/static/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/static/vendors/bower_components/lightgallery/light-gallery/js/lightGallery.min.js"></script>
    <script src="~/static/vendors/bower_components/autosize/dist/autosize.min.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="~/static/vendors/bower_components/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/app/angular-elastic.js"></script>
    <script src="@(notificationServer+"/hubs")"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script>
        app.value('backendServerUrl', '@notificationServer');
    </script>
    <script src="~/Scripts/app/service/service.js"></script>
    <script src="~/Scripts/app/message.js"></script>
    <script src="@Url.Content("~/static/js/functions.js")"></script>

    <script src="~/static/js/modal-popup.js"></script>
    <script src="~/static/vendors/fancybox/jquery.fancybox.js"></script>
   
    @FlashMessage.Show(TempData["Message"]!=null?TempData["Message"].ToString():"")
   
    @*<script>
        $().ready(function () {
            console.log("registered")
            $('.filepicker').fancybox({
                'width': 880,
                'height': 570,
                'type': 'iframe',
                'autoScale': false,
                beforeLoad: function () {
                    console.log(url)
                    this.href = '@fileServer' + this.href;
                }
            });
        })
        function OnMessage(e) {
            console.log(e)
            var event = e.originalEvent;
            // Make sure the sender of the event is trusted
            if (event.data.sender === 'responsivefilemanager') {
                if (event.data.field_id) {
                    var fieldID = event.data.field_id;
                    var url = event.data.url;
                    $('#' + fieldID).val(url).trigger('change');
                    $.fancybox.close();

                    // Delete handler of the message from ResponsiveFilemanager
                    $(window).off('message', OnMessage);
                }
            }
        }
        // Handler for a message from ResponsiveFilemanager
        $('.filepicker').on('click', function () {
            $(window).on('message', OnMessage);
        });
    </script>*@
    @RenderSection("scripts", required: false)
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="~/static/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->


    

   
   
</body>
</html>
