﻿@{ 

    var requestUrl = Request.Url.PathAndQuery;
}

    @if (User.Identity.IsAuthenticated)
    {
        <aside id="sidebar" class="sidebar c-overflow">
            <ul class="main-menu">
                <li @CurrentMenuClass(Url.Action("Index","Home"))>
                    <a href="@Url.Action("Index","Home")"><i class="zmdi zmdi-home"></i> Dashboard</a>
                </li>
                <li class=" sub-menu @CurrentMenu(Url.Action("Index", "Post"),Url.Action("Index", "Groups"))">
                    <a href="@Url.Action("Index","Post")"><i class="zmdi zmdi-home"></i> Post</a>
                    <ul>
                        <li @CurrentMenuClass(Url.Action("Index", "Post"))><a href="@Url.Action("Index", "Post")">All Posts</a></li>
                        <li @CurrentMenuClass(Url.Action("index", "Post"))><a href="@Url.Action("Index", "Post")">Knowledge Nutrition</a></li>
                        @*<li @CurrentMenuClass(Url.Action("ExperimentalLearning", "Post"))><a href="@Url.Action("ExperimentalLearning", "Post")">Exprimental Learning</a></li>*@
                        @*<li @CurrentMenuClass(Url.Action("Index", "Post" , new {Type=PostType.Feed }))><a href="@Url.Action("Index", "Post" , new {Type=PostType.Feed })">Feed</a></li>
                        <li @CurrentMenuClass(Url.Action("Index", "Post", new { Type = PostType.Vocalabury }))><a href="@Url.Action("Index", "Post" , new {Type=PostType.Vocalabury })">Vocablaury</a></li>
                        <li @CurrentMenuClass(Url.Action("Index", "Post", new { Type = PostType.ReasoningAndMathematics }))><a href="@Url.Action("Index", "Post" , new {Type=PostType.ReasoningAndMathematics })">Reasioning Root</a></li>*@
                    </ul>

                </li>
                <li class="sub-menu @CurrentMenu(Url.Action("Index", "Feeds"),Url.Action("Index", "Groups")) ">
                    <a href="#"><i class="zmdi zmdi-view-compact"></i> Feed <span class="badge pull-right m-r-10">6</span></a>
                    <ul>
                        <li @CurrentMenuClass(Url.Action("Index", "Feeds"))><a href="@Url.Action("Index","Feeds")">Feeds</a></li>
                        <li @CurrentMenuClass(Url.Action("Index", "Groups"))><a href="@Url.Action("Index","Groups")">Feed Group</a></li>
                    </ul>
                </li>
                
                <li class="sub-menu @CurrentMenu(Url.Action("MY","Kdc"),Url.Action("ALL","Kdc"),Url.Action("Rejected","Kdc"),Url.Action("Index","Kdc"))">
                    <a href="@Url.Action("Index","KDC")" title="Knowledge Donation Camp">
                        <i class="zmdi zmdi-format-underlined"></i> KDC
                    </a>
                    <ul>
                        <li  @CurrentMenuClass(Url.Action("MYKDC", "Kdc"))><a href="@Url.Action("MYKDC","Kdc")">My KDC</a></li>
                        <li  @CurrentMenuClass(Url.Action("ALL", "Kdc"))><a href="@Url.Action("ALL","Kdc")">View All</a></li>
                        <li  @CurrentMenuClass(Url.Action("Rejected", "Kdc"))><a href="@Url.Action("Rejected","Kdc")">Rejected</a></li>
                        <li  @CurrentMenuClass(Url.Action("Index", "Kdc"))><a href="@Url.Action("Index","Kdc")">KDC</a></li>

                    </ul>
                </li>
                <li class="sub-menu @CurrentMenu(Url.Action("Index","Schools"))">
                    <a href="@Url.Action("Index","Schools")" title="Schools">
                        <i class="zmdi zmdi-format-underlined"></i> Schools
                    </a>
                    <ul>
                        <li><a href="@Url.Action("Index","Schools")">View All</a></li>
                    </ul>
                </li>
                <li class="sub-menu @CurrentMenu(Url.Action("Index","books"))">
                    <a href="@Url.Action("Index","Books")" title="Books">
                        <i class="zmdi zmdi-format-underlined"></i> Books
                    </a>
                    <ul>
                        <li><a href="@Url.Action("Index","books")">View All</a></li>
                    </ul>
                </li>
                <li class="sub-menu @CurrentMenu(Url.Action("Index","Project"),Url.Action("Create","Project"),
                                   Url.Action("Index","Orders"),Url.Action("Index","ProjectCategory"),
                                   Url.Action("Index", "Products"),Url.Action("Index", "Products"))">
                    <a href="@Url.Action("Index","Project")"><i class="zmdi zmdi-view-comfy zmdi-hc-fw"></i> Offline Friend</a>

                    <ul>
                        <li @CurrentMenuClass(Url.Action("Index", "Products"))><a href="@Url.Action("Index", "Products")">Products</a></li>
                        <li @CurrentMenuClass(Url.Action("Index", "ProductCategories"))><a href="@Url.Action("Index", "ProductCategories")">Product Categories</a></li>
                        <li><a href="@Url.Action("Index","Project")">View All</a></li>
                        <li><a href="@Url.Action("Create","Project")">New</a></li>
                        <li><a href="@Url.Action("Index","Orders")">Project Orders</a></li>
                        <li><a href="@Url.Action("Index","ProjectCategory")">Project Category</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="#"><i class="zmdi zmdi-library zmdi-hc-fw"></i> Work Book</a>

                    @*<ul>
                            <li><a href="tables.html">Hind</a></li>
                            <li><a href="data-tables.html">English</a></li>
                            <li><a href="tables.html">Maths</a></li>
                            <li><a href="data-tables.html">Chemistry</a></li>
                        </ul>*@
                </li>
                <li @CurrentMenuClass(Url.Action("Index", "RoleModels"))>
                    <a href="@Url.Action("Index", "RoleModels")"><i class="zmdi zmdi-home"></i> Role Model</a>
                </li>
                <li @CurrentMenuClass(Url.Action("Index", "NewsGlobals", new { Type = NewsType.News }))>
                    <a href="@Url.Action("Index", "NewsGlobals", new { Type = NewsType.News }))"><i class="zmdi zmdi-home"></i> News and Updates</a>
                </li>
                <li @CurrentMenuClass(Url.Action("Index", "NewsGlobals", new { Type = NewsType.CC }))>
                    <a href="@Url.Action("Index", "NewsGlobals", new { Type = NewsType.CC }))"><i class="zmdi zmdi-home"></i> Computer Creatives</a>
                </li>
                <li @CurrentMenuClass(Url.Action("Index", "Slider"))>
                    <a href="@Url.Action("Index","Slider")"><i class="zmdi zmdi-collection-image-o zmdi-hc-fw"></i> Slider</a>
                </li>
                <li class="sub-menu @CurrentMenu(Url.Action("Index","Classes"),Url.Action("Create","Subject"),Url.Action("Index","ReportAbuseTitles"),
                                   Url.Action("Index", "Areas"), Url.Action("Index", "Cities"),
                                   Url.Action("Index", "States"), Url.Action("Index", "Countries"))">
                    <a href="#"><i class="zmdi zmdi-settings"></i> Setting</a>
                    <ul>


                        <li><a href="@Url.Action("Index","Classes")">Class</a></li>
                        <li><a href="@Url.Action("Index","Subject")">Subject</a></li>
                        @*<li><a href="@Url.Action("Index","Schools")">School</a></li>*@
                        <li><a href="@Url.Action("Index","ReportAbuseTitles")">Report Abuse</a></li>

                        <li class="sub-menu @CurrentMenu(
                                   Url.Action("Index", "Areas"), Url.Action("Index", "Cities"),
                                   Url.Action("Index", "States"), Url.Action("Index", "Countries"))">
                            <a href="#">GEO Location</a>

                            <ul>
                                <li @(requestUrl==Url.Action("Index","Areas")?"class=active":"")><a href="@Url.Action("Index","Areas")" >Area</a></li>
                                <li><a href="@Url.Action("Index","Cities")">City</a></li>
                                <li><a href="@Url.Action("Index","States")">State</a></li>
                                <li><a href="@Url.Action("Index","Countries")">Country</a></li>
                                @*<li><a href="@Url.Action("Index","Areas")">Third one</a></li>*@
                            </ul>
                        </li>
                    </ul>
                </li>

                <li @CurrentMenuClass(Url.Action("Calender", "Home"))><a href="@Url.Action("Calender","Home")"><i class="zmdi zmdi-calendar"></i> Calendar</a></li>

              



            </ul>
        </aside>
    }



@helper CurrentMenuClass(params string[] p) { 
string c = "";
var requestUrl = Request.Url.PathAndQuery;
foreach (var item in p)
{

    if (requestUrl == item)
    {
        c = "class=active";
            @c;
            break;
    }
}


    }

    @helper CurrentMenu(params string[] p)
    {
string c = "";
var requestUrl = Request.Url.PathAndQuery;
foreach (var item in p)
{

    if (requestUrl == item)
    {
        c = "active toggled";
            @c;
        break;
    }
}


}