﻿
<li class="dropdown" ng-controller="messageController">
    <a data-toggle="dropdown" href="#">
        <i class="tm-icon zmdi zmdi-email"></i>
        <i class="tmn-counts" ng-show="message.lenght>0" >{{message.lenght}}</i>
    </a>
    <div class="dropdown-menu dropdown-menu-lg pull-right">
        <div class="listview">
            <div class="lv-header">
                Messages
            </div>
            <div class="lv-body">
                <a class="lv-item" href="#" ng-repeat="i in message">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">David Belle</div>
                            <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                        </div>
                    </div>
                </a>
                <div>
                    <input type="text" ng-model="brodcastMessage"/>
                    <button ng-click="sendToAll()">Send</button>
                </div>
                @*<a class="lv-item" href="#">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="img/profile-pics/3.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Fredric Mitchell Jr.</div>
                            <small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" href="#">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Glenn Jecobs</div>
                            <small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" href="#">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Bill Phillips</div>
                            <small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
                        </div>
                    </div>
                </a>*@
            </div>
            <a class="lv-footer" href="#">View All</a>
        </div>
    </div>
    @*<div id='messageModel' class='modal fade'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <textarea class="form-control" ng-model="brodcastMessage"/>
                    <button ng-click="sendToAll">Send to All</button>
                </div>
                
            </div>
        </div>
    </div>*@
</li>



