﻿
@{

    var requestUrl = Request.Url.PathAndQuery;
}

@if (User.Identity.IsAuthenticated)
{
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            
         
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
           
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview">
                    <a href="/home/">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>

                </li>
                
                <!--Feed-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-rss"></i>
                        <span>Feed/Event</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index","Notifications",new {area="NotificationManager"})"><i class="fa fa-circle-o"></i>Notification</a></li>

                         <li><a href="@Url.Action("Index","Feeds",new {area=""})"><i class="fa fa-circle-o"></i>Feed</a></li>
                        
                        <li><a href="@Url.Action("Index","",new {area=""})"><i class="fa fa-circle-o"></i>Event</a></li>

                    </ul>
                </li>
                
                <!--Post-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-sticky-note-o"></i>
                        <span>Post</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index","Post",new {area="", Type = PostType.KNOWLEDGE_NUTRITION})"><i class="fa fa-circle-o"></i>Knowledge Nutrition</a></li>
                        <li>
                            <a href="@Url.Action("Index","RoleModels",new {area=""})"><i class="fa fa-circle-o"></i>U Inspire Me</a>
                        </li>
                        @*<li><a href="@Url.Action("Index","Post",new {area="",Type=PostType.CREATIVE_CANVAS})"><i class="fa fa-circle-o"></i>Creative Canvas</a></li>*@
                        <li><a href="@Url.Action("Index","Project",new {area=""})"><i class="fa fa-circle-o"></i>Creative Canvas</a></li>
                        <li><a href="@Url.Action("Index","KDC",new {area=""})"><i class="fa fa-circle-o"></i>Ask & Ans</a></li>
                    </ul>
                </li>
                <!--Creative Canvas-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-camera-retro"></i>
                        <span>Creative Canvas</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                       
                        <li><a href="@Url.Action("Index","Project",new {area=""})"><i class="fa fa-circle-o"></i>Creative Canvas</a></li>
                        <li><a href="@Url.Action("Index","ProjectCategory",new {area=""})"><i class="fa fa-circle-o"></i>Project Category</a></li>
                        <li><a href="@Url.Action("Index","GeneralKnowledge",new {area=""})"><i class="fa fa-circle-o"></i>General Knowledge</a></li>

                    </ul>
                </li>
                <!--Reasoning Root-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-hourglass-start"></i>
                        <span>Live Test Related</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index","Reasoning",new {area=""})"><i class="fa fa-circle-o"></i>Reasoning</a></li>
                        <li><a href="@Url.Action("Index","Post",new { Type="MUST_REMEMBER_TRICKS" })"><i class="fa fa-circle-o"></i>Must Rember tricks List</a></li>
                        <li><a href="@Url.Action("edit","Post",new {id=0, Type="MUST_REMEMBER_TRICKS"})"><i class="fa fa-circle-o"></i>New Must Rember tricks List</a></li>
                        <li><a href="@Url.Action("Index","PARoots",new {area=""})"><i class="fa fa-circle-o"></i>Assement</a></li>
                        <li><a href="@Url.Action("Index","Play",new {area=""})"><i class="fa fa-circle-o"></i>Play</a></li>
                        <li><a href="@Url.Action("Index","CampCategories",new {area="camp"})"><i class="fa fa-circle-o"></i>Camp</a></li>
                        <li><a href="@Url.Action("Index","VirtualCompetetionMainCategories",new {area="camp"})"><i class="fa fa-circle-o"></i>Virtual Cpmpetition</a></li>
                        <li><a href="/DaliyTest/DaliyTests"><i class="fa fa-circle-o"></i>Daily Test</a></li>

                    </ul>
                </li>
                <!--Workbook-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-book"></i>
                        <span>Work Book</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index","Schools",new {area=""})"><i class="fa fa-circle-o"></i>School</a></li>
                        <li><a href="@Url.Action("Index","Classes",new {area=""})"><i class="fa fa-circle-o"></i>Class</a></li>
                        <li><a href="@Url.Action("Index","Subject",new {area=""})"><i class="fa fa-circle-o"></i>Subject</a></li>
                        <li><a href="@Url.Action("Index","Books",new {area=""})"><i class="fa fa-circle-o"></i>Book</a></li>
                        <li><a href="@Url.Action("Index","SyllabusDates")"><i class="fa fa-circle-o"></i>Syllabus/Test</a></li>
                        <li><a href="@Url.Action("Index","SamplePapers")"><i class="fa fa-circle-o"></i>Sample Papers</a></li>
                    </ul>
                </li>
                
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span>E-Store</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index","Products",new {area=""})"><i class="fa fa-circle-o"></i>Products</a></li>
                        <li><a href="@Url.Action("Index","Orders",new {area=""})"><i class="fa fa-circle-o"></i>Orders</a></li>
                    </ul>
                </li>
                <!--Application User-->

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>User</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index","Users",new {area="AppUsers"})"><i class="fa fa-circle-o"></i>Users</a></li>
                        <li><a href="@Url.Action("ListAllUser","Users",new {area="AppUsers"})"><i class="fa fa-circle-o"></i>All Users</a></li>
                        <li><a href="@Url.Action("AddStudentParent","Users",new { area="AppUsers"})"><i class="fa fa-circle-o"></i>Add Student-Parent</a></li>
                        <li><a href="@Url.Action("AddAdminUsers","Users",new { area="AppUsers"})"><i class="fa fa-circle-o"></i>Add Admin Users</a></li>
                        <li><a href="@Url.Action("AddSchools","Users",new { area="AppUsers"})"><i class="fa fa-circle-o"></i>Add Schools</a></li>
                        <li><a href="@Url.Action("Upload","Users",new {area="AppUsers"})"><i class="fa fa-circle-o"></i>Bulk User Upload</a></li>

                    </ul>
                </li>
                
                <!--Web Statics-->

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bar-chart"></i>
                        <span>Statics</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        

                    </ul>
                </li>
                
                <!--Setting-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span>Setting</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Setting","Home",new {area=""})"><i class="fa fa-circle-o"></i>Company Profile</a></li>
                        <li><a href="@Url.Action("Index","Boards",new {area=""})"><i class="fa fa-circle-o"></i>School</a></li>
                        <li><a href="@Url.Action("Index","Schools",new {area=""})"><i class="fa fa-circle-o"></i>School</a></li>
                        <li><a href="@Url.Action("Index","Classes",new {area=""})"><i class="fa fa-circle-o"></i>Class</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i>
                                <span>Geo</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Area",new {area=""})"><i class="fa fa-circle-o"></i>Area</a></li>
                                <li><a href="@Url.Action("Index","Cities",new {area=""})"><i class="fa fa-circle-o"></i>City</a></li>
                                <li><a href="@Url.Action("Index","States",new {area=""})"><i class="fa fa-circle-o"></i>State</a></li>
                                <li><a href="@Url.Action("Index","Countries",new {area=""})"><i class="fa fa-circle-o"></i>Country</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                
                <!--Android App-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-android"></i>
                        <span>Android</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @*<li>
                            <a href="@Url.Action("Index","Ticket",new {area="APKLogger"})"><i class="fa fa-circle-o"></i>Error Log</a>
                        </li>*@
                        <li><a href="@Url.Action("Index","Slider",new {area=""})" ><i class="fa fa-circle-o"></i>Slider</a></li>
                    </ul>
                </li>
                
                
               
              
               
            </ul>
        </section>
    </aside>
}