﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Trending>

@{ 
    var apiserver = "/api/AC?St=";
}


        <div class="card card-blue">
            <div role="tabpanel">
                <div class="card-header card-padding">
                   
                </div>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-md-7">
                            <ul class="tab-nav" role="tablist"  data-tab-color="amber">
                                <li class="active"><a href="#Revison" aria-controls="Revison" role="tab" data-toggle="tab" aria-expanded="false">Revision</a></li>
                                <li><a href="#Progressive" aria-controls="Progressive" role="tab" data-toggle="tab" aria-expanded="false">Progressive</a></li>
                                <li><a href="#Hybrid" aria-controls="Hybrid" role="tab" data-toggle="tab" aria-expanded="true">Hybird</a></li>

                            </ul>
                            <div class="input-group">
                                <div class="fg-line">
                                    <input type="text" id="Search" class="form-control" placeholder="Search ...">
                                </div>
                                <span class="input-group-addon last"><i class="zmdi zmdi-search"></i></span>
                            </div>
                            <h3>Trending</h3>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Revison">
                                    <h3>Revision</h3>
                                    <ul class="list-group">
                                        @foreach (var i in Model.Where(i => i.TypeOfTrend == Scoolfirst.Model.WorkBook.TypeOfTrend.REVISION).Select(i=>i.Trend))
                                        {
                                        <li class="list-group-item">
                                            <a href="/TossTopic/Revision/@HttpUtility.HtmlEncode(i)">#@i</a>
                                        </li>
                                        }
                                    </ul>
                                    <div id="RR">

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Progressive">
                                    <h3>Progssive</h3>
                                    <ul class="list-group">
                                        @foreach (var i in Model.Where(i => i.TypeOfTrend == Scoolfirst.Model.WorkBook.TypeOfTrend.PROGRESSIVE).Select(i => i.Trend))
                                        {
                                            <li class="list-group-item">
                                                <a href="/TossTopic/Progressive/@HttpUtility.HtmlEncode(i)">#@i</a>
                                            </li>
                                        }
                                    </ul>
                                    <div id="PR">

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane " id="Hybrid">
                                    <h3>Hybrid</h3>
                                    <ul class="list-group">
                                        @foreach (var i in Model.Where(i => i.TypeOfTrend == Scoolfirst.Model.WorkBook.TypeOfTrend.HYBIRD).Select(i => i.Trend))
                                        {
                                            <li class="list-group-item">
                                                <a href="/TossTopic/Hybrid/@HttpUtility.HtmlEncode(i)">#@i</a>
                                            </li>
                                        }
                                    </ul>
                                    <div id="HR">

                                    </div>
                                </div>

                            </div>
                            @*<div class="row">
                                
                             </div>*@
                            </div>
                        
                        <div class="col-md-5">
                           
                            @{
//TODO Update the content to display here
                            }
                            <h3>Toss Topic</h3>
                            <p class="text-justify">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </p>

                        </div>
                        </div>

                               
                            </div>
                        </div>
                    </div>




                    @section scripts{
                        <script>
                            var st = "";
                            var Type = "";
                            var p = +st + "&type=" + Type;
                            $(function () {
                                $("#Search").change(function () {
                                    var st = $(this).val();

                                    $.ajax({
                                        url: "@apiserver" + st,
                                        dataType: 'json',
                                        success: function (data) {
                                            var re1 = "<ul class='list-group'>";
                                            for (var i = 0; i < data.RN.length; i++) {
                                                re1 += "<li class='list-group-item'><a href='/TossTopic/Revision/" + data.RN[i] + "'>" + data.RN[i] + "</a></li>";

                                            }
                                            re1 += "</ul>";
                                            $("#RR").html(re1);
                                            var re = "<ul class='list-group'>";
                                            for (var i = 0; i < data.HL.length; i++) {
                                                re += "<li class='list-group-item'><a href='/TossTopic/Hybrid/" + data.HL[i] + "'>" + data.HL[i] + "</a></li>";

                                            }
                                            re += "</ul>";
                                            $("#HR").html(re);
                                            var re2 = "<ul class='list-group'>";
                                            for (var i = 0; i < data.PL.length; i++) {
                                                re2 += "<li class='list-group-item'><a href='/TossTopic/Progressive/" + data.PL[i] + "'>" + data.PL[i] + "</a></li>";

                                            }
                                            re2 += "</ul>";
                                            $("#PR").html(re2);

                                        }
                                    });


                                })
                            })



                        </script>

                    }


