﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Questions>
@{
    ViewBag.Title = "Revision";
}
@{
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var fileUrl = http + HostingServerInfo.File.Url();
    ViewBag.Title = "Index";
}

@if (Request.IsAjaxRequest())
{
    @Posts()
    return;
}
<div class="row">
    <div class="col-md-8" id="postHolder">
        @Posts()
    </div>
    <div class="col-md-4 hidden-sm">
        @Html.Action("TopFeeds", "widgets")
        @Html.Action("TopKDC", "widgets")
        @Html.Action("TopProjects", "widgets")


        <div class="card">
            <div class="card-header">
                <h2>Section 3 <small>Commodo vel pharetra nisi. Donec velit libero</small></h2>
            </div>
            <div class="card-body">
                <img src="http://placehold.it/350x200" class="img-responsive">

            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <h2>Section 4 <small>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</small></h2>
            </div>
            <div class="card-body">
                <img src="http://placehold.it/350x200" class="img-responsive">

            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/static/CustomScript/InfinteScroll.js"></script>
}

@helper Posts()
{
foreach (var ir in Model)
{
        <div class="card">

            <div class="card-header bgm-blue">
                <div class="media">
                    <div class="pull-left color c-lightgreen">
                        <img src="~/static/img/feedIcon/ic_connected_school.png" class="lv-img-sm" />

                    </div>
                    <div class="media-body m-t-5">
                        <h2>
                            Revision Note
                        </h2>
                    </div>
                </div>
            </div>


            <div class="card-body card-padding">

                <span class="lead">@Html.Raw(ir.Title)</span>
                <div class="rawContent">
                    @Html.Raw(ir.Answer)
                </div>
                


            </div>
            <div class="card-footer card-padding">
                @Html.Raw(ir.Refrence)
            </div>

        </div>
}
if (Model.Count() == 0)
{
        <h3>Sorry ! We Don't have Any more Chocholates For you :(</h3>
}
else
{
    var Page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"].ToString()) : 0;
    var Controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToUpper();
    var url = string.Format("{1}?page={0}", (Page + 1), Request.Url);
        <a class="text-center btn btn-block btn-info waves-button-input" href="@url">Load More</a>
}
}