﻿@model Scoolfirst.Model.Feed.Feeds

@{
    ViewBag.Title = "Edit";
}


@UIHelper.Header("Feeds", null)


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="ret" value="@ViewBag.ret" />
                <div class="box">
                    <div class="box-header with-border">

                        <h3 class="box-title">Edit</h3>

                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(i => i.Title)
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="dtp_input1" class=" control-label">Date Time</label>
                            <div class="input-group date form_datetime " data-date-format="dd MM yyyy  HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" type="text" value="@Model.OnDateTime" name="OnDateTime">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(i => i.Post)
                            @Html.DropDownList("PostId", null, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.PostId, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">

                            @Html.LabelFor(i => i.Group)
                            @Html.DropDownList("GroupId", null, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Feeds/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>                    
                    </div>
                </div>
            }
        </div>

    </div>


</section>


@section scripts{

  <link href="~/Content/DatePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<script src="~/Content/DatePicker/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/DatePicker/locales/bootstrap-datetimepicker.fr.js"></script>

<script type="text/javascript">
    $(function () {
        //$('#datepicker').datetimepicker();

        //moment().format();
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            //showMeridian: 1
        });
    });

</script>
}   