﻿@model IEnumerable<Scoolfirst.Model.Feed.Feeds>

@{
    ViewBag.Title = "Index";
}
@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Feeds", null, "List of All Feeds")

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Feeds"), "")
                      
                 </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul  class="list-group">
                       
                            @foreach (var item in Model)
            {
                                <li class="list-group-item">
                                    
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>@item.Title</h4>
                                            <h5>@Html.DisplayFor(modelItem => item.Post.Title)</h5>
                                            <span class="label label-primary">@Html.DisplayFor(modelItem => item.Group.Name)</span>
                                            @Html.DisplayFor(modelItem => item.OnDateTime)
                                        </div>

                                        <div class="btn btn-group btn-group-sm">
                                            <a href="@Url.Action("Edit", "Feeds", new { id = item.Id })" class="btn btn-success btn-sm" ><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("Details", "Feeds", new { id = item.Id })" class="btn btn-info btn-sm" ><i class="fa fa-eye"></i></a>
                                            <a href="@Url.Action("Delete", "Feeds", new { id = item.Id })" class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i></a>
                                        </div>      
                                     </div>
                                </li>
                            }
                       
                    </ul>
                    


                </div>
                <div class="box-footer">
                    @Pager.Page("/Feeds/index")

                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>

