﻿@model Scoolfirst.Model.RNM.ReasoningRoot
@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    var level = "Bignner";
    if (Request.QueryString["level"] != null)
    {
        level = Request.QueryString["level"];
    }
}

<div class="row">
   
    <div class="col-md-8">
        <div >
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-collapse full-width-tabs">
                    <ul class="tab-nav " role="tablist" data-tab-color="amber">

                        <li class="bgm-bluegray">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="c-white">
                                Lesson and schedule
                            </a>
                        </li>
                        <li class="bgm-primary">
                            <a class=" c-white" href="/Feed" aria-controls="collapseTwo">
                                Must Remember Tricks
                            </a>
                        </li>
                        @*<li class="bgm-bluegray">
                            <a class="c-white" href="/Reasoning/SingleTest?Level=@level" aria-controls="collapseThree">
                                Practice Test
                            </a>
                        </li>*@

                    </ul>
                    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" >
                        <div class="panel-body">
                            
                            

                            <div class="card" style="background: transparent;box-shadow:0 0px 0px rgba(0, 0, 0, 0.15)!important">
                                <div class="card-header ch-alt p-0 p-t-10 card-padding text-center">

                                        
                                    @*No Of Day's Taken:  @Model.Sum(i=>i.Days)*@
                                    @*<span class="label label-info">Number of Days Taken </span>*@                                    
                                   


                                </div>
                                <div class="card-body" style="overflow:scroll; max-height:600px">

                                    @PostRenderer(level)
                                </div>
                                <div class="card-footer text-center">
                                    @if (ViewBag.Next != null)
                                    {
                                        <h4 class="c-red">Congratulations, You have just aquired multiple concept related with the above lesson. You are now promoted to next lesson.</h4>
                                        <span>

                                            You can start by clicking below.
                                            <a href="/Reasoning/Start/@ViewBag.Next.Id?Level=@level" class=" btn btn-success center">I'm Ready</a>
                                        </span>

                                    }
                                    @if (ViewBag.New != null)
                                    {
                                        <h4>You Have Not started Yet!</h4>
                                        <a href="/Reasoning/Start/@ViewBag.New.Id?Level=@level" class="btn btn-success center">I'm Ready to start</a>
                                    }
                                </div>
                            </div>


                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <h3 class="text-left text-primary">
                                Must remember tricks
                            </h3>
                            <p>
                                Especially crafted collection of must remember point and tricks to solve various types of question of reasoning. Some of these collections are taken from reasoning root lesson plan.
                            </p>
                            <p>
                                <b>New must remember points and tricks are regularly updated</b>. Pl follow following links for rare collection and its regular update for ready reference and fine tuning the knowledge.
                            </p>
                        </div>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <h3 class="text-left text-primary">
                                Practice Test
                            </h3>
                            <p>
                                Practice paper designed with rare collection of questions, to have must exposer over different types of reasoning topics.
                            </p>
                            <p>
                                Thesepractice papers are <span class="c-red">LIVE…</span>
                            </p>
                            <p>
                                papers are syllabus and time specific. By the End oftest, A comprehensive test analysis will enabling to locate individual strength and weakness.
                            </p>
                            <p>
                                Following types of live practice papers are available
                                <ul>
                                    <li><b>LESSON TEST-</b>Test is arranged with lesson plan. These tests are syllabus specific. You will find it in lesson plan.</li>
                                    <li><b>NOT ATTEMPTED AND WRONGLY ATTEMPTED QUESTION TEST-</b> scheduled every week after every lesson test, to avoid future mistakes and comprehensive knowledge.</li>
                                    <li><b>PRACTICE TEST-</b>New test papers of different level, are available for extra practice.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        



    </div>
    <div class="col-md-4">
        @StartButton(level)
        <div class="card">

            <div class="card-header card-padding">
                <h3>Tips And Tricks</h3>
            </div>
            <div class="card-body card-padding">
                @Html.Raw(Model.Tips)
            </div>
            <div class="card-footer card-padding">
               
            </div>
        </div>
        @Html.Action("Moudles", new { current = ViewBag.Current, Now = ViewBag.Now ,Level=level})
        
        <div class="card">
            <div class="card-header card-padding">
                <h4 class="c-red text-center">Lesson Progress Status(@level)</h4>
            </div>
            <div class="card-body card-padding text-justify">
                <span class="text-center c-green">No. Of lessons completed @ViewBag.CountCompleted out of total @ViewBag.TotlaLesson lessons  in @ViewBag.Sum days</span>
            </div>
        </div>

        

      



       
    </div>


</div>

@helper PostRenderer(string level)
{

var i = Model;


{
        <div class="card">
            <div class="card-header ch-alt p-10">
                @*Type : @i.IsLessonOrExam.ToString()*@
                <h3 class="m-0"><i class="zmdi zmdi-star-circle zmdi-hc-fw"></i> @i.Title</h3>

            </div>
            <div class="card-body card-padding">
                <p>@Html.Raw(i.Content)</p>
            </div>
           
        </div>
}
    


}




@helper StartButton(string level) {

switch (Model.IsLessonOrExam)
{
    case Scoolfirst.Model.RNM.ReasoningRootType.Lesson:
            <a href="/Reasoning/Test/@Model.Id?Level=@level" class="btn-block btn btn-success ">
                 Lesson Exercise
            </a>

        break;
    case Scoolfirst.Model.RNM.ReasoningRootType.Exam:
            <a href="/Reasoning/Test/@Model.Id?Level=@level" class="btn-block btn btn-success ">
                Live Test
            </a>
        break;
    case Scoolfirst.Model.RNM.ReasoningRootType.Single:
            <a href="/Reasoning/Test/@Model.Id?Level=@level" class="btn-block btn btn-success ">
               Live Test
            </a>
        break;
    case Scoolfirst.Model.RNM.ReasoningRootType.RevisionOfLesson:
            <a href="/Reasoning/Test/@Model.Id?Level=@level" class="btn-block btn btn-success ">
               Lesson Exercise
            </a>
        break;
    case Scoolfirst.Model.RNM.ReasoningRootType.ReviewOfExam:
            <a href="/Reasoning/report/@Model.Id?Level=@level" class="btn-block btn btn-success ">
                Review
            </a>
        break;
    case Scoolfirst.Model.RNM.ReasoningRootType.Assessment:
            <a href="/Reasoning/Test/@Model.Id?Level=@level" class="btn-block btn btn-success ">
                Assement
            </a>
        break;
    default:
        break;
}




}