﻿@model IEnumerable<Scoolfirst.Model.RNM.ReasoningRoot>
<div class="">
    <button id="clickbutton" class="btn f-16" style="width:360px;background-color:rgba(22, 38, 57, 1);color:white">Launch Lesson</button>
</div>
<div class="card" id="hideshow">
    
    <div class="card-body" >
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading">
                <div class="row">
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.Title)
                    </div>

                    <div class="col-md-4">
                        Type
                    </div>
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.Days)
                    </div>
                </div>
            </li>

            @foreach (var item in Model.Select((model,Count)=> new { Model = model, index = Count+1 }))
            {
                <li class="list-group-item  @ColorStyles(ViewBag.Current,item.index)">
                    <a href="/Reasoning?Page=@item.index&level=@Request.QueryString["level"]" class="c-white ">
                        <div class="row">
                            <div class="col-md-4">
                                @if (ViewBag.Current == item.index)
                                {
                                    <i class="fa fa-bookmark-o"></i>
                                }
                                @if (ViewBag.Now == item.index)
                                {
                                    <i class="fa fa-eye"></i>
                                }
                                @Html.DisplayFor(modelItem => item.Model.Title)
                            </div>

                            <div class="col-md-4">
                                @Html.DisplayFor(modelItem => item.Model.IsLessonOrExam)
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayFor(modelItem => item.Model.Days)
                            </div>
                        </div>
                        
                        
                    </a>
                </li>
            }

        </ul>
    </div>
</div>

@functions {

    public string CurrentStyle(int Index)
    {
        if(ViewBag.Now==Index&&ViewBag.Current==Index)
        {
            return  "bgm-blue c-white";
        }
        if (ViewBag.Current == Index)
        {

            return "bgm-green c-white";
        }
        if (ViewBag.Now == Index)
        {
            return "bgm-yellow c-black";
        }
        return "";
    }

    public string CurrentAStyle(int Index)
    {
        if (ViewBag.Now == Index && ViewBag.Current == Index)
        {
            return "c-white";
        }
        if (ViewBag.Current == Index)
        {

            return "c-white";
        }
        if (ViewBag.Now == Index)
        {
            return "c-black";
        }
        return "";
    }

    public string ColorStyles(int Current,int index)
    {
        if (Current == index)
        {
            return "bgm-primary";
        }
        else
        {
            return Current < index ? "bgm-bluegray" : "bgm-green";
        }
    }


}


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script>
        var i = 1;
        $("#hideshow").hide();
        $("button").click(function () {
            
            $("#hideshow").toggle();
            i++;
            if(i%2==0)
                $(this).html("Compress Lesson")
            else
                $(this).html("Launch Lesson")
        })
        
    </script>
    
    
   