﻿@model Scoolfirst.Model.RNM.ReasoningRoot
@{
    ViewBag.Title = "Exam";
    ViewBag.ExamTitle = Model.Title;
    Layout = null;
    var UserData = (Scoolfirst.Model.Identity.User)ViewBag.UserData;
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/static/img/favicon.ico">
    <title>
        @(ViewBag.Title != null ? ViewBag.Title + " -" : "")
        @HostedApplicationConfig.ApplicationName.Value()
    </title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Vendor CSS -->
    <link href="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <style>
        .mainmenu.affix .ha-menu ul > li:not(:first-child) > * {
            padding: 10px 12px !important;
            margin-top: 5px !important;
        }

        .mainmenu.affix .ha-menu ul > li {
            border-left: 0px !important;
            border-right: 0px !important;
        }

        .ha-menu > ul {
            width: 100% !important;
        }

        @@media(max-width: 767px) {
            .mainmenu.affix .ha-menu ul > li {
                border-left: 0px !important;
                border-right: 0px !important;
            }

            .ha-menu:not(.toggled) {
                display: block !important;
            }

            .ha-menu {
                background: #052941;
                width: 100%;
                position: inherit !important;
                /* top: 65px; */
                /* left: 8px; */
                box-shadow: 0 0 0px !important;
                z-index: 10;
                padding: 0 0px !important;
            }

                .ha-menu ul li {
                    display: inline-block;
                }

            .hidden-sm, .hidden-xs {
                display: none !important;
            }

            .exam-control-bottom {
            }

                .exam-control-bottom li {
                    width: 49%;
                    text-align: center;
                }
        }
    </style>
    @Styles.Render("~/static/css")
    
</head>
<body class="" @*ng-app="scoolfirst" ng-controller="ResultsController"*@>
   
    
    <div class="mainmenu affix">
        <div class="container-fluid">
            <nav class="ha-menu">
                <ul class="nav navbar-nav">
                    <li class="logo">

                        <a href="/">
                            @if (MvcApplication.Logos != null && MvcApplication.Logos.Weblogo != null)
                            {
                                <img src="@MvcApplication.Logos.Weblogo?height=40" class="img-responsive hidden-md hidden-lg" alt="" />
                                <img src="@MvcApplication.Logos.Weblogo?height=40" class="img-responsive hidden-xs hidden-sm" alt="" />
                            }

                        </a>

                    </li>
                    <li class="col-md-8 text-center">
                        <span class="c-yellow display-block f-20">
                            @ViewBag.ExamTitle
                        </span>
                    </li>

                </ul>

            </nav>
        </div>
    </div>

    
    <div class="clearfix"></div>
    <section id="main" data-layout="layout-1">
        <div class="row">
            <div class="col-sm-8">
                <div class="container-fluid">

                    <div>
                        <div class="card" id="profile-main">
                            <div style="border:0px!important; padding: 0px !important" ng-cloak>
                                <div class="card-header">
                                </div>
                                <div class="card-body card-padding">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                Load test here
            </div>
        </div>


        
        
    </section>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/static/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/static/vendors/bower_components/moment/min/moment-timezone.min.js"></script>
    <script src="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/static/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="~/static/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/static/vendors/bower_components/autosize/dist/autosize.min.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="~/static/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    @*<script src="~/static/js/functions.js"></script>
        <script src="~/static/js/demo.js"></script>*@
    <link href="~/Content/angular-motion.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/apps/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Scripts/apps/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="~/Scripts/apps/bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="~/Scripts/apps/bower_components/morris.js/morris.min.js"></script>
    <script src="~/Scripts/apps/bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="~/Scripts/apps/bower_components/angular-morris/angular-morris.min.js"></script>
    <script src="~/Scripts/apps/app.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="/JavaScript/ReasoningTest/@Model.Id"></script>
    <style>
        .text-white {
            color: white !important;
        }
    </style>

    <script>

    </script>

</body>

</html>
