﻿
@model Scoolfirst.Model.RNM.ReasoningRoot
@{
    ViewBag.Title = "Exam";
    ViewBag.ExamTitle = Model.Title;
    Layout = null;
    var UserData = (Scoolfirst.Model.Identity.User)ViewBag.UserData;
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/static/img/favicon.ico">
    <title>
        @(ViewBag.Title != null ? ViewBag.Title + " -" : "")
        @HostedApplicationConfig.ApplicationName.Value()
    </title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Vendor CSS -->
    <link href="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

    @Styles.Render("~/static/css")
    <script>
        var welcome = "@User.Identity.Name";
    </script>
</head>
<body class="" ng-app="scoolfirst" ng-controller="ReasoningRootController">
    @*<div id="fb-root"></div>*@
    <style>
        .mainmenu.affix .ha-menu ul > li:not(:first-child) > * {
            padding: 10px 12px !important;
            margin-top: 5px !important;
        }

        .mainmenu.affix .ha-menu ul > li {
            border-left: 0px !important;
            border-right: 0px !important;
        }

        .ha-menu > ul {
            width: 100% !important;
        }

        @@media(max-width: 767px) {
            .mainmenu.affix .ha-menu ul > li {
                border-left: 0px !important;
                border-right: 0px !important;
            }

            .ha-menu:not(.toggled) {
                display: block !important;
            }

            .ha-menu {
                background: #052941;
                width: 100%;
                position: inherit !important;
                /* top: 65px; */
                /* left: 8px; */
                box-shadow: 0 0 0px !important;
                z-index: 10;
                padding: 0 0px !important;
            }

                .ha-menu ul li {
                    display: inline-block;
                }

            .hidden-sm, .hidden-xs {
                display: none !important;
            }

            .exam-control-bottom {
            }

                .exam-control-bottom li {
                    width: 49%;
                    text-align: center;
                }
        }
    </style>
    <div class="mainmenu affix">
        <div class="container-fluid">
            <nav class="ha-menu">
                <ul class="nav navbar-nav">
                    <li class="logo">

                        <a href="/">
                            @if (MvcApplication.Logos != null && MvcApplication.Logos.Weblogo != null)
                            {
                                <img src="@MvcApplication.Logos.Weblogo?height=40" class="img-responsive hidden-md hidden-lg" alt="" />
                                <img src="@MvcApplication.Logos.Weblogo?height=40" class="img-responsive hidden-xs hidden-sm" alt="" />
                            }

                        </a>

                    </li>
                    <li class="col-md-8 text-center">
                        <span class="c-yellow display-block f-20">
                            @ViewBag.ExamTitle <span class="c-white label label-info">@Model.Class</span> 
                        </span>
                    </li>

                    <li class="">

                        <div href="#" class="">
                            <span class="f-20">
                                <i class="zmdi zmdi-alarm zmdi-hc-fw f-20"></i>
                                <timer interval="1000" ng-model="time" >
                                    Time : {{hours}}:{{minutes}}:{{seconds}}
                                </timer>
                            </span>

                        </div>

                    </li>
                    <li class="hidden-sm hidden-xs">
                        <a href="#" class="btn btn-primary bgm-bluegray m-r-10">Pause</a>
                    </li>
                    <li class="hidden-sm hidden-xs">
                        <div href="#" class="btn btn-primary bgm-red">Finish Exam</div>
                    </li>

                </ul>


            </nav>
        </div>
    </div>

    @helper Display(Scoolfirst.Web.Models.MenuItem item)
    {
if (string.IsNullOrEmpty(item.ShortDisplay))
{
        @item.Title
}
else
{
        @item.ShortDisplay
}
}
    <div class="clearfix"></div>
    <section id="main" data-layout="layout-1">



        <div class="container-fluid">

            <div>


                <div class="card" id="profile-main">
                    <div style="border:0px!important; padding: 0px !important" ng-cloak>
                        <div class="card-header">
                            
                        </div>
                        <div class="card-body card-padding">
                            <div class="row" ng-show="TestStarted&&!TestClosed">
                                <div class="col-md-1">
                                    <button ng-click="SlecetQuestion(Index-1)" class="btn btn-default pull-left " style="line-height:500px;font-size:20px;border:0px"><</button>
                                </div>
                                <div class="col-md-10">
                                    <div ng-show="Loaded">
                                        <div ng-show="TestStarted&&!TestClosed">
                                            <span class="label label-info f-14"> Attempted :{{Attempt()}}</span>
                                            <span class="label label-info f-14"> Total Question: {{Test.Questions.length}}</span>
                                        </div>
                                        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="TestStarted&&!TestClosed">
                                            <ul class="list-group list-unstyle">
                                                <li class="p-20 p-b-0 m-b-20 f-14" style="list-style:none">

                                                    <strong>Question: </strong> {{(Index+1)}}<br />
                                                    <div ng-bind-html="SelectedQuestion.Query"></div>
                                                </li>
                                                <li ng-repeat="r in SelectedQuestion.Option"
                                                    ng-click="Answer(r.Id)"
                                                    class="list-group-item "
                                                    ng-class="{'list-group-item-success text-white':SelectedQuestion.Answer==r.Id}">
                                                    <div class="row">
                                                        <div class="col-md-1"><b>{{ToChar($index)}}) </b></div>
                                                        <div class="col-md-11">
                                                            <div style="width:100%">
                                                                <i class="zmdi zmdi-check zmdi-hc-fw f-30 f-700 pull-right" ng-show="SelectedQuestion.Answer==r.Id" style="color:green"></i> <div ng-bind-html="r.Answer"></div>

                                                            </div>
                                                        </div>

                                                    </div>

                                                   
                                                </li>

                                            </ul>
                                        </div>


                                        @*<div class="row">
                                            <div class="col-sm-12" ng-show="TestStarted&&!TestClosed">
                                                <md-menu>
                                                    <button ng-click="SlecetQuestion(Index-1)" class="btn btn-default pull-left">Previous</button>
                                                </md-menu>
                                                <md-menu>
                                                    <button ng-click="SlecetQuestion(Index+1)" class="btn btn-default pull-right">Next</button>
                                                </md-menu>

                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button ng-click="SlecetQuestion(Index+1)" class="btn btn-default pull-right" style="line-height:500px;font-size:20px">></button>
                                </div>
                            </div>
                            
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="Loaded">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="Loaded">
                                Loading..
                            </div>

                            <div ng-show="TestClosed">
                                <div class="row">
                                    @*<div class="col-sm-12 text-center">
                                        <button ng-click="Redraw()" class="btn btn-success waves-effect">
                                            Genrate Report
                                        </button>



                                    </div>*@
                                    <div class="col-sm-12">
                                        @*<div donut-chart
                                             donut-data='Report'
                                             donut-label-color='"#000000"'
                                             donut-background-color='"#ffffff"'
                                             donut-colors='["#31C0BE","#c7254e","#98a0d3"]'>
                                        </div>*@
                                        Hey @UserData.FullName, Summary
                                        <ul class="list-group">
                                            <li class="list-group-item-info list-group-item">
                                                Total Time taken :  {{TotalMin()}}
                                            </li>
                                            <li class="list-group-item" ng-repeat="i in Report">
                                                {{i.label}} :{{i.value}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12">
                                       <h3>Summary
                                       </h3>
                                        <ul class="list-group" ng-repeat="q in Test.Questions">
                                            <li class="list-group-item list-group-item-heading" ng-bind-html="q.Query">
                                                
                                            </li>
                                            <li  class="list-group-item" ng-repeat="ans in q.Option" ng-if="ans.Correct==true" ng-class="{'c-pink':ans.Correct==true}">
                                             Correct ans:  <div ng-bind-html="ans.Answer"></div>
                                            </li>
                                            <li class="list-group-item list-group-item-info c-black" ng-repeat="gans in q.Option" ng-if="gans.Id==q.Answer" ng-class="{'c-pink':ans.Correct==true}">
                                              Your ans:  <i ng-if="gans.Correct==true" class="zmdi zmdi-check zmdi-hc-fw f-30 f-700 pull-right"></i><i ng-if="gans.Correct==false" class="zmdi zmdi-close zmdi-hc-fw f-30 f-700 pull-right c-red"></i>
                                                <div ng-bind-html="gans.Answer"></div>
                                            </li>
                                            <li class="list-group-item" ng-if="q.Answer==undefined">
                                                Skipped
                                            </li>
                                        </ul>



                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>
                </div>

                <div style="left: 0;
                position: fixed;
                bottom: 0;
                width: 100%;" class="bgm-primary p-t-10">
                    <ul class="list-unstyle list-inline exam-control-bottom" ng-show="Loaded">
                        <li>
                            <button ng-click="stopTimer()" ng-disabled="!timerRunning" ng-show="!TestClosed" class="btn btn-danger">Pause Test</button>
                        </li>
                        <li>
                            <button ng-click="stopTimer()" ng-disabled="!timerRunning" ng-show="!TestClosed" class="btn btn-danger">Finish Test</button>

                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </section>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/static/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/static/vendors/bower_components/moment/min/moment-timezone.min.js"></script>
    <script src="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/static/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="~/static/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/static/vendors/bower_components/autosize/dist/autosize.min.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="~/static/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    @*<script src="~/static/js/functions.js"></script>
        <script src="~/static/js/demo.js"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/apps/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Scripts/apps/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="~/Scripts/apps/bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="~/Scripts/apps/bower_components/morris.js/morris.min.js"></script>
    <script src="~/Scripts/apps/bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="~/Scripts/apps/bower_components/angular-morris/angular-morris.min.js"></script>
    <script src="~/Scripts/apps/app.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="/JavaScript/ReasoningTest/@Model.Id"></script>
    <style>
        .text-white {
            color: white !important;
        }
    </style>

    <script>

    </script>

</body>

</html>
