﻿@model Scoolfirst.ViewModel.Reasoning.ReportAttempeded
@{
    ViewBag.Title = "Report";

    Layout = "~/Views/Shared/_Layout_User.cshtml";
    var id = this.ViewContext.RouteData.Values["id"];
    var ip = !string.IsNullOrEmpty(Model.Root.Accepted)? Model.Root.Accepted.Split('|').Select(i => new { q = i.Split(',').First(), y = i.Split(',').Last() }):null;
}

<h2>Wrongly Attempted and Not Attempted</h2>
<table class="table">
    <tr>
        <th>Sn</th>
        <th>Attemp Status</th>
        <th>Questions &amp; Explaintions</th>
        <th>Concept</th>
        <th>Level of understanding</th>
    </tr>



    @foreach (var i in Model.Question.Select((i, o) => new { item = i, index = o }))
    {
        
            <tr>
                <th>@(i.index+1)</th>
                <th>@(Model.CorrectAnswer(i.item)?"Correct":!Model.Attempted(i.item)?"Skiped":"Incorrect") </th>
                <th>
                    <div>
                       
                        @Html.Raw(i.item.Query)
                    </div>
                    <div>
                        <b class="p" data-id="@("#id"+i.index)">Explaintions</b>
                        <div class="hidden" id="@("id"+i.index)">
                            @Html.Raw(i.item.Solution)
                        </div>
                        
                    </div>
                </th>
                <th>
                   @if (ip != null && ip.Any(q => q.q == (i.index + 1).ToString()))
                   {
                    <button>View Concept</button>
                   }
                   else
                   {
                       <button>Perfect</button>
                       <button>View Concept</button>
                   }

                </th>
            </tr>
        


    }
</table>




@section scripts{
    <script>
        $(function () {
            $('.p').click(function () {
                var id = $(this).data('id');
                $(id).fadeToggle();
            })
        })

    </script>
    
    }