﻿@model IEnumerable<Scoolfirst.Model.RNM.ReasoningRoot>

@{
    ViewBag.Title = "Reasoning Root";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="card">
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-collapse full-width-tabs">
                    <ul class="tab-nav " role="tablist" data-tab-color="amber">

                        <li class="bgm-bluegray">
                            <a href="/Reasoning/Spalsh"  class="c-white">
                                Lesson and schedule
                            </a>
                        </li>
                        <li class="bgm-primary">
                            <a href="/feed" aria-expanded="true" aria-controls="collapseTwo" class="c-white">
                                    Must Remember Tricks
                                </a>
</li>
                        <li class="bgm-bluegray">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="c-white">

                                    Practice Test
                                </a>
</li>

                    </ul>
                    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                    </div>
                    <div id="collapseThree" class="collapse in" role="tabpanel" aria-labelledby="headingThree" aria-expanded="true">
                        <div class="panel-body">
                            <h3 class="text-left text-primary">
                                Practice Test
                            </h3>
                            <p>
                                Practice paper designed with rare collection of questions, to have must exposer over different types of reasoning topics.
                            </p>
                            <p>
                                Thesepractice papers are <span class="c-red">LIVE…</span>
                            </p>
                            <p>
                                papers are syllabus and time specific. By the End oftest, A comprehensive test analysis will enabling to locate individual strength and weakness.
                            </p>
                            <p>
                                Following types of live practice papers are available
                                <ul>
                                    <li><b>LESSON TEST-</b>Test is arranged with lesson plan. These tests are syllabus specific. You will find it in lesson plan.</li>
                                    <li><b>NOT ATTEMPTED AND WRONGLY ATTEMPTED QUESTION TEST-</b> scheduled every week after every lesson test, to avoid future mistakes and comprehensive knowledge.</li>
                                    <li><b>PRACTICE TEST-</b>New test papers of different level, are available for extra practice.</li>
                                </ul>
                            </p>
                        </div>
                        <div class="lv-body linklist">
                            @foreach (var item in Model)
            {
                                <div class="">
                                    <div class="media-body">
                                        <ul class="lv-attrs">

                                            <li class="list-group-item pull-right bgm-red" style="margin-right:16px">  <a style="color:white" href="/Reasoning/Test/@item.Id">Start Test</a></li>
                                            <li class="list-group-item pull-right" style="margin-right:6px;background-color:#21a3f6;color:white">Posted On : @item.AddedOn.ToString("dd-MMM, yyyy")</li>

                                            @*<li>Class: @item.Class</li>*@
                                            @*<li>Number of Days: @item.Days</li>*@
                                        </ul>
                                        <div class="lv-title f-20">@Html.Raw(item.Title)</div>
                                        <small class="lv-small">@Html.Raw(item.ShortDiscription)</small>
                                        
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

            </div>
        </div>

    </div>


