﻿@using Scoolfirst.Model.RNM
@model IEnumerable<Scoolfirst.Model.RNM.ReasoningRoot>

@{
    ViewBag.Title = "Reasoning Root";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    string CurrentModule = string.Empty;
    if (Url.RequestContext.HttpContext.Request.QueryString["Type"] != null)
    {
        CurrentModule = Url.RequestContext.HttpContext.Request.QueryString["Type"];
    }



    string level = "Bignner";
    if (Request.QueryString["level"] != null)
    {
        level = Request.QueryString["level"];
    }

}


@helper UrlGenrator(int id) { 
    }

<div class="card">
   
    <div class="card-body card-padding">
        <h2>Reasoning Root</h2>
        <p>
            Do you know, there is one subject which is common to various completive examination……
            <strong> NTSE, OLYMPIAD, MEDICAL, ENGINEERING, SAT, IAS, MBA, CA, CDS, NDA, NIIFT, CLAT, PO, etc.</strong>
            <br />
            <strong>But, the subject is not part of our formal education.</strong> Moreover, most of the content available digitally or physically are mostly designed for senior students.
        </p>
        <p>
            Presenting one of its kind, scientifically designed reasoning and aptitude foundation tool, <strong>
                Reasoning root
            </strong>.
            It’s a 5 month long, step by step lesson on Basic and types of reasoning, its solving techniques with example and tricks, must remember points and scientifically designed test papers.
        </p>
        <h3 class="text-center text-primary">
            Sound interesting…..welcome onboards, Reasoning Root.
        </h3>
        @*<div class="text-center">
            <a href="#" class="btn btn-info bgm-bluegray">Lesson and schedule</a>
            <a href="/Feed" class="btn btn-default bgm-amber">Must Remember Tricks</a> 
            <a href="/Reasoning/SingleTest" class="btn btn-info bgm-bluegray">Practice Test</a>
        </div>*@
        
        <div>
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-collapse full-width-tabs">
                    <ul class="tab-nav " role="tablist" data-tab-color="amber">

                        <li class="bgm-bluegray @(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="collapseOne"?"active":"":"") "  >
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="c-white">
                                Lesson and schedule
                            </a>
                        </li>
                        <li class=" @(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="Feed"?"active":"":"") bgm-primary " >
                            <a class=" c-white"  href="/Feed"  aria-controls="collapseTwo">
                                Must Remember Tricks
                            </a>
                        </li>
                        @*<li class=" @(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="SingleTest"?"active":"":"") bgm-bluegray " >
                            <a class="c-white"   href="/Reasoning/SingleTest?Level=@level"  aria-controls="collapseThree">
                                Practice Test
                            </a>
                        </li>*@

                    </ul>
                    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                        <div class="panel-body">
                            <h3 class="text-left text-primary">
                                Lesson and schedule
                            </h3>
                            <p>
                                Welcome to upgrade six-month reasoning skill foundation and certification program.

                                This is a comprehensive module having interesting and easy to go through lesson on Reasoning foundation along with must remember tricks and live practice test papers. <b>These lessons and practice papers are especially crafted for students belonging to class 3 to 8.</b>
                            </p>
                            <p>
                                Whole lesson plan is broadly categorized in verbal, nonverbal and Analytical reasoning part. The flow of all three part is scientifically arranged for optimum outcome. Certain part of lesson plan is not activated for junior class students as same is non-relevant as per their class.
                            </p>
                            <p>
                                Follow the lesson schedule, time and days allocated for optimum outcome.

                                Successful completion of Reasoning Root foundation program will help you acquire,
                                <ul>
                                    <li>Basic understanding skill on various types of reasoning, question types, solving technique, tricks and must remember points.</li>
                                    <li>One of the most essential skill for any competitive examination of future.</li>
                                    <li>Reasoning Root certification, will open avenue of benefits for you. UpgradeJr Academy itself brings you various upper level skill enhancement program, interaction winning opportunity for national level competitive examination coordinated especially for you by upgradeJr team.</li>
                                    <li>Have always a upper hand among your peer group and in class performance.</li>
                                </ul>
                            </p>


                            <div class="listview lv-bordered lv-lg">
                                <div class="lv-header-alt bgm-primary clearfix">
                                    <p class="c-white di-block m-t-0 f-17 m-b-0 text-center" style="display:block!important;">
                                        <span class="pull-left">
                                            Lessons :
                                        </span>
                                        <span style="display:inline-block;">
                                            <span class="label label-info">Beginner (III-IV) </span>
                                            <span class="label label-warning m-l-10">Learner (V-IV)</span>
                                            <span class="label label-success m-l-10">Advanced (VII-Onwards)</span>
                                        </span>
                                    </p>
                                    @*<a class="btn btn-info bgm-bluegray c-black pull-right" href="@Url.Action("Start","Reasoning",new {id=Model.First().Id })">Enroll Now</a>*@

                                </div>
                                <div class="lv-body linklist m-l-20">
                                    @foreach (var i in Model.Select((item,c)=>new {item=item,count=c+1 }))
                                    {

                                        <div class="media p-t-5 p-b-10 p-l-20 @(ClassHelper(i.item.IsLessonOrExam))"  data-toggle="popover" data-trigger="hover" data-content="@i.item.Days @(i.item.Days>1?"days":"day") to finish the module!" data-placement="top">
                                            
                                            <div class="media-body">
                                                <div class="lv-title m-r-10  inline text-primary f-17" style="color:rgb(21,48,53)">
                                                    <span class="turncate">@i.item.Title</span> 
                                                   
                                                    <span class="label label-default bgm-primary pull-right"> @i.item.Days @(i.item.Days > 1 ? "days" : "day"). </span>

                                            </div>
                                               <div class="row">
                                                   <div class="col-md-8">
                                                       <small class="lv-small f-15 c-black">@Html.Raw(i.item.ShortDiscription)</small>
                                                   </div>
                                                   <div class="col-md-4">
                                                       
                                                       <div class="pull-right">
                
                                                           @if (!ViewBag.Start)
                                                           {

                                                               <a class="btn btn-info  c-white btn-sm pull-right @btnHelper(ViewBag.Id,i.count)" href="@Url.Action("index","Reasoning",new {page=ViewBag.Id ,Level=level })">
                                                                   @if (ViewBag.Id == i.count)
                                                                   {
                                                                    <text>
                                                                        Current Lesson
                                                                    </text>
                                                                    }
                                                                    else
                                                                    {
                                                                    <text>
                                                                        @((ViewBag.Id>i.count)?"Lesson Complete":"Upcoming Lesson")
                                                                    </text>
                                                                   }
                                                               </a>
                                                           }
                                                           else
                                                           {
                                                               <a class="btn btn-info bgm-bluegray c-white btn-sm pull-right" href="@Url.Action("start","Reasoning",new {Id=ViewBag.Id ,Level=level })">Start</a>
                                                           }
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="card-footer p-20 text-center">
                                @if (ViewBag.Start)
                                {
                                    <a class="btn btn-info bgm-bluegray c-white btn-lg" href="@Url.Action("start","Reasoning",new {Id=ViewBag.Id ,Level=level })">Start</a>
                                }
                                else
                                {
                                    <a class="btn btn-info bgm-bluegray c-white btn-lg" href="@Url.Action("index","Reasoning",new {Id=ViewBag.Id ,Level=level })">Start</a>
                                }
                               
                            </div>

                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <h3 class="text-left text-primary">
                                Must remember tricks
                            </h3>
                            <p>
                                Especially crafted collection of must remember point and tricks to solve various types of question of reasoning. Some of these collections are taken from reasoning root lesson plan.
                            </p>
                                <p><b>New must remember points and tricks are regularly updated</b>. Pl follow following links for rare collection and its regular update for ready reference and fine tuning the knowledge.
                            </p>
                                </div>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <h3 class="text-left text-primary">
                                Practice Test
                            </h3>
                            <p>
                                Practice paper designed with rare collection of questions, to have must exposer over different types of reasoning topics.
                            </p>
                                <p>
                                Thesepractice papers are <span class="c-red">LIVE…</span>
                            </p>
                                <p>
                                papers are syllabus and time specific. By the End oftest, A comprehensive test analysis will enabling to locate individual strength and weakness.
                            </p>
                                <p>
                                Following types of live practice papers are available
                                    <ul>
                                        <li><b>LESSON TEST-</b>Test is arranged with lesson plan. These tests are syllabus specific. You will find it in lesson plan.</li>
                                        <li><b>NOT ATTEMPTED AND WRONGLY ATTEMPTED QUESTION TEST-</b> scheduled every week after every lesson test, to avoid future mistakes and comprehensive knowledge.</li>
                                        <li><b>PRACTICE TEST-</b>New test papers of different level, are available for extra practice.</li>
                                    </ul>
</p>
</div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    
</div>


@functions {

    public string ClassHelper(ReasoningRootType type)
    {

        switch (type)
        {
            case ReasoningRootType.Lesson:
                return "lv-item";

            case ReasoningRootType.Exam:
                return "lv-item-exam p-r-20";
            case ReasoningRootType.Single:
                return "lv-item-single";
            case ReasoningRootType.RevisionOfLesson:
                return "p-r-20";

            case ReasoningRootType.ReviewOfExam:
                return "p-r-20";
            default:
                return "lv-item";
        }
    }


    public string btnHelper(int viewbag,int current)
    {
        if(viewbag == current)
        {
            return "bgm-blue";
        }
        else
        {

          return  ((viewbag > current) ? "bgm-green" : "bgm-bluegray");

        }
    }

}

@section scripts{
    <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
    
    }