﻿@model Scoolfirst.ViewModel.Play.PARootsCopy

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    
}


@using (Html.BeginForm())
{

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Copy</h4>
    </div>

    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="">

            @Html.HiddenFor(i=>i.CopyId)

            

            <div class="form-group">
                @Html.LabelFor(model => model.SchoolId)
                @Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SchoolId, "", new { @class = "text-danger" })
            </div>

           

        </div>

        
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send</button>
    </div>

}