﻿@model Scoolfirst.Model.PeriodicAssesment.PARoot


    <div>
        <h4>PARoot</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Class.RomanDisplay)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Class.RomanDisplay)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.School.SchoolName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.School.SchoolName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShortDiscription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ShortDiscription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MinQuestionToPass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MinQuestionToPass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TimeInMinutes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TimeInMinutes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tips)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tips)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddedOn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddedOn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TypeOfAssement)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TypeOfAssement)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DisplayAfterDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DisplayAfterDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TestBrief)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TestBrief)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Order)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Order)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Level)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Level)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TitleColor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TitleColor)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

