﻿@model Scoolfirst.Model.PeriodicAssesment.PARoot

@UIHelper.Header("Assement", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Content)

                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control richeditor" } })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortDiscription)
                            @Html.EditorFor(model => model.ShortDiscription, new { htmlAttributes = new { @class = "form-control richeditor" } })
                            @Html.ValidationMessageFor(model => model.ShortDiscription, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Solution)
                            @Html.EditorFor(model => model.Solution, new { htmlAttributes = new { @class = "form-control richeditor" } })
                            @Html.ValidationMessageFor(model => model.Solution, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MinQuestionToPass)
                            @Html.EditorFor(model => model.MinQuestionToPass, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MinQuestionToPass, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TimeInMinutes)
                            @Html.EditorFor(model => model.TimeInMinutes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimeInMinutes, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Tips)
                            @Html.EditorFor(model => model.Tips, new { htmlAttributes = new { @class = "form-control richeditor" } })
                            @Html.ValidationMessageFor(model => model.Tips, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="dtp_input1" class=" control-label">Added On</label>
                            <div class="input-group date form_datetime " data-date-format="dd MM yyyy  HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" type="text" value="@Model.AddedOn" name="AddedOn">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TypeOfAssement)
                            @Html.EnumDropDownListFor(model => model.TypeOfAssement, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TypeOfAssement, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="dtp_input1" class=" control-label">Display After Date</label>
                            <div class="input-group date form_datetime " data-date-format="dd MM yyyy  HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" type="text" value="@Model.DisplayAfterDate" name="DisplayAfterDate">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TestBrief)
                            @Html.EditorFor(model => model.TestBrief, new { htmlAttributes = new { @class = "form-control richeditor" } })
                            @Html.ValidationMessageFor(model => model.TestBrief, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Order)
                            @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SchoolId)
                            @Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SchoolId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ClassId)
                            @Html.DropDownList("ClassId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubjectId)
                            @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Level)
                            @Html.EditorFor(model => model.Level, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Color)
                            @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TitleColor)
                            @Html.EditorFor(model => model.TitleColor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TitleColor, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsPassable)
                            @Html.CheckBoxFor(model => model.IsPassable, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IsPassable, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Month)
                            <select name="Month">
                                <option value="1">April</option>
                                <option value="2">May</option>
                                <option value="3">June</option>
                                <option value="4">July</option>
                                <option value="5">August</option>
                                <option value="5.5">Revision of term 1</option>
                                <option value="6">sep</option>
                                <option value="7">Oct</option>
                                <option value="8">Nov</option>
                                <option value="9">Dec</option>
                                <option value="10">Jan</option>
                                <option value="11">Feb</option>
                                <option value="12">Revision of term 2</option>

                            </select>
                            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/PARoots/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</section>

@section scripts
            {
    <link href="~/Content/DatePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/tinymce/settings"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/Content/DatePicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/DatePicker/locales/bootstrap-datetimepicker.fr.js"></script>

    <script type="text/javascript">
        $(function () {
            //$('#datepicker').datetimepicker();

            //moment().format();
            $('.form_datetime').datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                //showMeridian: 1
            });
        });

    </script>
}
