﻿@model IEnumerable<Scoolfirst.Model.PeriodicAssesment.PARoot>



@UIHelper.Header("Assesments",null,"List Of All Assements")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <a href='@Url.Action("Create", "PARoots" )' class="btn btn-sm btn-info pull-right"><i class="fa fa-plus zmdi-plus"></i> Add New</a>
                    @UIHelper.SearchNoTypes("Class", "type")
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                <thead>
                                    <tr>    
                                        <th>
                                            @Html.DisplayNameFor(model => model.Class.RomanDisplay)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.School.SchoolName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th> 
                                        <th>
                                            @Html.DisplayNameFor(model => model.AddedOn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TypeOfAssement)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DisplayAfterDate)
                                        </th>
                                        
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Class.RomanDisplay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.School.SchoolName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AddedOn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypeOfAssement)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisplayAfterDate)
                                        </td>
                                        
                                        <td class="btn-group btn-group-sm" width="120px">
                                            <a data-modal="" href='@Url.Action("copy", "PARoots" , new { id=item.Id })' class="btn btn-warning btn-sm "><i class="fa fa-copy"></i></a>

                                            <a href='@Url.Action("Index", "PAQuestions" , new { id=item.Id })' class="btn btn-sm btn-info"><i class="fa fa-tags"></i> View Question</a>
                                            <a href='@Url.Action("Edit", "PARoots" , new { id=item.Id })' class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                            <a href='@Url.Action("Delete", "PARoots" , new { id=item.Id })' class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                            
                                        </td>
                                    </tr>

                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/PARoots/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>