﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
   
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.debugHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.show = function (result) {
                console.log(result)
                var encodedName = $('<div />').text(JSON.stringify(result)).html();

                $('#discussion').prepend('<li class="list-group list-group-item"><strong>' + encodedName
                    + '</strong></li>');
            };
            chat.client.userdata = function (result) {
                console.log(result)
                var encodedName = $('<div />').text(JSON.stringify(result)).html();

                $('#User').prepend('<li class="list-group list-group-item"><strong>' + encodedName
                    + '</strong></li>');
            };
            $.connection.hub.start().done(function () {

            });
        });
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <ul id="User" class="list-group"></ul>
        </div>
        <div class="col-md-6">
            <ul id="discussion" class="list-group"></ul>
        </div>
    </div>
</body>
</html>