﻿@model Scoolfirst.Model.KDC.Article

@{
    ViewBag.Title = "Kdc";
}

<h2>Add your Kdc</h2>

@using (Html.BeginForm("Kdc", "Home", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", id = "" })) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Solution, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Solution,  new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Solution, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Or Image</label>
            <div class="col-md-10">
               <input type="file" name="image"  class="form-control"/>
            </div>
        </div>
        <input type="hidden" name="on" value="@DateTime.Now" />
        <div class="form-group">
            @Html.LabelFor(model => model.ClassesId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClassesId",null, new { @class = "form-control"  })
                @Html.ValidationMessageFor(model => model.ClassesId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubjectId",null, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


