﻿@model IEnumerable<FileInfo>
@{
    ViewBag.Title = "Picture";
}

<h2>Select a Picture</h2>
<div class="col-md-12">
    @foreach(var i in Model)
    {
    <div class="col-md-3">
        <a href="/home/change?id=@i.Name">
            <img class="img-responsive" src="@string.Format("{0}{1}",ViewBag.Path,i.Name)" alt="dp" />
        </a>
    </div>
    }

</div>

