﻿@{
    ViewBag.Title = "Home Page";
}




 <!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Why Upgrde?</h1>
                <p class="text-justify''">
                    Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
                    Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
                    Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
                    </p>
                <ul class="list-unstyled">
                    <li><i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> Lorem ipsum dolor sit amet</li>
                    <li><i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> consec tetur adipiscing elit</li>
                    <li><i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> Lorem ipsum dolor sit amet</li>
                    <li><i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> consec tetur adipiscing elit</li>
                    <li><i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> Lorem ipsum dolor sit amet</li>
                    <li><i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> consec tetur adipiscing elit</li>
                    <li><i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> Lorem ipsum dolor sit amet</li>
                    <li><i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> consec tetur adipiscing elit</li>

                </ul>
            </div>
            <div class="col-lg-6 p-30">
                <div class="card m-30">
                    

                    <div class="card-body  thumbnail">
                        <img src="~/Static/img/why-upgrde.png"  class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card go-social">
                    <div class="card-header">
                        <h2>Social with us <small>Nunc sit amet dapibus tellus</small></h2>
                    </div>

                    <div class="card-body clearfix">
                        <a class="col-xs-4" href="#">
                            <img src="img/social/facebook-128.png" class="img-responsive" alt="">
                        </a>

                        <a class="col-xs-4" href="#">
                            <img src="img/social/twitter-128.png" class="img-responsive" alt="">
                        </a>

                        <a class="col-xs-4" href="#">
                            <img src="img/social/googleplus-128.png" class="img-responsive" alt="">
                        </a>

                        <a class="col-xs-4" href="#">
                            <img src="img/social/linkedin-128.png" class="img-responsive" alt="">
                        </a>

                        <a class="col-xs-4" href="#">
                            <img src="img/social/youtube-128.png" class="img-responsive" alt="">
                        </a>

                        <a class="col-xs-4" href="#">
                            <img src="img/social/blogger-128.png" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>About Section</h1>
            </div>
        </div>
    </div>
</section>
<!-- Services Section -->
<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Services Section</h1>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Section</h1>
            </div>
        </div>
    </div>
</section>