﻿<!-- ============================================================= SECTION – REASONS ============================================================= -->

<section id="reasons" class="light-bg">
    <div class="container inner">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1><span class="text-secondry">5 Reasons</span> <br>why you should use Upgrde</h1>
                    <p>Doloreiur quia commolu dolupta oreprerum tibusam.</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">
            <div class="col-xs-12">
                <div class="tabs tabs-reasons tabs-circle-top tab-container">

                    <ul class="etabs text-center">
                        <li class="tab"><a href="#tab-1"><div>1</div>Brain Breakfast</a></li>
                        <li class="tab"><a href="#tab-2"><div>2</div>KDC</a></li>
                        <li class="tab"><a href="#tab-3"><div>3</div>FATS/SATS</a></li>
                        <li class="tab"><a href="#tab-4"><div>4</div>Connected School</a></li>
                        <li class="tab"><a href="#tab-5"><div>5</div>World Around</a></li>
                    </ul><!-- /.etabs -->

                    <div class="panel-container" style="max-height:350px;height:350px;">

                        <div class="tab-content" id="tab-1">
                            <div class="row">

                                <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                                    <figure><img src="assets/images/art/product04.jpg" alt=""></figure>
                                </div><!-- /.col -->

                                <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                                    <h3>Function</h3>
                                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.tab-content -->

                        <div class="tab-content" id="tab-2">
                            <div class="row">

                                <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                                    <figure><img src="assets/images/art/product05.jpg" alt=""></figure>
                                </div><!-- /.col -->

                                <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                                    <h3>Simplicity</h3>
                                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.tab-content -->

                        <div class="tab-content" id="tab-3">
                            <div class="row">

                                <div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
                                    <figure><img src="assets/images/art/product06.jpg" alt=""></figure>
                                </div><!-- /.col -->

                                <div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
                                    <h3>Design</h3>
                                    <p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                                </div><!-- /.col -->

                                <div class="col-md-3 col-sm-6 inner-top-xs">
                                    <h3>User interface</h3>
                                    <p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.tab-content -->

                        <div class="tab-content" id="tab-4">

                            <div class="row">

                                <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                                    <figure><img src="assets/images/art/product04.jpg" alt=""></figure>
                                </div><!-- /.col -->

                                <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                                    <h3>Function</h3>
                                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                                </div><!-- /.col -->

                            </div><!-- /.row -->


                        </div><!-- /.tab-content -->

                        <div class="tab-content" id="tab-5">
                            <div class="row">

                                <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                                    <figure><img src="assets/images/art/product04.jpg" alt=""></figure>
                                </div><!-- /.col -->

                                <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                                    <h3>Function</h3>
                                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.tab-content -->

                    </div><!-- /.panel-container -->

                </div><!-- /.tabs -->
            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- ============================================================= SECTION – FEATURE SECOND ============================================================= -->


        <div class="row">
            <div class="col-xs-12 inner-top">
                <div class="tabs tabs-side tab-container">

                    <ul class="etabs">
                        <li class="tab"><a href="#tab-1">Brain Breakfast</a></li>
                        <li class="tab"><a href="#tab-2">KDC</a></li>
                        <li class="tab"><a href="#tab-3">FATS/SATS</a></li>
                        <li class="tab"><a href="#tab-4">Connected School</a></li>
                        <li class="tab"><a href="#tab-5">World Around</a></li>
                        <li class="tab"><a href="#tab-6">Other Feature</a></li>
                    </ul><!-- /.etabs -->

                    <div class="panel-container">

                        <div class="tab-content" id="tab-1">
                            <div class="row">

                                <div class="col-md-6">
                                    <figure><img src="assets/images/art/product05.jpg" alt=""></figure>
                                </div><!-- /.col -->

                                <div class="col-md-6 inner-top-xs inner-left-xs">
                                    <h3>Strategy</h3>
                                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Lorem quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta retibusam emni volorimne consent dolor lomnus.</p>
                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.tab-content -->

                        <div class="tab-content" id="tab-2">
                            <div class="row">

                                <div class="col-md-6 col-md-push-6 inner-left-xs">
                                    <figure><img src="assets/images/art/product01.jpg" alt=""></figure>
                                </div><!-- /.col -->

                                <div class="col-md-6 col-md-pull-6 inner-top-xs inner-right-xs">
                                    <h3>User Experience</h3>
                                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus conecus iure posae volor.</p>
                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.tab-content -->

                        <div class="tab-content" id="tab-3">
                            <div class="row">

                                <div class="col-lg-4 col-lg-push-4 col-md-6 inner-left-xs inner-right-xs">
                                    <figure><img src="assets/images/art/product06.jpg" alt=""></figure>
                                </div><!-- /.col -->

                                <div class="col-lg-4 col-lg-pull-4 col-md-6 inner-top-xs">
                                    <h3>Design</h3>
                                    <p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                                </div><!-- /.col -->

                                <div class="col-lg-4 col-md-6 inner-top-xs">
                                    <h3>User interface</h3>
                                    <p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.tab-content -->

                        <div class="tab-content" id="tab-4">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>Technology</h3>
                                    <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-content -->

                        <div class="tab-content" id="tab-5">

                            <div class="row">

                                <div class="col-md-6">
                                    <figure><img src="assets/images/art/product05.jpg" alt=""></figure>
                                </div><!-- /.col -->

                                <div class="col-md-6 inner-top-xs inner-left-xs">
                                    <h3>Strategy</h3>
                                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Lorem quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta retibusam emni volorimne consent dolor lomnus.</p>
                                </div><!-- /.col -->

                            </div><!-- /.row -->



                        </div><!-- /.tab-content -->

                        <div class="tab-content" id="tab-6">

                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Marketing</h3>
                                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                                </div><!-- /.col -->
                            </div><!-- /.row -->



                        </div><!-- /.tab-content -->

                    </div><!-- /.panel-container -->

                </div><!-- /.tabs -->
            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- ============================================================= SECTION – FEATURE SECOND : END ============================================================= -->

    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – REASONS : END ============================================================= -->

<div class="row">

    <div class="col-sm-6">

        <div id="owl-office" class="owl-carousel owl-inner-pagination owl-inner-nav">

            <div class="item">
                <figure>
                    <img src="assets/images/art/work15-lg.jpg" alt="">
                </figure>
            </div><!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work08-lg.jpg" alt="">
                </figure>
            </div><!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work06-lg.jpg" alt="">
                </figure>
            </div><!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work01-lg.jpg" alt="">
                </figure>
            </div><!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work16-lg.jpg" alt="">
                </figure>
            </div><!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work02-lg.jpg" alt="">
                </figure>
            </div><!-- /.item -->

            <div class="item">
                <figure>
                    <img src="assets/images/art/work09-lg.jpg" alt="">
                </figure>
            </div><!-- /.item -->

        </div><!-- /.owl-carousel -->

    </div><!-- /.col -->

    <div class="col-sm-6 inner-top-xs inner-left-xs">
        <h1><span class="text-secondry">Why</span> Upgrde</h1>
        <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
        <a href="#modal-product01" class="txt-btn" data-toggle="modal">Check out the functions</a>
    </div><!-- /.col -->

</div><!-- /.row -->