﻿@model Scoolfirst.ViewModel.ExternalLoginListViewModel
@using Microsoft.Owin.Security


@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
       
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
          
                    foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" name="provider" value="@p.AuthenticationType" class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-sm hidden-xs"> <i class="zmdi zmdi-facebook"></i> Login with your facebook.com account</button>
                        <button type="submit" name="provider" value="@p.AuthenticationType" class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-lg hidden-md">Facebook Login</button>

                    }

        }
    }
}
