﻿@using Scoolfirst.ViewModel
<div class="lc-block " id="l-login">
    
    <div class="form-top">
        <div class="form-top-left">
            <h3>Login into account</h3>
        </div>
        <div class="form-top-right">
            <i class="fa fa-lock"></i>
        </div>
    </div>
    <div class="form-bottom">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginform", role = "form" }))
            {
            @Html.AntiForgeryToken()


            <div class="input-group  fg-float m-b-20 ">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" id="Username" name="Email" class="form-control" value="">
                    <label class="fg-label">Enter your e-mail/mobile no.</label>
                </div>
            </div>


            <div class="input-group fg-float m-b-20 ">
                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                <div class="fg-line">
                    <input type="password" id="Password" name="Password" class="form-control">
                    <label class="fg-label">Enter your password.</label>

                </div>
            </div>


            <button type="submit" class="btn  btn-lg btn-primary"> <i class="zmdi zmdi-lock"></i> Login</button>

        }

        <div class="clearfix"></div>

        @*<h2 class="text-center">'or'</h2>
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@


        @*<button class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-sm hidden-xs"> <i class="zmdi zmdi-facebook"></i> Login with your facebook.com account</button>
            <button class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-lg hidden-md">Facebook Login</button>*@
        <div class="clearfix"></div>
        <ul class="login-navigation">
            <li data-block="#l-register" class="bgm-orange">Register</li>
            <li data-block="#l-forget-password" class="bgm-red">Forgot Password?</li>
        </ul>
    </div>
        </div>
    </div>