﻿
@{
    ViewBag.EnableSidebar = false;
    ViewBag.Title = "BrandAmbassador";
    Layout = "~/Views/Shared/_Layout_User_SideBar.cshtml";
}

<div class="card card-padding">

    <div class="card-body card-padding">
        <h2>Be UpgradeJr Brand Ambassador</h2>
        <p>
            Upgradejr let you access <strong>eight new age school and future foundation tools.</strong> 
            Upgradejr welcome bright and involved students from different schools and class on its board to be part of content development.
            We are upgrading content and adding various features every day to make it most useful digital platform for junior students and parent.
        </p>
        <p>
            <h4 class="text-center">
                Upgradejr invite you to be it’s Brand Ambassador.
            </h4>
          
            <br />
            <span class="lead"><b>Role</b></span><br />
            To be one point information support for upgardejr team for all relevant information from your school.
            <br />
             <span class="lead text-bold"><b>Reward</b></span>
            <br />
                opportunity to become exclusive member of upgardejr, enabling to get complimentary access of premium services.

            <br />

            <h3 class="text-center text-primary">
                Sound rewarding….!
                Let’s be a Brand Ambassador for a NOBLE cause.
                </h3>

</p>
    </div>

    <div class="card-footer p-20 text-center">
        <a href="@Url.Action("index", "Profile", new { message = "Complete Your Profile", mes = true, error = true })" class="btn btn-danger">No I am Not intrested</a>
        <a href="/Account/YesBrandAmbassador" class="btn btn-primary bgm-primary">Yes I Want To be Brand Ambassador</a>

    </div>
</div>

