﻿@model Scoolfirst.ViewModel.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
  
    <div class="col-sm-8 col-md-offset-2">
            <div class="form-top">
                <div class="">
                    <div class="card-body text-center">
                        <h2 class="text-center m-0 m-t-10 c-white">Hello!</h2>
                        <ul class="list-inline m-b-0 m-t-0">
                            <li class="">
                                <img class="lv-img m-t-10" src="@Model.ProfilePic" />                            </li>
                            <li class="media-body">
                               
                                <h3>@Model.Name</h3>
                            </li>
                        </ul>
                        <div class="form-top-left">
                            <h3>Associate your @ViewBag.LoginProvider account with UpgradeJr.</h3>
                        </div>
                        </div>
                </div>
            
            </div>

            <div class="form-bottom">

                  @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "socialregistrationform", role = "form" }))
                  {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model=>model.ProfilePic)
                    @Html.HiddenFor(model => model.Name)
                    @Html.HiddenFor(model => model.Email)
                    @Html.HiddenFor(model => model.DateofBirth)
                      <p class="text-center m-b-30">Hey! @Model.Name, Please tell me little bit more about you.</p>
                   
                   
                    @Html.ValidationSummary("", new { @class = "text-danger m-b-20" })
                    <div class="input-group fg-float m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
                        <div class="fg-line">
                            <input type="text" id="MobileNo" name="PhoneNo" value="@Model.PhoneNo" class="form-control">
                            <label class="fg-label">Your Mobile No.</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.PhoneNo)
                    </div>
                    <div class="input-group fg-float m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-edit"></i></span>
                        <div class="">
                            <div class="fg-line">
                                @Html.DropDownList("ClassId", null, htmlAttributes: new { @class = "form-control", data_width = "100%" })
                                <label class="fg-label">Your Class</label>

                            </div>
                        </div>
                    </div>

                    <div class="input-group fg-float m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-graduation-cap"></i></span>
                        <div class="fg-line">
                            @Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "form-control", data_width = "100%", data_live_search = "true" })
                            <label class="fg-label">Your School</label>
                        </div>
                    </div>
                    <div class="input-group m-l-30 m-b-10">
                        <label><b>I am a</b></label>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" name="WhoIam" id="Student" value="Student" @(Model.WhoIAm== "Student" ? "checked":"") />
                                <i class="input-helper"></i>
                                Student
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" name="WhoIam" id="Parent" value="Parent" @(Model.WhoIAm=="Parent"?"checked":"") />
                                <i class="input-helper"></i>
                                Parent
                            </label>
                        </div>
                        <div class="fg-line"></div>
                    </div>
                        <p class="text-info text-center m-b-10">By clicking on 'Register' you are agree with   our <a href="#" target="_blank">terms & condition.</a> </p>
                               
                        <button class="btn btn-lg btn-flat bgm-bluegray pull-right" type="submit">Finish</button>
                        <div class="clearfix"></div>
                        
                  }

       </div>
</div>
</div>

@section Scripts {


    <script src="~/static/js/guest.js"></script>

}
