﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<!-- Verify -->
<form action="@Url.Action("Verify","Account")" method="post" role="form" id="verifyform">
    <div class="lc-block toggled" id="l-login">
        <p class="lead text-primary"><b>Account Verification</b></p><hr />
        <p class="text-justify m-b-10">We have sent you a verification code on your email and mobile no. Please enter the 6 digit code you have received recently on your email 'or' mobile no. If you don't received the 6 digit code on your phone 'or' email please <a href="#" id="re_submitVCode">click here</a> to re-send. </p>

        <div class="input-group m-b-20 ">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" id="verificationCode" name="verificationCode" class="form-control" placeholder="enter verification code">
            </div>


        </div>


        <hr />
        <button type="submit" id="submitVCode" class="btn  btn-lg btn-primary"> <i class="zmdi zmdi-lock"></i> Verify My Account</button>
        <div class="clearfix"></div>


    </div>
</form>

@section scripts
{
    <script type="text/javascript">

            $().ready(function () {

                //Re-send Verification Notification

                //Auto Close Timer sweet_notification
                $('#re_submitVCode').click(function () {
                    //do server process to re-send the code
                    swal({
                        title: "Re-send Verification Code",
                        text: "Verification code sent to your registred mobile number and email.",
                        timer: 2000,
                        showConfirmButton: false
                    });
                });

                // Verification Form Validation
                $('#verifyform').bootstrapValidator({

                    //        trigger: 'blur',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },


                    fields: {

                        verificationCode: {
                            group: '.fg-line',
                            message: 'The verification code is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The verification code is required and cannot be empty'
                                },

                                regexp: {
                                    regexp: /\d{6}/,
                                    message: 'Please enter 6 digit verification code. The code you have enter id invalid.'
                                }
                            }
                        },
                     }

                });

            });//Jquery End
    </script>
}
	
