﻿@model Scoolfirst.ViewModel.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6 text">
        <div class="description p-t-100">
            <a class="show b-0">
                <img src="@MvcApplication.Logos.Weblogo?width=100" class="rotate-anti-360 -m-t-75 m-r-10" alt="" />
                <h1 style="display: inline-block;" class="c-yellow text-justify show-inline">
                    <strong class="c-white" style="letter-spacing: 9px;
    display: block;">Enabling</strong>Your Wishes
                </h1>

            </a>

            <div class="p-10 text-center">
                <p>
                    <strong class="c-white">welcome to upgradejr Academy</strong>
                    <ul class="c-white text-justify">
                        <li>
                            Practice to perfection Worksheets, Chapter wise and school exam syllabus wise from own school books.
                        </li>
                        <li>
                            Significant information carved from current affairs as interesting AV.
                        </li>
                        <li>
                            Different School books question search, tagging own chapter, for self-bench marking.
                        </li>
                        <li>Innovative educational tools and science projects at your doorstep.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 ">
        <div class="lc-block toggled form-box" id="l-forget-password">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Account Recovery</h3>
                </div>
               
            </div>

            <div class="form-bottom">
                <!-- Forgot Password -->
                <form action="@Url.Action("ForgotPassword","Account")" method="post" role="form" id="forgetpasswordform">
                    @Html.AntiForgeryToken()

                 
                    <p class="text-left">Enter your <span class="text-primary"><b>E-Mail</b></span> "or" <span class="text-primary"><b>Mobile No.</b></span> used at the time of registration. We will send you account verification code to recover your account.</p>
                    @Html.ValidationSummary("", new { @class = "text-danger m-b-20" })


                    <div class="input-group fg-float m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i> / <i class="zmdi zmdi-phone"></i></span>
                        <div class="fg-line">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
                            @*<input type="text" name="Username" class="form-control" placeholder="E-Mail/Mobile No.">*@
                        <label class="fg-label">Enter your registred mobile no. 'or' email</label>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-sm btn-primary  m-t-10 waves-effect"> <i class="zmdi zmdi-arrow-forward"></i> Next</button>


                    <ul class="login-navigation">
                        <li data-block="#l-login" class="bgm-green">
                            <a class="c-white" href="@Url.Action("Login","Account")">
                                Login
                            </a>
                        </li>
                        <li data-block="#l-register" class="bgm-orange">
                            <a class="c-white" href="@Url.Action("Register","Account")">
                                Register
                            </a>
                        </li>
                    </ul>

                </form>
            </div>
        </div>
 
          
</div>
    
    </div>
            @section Scripts {
              
<script src="~/static/js/guest.js"></script>
            }
    
    