﻿@using Scoolfirst.ViewModel
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6 text-left">
        <div class="description p-t-100">
            <a class="show b-0">   
                @if (!Request.IsLocal)
                {
                    @*This is a buggy code Breaks application *@
                    <img src="@MvcApplication.Logos.Weblogo?width=100" class="rotate-anti-360 -m-t-75 m-r-10" alt="" />
                }
               
                <h1 style="display: inline-block;" class="c-yellow text-justify show-inline"><strong class="c-white" style="letter-spacing: 9px;
    display: block;">Enabling</strong>Your Wishes</h1>

            </a>
            
            <div class="p-10 text-center card bgm-black-op-7">
                <p>
                   <h3 class="c-lightblue">Welcome to UpgradeJr Academy</h3>  
                    <ul class="c-white text-justify">
                        <li>
                        Practice to perfection Worksheets, Chapter wise and school exam syllabus wise from own school books.
                        </li>
                        <li>
                            Significant information carved from current affairs as interesting AV.
                        </li>
                        <li>
                            Different School books question search, tagging own chapter, for self-bench marking.
                        </li>
                        <li>Innovative educational tools and science projects at your doorstep.</li>
</ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 p-l-10">
        <div class="lc-block toggled form-box  m-t-140" id="l-login">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Login With UpgradeJr Account</h3>
                </div>
               
            </div>
            <div class="form-bottom">


                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginform", role = "form" }))
            {

                    <input type="hidden" name="ref" value="@ViewBag.Ref" />
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()


                    <div class="input-group  fg-float m-b-20 ">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" id="Username" name="Email" class="form-control" value="@Model.Email">
                            <label class="fg-label">Enter your e-mail/mobile no.</label>
                        </div>
                    </div>

                    <div class="input-group fg-float m-b-20 ">
                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                        <div class="fg-line">
                            <input type="password" id="Password" name="Password" class="form-control">
                            <label class="fg-label">Enter your password.</label>

                        </div>
                    </div>

               
                    <button type="submit" class="btn  btn-lg btn-primary"> <i class="zmdi zmdi-lock"></i> Login</button>

                }
                <div class="clearfix"></div>

                @*<h2 class="text-center">'or'</h2>
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@


                @*<button class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-sm hidden-xs"> <i class="zmdi zmdi-facebook"></i> Login with your facebook.com account</button>
                    <button class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-lg hidden-md">Facebook Login</button>*@
                <div class="clearfix"></div>
                <ul class="login-navigation">
                    <li data-block="#l-register" class="bgm-orange">Register</li>
                    <li data-block="#l-forget-password" class="bgm-red">Forgot Password?</li>
                </ul>
            </div>




        </div>
        @Html.Action("PartialRegister")
        @Html.Action("PartialForgetPassword")
    </div>
</div>
@section Scripts {
  
<script src="~/static/js/guest.js"></script>

<script>
        $(function () {
            $("select#SchoolId").change(function (e) {
                var val = parseInt($(this).val());
                if(val===0)
                {
                    $('#otherSchool').modal('show')
                }
            })

            $("button#okBtn").click(function () {
                var vl = parseInt($('select#ddlSchool').val());
                var ocs = $('input#otherSchoolHolder').val();
                if (!(vl === 0 || vl === -1)) {
                    $("select#SchoolId").val(vl);
                    $("input#otherschool").val(ocs);
                    $("span#OtherHandeler").html("Your School:"+ocs)
                    $('#otherSchool').modal('hide');
                } else {
                    alert("Invalid school selected");
                }
            })
        })
</script>
}
