﻿@using System.Configuration;

@using Scoolfirst.ViewModel
@model Scoolfirst.ViewModel.RegisterViewModel


  <div class="lc-block" id="l-register">

    <div class="form-top ">
        <div class="form-top-left">
            <h3>Register with UpgradeJr</h3>
        </div>

    </div>

    <div class="form-bottom">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registrationform", role = "form" }))
            {
            @Html.AntiForgeryToken()



          
            <div class="input-group fg-float m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" id="FullName" name="Name"  class="form-control" placeholder="">
                    <label class="fg-label">Your Full Name</label>
                </div>

            </div>

                    <div class="input-group fg-float m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
                        <div class="fg-line">
                            <input type="text" id="MobileNo" name="PhoneNo"  class="form-control">
                            <label class="fg-label">Your Mobile No.</label>
                        </div>
                    </div>

                    <div class="input-group fg-float m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="text" id="Email" name="Email"  class="form-control">
                            <label class="fg-label">Your E-Mail (Optional)</label>
                        </div>
                    </div>

                    <div class="input-group fg-float m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-edit"></i></span>
                        <div class="">
                            <div class="fg-line">
                                @Html.DropDownList("ClassId", null, htmlAttributes: new { @class = "form-control", data_width = "100%" })
                                <label class="fg-label">Your Class</label>

                            </div>
                        </div>
                    </div>

                    <div class="input-group fg-float m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-graduation-cap"></i></span>
                        <div class="fg-line">
                            @Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "form-control", data_width = "100%", data_live_search = "true" })
                            <label class="fg-label">Your School</label>
                        </div>
                    </div>
                    <span id="OtherHandeler">

                    </span>
                    <div class="input-group m-l-30 m-b-10">
                        <label><b>I am a</b></label>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" name="WhoIam" id="Student" value="Student" />
                                <i class="input-helper"></i>
                                Student
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" name="WhoIam" id="Parent" value="Parent" />
                                <i class="input-helper"></i>
                                Parent
                            </label>
                        </div>
                        <div class="fg-line"></div>
                    </div>
                        <p class="text-info text-center m-b-10">By clicking on 'Register' you are agree with   our <a href="#" target="_blank">terms & condition.</a> </p>

                        <button class="btn btn-lg btn-block btn-flat bgm-bluegray pull-right" type="submit">Register</button>

                        @*<ul class="list-unstyled list-inline">
                            <li>
        <a href="#" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-seat zmdi-hc-fw"> </i> Be a  brand ambassador</a>
    </li>
    <li class="pull-right">
        <button class="btn btn-lg btn-flat bgm-bluegray pull-right" type="submit">Register</button>

    </li>
                        </ul>*@



                        <ul class="login-navigation">
                            <li data-block="#l-login" class="bgm-green">Login</li>
                            <li data-block="#l-forget-password" class="bgm-red">Forgot Password?</li>
                        </ul>
                        <div class="clearfix"></div>
                        <input type="hidden" name="otherschool" id="otherschool" value="" />

        }

        @*<h2 class="text-center">'or'</h2>
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@


    </div>
</div>
<div class="modal" id="otherSchool" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="exampleModalLabel">My school not listed with @ConfigurationManager.AppSettings["ProjectName"]</h4>
            </div>
            <div class="modal-body">

                <p class="text-justify">
                    Hey!
                    Upgradejr is ready with access of <strong>eight new age school and future foundation tools</strong> for you.

                    We are upgrading content and adding various features <strong>every day</strong> to make it most useful digital platform for junior students and parent.
                    <strong>
                        Only one service of upgradejr under school foundation
                    </strong> is school specific and most personal.
                </p>
                <p class="text-justify">
                    Till the time your school book content gets ready, we have assembled most relevant questions and topics, class wise currently taught in various top schools across INDIA.



                </p>
                <h3>Sound interesting……welcome on board!</h3>

                <div class="input-group fg-float m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-graduation-cap"></i></span>
                    <div class="fg-line">
                        <input type="text" id="otherSchoolHolder" class="form-control">
                        <label class="fg-label">Please enter your school name</label>
                    </div>

                </div>

                <h5>and select any one school from existing</h5>
                @*@Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "form-control", id="ddlSchool" })*@

                <div class="input-group fg-float m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-graduation-cap"></i></span>
                    <div class="fg-line">
                        @Html.DropDownList("SchoolId", null, htmlAttributes: new { id = "ddlSchool", @class = "form-control", data_width = "100%", data_live_search = "true" })

                    </div>
                </div>


            </div>
            <div class="modal-footer text-center">
                <button type="button" id="okBtn" class="btn btn-default bgm-primary">It's Ok, I select the school from List.</button>
            </div>
        </div>
    </div>
</div>