﻿
<!-- Forgot Password -->

<div class="lc-block  form-box m-t-140" id="l-forget-password">
    <div class="form-top">
        <div class="form-top-left">
            <h3>Account Recovery</h3>
        </div>

    </div>

    <div class="form-bottom">
        <!-- Forgot Password -->
        <form action="@Url.Action("ForgotPassword","Account")" method="post" role="form" id="forgetpasswordform">
            @Html.AntiForgeryToken()


            <p class="text-left">Enter your <span class="text-primary"><b>E-Mail</b></span> "or" <span class="text-primary"><b>Mobile No.</b></span> used at the time of registration. We will send you account verification code to recover your account.</p>


            <div class="input-group fg-float m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i> / <i class="zmdi zmdi-phone"></i></span>
                <div class="fg-line">
                    <input type="text" id="Email" name="Email" class="form-control">
                    <label class="fg-label">Enter your  mobile no. 'or' email</label>
                </div>
            </div>

            <button type="submit" class="btn btn-sm btn-primary  m-t-10 waves-effect"> <i class="zmdi zmdi-arrow-forward"></i> Next</button>


            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green">
                    Login
                </li>
                <li data-block="#l-register" class="bgm-orange">
                    Register
                </li>
            </ul>

        </form>
    </div>
</div>