﻿<div class="lc-block" id="l-login">
    @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginform", role = "form" }))
            {*@
    <form action="@Url.Action("Login","Account")" method="post" ReturnUrl="" id="loginform" role="form">
        <input type="hidden" name="ref" value="" />


        <p class="lead text-primary"><b>Login with your ScoolFirst.com account</b></p><hr />
        <div class="input-group m-b-20 ">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" id="Username" name="Email" class="form-control" value="@Model.Email" placeholder="Enter Your E-Mail/Mobile No.">
            </div>


        </div>

        <div class="input-group m-b-20 has-feedback">
            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
            <div class="fg-line">
                <input type="password" id="Password" name="Password" class="form-control" placeholder="Enter Your Password">
            </div>
        </div>

        <div class="checkbox">
            <label>

                <input type="checkbox" name="RememberMe" value="true">
                <i class="input-helper"></i>
                Keep me signed in
                <input type="hidden" name="RememberMe" value="false">
            </label>
        </div>
        <hr />
        <button type="submit" class="btn  btn-lg btn-primary"> <i class="zmdi zmdi-lock"></i> Login</button>

    </form>
    <div class="clearfix"></div>
    <hr />
    <h2>'OR'</h2>
    @Html.Partial("_ExternalLoginsListPartial", new Scoolfirst.ViewModel.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })


    @*<button class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-sm hidden-xs"> <i class="zmdi zmdi-facebook"></i> Login with your facebook.com account</button>
        <button class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-lg hidden-md">Facebook Login</button>*@
    <div class="clearfix"></div>
    <ul class="login-navigation">
        <li data-block="#l-register" class="bgm-red">Register</li>
        <li data-block="#l-forget-password" class="bgm-orange">Forgot Password?</li>
    </ul>
</div>

