﻿@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="row">
    <div class="col-sm-6 text">
        <div class="description p-t-100">
            <a class="show b-0">
                <img src="@MvcApplication.Logos.Weblogo?width=100" class="rotate-anti-360 -m-t-75 m-r-10" alt="" />
                <h1 style="display: inline-block;" class="c-yellow text-justify show-inline">
                    <strong class="c-white" style="letter-spacing: 9px;
    display: block;">Enabling</strong>Your Wishes
                </h1>

            </a>

            <div class="p-10 text-center">
                <p>
                    <strong class="c-white">welcome to upgradejr Academy</strong>
                    <ul class="c-white text-justify">
                        <li>
                            Practice to perfection Worksheets, Chapter wise and school exam syllabus wise from own school books.
                        </li>
                        <li>
                            Significant information carved from current affairs as interesting AV.
                        </li>
                        <li>
                            Different School books question search, tagging own chapter, for self-bench marking.
                        </li>
                        <li>Innovative educational tools and science projects at your doorstep.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 ">
        <div class="lc-block toggled form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Account Password Set</h3>
                </div>
              
            </div>

            <div class="form-bottom">

               

                    <p>
                        Your  account password has been set successfully. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class="text-info" })
                    </p>
               

            </div>
        </div>
    </div>
</div>
