﻿@model Scoolfirst.ViewModel.ResetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}


<div class="row">
    <div class="col-sm-6 text">
        <div class="description p-t-100">
            <a class="show b-0">
                <img src="@MvcApplication.Logos.Weblogo?width=100" class="rotate-anti-360 -m-t-75 m-r-10" alt="" />
                <h1 style="display: inline-block;" class="c-yellow text-justify show-inline">
                    <strong class="c-white" style="letter-spacing: 9px;
    display: block;">Enabling</strong>Your Wishes
                </h1>

            </a>

            <div class="p-10 text-center">
                <p>
                    <strong class="c-white">welcome to upgradejr Academy</strong>
                    <ul class="c-white text-justify">
                        <li>
                            Practice to perfection Worksheets, Chapter wise and school exam syllabus wise from own school books.
                        </li>
                        <li>
                            Significant information carved from current affairs as interesting AV.
                        </li>
                        <li>
                            Different School books question search, tagging own chapter, for self-bench marking.
                        </li>
                        <li>Innovative educational tools and science projects at your doorstep.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="lc-block toggled form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Account Password</h3>
                </div>
              
            </div>

            <div class="form-bottom">


                <!-- New Password Creation -->
                @*<form action="@Url.Action("newpassword","Account")" method="post" role="form" id="newpasswordform">*@
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form", id = "newpasswordform" }))
                {
                    @Html.AntiForgeryToken()
                  
                    @Html.HiddenFor(m => m.Code)
                    @Html.HiddenFor(m => m.Email)
                    @Html.HiddenFor(m => m.id)
                    @Html.HiddenFor(m => m.CompleteProfile)

                    <div class="lc-block toggled" id="l-login">
                        <div class="alert alert-success" role="alert">Well done! You have successfully verify your accunt. Please set password for your account.</div>
                        @Html.ValidationSummary(false)
                        <div class="input-group m-b-20 ">
                            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                            <div class="fg-line">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password", placeholder = "Enter new password" })
                            </div>

                        </div>
                        <div class="input-group m-b-20 ">
                            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                            <div class="fg-line">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "confirmpassword", placeholder = "Re-type new password to confirm" })
                                @*<input type="password"  name="confirmpassword" class="form-control" placeholder="re-type new password">*@
                            </div>

                        </div>

                        <button type="submit" id="submitVCode" class="btn  btn-sm btn-primary"> <i class="zmdi zmdi-lock"></i> Set Password</button>


                    </div>
                }
                
                </div>
            </div>
        </div>
    </div>

                @section scripts
{
                    <script type="text/javascript">

                        $().ready(function () {

                            //Re-send Verification Notification

                          

                            // Verification Form Validation
                            $('#newpasswordform').bootstrapValidator({
                                //        live: 'disabled',
                                message: 'This password is not valid',
                                feedbackIcons: {
                                    valid: 'glyphicon glyphicon-ok',
                                    invalid: 'glyphicon glyphicon-remove',
                                    validating: 'glyphicon glyphicon-refresh'
                                },
                                fields: {
                                    Password: {
                                        group: ".fg-line",
                                        validators: {
                                            notEmpty: {
                                                message: 'The password is required and cannot be empty'
                                            },
                                            identical: {
                                                field: 'ConfirmPassword',
                                                message: 'The password and its confirm are not the same'
                                            }
                                        }
                                    },
                                    ConfirmPassword: {
                                        group: ".fg-line",
                                        validators: {
                                            notEmpty: {
                                                message: 'The confirm password is required and cannot be empty'
                                            },
                                            identical: {
                                                field: 'Password',
                                                message: 'The password and its confirm are not the same'
                                            }
                                        }
                                    },

                                }
                            });

                        });//Jquery End
                    </script>
                }
