﻿@model Scoolfirst.ViewModel.AccountVerificationViewModel
@{
    ViewBag.Title = "Account Verification";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="row">
    <div class="col-sm-6 text">
        <div class="description p-t-100">
            <a class="show b-0">
                <img src="@MvcApplication.Logos.Weblogo?width=100" class="rotate-anti-360 -m-t-75 m-r-10" alt="" />
                <h1 style="display: inline-block;" class="c-yellow text-justify show-inline">
                    <strong class="c-white" style="letter-spacing: 9px;
    display: block;">Enabling</strong>Your Wishes
                </h1>

            </a>

            <div class="p-10 text-center">
                <p>
                    <strong class="c-white">welcome to upgradejr Academy</strong>
                    <ul class="c-white text-justify">
                        <li>
                            Practice to perfection Worksheets, Chapter wise and school exam syllabus wise from own school books.
                        </li>
                        <li>
                            Significant information carved from current affairs as interesting AV.
                        </li>
                        <li>
                            Different School books question search, tagging own chapter, for self-bench marking.
                        </li>
                        <li>Innovative educational tools and science projects at your doorstep.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 ">
        <div class="lc-block toggled form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Account Verification</h3>
                </div>

            </div>

            <div class="form-bottom">

                <!-- Verify -->
                <form action="@Url.Action("Verify","Account")" method="post" role="form" id="verifyform">
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.cp)
                    <div class="lc-block toggled" id="l-login">
                        @{
//TODO Resend the verification
                        }
                        <p class="text-justify m-b-10">We have sent you a verification code on your email and mobile no. Please enter the 6 digit code you have received recently on your email 'or' mobile no. If you don't received the 6 digit code on your phone 'or' email please <a href="#" id="re_submitVCode">click here</a> to re-send. </p>
                        @Html.ValidationSummary("", new { @class = "text-danger m-b-20" })


                        <div class="input-group  fg-float m-b-20 m-t-20">
                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                            <div class="fg-line">
                                <input type="text" id="verificationCode" name="verificationCode" class="form-control">
                                <label class="fg-label">Enter verification code</label>
                            </div>
                        </div>

                        <button type="submit" id="submitVCode" class="btn  btn-lg btn-primary"> <i class="zmdi zmdi-lock"></i> Verify My Account</button>

                    </div>
                </form>

            </div>

        </div>
    </div>

</div>

@section scripts
{
    <script src="~/static/js/guest.js"></script>

    <script type="text/javascript">

        $().ready(function() {

            //Auto Close Timer sweet_notification
            $('#re_submitVCode').click(function() {
                //do server process to re-send the code
                var url = "/Account/ResendCode/" + $('input[type=hidden]#id').val();
                var response = $.getJSON(url)
                    .done(function () {
                   Successinfo("Verification code sent to your registred mobile number and email.");
                })
  .fail(function () {
      Successinfo("OOPS..something went wrong. Please try again.");
  });
            });


        }); //Jquery End

        function Successinfo(msg) {
            swal({
                title: "Re-send Verification Code",
                text: msg,
                timer: 2000,
                showConfirmButton: false
            });
        }

    </script>
}



