﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Questions>
@using Scoolfirst.Model.WorkBook;
@{ 
    //Review require-----------Shahid
}
@{
    ViewBag.Title = "Index";

    string disp = (ViewBag.Book != null ? ViewBag.Book.Title + "-" : "") + ViewBag.Chapter.Name;

    var Book =(Books) ViewBag.Book;
    var Chapter =(Chapter) ViewBag.Chapter;
}


@if (ViewContext.IsChildAction)
{

@postRendere()
    return;
}


    @UIHelper.Header(disp)

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">    
                   
                        @UIHelper.Search(Url.Action("CreateQuestion", "Questions", new { ChapterId = Chapter.Id, BookId = Book.Id}),"")
                           
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                              @postRendere()
                            </div>
                            <div class="box-footer">
                                <a href="/Books/Details/@ViewBag.Book.Id" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                            </div>
                        </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/Questions/ChaptresQuestion")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@helper postRendere(){
    <table class="table table-bordered table-striped table-condensed table-vmiddle">
        <thead>
            <tr>
                <th>Question</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                if (item==null||item.Title==null)
                {
                    continue;
                }
                <tr>
                    <td>@Html.Raw(item.Title)</td>

                    <td class="btn-group btn-group-sm">
                        <a href="@Url.Action("Edit", "Questions", new { id =item.Id,BookId =ViewBag.Book.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Details", "Questions", new { id =item.Id,ChapterId=ViewBag.Chapter.Id,BookId=ViewBag.Book.Id })" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="@Url.Action("Delete", "Questions", new { id = item.Id,ChapterId=ViewBag.Chapter.Id,BookId=ViewBag.Book.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>

            }
        </tbody>


    </table>

}