﻿@model Scoolfirst.Model.WorkBook.Questions

@{
    ViewBag.Title = "Details";
}

@UIHelper.Header("Questions", null, "Details Of Questions")
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>

                    <h3 class="box-title">Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl>
                        <dt>Question</dt>
                        <dd>@Html.Raw(Model.Title)</dd>
                        <dt>Answer</dt>
                        <dd>@Html.Raw(Model.Answer)</dd>
                        <dt>Reference</dt>
                        <dd>@((Model.Refrence==null?"":Model.Refrence))</dd>
                        <dt>School</dt>
                        <dd>@Model.School</dd>
                        <dt>Class</dt>
                        <dd>@Model.Class</dd>
                        <dt>Subject</dt>
                        <dd>@Model.Subject</dd>

                    </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Edit", "Questions", new { id=Model.Id,ChapterId=Model.ChapterId,BookId=Model.Books.First().Id})" class="btn btn-success pull-right"><i class="fa fa-edit"></i></a>

                    @BackUrl()
                   
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

@helper BackUrl() {
if (Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("/questions/chaptresquestion"))
{
        <a href="@Request.UrlReferrer" class="btn btn-danger" style="margin-right:5px"><i class="fa fa-remove"></i></a>

}
else
{
        <a href="@Url.Action("Index","Questions")" class="btn btn-danger" style="margin-right:5px"><i class="fa fa-remove"></i></a>

}
}

