﻿@model Scoolfirst.ViewModel.WorkBook.QuestionVM

@{
    ViewBag.Title = "Edit";
}

@UIHelper.Header("Questions", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.QuestionType, "Question Type", htmlAttributes: new { @class = " " })
                            @Html.TextBoxFor(model => model.QuestionType, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.QuestionType, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title,"Question", htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.Title, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.Answer, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TypeOrder, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.TypeOrder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TypeOrder, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Order, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Refrence, htmlAttributes: new { @class = " " })
                            @*This filed is for seaching index. Html is stricltly not to be applied on this Field*@
                            @Html.TextAreaFor(model => model.Refrence, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Refrence, "", new { @class = "text-danger" })
                        </div>
                        
                            @Html.HiddenFor(model => model.School)
                         
                        
                            @Html.HiddenFor(model => model.Class)
                         
                        
                            @Html.HiddenFor(model => model.ChapterId)
                         
                        
                            @Html.HiddenFor(model => model.Subject)
                           
                        @if (Request.QueryString["bookid"]!=null)
                        {
                            <input type="hidden" name="bookid" value="@Request.QueryString["bookid"].ToString()" />
                        }
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        @BackUrl()
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts{

    <script src="~/ckeditor/ckeditor.js"></script>
<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
<script>tinymce.init({ selector:'.richeditor' });</script>
}

@helper BackUrl()
{
if (Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("/questions/chaptresquestion"))
{
        <a href="@Request.UrlReferrer" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
}
else
{
        <a href="/Questions/ChaptresQuestion?chapterid=@Model.ChapterId&bookid=@Request.QueryString["bookid"].ToString()" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
}
}

@helper DropDownList(string[] TypesOfQuestion, string Type = "")
{
if (string.IsNullOrEmpty(Type))
{
    Type = TypesOfQuestion[0];
}
    <select name="QuestionType" class="form-control">
        @foreach (var i in TypesOfQuestion)
        {
            <option value="@i" @(i == Type ? "selected" : "")>@i</option>

        }

    </select>


}
