﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Questions>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Sucess"] != null)
{

    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Questions", null, "List of All Questions")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create","Questions"),"")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                    <thead>
                                        <tr role="row">
                                            <th>Question</th>
                                            <th>Class</th>
                                            <th>Subject</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.Raw(item.Title)</td>
                                              
                                                <td>@item.Class</td>
                                                <td>@item.Subject</td>
                                            <td class="btn-group btn-sm" width="120px">
                                                <a href="@Url.Action("Edit", "Questions", new { id =item.Id })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" ><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("Details", "Questions", new { id =item.Id })" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" ><i class="fa fa-eye"></i></a>
                                                <a href="@Url.Action("Delete", "Questions", new { id = item.Id })" data-toggle="tooltip" data-placement="top" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></a>
                                            </td>
                                        </tr>

                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                        
                   
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/Questions/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@*<div class="card">
    <div class="card-header bgm-purple">
        <h2>Questions</h2>
        <ul class="actions">
            <li>
                <a href="@Url.Action("Create","Questions")">
                    <i class="zmdi zmdi-plus zmdi-hc-fw"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body card-padding">
        <table class="table table-striped table-vmiddle">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.Class)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.Raw(item.Title)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Class)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Questions", new { id=item.Id})" class="btn btn-icon command-edit waves-effect waves-circle"><span class="zmdi zmdi-edit"></span></a>
                            <a href="@Url.Action("Delete","Questions",new { id = item.Id })" class="btn btn-icon command-delete waves-effect waves-circle"><span class="zmdi zmdi-delete"></span></a>
                            <a href="@Url.Action("Schedule", "Questions",new { id = item.Id } )" class="btn bgm-orange btn-icon command-feed waves-effect waves-circle"><span class="zmdi zmdi-calendar-note"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@