﻿@model IEnumerable<SellerCentral.Models.IncommingReferral>
@{
    ViewBag.Title = "AppRefral";
}

<div class="blank">

    <div class="blank-page">

      

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <td colspan="3">Total @Model.Count() , Todays Count: @Model.Count(i => i.EntryDate.Date == DateTime.Today.Date)</td>
                    </tr>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.EntryDate</td>
                            <td>@i.RequestHeaders</td>
                            <td>@i.Code</td>
                        </tr>
                    }

                </table>
            </div>

        </div>


    </div>
</div>
