﻿@model IEnumerable<SellerCentral.Models.IncommingReferral>
@{
    ViewBag.Title = "Index";
    var wtapptring = "Download UpgradeJr "+System.Net.WebUtility.UrlEncode(Url.Action("reffer", "Home", new { code = ViewBag.Code }, Request.Url.Scheme));

}
<div class="blank">

    <div class="blank-page">

        <div class="row">
            <div class="col-md-12">
                User Referal
                <h2 class="label label-info">UserRefered @ViewBag.RefferRegister</h2>
                <div class="form-group">
                    <label>
                        New user Registration  URL to create down line
                        <br />
                        (forward link to register associate to create there referral code associated to your down line)

                    </label>
                    <input value="@Url.Action("register","Account",new { code=ViewBag.Code}, Request.Url.Scheme)" id="myInput2" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" onclick="javascript:myFunction2()" class="btn ">Copy</button>
                    </span>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        Referral URL to create down line
                        <br />
                        (forward link to user to create your own down line)
                    </label>
                    <input value="@Url.Action("reffer","Home",new { code=ViewBag.Code}, Request.Url.Scheme)" id="myInput" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" onclick="javascript:myFunction()" class="btn ">Copy</button>
                        </span>

                </div>
            </div>
            <div class="col-md-6">
                <a href="whatsapp://send?text=@wtapptring" target="_blank" class="btn btn-default ">Share On <i class="fa fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/sharer.php?u=@Url.Action("reffer","Home",new { code=ViewBag.Code}, Request.Url.Scheme)" class="btn btn-default"  target="_blank">Share On <i class="fa fa-facebook-official"></i>
                </a>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <td colspan="3">Total @Model.Count() , Todays Count: @Model.Count(i=>i.EntryDate.Date==DateTime.Today.Date)</td>
                    </tr>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.EntryDate</td>
                            <td>@i.RequestHeaders</td>
                            <td>@i.Code</td>
                        </tr>
                    }

                </table>
            </div>

        </div>


        </div>
    </div>




        @section Scripts{
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <script>
                function myFunction() {
                    var copyText = document.getElementById("myInput");
                    copyText.select();
                    document.execCommand("Copy");
                    alert("Copied the text: " + copyText.value);
                }
                function myFunction2() {
                    var copyText = document.getElementById("myInput2");
                    copyText.select();
                    document.execCommand("Copy");
                    alert("Copied the text: " + copyText.value);
                }
            </script>
        }
