﻿@model SellerCentral.Models.RefralUser
@{
    ViewBag.Title = "Referal";
}

<div class="blank">

    <div class="blank-page">

        <h2 class="media-heading">Referal</h2>

        <h3 class="media-heading">Tier 1</h3>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Code</td>
                <td>Reffer code</td>
                <td></td>
            </tr>
            @foreach (var p in Model.Tier1)
            {
                <tr>
                    <td><a href="/dashboard/referal?rc=@p.ReferCode">@p.Email</a></td>
                    <td>@p.ReferCode</td>
                    <td>@p.Referrer</td>
                    <td><a href="/dashboard/AppRefral?code=@p.ReferCode">App Link</a></td>
                </tr>
            }
        </table>
        <h3 class="media-heading">Tier 2</h3>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Code</td>
                <td>Reffer code</td>
                <td></td>
            </tr>
            @foreach (var p in Model.Tier2)
            {
            <tr>
                <td><a href="/dashboard/referal?rc=@p.ReferCode">@p.Email</a></td>
                <td>@p.ReferCode</td>
                <td>@p.Referrer</td>
                <td><a href="/dashboard/AppRefral?code=@p.ReferCode">App Link</a></td>
            </tr>
            }
        </table>
        <h3 class="media-heading">Tier 3</h3>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Code</td>
                <td>Reffer code</td>
                <td></td>
            </tr>
            @foreach (var p in Model.Tier3)
            {
            <tr>
                <td><a href="/dashboard/referal?rc=@p.ReferCode">@p.Email</a></td>
                <td>@p.ReferCode</td>
                <td>@p.Referrer</td>
                <td><a href="/dashboard/AppRefral?code=@p.ReferCode">App Link</a></td>

            </tr>
            }
        </table>
        <h3 class="media-heading">Tier 4</h3>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Code</td>
                <td>Reffer code</td>
                <td></td>
            </tr>
            @foreach (var p in Model.Tier4)
            {
            <tr>
                <td><a href="/dashboard/referal?rc=@p.ReferCode">@p.Email</a></td>
                <td>@p.ReferCode</td>
                <td>@p.Referrer</td>
                <td><a href="/dashboard/AppRefral?code=@p.ReferCode">App Link</a></td>
            </tr>
            }
        </table>
        <h3 class="media-heading">Tier 5</h3>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Code</td>
                <td>Reffer code</td>
                <td></td>
            </tr>
            @foreach (var p in Model.Tier5)
            {
                //@TimeSpan.F
            <tr>
                <td><a href="/dashboard/referal?rc=@p.ReferCode">@p.Email</a></td>
                <td>@p.ReferCode</td>
                <td>@p.Referrer</td>
                <td><a href="/dashboard/AppRefral?code=@p.ReferCode">App Link</a></td>
            </tr>
            }
        </table>

    </div>
</div>