﻿@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginform", role = "form" }))
            {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="lc-block toggled" id="l-login">
        <p class="lead text-primary"><b>Login with your ScoolFirst.com account</b></p><hr />
        <div class="input-group m-b-20 ">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" id="Username" name="Email" class="form-control"  placeholder="Enter Your E-Mail/Mobile No.">
            </div>


        </div>

        <div class="input-group m-b-20 has-feedback">
            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
            <div class="fg-line">
                <input type="password" id="Password" name="Password" class="form-control" placeholder="Enter Your Password">
            </div>
        </div>

        <div class="checkbox">
            <label>

                <input type="checkbox" name="RememberMe" value="true">
                <i class="input-helper"></i>
                Keep me signed in
                <input type="hidden" name="RememberMe" value="false">
            </label>
        </div>
        <hr />
        <button type="submit" class="btn  btn-lg btn-primary"> <i class="zmdi zmdi-lock"></i> Login</button>
        <div class="clearfix"></div>
        <hr />
        <h2>'OR'</h2>

        <button class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-sm hidden-xs"> <i class="zmdi zmdi-facebook"></i> Login with your facebook.com account</button>
        <button class="btn bgm-indigo btn-icon-text btn-lg waves-effect hidden-lg hidden-md">Facebook Login</button>
        <div class="clearfix"></div>
        <ul class="login-navigation">
            <li data-block="#l-register" class="bgm-red">Register</li>
            <li data-block="#l-forget-password" class="bgm-orange">Forgot Password?</li>
        </ul>
    </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
}
