﻿@model Scoolfirst.ViewModel.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout_Guest.cshtml";
}



@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
  @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <div class="card p-10">
                <div class="card-header">
                    <h2 class="text-center">

                        Forget Password
                        <small>Please enter your registed email below.</small>
                    </h2>
                </div>

                <div class="card-body card-padding">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })



                    <div class="form-group fg-line">
                        <label for="exampleInputEmail1">Email Address</label>
                        @*<input type="email" class="form-control " id="exampleInputEmail1" >*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm", placeholder = "enter your email" })
                    </div>
                    
                    <button type="submit" class="pull-right btn btn-primary btn-icon-text waves-effect">Recover My Account</button>

                    <div class="clearfix"></div>

                </div>

                <div class="card-footer">
                    <a href="@Url.Action("Login","Account")" class="text-center text-info">Login</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
