﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout_Guest.cshtml";
}



<div class="row">
    <div class="col-md-offset-2 col-md-8">

        <div class="card p-10">
            <div class="card-header">
                <h2 class="text-center">

                    Account Confirmation
                    <small>Please check your email inbox for account verification link.</small>
                </h2>
            </div>

            <div class="card-body card-padding">
                <p class="lead text-center">
                    Please check your email to reset your password.
                </p>

            </div>

        </div>
    </div>
</div>

