﻿@using Scoolfirst.ViewModel
@model LoginViewModel
@{

    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout_Guest.cshtml";
}
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-offset-2 col-md-8">
       
        <div class="card p-10">
            <div class="card-header">
                <h2 class="text-center">
                    
                    Account Login 
                </h2>
            </div>

            <div class="card-body card-padding">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })


               
                    <div class="form-group fg-line">
                        <label for="exampleInputEmail1">Email Address</label>
                        @*<input type="email" class="form-control " id="exampleInputEmail1" >*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm", placeholder = "enter your email" })


                     </div>
                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">Password</label>
                        @*<input type="password" class="form-control " id="exampleInputPassword1" >*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm", placeholder = "enter your password" })


                     </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                            Remember Me
                        </label>
                    </div>

                    <button type="submit" class="pull-right btn btn-primary btn-icon-text waves-effect"><i class="zmdi zmdi-lock-open zmdi-hc-fw"></i> Login</button>
                
                    <div class="clearfix"></div>
                
            </div>

            <div class="card-footer">
                <a href="@Url.Action("ForgotPassword","Account")" class="text-center text-danger">Forget Password?</a>
            </div>
        </div>
    </div>
</div>

}
