﻿@model Scoolfirst.ViewModel.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout_Guest.cshtml";
}


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <div class="card p-10">
                <div class="card-header">
                    <h2 class="text-center">

                       Reset Account Password
                    </h2>
                </div>

                <div class="card-body card-padding">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.Email)

                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm", placeholder = "enter your new password" })
                    </div>
                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm", placeholder = "re-enter your new password" })
                    </div>


                   
                    <button type="submit" class="pull-right btn btn-primary btn-icon-text waves-effect"><i class="zmdi zmdi-lock-open zmdi-hc-fw"></i> Reset Password</button>

                    <div class="clearfix"></div>

                </div>

            </div>
        </div>
    </div>

    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
