﻿@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout_Guest.cshtml";
}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="card p-10">
            <div class="card-header">
                <h2 class="text-center">
                    Password Reset Confirmation
                </h2>
            </div>
            <div class="card-body card-padding">
                <p class="lead text-center">
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
