﻿@*
  // this is the landing page of My Worksheet Module.  
*@

@model IEnumerable<Scoolfirst.Model.Common.SchoolClassSubject>
@{
        ViewBag.EnableSidebar = false;
        int firstItem = 0;
        var school = (Model.Any())?Model.First().School:new Scoolfirst.Model.Common.School { Id=1, SchoolName="School Name"};
        var clas = Model.Any()? Model.First().Class:new Scoolfirst.Model.Common.Classes { Id=1,RomanDisplay="Class III"};
    }

@if (Model.Count() > 0)
{


    <div class="card">
        <div class="card-header parent ch-alt p-0 full-width-tabs">
            <ul  class="tab-nav " role="tablist" data-tab-color="amber">

                <li class="@(firstItem==0?"active":"") bgm-primary ">
                    <a class="c-white p-t-10 p-b-10" role="tab" data-toggle="tab" aria-expanded="false" href="#chapter_workbook" aria-controls="chapter_workbook">
                        Chapter Worksheet
                    </a>
                    </li>
                <li class="bgm-bluegray">
                    <a class="c-white  p-t-10 p-b-10" role="tab" data-toggle="tab" aria-expanded="false" href="#test_workbook" aria-controls="test_workbook">
                        Test Worksheet
                    </a>
                </li>


            </ul>
        </div>
            <div class="card-body">

                        <div class="tab-content p-0">
                            <!--Chapter Worbook Tab Panel Centent-->
                            <div role="tabpanel" class="tab-pane @(firstItem==0?"active":"") " id="chapter_workbook">
                               
                                <div class="card " id="workbook">
                                    <div class="card-header child ch-alt p-0 full-width-tabs o-auto">
                                        
                                        <ul class="tab-nav  bgm-white" role="tablist" data-tab-color="amber">
                                          
                                            @foreach (var i in Model.ToList())
                                            {

                                                <li class="@(Url.RequestContext.HttpContext.Request.QueryString["id"]!=null?int.Parse(Url.RequestContext.HttpContext.Request.QueryString["id"].ToString())==i.SubjectId?"active":"":firstItem ==0?"active":"")">
                                                    <a class="c-white" role="tab" data-toggle="tab" aria-expanded="false" href="@string.Format("#subject_{0}", i.Id)" aria-controls="@string.Format("subject_{0}", i.Id)">
                                                        @i.Subject.DisplayName 
                                                    </a>
                                                </li>
                                                firstItem++;
                                            }
                                        </ul>
                                    </div>

                                    <div class="card-body card-padding">

                                        <div class="tab-content">
                                            @{ firstItem = 0; }
                                            @foreach (var i in Model.ToList())
                {
                            <!--Tab Panel Centent-->
                                                <div role="tabpanel"  class="tab-pane @(Url.RequestContext.HttpContext.Request.QueryString["id"]!=null?int.Parse(Url.RequestContext.HttpContext.Request.QueryString["id"].ToString())==i.SubjectId?"active":"":firstItem ==0?"active":"")" id="@string.Format("subject_{0}", i.Id)">
                                                    @{ firstItem++; }


                                                    <!--Accordian Start-->
                                                    <div class="panel-group" data-collapse-color="red" id="@string.Format("accordion_subject_books_{0}", i.Id)" role="tablist" aria-multiselectable="true">

                                                        @foreach (var item in i.Books.ToList())
                                                        {
                                                            <div class="panel panel-collapse">
                                                                <div class="panel-heading " role="tab">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="@string.Format("#accordion_subject_books_{0}", i.Id)" href="@string.Format("#book_{0}", item.Id)" aria-expanded="true">
                                                                            <span class="f-17"> Book: @item.Title</span>
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="@string.Format("book_{0}", item.Id)" class="collapse in" role="tabpanel">
                                                                    <div class="panel-body">
                                                                        @Html.Action("Units", "workBook", new { id = item.Id })
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        }
                                                    </div>
                                                </div>



                                                        }
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!--Test Worbook Tab Panel Centent-->
                            <div role="tabpanel" class="full-width-tabs tab-pane @(firstItem==0?"active":"") " id="test_workbook">

                                <ul class="tab-nav" role="tablist" data-tab-color="amber">

                                  
                                    <li class="active">
                                        <a class="" role="tab" data-toggle="tab" aria-expanded="false" href="#syllabus" aria-controls="syllabus">
                                          Exam Syllabus
                                        </a>
                                    </li>
                                  
                                    <li class="">
                                        <a class="" role="tab" data-toggle="tab" aria-expanded="false" href="#test_worksheet" aria-controls="test_worksheet">
                                           Exam Worksheet
                                        </a>
                                    </li>

                                    
                                </ul>
                                
                               
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="syllabus">

                                        @Html.Action("Syllabus", "WorkBook")

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="test_worksheet">
                                        @Html.Action("TestWorkbook", "WorkBook")

                                    </div>
                                </div>

                            </div>
                        </div>


                        


                    </div><!--Top card body end-->
   </div>
<!--Top card  end-->

               }
else
                {
            
                <div class="card card-padding">
                    
                    <div class="card-body card-padding">
                        <h2>No Candies Found :"(  </h2>
                    </div>
                </div>
                }
