﻿



<div class="card">
    <div class="card-header bgm-bluegray p-5">

        <div class="media">
            <div class="pull-left">
                <a href="#">
                    <img class="media-object thumbnail img-responsive"  src="http://picture.upgrde.net/content/user/5f763986-6b1f-4c11-b11e-5401907af361/b6c6eef9-d885-4ea5-a345-34770766e7f4734e7fe360b8f6983260263f1704d11e.jpg?height=70" alt="">
                </a>
            </div>
            <div class="media-body">

                <h2 class="media-heading m-t-15">Book Name (Subject Name) <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>

            </div>
        </div>
        <ul class="actions">
            <li>
                <a href="#">
                    <i class="zmdi zmdi-refresh-alt"></i>
                </a>
            </li>

            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#">Book Name2 (Subject Name)</a>
                    </li>
                    <li>
                        <a href="#">Book Name3 (Subject Name)</a>
                    </li>
                    <li>
                        <a href="#">Book Name3 (Subject Name)</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="card-body">
        <div class="row m-0">
            <!-- Question List-->
            <div class="col-md-8 m-0 p-0 m-b-30">
                <div class="listview lv-bordered lv-lg">

                    <!-- Question Ans Section-->
                    <div class="lv-body">

                        <div class="lv-item media">
                            <div class="pull-left">
                                <div class="lv-avatar  pull-left">Q</div>
                            </div>
                            <div class="media-body">
                                <div class="lv-question">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                                <div class="lv-answer card-body card-padding bgm-lime">
                                    Answer goes here    Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                                </div>
                            </div>
                        </div>

                        <div class="lv-item media">
                            <!-- Question Symbole-->
                            <div class="pull-left">
                                <div class="lv-avatar  pull-left">Q</div>
                            </div>
                            <div class="media-body">
                                <!-- Question Section-->
                                <div class="lv-question">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                                <!-- Ans Section-->
                                <div class="lv-answer card-body card-padding bgm-lime">
                                    Answer goes here    Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                                </div>
                            </div>
                        </div>

                        <div class="lv-item media">
                            <div class="pull-left">
                                <div class="lv-avatar  pull-left">Q</div>
                            </div>
                            <div class="media-body">
                                <div class="lv-question">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                                <div class="lv-answer card-body card-padding bgm-lime">
                                    Answer goes here    Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                                </div>
                            </div>
                        </div>

                        <div class="lv-item media">
                            <div class="pull-left">
                                <div class="lv-avatar  pull-left">Q</div>
                            </div>
                            <div class="media-body">
                                <div class="lv-question">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                                <div class="lv-answer card-body card-padding bgm-lime">
                                    Answer goes here    Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                                </div>
                            </div>
                        </div>

                        <div class="lv-item media">
                            <div class="pull-left">
                                <div class="lv-avatar  pull-left">Q</div>
                            </div>
                            <div class="media-body">
                                <div class="lv-question">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                                <div class="lv-answer card-body card-padding bgm-lime">
                                    Answer goes here    Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                                </div>
                            </div>
                        </div>

                        <div class="lv-item media">
                            <div class="pull-left">
                                <div class="lv-avatar  pull-left">Q</div>
                            </div>
                            <div class="media-body">
                                <div class="lv-question">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                                <div class="lv-answer card-body card-padding bgm-lime">
                                    Answer goes here    Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                                </div>
                            </div>
                        </div>

                        <div class="lv-item media">
                            <div class="pull-left">
                                <div class="lv-avatar  pull-left">Q</div>
                            </div>
                            <div class="media-body">
                                <div class="lv-question">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                                <div class="lv-answer card-body card-padding bgm-lime">
                                    Answer goes here    Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Topic List-->

            <div class="col-md-3 m-0 p-0">
                <div class="card m-b-0">

                    <div class="card-header ch-alt">
                        <h2>Seleceted Topic Name<small>Total Question:- <span class="badge badge-warning">30</span></small></h2>
                    </div>

                    <div class="card-body c-white" id="topiclist">
                        <div class="listview">

                            <!-- Topic List

                                -->

                            <a class="lv-item item-bg" href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="lv-avatar  pull-left">30</div>

                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title m-t-5">Topic goes here... lorem ipsum dore ... lorem ipsum dore</div>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item item-bg" href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="lv-avatar  pull-left">30</div>

                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title m-t-5">Topic goes here... lorem ipsum dore ... lorem ipsum dore</div>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item item-bg" href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="lv-avatar  pull-left">30</div>

                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title m-t-5">Topic goes here... lorem ipsum dore ... lorem ipsum dore</div>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item item-bg" href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="lv-avatar  pull-left">30</div>

                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title m-t-5">Topic goes here... lorem ipsum dore ... lorem ipsum dore</div>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item item-bg" href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="lv-avatar  pull-left">30</div>

                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title m-t-5">Topic goes here... lorem ipsum dore ... lorem ipsum dore</div>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item item-bg" href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="lv-avatar  pull-left">30</div>

                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title m-t-5">Topic goes here... lorem ipsum dore ... lorem ipsum dore</div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 p-0 item-position-top-70">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="radius-0 btn btn-primary  btn-lg waves-effect" id="btnPrevious">Previous</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-warning  btn-lg waves-effect" id="btnSolution">Solution</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="radius-0 btn btn-primary  btn-lg waves-effect" id="btnNext">Next</button>
                </div>
            </div>
        </div>

    </div>
    <div class="clear-fix"></div>
</div>
