﻿@model IEnumerable<Scoolfirst.Model.WorkBook.SyllabusDate>

<div class="listview lv-bordered lv-lg">
    <div class="lv-body">
        @foreach (var i in Model)
        {
            <div class="lv-item media p-0 p-t-10 p-b-10 p-l-10">

                <div class="media-body">
                    <div class="lv-title f-17 c-bluewhale">
                        @i.Title
                        @if (i.Quiz.Count() ==1)
                        {
                           
                                foreach (var q in i.Quiz)
                                {
                                  
                                        <a href="@Url.Action("WorkBook","WorkBook",new {id=q.Id,Name=q.Name.Replace(' ','-') })" class="btn bgm-teal-dark waves-effect pull-right m-r-10" aria-expanded="true">
                                            @q.Name
                                        </a>
                                  
                                }

                           
                        }
                        
                    </div>
                    <div class="lv-small card-body c-bluegray">
                       @Html.Raw(i.Content)
                        <div>
                            <span class="label label-warning">
                                <i class="glyphicon glyphicon-calendar"></i>
                                @i.From.ToString("dd MMM yyyy") - @i.To.ToString("dd MMM yyyy")
                            </span>
                        </div>
                        @if (i.Quiz.Count() > 1)
                        {
                            <ul class="lv-attrs m-r-10">
                                @foreach (var q in i.Quiz)
                                {
                                    <li class="pull-right p-0">
                                        <a href="@Url.Action("WorkBook","WorkBook",new {id=q.Id,Name=q.Name.Replace(' ','-') })" class="btn bgm-teal-dark waves-effect" aria-expanded="true">
                                            @q.Name
                                        </a>
                                    </li>
                                }

                            </ul>
                        }
                    </div>

                </div>
            </div>
           
        }
    </div>
</div>
