﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Quiz>

@if (Model.Count() > 0)
{


    <div class="listview lv-bordered lv-lg">

        <!-- Question Ans Section-->
        <div class="lv-body">

            @foreach (var i in Model)
            {
                <div class="lv-item media">
                   
                    <div class="media-body">
                        <div class="lv-title f-17 c-bluewhale">@i.Subject (@i.Name)
                        
                            <a href="@Url.Action("WorkBook","WorkBook",new {id=i.Id,Name=i.Name.Replace(' ','-') })" class="btn btn-success pull-right" aria-expanded="true">
                                Start Test
                            </a>
                        </div>
                        <div class="lv-small card-body c-bluegray">
                            @Html.Raw(i.Details)
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="lv-body p-20">
        <h3>No Candy to Test :()></h3>
        </div>
        }
