﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Chapter>

@{
    ViewBag.Title = "Units";
    var BookId = ViewBag.Id;
    int SerialNo = 1;
    // todo apply random animation to each item of table
}

@if (Model.Count() == 0)
{
    <div class="c-red">Sorry ! We Don't have Any more Chocholates For you :(</div>
}
else
{
<div class="animated fadeIn listview lv-bordered lv-lg">
    <div class="lv-body linklist">
       
        <div>
           <span class="p-10 m-l-20 m-b-20 m-r-20 m-t-0 c-orange f-17" ><u>Book Lesson(s)</u></span> 
        </div>

        @foreach (var i in Model.GroupBy(i => i.Month).Select((x, i) => new { item = x, Index = i }))
        {

            <div>
                <span class="label label-default">
                    @i.item.Key
                </span>
                
                @foreach (var item in i.item.Select(ip=> new {item =ip,Index=ip }))
                {
                <a class="lv-item media p-0 " href="@Url.Action("UnitWise", "Workbook", new { id = item.Index, BookId = BookId })">
                    @*<div class="pull-right">
                            <div class="label label-info">@item.Questions.Count</div>
                        </div>*@
                    <div class="media-body">
                        <div class="lv-title f-17 p-l-20" style="line-height: 30px!important">
                            @*<div class="label label-info">@SerialNo</div>*@
                            @item.item.Name  <span class="label label-primary pull-right m-t-5">@string.Format("{0:D2}", item.item.Questions.Count)</span>

                        </div>
                    </div>

                </a>
                }
            </div>
            SerialNo++;

        }

    </div>
</div>
}
