﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Questions>
@{
    ViewBag.EnableSidebar = false;
    ViewBag.Title = "My Workbook";
    var Book = (Scoolfirst.Model.WorkBook.Books)ViewBag.Books;
    int CurrentChapter =int.Parse(ViewContext.RouteData.Values["id"].ToString());
    int count = 1;
    int QuestionCount = 1;
    int firstItem = 0;
    var Subjects=(IEnumerable<Scoolfirst.Model.Common.SchoolClassSubject>)ViewBag.Subjects;
}

<div class="card">
        <div class="card-header bgm-primary p-0" >
            <div class="card-header child  p-0  full-width-tabs o-auto">
                <!--Preparing Subject Listing UI Start-->

                <ul class="tab-nav  bgm-white" role="tablist" data-tab-color="amber">
                    @foreach (var i in Subjects)
                    {
                        <li class="@(firstItem==0?"active":"") bgm-shadeEven">
                            <a class="c-white" role="tab"  href="@Url.Action("MySubjects", "WorkBook", new { id=i.SubjectId})" >
                                @i.Subject.DisplayName
                            </a>
                        </li>
                    }
                   
                    
                </ul>
                <!--Preparing Subject Listing UI End-->
                @*<button id="btnToggleSolution" class="btn bgm-cyan btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>*@

            </div>
        <div class="media">
          
            <div class="media-body">

                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li class="c-white text-center">School</li>
                            <li class="text-center c-yellow">
                                @TempData["SchoolName"]
                              

                            </li>

                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li class="c-white text-center">Class</li>
                            <li class="text-center c-yellow">
                                @TempData["ClassName"]
                               

                            </li>

                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li class="c-white text-center">Book</li>
                            <li class="text-center c-yellow">

                              @Book.Subject.DisplayName (@Book.Title)

                            </li>

                            <li class="text-center">

                                @foreach (var VARIABLE in Book.SchoolClassBooks)
                                {
                                    <a href="#" class="c-gray text-center">@VARIABLE.Subject.DisplayName</a>
                                }

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li class="c-white text-center">Lessons</li>
                            <li class="text-center c-yellow">
                                @Book.Chapters.OrderBy(i=>i.Id).Skip(CurrentChapter*1).Take(1).First().Name
                            </li>

                        </ul>
                    </div>
                </div>

                

            </div>
        </div>
   
    </div>
    <div class="card-body">
        <div class="lv-header-alt bgm-bluegray  clearfix">
            <h2 class="lvh-label l-h-10 f-500 c-white">
                @Book.Chapters.OrderBy(i => i.Id).Skip(CurrentChapter * 1).Take(1).First().Name
            </h2>

            <ul class="lv-actions actions hidden-lg hidden-md">

                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert c-black"></i>
                        @*  *@
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">

                        @foreach (var i in Book.Chapters.Select((x, i) => new { item = x, Index = i }))
                        {
                            <li class="text-left">
                                <a style="text-align:left!important" href="@Url.Action("UnitWise","Workbook",new {id=i.Index ,BookId=Book.Id})">
                                    @i.item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>

        </div>

        <div class="row m-0">
            <!-- Question List-->
            <div class="col-md-9 m-0 p-0 m-b-30">
                <div class="listview lv-bordered lv-lg m-l-30">
                    
                    <!-- Question Ans Section-->
                    <div class="lv-body linklist linklist-border-right qSlider">
                        @foreach (var i in Model.GroupBy(i => i.QuestionType))
                        {
                        <div class="p-10 m-l-20 m-b-20 m-r-20 m-t-0 " style="border-bottom: 2px solid #a0a0a0;">
                              <span class="c-orange f-17">@i.Key</span> 
                        </div> 
                        foreach (var item in i)  
                        {

                            <div class="lv-item lv-q-ans media qSliderItem">
                                @*<div class="pull-left m-0 p-r-10">
                                        <div class="lv-avatar m-r-0">Q.@QuestionCount</div>
                                    </div>*@
                                <div class="media-body m-l-10">
                                    <div class="lv-question">

                                        @Html.Raw(item.Title)
                                    </div>

                                    <div id="ans" style="display:none" class="lv-answer card-body p-5 ">

                                        @Html.Raw(item.Answer)
                                    </div>

                                    @*<div id="ref" style="display:none" class="lv-answer card-body p-5">
                                        @if(string.IsNullOrWhiteSpace(item.Refrence) || )
                                        @Html.Raw(item.Refrence)
                                    </div>*@
                                </div>
                            </div>
                                QuestionCount++;
                            }
                            
                        }
                       
                    </div>
                </div>
            </div>
            <!-- Topic List-->

            <div class="col-md-3 m-0 p-0  hidden-sm hidden-xs">

                    <div class="" id="topiclist">
                        <div class="">
                            <a class="border-radius-0 btn btn-block btn-lg btn-block bgm-primary waves-effect" href="#">
                               Book Lession 
                                <i class="zmdi zmdi-long-arrow-down zmdi-hc-fw"></i>
                            </a>
                            <!-- Topic List-->
                            <ul class="list-unstyled text-right m-t-20">
                                @foreach (var i in Book.Chapters.Select((x, i) => new { item = x, Index = i }))
                                {
                                    <li class="m-b-10 m-l-10 animated flipInX">
                                        <a class="border-radius-0 btn btn-block  c-yellow bgm-primary waves-effect" href="@Url.Action("UnitWise","Workbook",new {id=i.Index ,BookId=Book.Id})">
                                            <span class="text-capitalize"> @i.item.Name</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
              
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>
<div class="clearfix"></div>

<div class="row item-position-top-70 hidden-md hidden-lg">
    <div class="">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            
            @if (ViewBag.Previous)
            {
                <div class="btn-group" role="group">

                    <a href="@Url.Action("UnitWise","Workbook",new {id=CurrentChapter-1 ,BookId=Book.Id})" type="button" class="radius-0 btn btn-primary  btn-lg waves-effect" id="btnPrevious" data-toggle="tooltip" data-placement="top" title="" data-original-title="Previous Lession"><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i></a>
                </div>
            }
            else
            {
                <div class="btn-group" role="group">

                    <a href="#" type="button" class="radius-0 btn btn-primary disabled btn-lg waves-effect" id="btnPrevious"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Previous Lession"><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i></a>
                </div>
            }
           
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning  btn-lg waves-effect" id="btnToggleSolution" data-toggle="tooltip" data-placement="top" title="" data-original-title="hide/show solution"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></button>
            </div>
            @if (ViewBag.Next)
            {
                <div class="btn-group" role="group">
                    <a href="@Url.Action("UnitWise","Workbook",new {id=CurrentChapter+1 ,BookId=Book.Id})" type="button" class="radius-0 btn btn-primary  btn-lg waves-effect" id="btnNext" data-toggle="tooltip" data-placement="top" title="" data-original-title="Next Lession"><i class="zmdi zmdi-arrow-right zmdi-hc-fw"></i></a>
                </div>
            }
            else
            {
                <div class="btn-group" role="group">
                    <a href="#" type="button" class="radius-0 btn btn-primary  btn-lg waves-effect disabled" id="btnNext" data-toggle="tooltip" data-placement="top" title="" data-original-title="Next Lession"> <i class="zmdi zmdi-arrow-right zmdi-hc-fw"></i></a>
                </div>
            }

        </div>
    </div>
</div>

<ul class="p-fixed list-unstyled m-r-10 hidden-xs hidden-sm" style="right: 0; bottom: 20%;">
    
    <li >
        <button id="nav_up" class="border-radius-0 btn btn-lg bgm-primary  waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="slide up"><i class="zmdi zmdi-chevron-up zmdi-hc-fw"></i></button>
    </li>
    <li >
        <button id="btnToggleSolution" type="button" class="border-radius-0 btn btn-lg bgm-orange waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="hide/show solution"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></button>
        @*<button id="btnToggleSolution" class="btn btn-lg bgm-orange waves-effect"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></button>*@
    </li>
    <li >
        <button id="nav_down" class="border-radius-0 btn btn-lg bgm-primary  waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="slide down"><i class="zmdi zmdi-chevron-down zmdi-hc-fw"></i></button>
    </li>
   
</ul>

@section scripts{

    <script>
        $(function() {

            var CurrentPosition = 0;
            var height = 0;
            // the element inside of which we want to scroll
            var $elem = $('.qSlider');
            var slideamount = $elem.height() / $elem.find('.qSliderItem').size();
            var TotalItems = $elem.find('.qSliderItem').size();

            // show the buttons
            $('#nav_up').fadeIn('slow');
            $('#nav_down').fadeIn('slow');

            // whenever we scroll fade out both buttons
            $(window).bind('scrollstart', function() {
                $('#nav_up,#nav_down').stop().animate({ 'opacity': '0.2' });
            });
            // ... and whenever we stop scrolling fade in both buttons
            $(window).bind('scrollstop', function() {
                $('#nav_up,#nav_down').stop().animate({ 'opacity': '1' });
            });

            // clicking the "down" button will make the page scroll to the $elem's height
            $('#nav_down').click(function(e) {

                if (CurrentPosition < TotalItems - 1) {
                    height += slideamount;
                    $('html, body').animate({ scrollTop: height }, 800);
                    CurrentPosition++;
                } else {
                    console.log("Else is running" + CurrentPosition)
                }

            });
            // clicking the "up" button will make the page scroll to the top of the page
            $('#nav_up').click(function(e) {
                if (CurrentPosition > 0) {
                    height -= slideamount;
                    $('html, body').animate({ scrollTop: height }, 800);
                    console.log("Pos" + CurrentPosition + "-" + height)
                    CurrentPosition--;
                } else {
                    console.log("Else is running" + CurrentPosition)
                }
            });


            $("button#btnToggleSolution").click(function () {
               // $elem.removeClass('linklist-ans')
                $elem.toggleClass('linklist-ans')
                slideamount = $elem.height() / $elem.find('.qSliderItem').size();
            });
        });
    </script>
}