﻿



@model IEnumerable<Scoolfirst.Model.Common.SchoolClassSubject>
@if (Model.Count() > 0)
{
    <ol class="breadcrumb">
        <li><a href="#">@Model.First().School.SchoolName</a></li>
        <li class="active"><a href="#">@Model.First().Class.RomanDisplay</a></li>

    </ol>
    foreach (var i in Model)
     {
         <div class="card">
             <div class="card-header">
                 <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordionRed" href="@string.Format("#{0}_{1}", i.Subject.SubjectName.Replace(' ', '_'), i.Id)" aria-expanded="false" aria-controls="@string.Format("{0}_{1}", i.Subject.SubjectName.Replace(' ', '_'), i.Id)" class="collapsed">
                         @i.Subject.SubjectName
                     </a>
                 </h4>
             </div>

             <div class="card-body">
                 @foreach (var item in i.Books)
                 {
                     <div class="panel panel-collapse">
                         <div class="panel-heading active" role="tab" id="@string.Format("h_{0}_{1}", item.Title.Replace(' ', '_'), item.Id)">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="@string.Format("#acc{0}_{1}", i.Subject.SubjectName.Replace(' ', '_'), i.Id)" href="@string.Format("#{0}_{1}", item.Title.Replace(' ', '_'), item.Id)" aria-expanded="true" aria-controls="@string.Format("{0}_{1}", item.Title.Replace(' ', '_'), item.Id)" class="">
                                     @item.Title
                                 </a>
                             </h4>
                         </div>
                         <div id="@string.Format("{0}_{1}", item.Title.Replace(' ', '_'), item.Id)" class="collapse in" role="tabpanel" aria-labelledby="@string.Format("{0}_{1}", item.Title.Replace(' ', '_'), item.Id)" aria-expanded="true">
                             <div class="panel-body">
                                 @Html.Action("Units", "workBook", new { id = item.Id })
                             </div>
                         </div>
                     </div>


                 }
             </div>

         </div>
     }
}
else
{
    <h2>No Candies Found :"(  </h2>
        <div class="card">

            <div class="card-header">
                <h4>Workbook</h4>
                <form action="/workbook/other/">
                    @Html.DropDownList("School", "--select School--")@Html.DropDownList("Class", "--select Class--")
                    <button>Search</button>
                </form>

            </div>
        </div>
}

@*<div class="col-sm-6 m-b-25">
        <div class="panel-group" data-collapse-color="red" id="accordionRed" role="tablist" aria-multiselectable="true">
            <div class="panel panel-collapse">
                <div class="panel-heading active" role="tab">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionRed" href="#accordionRed-one" aria-expanded="true" class="">
                            Collapse Red #1
                        </a>
                    </h4>
                </div>
                <div id="accordionRed-one" class="collapse in" role="tabpanel" aria-expanded="true">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionRed" href="#accordionRed-two" aria-expanded="false">
                            Collapse Red #2
                        </a>
                    </h4>
                </div>
                <div id="accordionRed-two" class="collapse" role="tabpanel" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                </div>
            </div>
        </div>
    </div>*@
