﻿@model Scoolfirst.ViewModel.WorkBook.ClassBooks


@UIHelper.Header("Add Books")
<section class="content">
    <div class="row">
        <div class="col-xs-12">


            <div class="box box-primary">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Details", "Schools", new { id = Model.scid }))

                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form">
                        <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(i => i.Id)
                            @Html.HiddenFor(i => i.scid)
                            @Html.HiddenFor(i=>i.clid)
                            @Html.HiddenFor(i => i.sub)
                            <div class="form-group">
                                Subject
                                @Html.DropDownList("BookId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BookId, "", new { @class = "text-danger" })
                            </div>

                            <div class="clearfix">
                                <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                                @BackUrl()
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</section>

@helper BackUrl() {
if (Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("schools/details"))
{
        <a href="@Request.UrlReferrer" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>

}
else
{
        <a href="@Url.Action("Index","Schools", new { Id=Model.Id})" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>

}
}



