﻿@model Scoolfirst.Model.Common.SchoolClassSubject
@{ 
    // Review required------------Shahid
}

@UIHelper.Header("Add Subject",null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">


            <div class="box box-primary">
                <div class="box-header">
                    <h4>@ViewBag.School - @ViewBag.Class</h4>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form">
                          
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(i=>i.SchoolId)
                            @Html.HiddenFor(i => i.ClassId)
                            <div class="form-group">
                                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = " " })
                                @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                            </div>

                            <div class="clearfix">
                                <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                               @BackUrl()
                            </div>
                        </div>
                    }
                </div>
            </div>

            </div>
</div>
</section>

@helper BackUrl() {
if (Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("/schools/details"))
{
        <a href="@Request.UrlReferrer" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
}
else
{
        <a href="/Schools/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
}
}