﻿@model IEnumerable<Scoolfirst.Model.Common.Classes>
@{
    int Id = ViewBag.Id;
}
<ul class="users-list">


    @foreach (var i in Model)
    {
        <li>
            <div class="box box-info">
                <div class="box-header">
                    @i.NumericDisplay (@i.RomanDisplay)
                    
                    <a href="/Schools/AddSubject/?Sid=@(Id)&cid=@i.Id" class="btn btn-success btn-xs pull-right"><i class="fa fa-plus"></i> Subject</a>
                </div>
                <div class="box-body">
                    @Html.Action("subjects", "schools", new { sid = Id, cid = i.Id })
                </div>
            </div>
        </li>
    }

</ul>



