﻿@model Scoolfirst.Model.Common.School

@{
// Review required------------Shahid
}


<section class="content-header">

    <h2>@Model.SchoolName <small> Manage school </small></h2>
    <a href="@Url.Action("Index","Schools")" class="btn btn-info pull-right" style="margin-top:-40px;margin-right:12px"><i class="fa fa-plus"></i></a>

    
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header">
                    <a href="@Url.Action("Edit","Schools", new { id=Model.Id})" class="btn btn-info pull-right"><i class="fa fa-edit"></i></a>
                </div>
                <div class="box-body">
                    @Html.Action("Classes", "schools", new { id = Model.Id })
                </div>
            </div>

</div>
</div>
</section>
@section scripts{
    <script>
        $("a.remove").click(
            function (e) {
                var data = $(this).data('id');
                e.preventDefault();
                if (confirm("Remove this?")) {
                    $.get($(this).attr('href'), function () {
                        $(data).remove();
                    });
                }
            })

        

    </script>
    
    
    
    }