﻿@model Scoolfirst.Model.Common.School
@{
// Review required------------Shahid
}


@{
    ViewBag.Title = "Edit";
}

@UIHelper.Header("Schools", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="box-header with-border">
                            @if (Model.Id == 0)
                            {
                                <h3 class="box-title">Add New School</h3>
                            }

                            else
                            {
                                <h3 class="box-title">Edit @Model.SchoolName</h3>
                            }

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.SchoolName,"School", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.SchoolName, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AreaId, "Area", htmlAttributes: new { @class = " " })
                            @Html.DropDownList("AreaId", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BoardId, "Board", htmlAttributes: new { @class = " " })
                            @Html.DropDownList("BoardId", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BoardId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AssementNotice, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.AssementNotice, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.AssementNotice, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FoundationNotice, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.FoundationNotice, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.FoundationNotice, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UseMasterContent, "Use Master Content", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.UseMasterContent, new { htmlattributes = new { @class = "checkbox" } })
                            @Html.ValidationMessageFor(model => model.UseMasterContent, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsMasterContent, "Is Master Content", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.IsMasterContent, new { htmlattributes = new { @class = "checkbox" } })
                            @Html.ValidationMessageFor(model => model.IsMasterContent, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, "Tick to Activate", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Active, new { htmlattributes = new { @class = "checkbox" } })
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReasonToDeactivate, "Reason to Deactivated", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.ReasonToDeactivate, new { htmlattributes = new { @class = "checkbox" } })
                            @Html.ValidationMessageFor(model => model.ReasonToDeactivate, "", new { @class = "text-danger" })
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                            @BackUrl()
                            </div>
                        </div>
                    </div>
            }
            </div>
        </div>
    </section>

@helper BackUrl()
    {
if (Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("/schools/details"))
{
        <a href="@Request.UrlReferrer" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
}
else
{
        <a href="~/Schools/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
}
}

@section Scripts {
    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
<script>tinymce.init({ selector: '.richeditor' });</script>
    
    }                            