﻿@model IEnumerable<Scoolfirst.Model.Common.School>
@{
// Review required------------Shahid
}


@{
    ViewBag.Title = "Schools";
}

@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Schools", null, "List of All Schools")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Edit","Schools", new { Id=0}),"")
                   
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped table-condensed " >
                        <thead>
                            <tr>
                                <th>School Id</th>
                                <th>School Name</th>
                                <th>Area</th>
                                <th>Use Master Content</th>
                                <th>Is Master Content</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)

  
                                    </td>
                                   <td>
                                        @Html.DisplayFor(modelItem => item.SchoolName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Area.Name)
                                    </td>
                                    <td>@item.UseMasterContent
                                    </td>
                                    <td>
                                        @item.IsMasterContent
                                    </td>
                                    <td>
                                        <div class="btn btn-group btn-sm" width="120px">
                                            <a href="@Url.Action("Edit", "Schools", new { id =item.Id })" class="btn btn-success btn-sm" ><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("Details", "Schools", new { id =item.Id })" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                            <a href="@Url.Action("Delete", "Schools", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>


                    </table>
                </div>
                <div class="box-footer">
                    @Pager.Page("/Schools/Index")
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>









