﻿@model IEnumerable<Scoolfirst.Model.Common.SchoolClassSubject>


<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item" id="ID_@item.Id">
          
          @item.Subject.DisplayName <span class="label label-info pull-right">Books</span>
            <a href="/schools/RemoveSubject?Id=@item.Id"  class="remove_Subject btn btn-danger btn-xs" data-id="ID_@item.Id" title="Remove @item.Subject.SubjectName"><i class="fa fa-minus"></i></a>   
            <a href="/Schools/Syllabus?SchoolId=@item.SchoolId&ClassId=@item.ClassId&SubjectId=@item.SubjectId" class="btn btn-success btn-xs">Syllabus</a>
            <ul class="products-list product-list-in-box">
                @foreach (var i in item.Books)
                {
                    <li class="item" id="bid_@i.Id">
                        <div class="product-img">
                            <img  src="@i.ImageUrl" alt="">
                        </div>
                        <div class="product-info">
                            <a class="product-title" href="/Chapters/BooksChapter?bookid=@i.Id">@i.Title</a>
                            <span class="product-description">@i.Author</span>
                          
                            <a href="/schools/RemoveBook?subId=@item.Id&id=@i.Id"  class="remove_Book btn btn-danger btn-xs" data-id="bid_@i.Id"><i class="fa fa-minus"></i> Remove Book</a>
                        </div>
                    </li>                    
                 }

                
            </ul>  
            <a href="/schools/Addbook?subId=@item.Id&ScId=@item.SchoolId&clid=@item.ClassId&sub=@item.SubjectId" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add book</a>      
        </li>

    }
</ul>
