﻿@model Scoolfirst.Model.WorkBook.BookClassSchoolSyllabus

@{
    ViewBag.Title = "Syllabus";
}

<section class="content">
    <div class="box">
        <div class="box-header">Syllabus</div>
        <div class="box-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal" ng-controller="MapController">
                    
                    <div class="row">
                        <div class="col-md-offset-1 col-md-7">  
                            <div>
                                <button type="button" ng-click="Add()" class="btn btn-success pull-right">Add</button>
                                <div ng-repeat="i in Map" style="border-bottom:1px dashed green; margin-bottom:2px;padding:5px">
                                    <div class="form-group">
                                        <label>
                                            Month
                                        </label>
                                        <select ng-model="i.Month" class="form-control" >
                                            <option ng-repeat="m in Month" value="{{m.val}}">{{m.Name}}</option>
                                        </select> 
                                    </div>
                                    <div class="form-group">
                                        <label>Chapters</label>
                                        <select ng-model="i.Chapters" multiple class="form-control" ng-options="options.Name for options in Chapters">
                                            @*<option ng-repeat="option in Chapters" value="option" >{{option.Name}}</option>*@
                                        </select>
                                    </div>
                                   <button class="btn btn-danger" type="button" ng-click="Remove($index)">Remove</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <pre><code>{{Map | json}}</code></pre>
                        </div>

                    </div>





                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ClassId)

                    @Html.HiddenFor(model => model.SchoolId)

                    @*@Html.HiddenFor(model => model.BookId)*@
                    <textarea type="text" ng-model="Map | json" name="Map"  class="hidden">@Html.Raw(Model.Map)</textarea>
                    @*<textarea ng-model="InterMediate | json" ng-change="change()" hidden>@Html.Raw(Model.Map)</textarea>*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-success pull-right" />
                        </div>
                    </div>
                </div>
            }
        </div>


        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</section>

@section scripts{
    <script>
        app.controller("MapController", ["$scope", function ($scope) {
             
            
            $scope.change = function () {
                $scope.Map = JSON.stringify($scope.InterMediate);
            }
            $scope.Map =@Html.Raw(Model.Map)
                $scope.Add = function () {
                $scope.Map.push({Month:1,Chapters:[]})
                }
            $scope.Remove = function (index) {
                $scope.Map.splice(index,1)
            }
            $scope.Month = [{ val: 1, Name: 'April' }, { val: 2, Name: 'May' }, { val: 3, Name: 'June' }, { val: 4, Name: 'July' }, { val: 5, Name: 'August' },{val: 5.5, Name: 'Revision Of Term -1'} ,{ val: 6, Name: 'September' }, { val: 7, Name: 'October' }, { val: 8, Name: 'November' }, { val: 9, Name: 'December' }, { val: 10, Name: 'January' }, { val: 11, Name: 'Feburary' }, { val: 12, Name: 'March' }]
            $scope.Chapters= @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Chapters, Newtonsoft.Json.Formatting.Indented, new Newtonsoft.Json.JsonSerializerSettings { ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Serialize }))
        }])




    </script>
    
    
    
    }