﻿@model IEnumerable<Scoolfirst.Model.Projects.Project>

@{
    // Review required Shahid
    ViewBag.Title = "Index";
}
@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Project",null,"List of All Project")
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create","Project"),"")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                   
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped table-condensed table-vmiddle">
                                    <thead>
                                        <tr role="row">
                                            <th>Subject Name</th>
                                            <th>Name</th>
                                           
                                            <th>Pinned</th>
                                            
                                            <th>Added On</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Category.Name</td>
                                                <td>@item.Name</td>
                                               
                                                <td>@item.Active</td>
                                                
                                                <td>@item.AddedOn</td>
                                                
                                                <td class="btn-group btn-group-sm" width="120px">
                                                    <a href="@Url.Action("Edit", "Project", new { id =item.Id })" class="btn btn-success btn-sm" ><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "Project", new { id = item.Id })" class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
