﻿@model Scoolfirst.Model.DaliyTestNameSpace.DTQuestionSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DTQuestionSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DaliyTest.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaliyTest.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id,DTI=ViewBag.DTI }) |
    @Html.ActionLink("Back to List", "Index",new { DTI = ViewBag.DTI })
</p>
