﻿@model IEnumerable<Scoolfirst.Model.DaliyTestNameSpace.DTQuestionSet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { DTI = ViewBag.DTI })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DaliyTest.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DaliyTest.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id, DTI = ViewBag.DTI }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id, DTI = ViewBag.DTI }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, DTI = ViewBag.DTI }) |
            @Html.ActionLink("Questions", "index","DTQuestions", new { QSI = item.Id, DTI = ViewBag.DTI },null) |

        </td>
    </tr>
}

</table>
