﻿@model Scoolfirst.Model.Common.Subject

@UIHelper.Header("Subjects", null)

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="box box-primary">
                    <div class="box-header with-border">
                        @if (Model.Id == 0)
                        {
                            <h3 class="box-title">Add New Subject</h3>
                        }
                        else
                        {
                            <h3 class="box-title">Edit Subject</h3>
                        }

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DisplayName,"Display Name", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubjectName,"Subject Name", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.SubjectName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SubjectName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Color,"Color Code",  htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                           
                            @Html.CheckBoxFor(model => model.ShowOnReasonibg)
                            @Html.LabelFor(model => model.ShowOnReasonibg, "Show On Reasning", htmlAttributes: new { @class = " " })
                            @Html.ValidationMessageFor(model => model.ShowOnReasonibg, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save</button>
                        <a href="~/Subject/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


