﻿@model IEnumerable<Scoolfirst.Model.Common.Subject>

@{
    ViewBag.Title = "Index";
}


@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Subjects",null,"List of All Subjects")

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Edit", "Subject", new { Id=0}), "") 
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class=" form-inline ">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-condensed table-striped " role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th>Id</th>
                                            <th>Subject</th>
                                            <th>Display Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.SubjectName</td>
                                                <td>@item.DisplayName</td>
                                                <td class="btn-group btn-group-sm" width="120px">
                                                    <a href="@Url.Action("Edit", "Subject", new { id =item.Id })" class="btn btn-success btn-sm" ><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "Subject", new { id = item.Id })"  class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                        <div class="box-footer">
                            @Pager.Page("/Subject/index")
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

