﻿@model Scoolfirst.Model.WorkBook.Trending

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Trending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfTrend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfTrend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Display)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Display)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
