﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Trending>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfTrend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Display)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfTrend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Display)
        </td>
        <td width="120px">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
