﻿
@using System.Linq;

@model Scoolfirst.ViewModel.Feed.FeedViewModel

@{
    ViewBag.Title = "Index";
}



<div class="card">
    @RenderTypeOfPost(Model.Type, Model.Feed.OnDateTime)

    <div class="card-body card-padding">
        <span class="lead">@Model.Feed.Post.Title</span>
        <div>
            @Html.Raw(Model.Feed.Post.Content)
        </div>
        @foreach (var item in Model.Feed.Post.Videos)
                {
                <div class="embed-responsive embed-responsive-16by9 m-b-10">

                    <iframe class="embed-responsive-item" src="@item.VideoUrl.Replace("youtu.be", "youtube.com/embed")" width="300" height="150" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

                </div>
                }

        <ul class="wall-attrs clearfix list-inline list-unstyled">
            <li class="wa-stats">
                <span><i class="zmdi zmdi-comments"></i> <span id="@string.Format("PostComment_"+Model.Feed.Id)" data-comment="@Model.Feed.Comments.Count()">@Model.Feed.Comments.Count()</span></span>
                <span class="active"><i class="zmdi zmdi-thumb-up"></i><span id="@string.Format("PostLikes_"+Model.Feed.Id)"> @Model.Feed.Likes.Count()</span></span>

            </li>

            <li class="wa-users">
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn btn-icon waves-effect waves-circle waves-float FavMe @(Model.FavByMe?"bgm-pink":"bgm-gray")" data-id="@Model.Feed.Id"><i class="zmdi zmdi-favorite"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn  btn-icon waves-effect waves-circle waves-float LikeMe @(Model.LikedByMe?"bgm-indigo":"bgm-gray")" data-id="@Model.Feed.Id" data-likecount="@Model.Feed.Likes.Count()" data-update="@string.Format("#PostLikes_"+Model.Feed.Id)"><i class="zmdi zmdi-thumb-up"></i> </a>

                    </li>
                    <li class="dropdown dropup">
                        <a href="#" class="dropdown-toggle bgm-green btn btn-icon waves-effect waves-circle waves-float" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-share zmdi-hc-fw"></i></a>
                        <ul class="dropdown-menu popup-button dropdown-menu-right">
                            <li role="presentation"><button class="btn bgm-blue btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-facebook"></i></button></li>
                            <li role="presentation"><button class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-twitter"></i></button></li>
                            <li role="presentation"><button class="btn btn-danger btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-google-plus"></i></button></li>
                            <li role="presentation"><button class="btn bgm-green btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-android"></i></button></li>

                        </ul>
                    </li>
                </ul>
            </li>


        </ul>

    </div>

    <div class="wall-comment-list">

        <!-- Comment Listing -->
        <div class="wcl-list" id="@string.Format("Post_"+Model.Feed.Id)">
            @foreach (var c in Model.Feed.Comments.OrderByDescending(id => id.On).Take(3).ToList().OrderBy(ig => ig.On))
                    {
                    <div class="media" id="@string.Format("Comment_"+c.Id)">
                        <a href="#" class="pull-left">
                            @Html.Action("ppic", "profile", new { Id = c.UserId })
                        </a>

                        <div class="pull-right p-0">
                            <ul class="actions">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="#">Report</a>
                                        </li>
                                        <li>
                                            <a href="#" class="deleteComment" data-target="@string.Format(c.Id.ToString())" data-comment="@string.Format("#PostComment_"+Model.Feed.Id)">Delete</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="media-body">
                            <a href="#" class="a-title">@c.User.UserName</a> <small class="c-gray m-l-10 CommentTime" data-time="@c.On">@c.On.ToString("dd MMM yyyy hh:mm:ss")</small>
                            <p class="m-t-5 m-b-0">@c.Comment</p>
                        </div>
                    </div>
                    }




            <!-- Comment form -->



        </div>
        <a href="#" class="pull-left  commentLoader" data-id="@Model.Feed.Id" data-update="@string.Format("#Post_"+Model.Feed.Id)" data-date="@DateTime.UtcNow" data-page="1">More Comments</a>
        <div class="wcl-form">
            <form class="Comment" data-target="@string.Format("#Post_"+Model.Feed.Id)" data-comment="@string.Format("#PostComment_"+Model.Feed.Id)">
                <input type="hidden" value="@Model.Feed.Id" name="id" />

                <div class="fg-line">
                    <textarea name="Comment" class="form-control auto-size p-15" placeholder="Write a comment..."></textarea>
                </div>

                <button type="submit" class="m-t-15 btn btn-primary btn-sm waves-effect pull-right">Post</button>
                <div class="clearfix"></div>
            </form>
        </div>

    </div>
</div>

@section scripts{

    <script src="~/static/CustomScript/debugHelper.js"></script>
    <script src="~/static/CustomScript/Comment.js"></script>
    <script src="~/static/CustomScript/Like.js"></script>
    <script src="~/static/CustomScript/InfinteScroll.js"></script>

}
@helper RenderTypeOfPost(PostType Type, DateTime On)
        {

switch (Type)
{
    case PostType.KNOWLEDGE_NUTRITION:
        {
                <div class="card-header bgm-blue">
                    <div class="media">
                        <div class="pull-left color c-lightgreen">
                            <img src="~/static/img/feedIcon/ic_brain_breakfast.png" class="img-responsive" />

                        </div>
                        <div class="media-body m-t-5">
                            <h2>
                                Break Brain Fast
                                <small class="dateTime CommentTime" data-Time="@On.ToString("o")">
                                    Posted on @On.ToString("dd MMM yyyy hh:mm:ss")
                                </small>
                            </h2>
                        </div>
                    </div>
                </div>
        }
        break;

    case PostType.Feed:
        {
                <div class="card-header bgm-cyan">
                    <div class="media">
                        <div class="pull-left">
                            <img src="~/static/img/feedIcon/ic_vocabulary.png" class="img-responsive" />

                        </div>
                        <div class="media-body m-t-5">
                            <h2>
                                Feed
                                <small class="dateTime CommentTime" data-Time="@On.ToString("o")">
                                    Posted on @On.ToString("dd MMM yyyy hh:mm:ss")
                                </small>
                            </h2>
                        </div>
                    </div>
                </div>
        }
        break;



}

}