﻿@using System.Linq;
@using Scoolfirst.Model.Utility;
@model IEnumerable<Scoolfirst.ViewModel.Feed.FeedViewModel>
@{
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var fileUrl = http + System.Web.Configuration.WebConfigurationManager.AppSettings["pictureServer"];
    ViewBag.Title = "Index";
   
}

@if (Request.IsAjaxRequest())
{
    @RenderPosts(fileUrl)
    <script>
        $(function () {
            bindIframe();

        })
    </script>
    return;
}


@section style{
    <style>
        .card-header {
            padding: 10px 15px 5px !important;
        }
    </style>
}

    <div id="postHolder">
        @RenderPosts(fileUrl)
    </div>
    
@section scripts{
    <script src="~/static/CustomScript/debugHelper.js"></script>
    <script src="~/static/CustomScript/Comment.js"></script>
    <script src="~/static/CustomScript/Like.js"></script>
    <script src="~/static/CustomScript/InfinteScroll.js"></script>
    <script>
        function bindIframe() {
             $('.rawContent * img').each(function () {
                var img = $(this);
                if (img.hasClass('img-responsive') === false) {
                    img.wrap('<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12"/>')
                    img.addClass('img-responsive');
                }
            })
        }
        $(function () {
            bindIframe();
        })
        function Invoke(str) {
            var url = str;

            var win = window.open(url, 'windowName', "width =900,height=800,scrollbars=no");
            var timer = setInterval(function () {
                if (win.closed) {
                    clearInterval(timer);

                    alert("Reported")
                }
            }, 1000);

        }
    </script>

}





@helper RenderPosts(string fileUrl)
{

foreach (var ir in Model)
{
    var i = ir.Feed;
        <div class="card">

            <div class="card-header bgm-primary">
                <div class="media">
                    <div class="pull-left color c-lightgreen">
                        <img src="~/static/img/feedIcon/ic_brain_breakfast.png" class="lv-img-sm" />

                    </div>
                    <div class="media-body m-t-5">
                        <h2>
                            KNOWLEDGE NUTRITION
                            
                            <small class="dateTime CommentTime" data-Time="@ir.Feed.OnDateTime.ToString("o")">
                                Posted on @ir.Feed.OnDateTime.ToString("dd MMM yyyy hh:mm:ss")
                            </small>
                        </h2>
                    </div>
                </div>
            </div>


            <div class="card-body card-padding">

                <span class="lead">@ir.Feed.Post.Title</span>

                @if (ir.Type == PostType.KNOWLEDGE_NUTRITION)
                {
                    <div class="video">
                       @Html.Action("BBF", "KnowledgeNutrition", new { Id = ir.Feed.PostId })
                    </div>
                }

                <div class="rawContent">




                    @Html.Raw(ir.Feed.Post.Content)
                </div>

                <ul class="wall-attrs clearfix list-inline list-unstyled">
                    <li class="wa-stats">
                        <span>
                            <i class="zmdi zmdi-comments"></i>
                            <span id="@string.Format("PostComment_"+ir.Feed.Id)" data-comment="@ir.Feed.Comments.Count()">@ir.Feed.Comments.Count()</span>
                        </span>
                        <span class="active"><i class="zmdi zmdi-thumb-up"></i><span id="@string.Format("PostLikes_"+ir.Feed.Id)"> @ir.Feed.Likes.Count()</span></span>

                    </li>

                    <li class="wa-users">
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn btn-icon waves-effect waves-circle waves-float FavMe @(ir.FavByMe?"bgm-pink":"bgm-gray")" data-id="@ir.Feed.Id"><i class="zmdi zmdi-favorite"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn  btn-icon waves-effect waves-circle waves-float LikeMe @(ir.LikedByMe?"bgm-indigo":"bgm-gray")" data-id="@ir.Feed.Id" data-likecount="@ir.Feed.Likes.Count()" data-update="@string.Format("#PostLikes_"+i.Id)"><i class="zmdi zmdi-thumb-up"></i> </a>

                            </li>
                            <li class="dropdown dropup">
                                <a href="#" class="dropdown-toggle bgm-green btn btn-icon waves-effect waves-circle waves-float" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-share zmdi-hc-fw"></i></a>
                                <ul class="dropdown-menu popup-button dropdown-menu-right">
                                    <li role="presentation"><button class="btn bgm-blue btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-facebook"></i></button></li>
                                    <li role="presentation"><button class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-twitter"></i></button></li>
                                    <li role="presentation"><button class="btn btn-danger btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-google-plus"></i></button></li>
                                    <li role="presentation"><button class="btn bgm-green btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-android"></i></button></li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

            <div class="wall-comment-list">

                <!-- Comment Listing -->
                <div class="wcl-list" id="@string.Format("Post_"+ir.Feed.Id)">
                    @foreach (var c in ir.Feed.Comments.OrderByDescending(id => id.On).Take(3).ToList().OrderBy(ig => ig.On))
                    {
                        <div class="media" id="@string.Format("Comment_"+c.Id)">
                            <a href="#" class="pull-left">
                                @Html.Action("ppic", "profile", new { Id = c.UserId })
                            </a>

                            <div class="pull-right p-0">
                                <ul class="actions">
                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            @if (User.Identity.Name == c.User.UserName || User.Identity.Name == c.User.PhoneNumber)
                                            {
                                                <li>
                                                    <a href="#" class="deleteComment"
                                                       data-target="@string.Format(c.Id.ToString())"
                                                       data-comment="@string.Format("#PostComment_" + i.Id)">
                                                        Delete
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="#" id="Report" onclick="javascript:Invoke('@string.Format("{0}/home/report?type={2}&PostId={1}",fileUrl,c.Id,TypeSource.FeedComment.ToString())')">Report</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="media-body">
                                <a href="#" class="a-title">@c.User.FullName</a>
                                <small class="c-gray m-l-10 CommentTime" data-time="@c.On.ToString("o")">@c.On.ToString("dd MMM yyyy HH:mm:ss 'GMT'K '(GMT Standard Time)'")</small>
                                <p class="m-t-5 m-b-0">@Html.Raw(Html.BreakedText(c.Comment))</p>
                            </div>
                        </div>
                    }




                    <!-- Comment form -->



                </div>
                <a href="#" class="pull-left commentLoader" data-id="@ir.Feed.Id" data-update="@string.Format("#Post_"+ir.Feed.Id)" data-date="@DateTime.UtcNow" data-page="1">More Comments</a>
                <div class="wcl-form">
                    <form class="Comment" data-target="@string.Format("#Post_"+ir.Feed.Id)" data-comment="@string.Format("#PostComment_"+ir.Feed.Id)">
                        <input type="hidden" value="@ir.Feed.Id" name="id" />

                        <div class="fg-line">
                            <textarea name="Comment" class="form-control auto-size p-15" placeholder="Write a comment..."></textarea>
                        </div>

                        <button type="submit" class="m-t-15 btn btn-primary btn-sm waves-effect pull-right">Post</button>
                        <div class="clearfix"></div>
                    </form>
                </div>

            </div>
        </div>
}
if (Model.Count() == 0)
{
        <h3>Sorry ! We Don't have Any more Chocholates For you :(</h3>
}
else
{
    var Page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"].ToString()) : 0;
    var Controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToUpper();

    var url = string.Format("/{1}/?page={0}", (Page + 1), Controller);
        <a class="text-center btn btn-block btn-info waves-button-input" href="@url">Load More</a>
}
}