﻿@model Scoolfirst.Model.Projects.Order

@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>

<body style="padding:0; margin:0;">

    <style>
        html {
            font-family: Verdana, Geneva, 'DejaVu Sans';
        }

        h1, a {
            font-family: 'Arial Black', Gadget, sans-serif;
        }

        p {
            font-size: 15px;
        }

        .containt {
            width: 750px;
            margin-left: auto;
            margin-right: auto;
            text-align: justify;
        }

        a {
            color: black;
        }

        .box {
            padding: 10px;
            margin: 20px;
            font-size: 30px;
            background: lightgrey;
        }

        .footer {
            min-height: 50px;
            background-color: #120e0e;
        }

            .footer p {
                color: white;
                padding: 16px;
                margin-left: 7px;
            }
    </style>
    <div style="width:800px;">
        <div style="min-height: 70px; background-image: url('http://app.upgradejr.com/Templets/Header.jpg')">
            <img src="http://exam.analyseyourself.in/newsletter/logo.png" alt="" style="padding:10px; margin-left:20px;margin-top:10px;" />
        </div>
        <div class="containt" style="text-align:center;">
            <h1 style="text-align:center; color:black;">Invoice # @Model.PrintInvoiceNo</h1>
        </div>

        <div class="containt" style=" width: 750px; margin-left: auto; margin-right: auto; text-align: justify;">
            <p>Hi @Model.Name.ToUpper(),</p>

            <p>Thanks for providing us the opportunity to do business with you.</p>

            <p>
                You will find the invoice for the recent services or products provided by us, attached with this Email.
                Please feel free to contact us at <a href="mailto:info.upgradejr@gmail.com">info.upgradejr@gmail.com</a> if you have any question or concerns about the invoice.
                Do follow us at <a href="http://facebook.com/upgradejracademy">facebook.com/upgradejracademy</a> for regular updates from us.

            </p>


           


        </div>
        <div class="containt" style=" width: 750px; margin-left: auto; margin-right: auto; text-align: justify;">
            <p>
                Regards,<br />
                Upgrade junior<br />
                c/o School first academy<br />
            </p>

        </div>
        <br /><br />
        <div class="containt" style=" width: 750px; margin-left: auto; margin-right: auto; text-align: justify;">
            <p>
            Thanks<br />
            Best Regards<br />
            Upgrade Junior Team<br />
            <a href="http://upgradejr.com">www.upgradejr.com</a>
            </p>
        </div>

        <div class="footer" style="height: 70px; background-image: url('http://app.upgradejr.com/Templets/footer.jpg'); background-repeat:no-repeat;">
            <div class="containt" style=" width: 750px; margin-left: auto; margin-right: auto; text-align: justify;">
                <br />
                <p style="color:white;margin-top:20px;">Copyright  @DateTimeOffset.Now.Year © upgrdejr.com.</p>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</body>

</html>


