﻿@model Scoolfirst.Model.VirtualCompetetion.VirtualCompetetionMainCategory

@{
    ViewBag.Title = "Details";
}



@UIHelper.Header("Main Category", null, "Delete")

<section class="content">
    <div class="row">

        <div class="col-xs-12">

            <div class="box box-primary">

                <div class="box-header">
                    <a href="@Url.Action("Index")" class="btn btn-success">Back</a>
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info">Edit</a>
                </div>
                <div>
                   
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Details)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Details)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Position)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Position)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Active)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AddedOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AddedOn)
                        </dd>

                    </dl>
                </div>
            </div>

        </div>
    </div>
</section>

