﻿@model IEnumerable<Scoolfirst.Model.VirtualCompetetion.VirtualCompetetionMainCategory>
@{
    ViewBag.Title = "Index";
}


@UIHelper.Header("Main Category", null, "List of All Main Category")

<section class="content">
    <div class="row">

        <div class="col-xs-12">

            <div class="box box-primary">

                <div class="box-header">
                    <a href="@Url.Action("Create")" class="btn btn-success">Create New</a>
                </div>
                <div class="box-body">


                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Details)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Position)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddedOn)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Details)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Position)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AddedOn)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Edit</a>
                                        <a href="@Url.Action( "Details", new { id = item.Id })" class="btn btn-success">Info</a>
                                        <a href="@Url.Action( "Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                                        <a href="/camp/VirtualCompetitonSubCategories/?catId=@item.Id" class="btn btn-primary">Sub Categories</a>
                                    </div>

                                    
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

        </div>
    </div>
</section>