﻿@model Scoolfirst.Model.DaliyTestNameSpace.DTAnswer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DTAnswer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCorrect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, QI = ViewBag.QI, DTI = ViewBag.DTI, QSI = ViewBag.QSI }) |
    @Html.ActionLink("Back to List", "Index" , new {  QI = ViewBag.QI, DTI = ViewBag.DTI, QSI = ViewBag.QSI })
</p>
