﻿@model IEnumerable<Scoolfirst.Model.DaliyTestNameSpace.DTAnswer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",new {  QI = ViewBag.QI, DTI = ViewBag.DTI, QSI = ViewBag.QSI })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCorrect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id,QI=ViewBag.QI,DTI=ViewBag.DTI,QSI=ViewBag.QSI }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id, QI = ViewBag.QI, DTI = ViewBag.DTI, QSI = ViewBag.QSI }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id, QI = ViewBag.QI, DTI = ViewBag.DTI, QSI = ViewBag.QSI })
        </td>
    </tr>
}

</table>
