﻿@model IEnumerable<Scoolfirst.Model.Projects.Product>

@{
    ViewBag.Title = "Index";
    

}

@if (Request.IsAjaxRequest())
{
    @RenderPost()
    return;
}
else
{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<h3 class="lead">Products</h3>

<div class="card">
    <div class="card-body card-padding">
        <p class="lead">
            Upgrade junior LAB is continuously innovating and adding exciting learning tools and content for different category students.
            <h5>Objectives:</h5>
            
            <ul>
                <li>To support student in school related science and social science projects.</li>
                <li>Help student in accessing best quality study tools at most reasonable price.</li>
                <li>Bringing innovative educational items such as puzzles, projects, display board etc collected from across India.</li>
            </ul>
        </p>
    </div>
</div>

<div id="postHolder">    
            @RenderPost()  
 </div>       
   



@helper RenderPost() {
var o = Model.Count() / 3;
for (var p = 0; p < o; p++)
{
        <div class="row">
            @foreach (var i in Model.OrderByDescending(i=>i.AddedOn).Skip(p*3).Take(3))
            {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-padding">
                        <h4>@i.Title</h4>
                    </div>
                    <div class="card-body card-padding">
                        @if (!string.IsNullOrWhiteSpace(i.Image))
                        {
                        <img src="@i.Image" class="img-responsive" />
                        }
                        @Html.Raw(i.ProductDisc)
                     
                        <div>
                            <span class="label label-success">&#8377; @i.Price</span>
                            <a href="@Url.Action("StoreClosed","Products",new {id=(i.Id+"-"+i.Title) })" class="pull-right btn btn-primary">Buy</a>
                        </div>
                    </div>
                    <div class="card-footer card-padding">
                        
                    </div>

                </div>
            </div>

            }
        </div>
}
if (Model.Count() == 0)
{
        <h3>Sorry ! We Don't have Any more Chocholates For you :(</h3>
}
else
{
    var Page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"].ToString()) : 0;
    var Controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToUpper();

    var url = string.Format("/{1}/?page={0}", (Page + 1), Controller);
        <a class="text-center btn btn-block btn-info waves-button-input" href="@url">Load More</a>
}



}

@section scripts{
   
    <script src="~/static/CustomScript/InfinteScroll.js"></script>
  

}
