﻿@model Scoolfirst.ViewModel.Products.StoreClose

@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="card">
    <div class="card-header ch-alt card-padding text-center">
        <h3>Sale is Off</h3>
    </div>
    <div class="card-body card-padding">
        <p>
            Upgradelab.in is continuously innovating and adding exciting learning tools and content for different category students.
            Please help us in better understanding your requirement, by clicking following option,
            I am buying it,
        </p>
        <form>
            <ol>
                <li>
                 For my own use
                   
                </li>
                <li>
                  	For creative learning of my children
                   
                </li>
                <li>
                  As a birthday gift for my children
                   
                </li>
                <li>
                As a motivation gift to my children
                    
                </li>
                <li>
                
                   As a birthday gift for our near and dear
                    
                </li>
                <li>
               
                   As a motivational gift for our near and dear
                   
                </li>
                <li>
                  For my school/institution
                </li>
                <li>
                  As a festival gift to near and dear
                </li>

            </ol>
            <p>
                Keep me updated with upgradelab.in new and exciting product, for my future transaction
            </p>
            <p>
                To make your shortlisted item delivered at your desired address, please provide delivery address, with contact details 
            
                <textarea class="form-control"></textarea>
            
            </p>
        </form>
    </div>

</div>

