﻿@model Scoolfirst.ViewModel.Products.StoreCloseVM
@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="card">
    <div class="card-header ch-alt card-padding text-center">
        <h3>Store is Close</h3>
    </div>
    <div class="card-body card-padding">
        <p>
            Upgradelab.in is continuously innovating and adding exciting learning tools and content for different category students.
            Please help us in better understanding your requirement, by clicking following option,
            I am buying it,
        </p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
             
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model=>model.Id)
                @Html.HiddenFor(model => model.Name)
                @Html.HiddenFor(model => model.Email)
                @Html.HiddenFor(model => model.PhoneNo)
                @Html.HiddenFor(model => model.ProductName)
                <ul class="list-unstyle" style="list-style:none">
                    <li>

                        <div class="radio m-b-15">
                            <label>
                                <input class="pull-right" type="radio" name="Reason" value="For my own use">
                                <i class="input-helper"></i>
                                For my own use
                              </label>
                        </div>

                        
                    </li>
                    <li>
                        <div class="radio m-b-15">
                            <label>
                                <input class="pull-right" type="radio" name="Reason" value="For creative learning of my children">
                                <i class="input-helper"></i>
                                For creative learning of my children
                            </label>
                        </div>

                        

                    </li>
                    <li>
                        <div class="radio m-b-15">
                            <label>
                                <input class="pull-right" type="radio" name="Reason" value="As a birthday gift for my children">
                                <i class="input-helper"></i>
                                As a birthday gift for my children
                            </label>
                        </div>
                     

                    </li>
                    <li>
                        <div class="radio m-b-15">
                            <label>
                                <input class="pull-right" type="radio" name="Reason" value="As a motivation gift to my children">
                                <i class="input-helper"></i>
                                As a motivation gift to my children
                            </label>
                        </div>
                        

                    </li>
                    <li>
                        <div class="radio m-b-15">
                            <label>
                                <input class="pull-right" type="radio" name="Reason" value="As a birthday gift for our near and dear">
                                <i class="input-helper"></i>
                                As a birthday gift for our near and dear
                            </label>
                        </div>
                        

                    </li>
                    <li>
                        <div class="radio m-b-15">
                            <label>
                                <input class="pull-right" type="radio" name="Reason" value="As a motivational gift for our near and dear">
                                <i class="input-helper"></i>
                                As a motivational gift for our near and dear
                            </label>
                        </div>
                        

                    </li>
                    <li>
                        <div class="radio m-b-15">
                            <label>
                                <input class="pull-right" type="radio" name="Reason" value="For my school/institution">
                                <i class="input-helper"></i>
                                For my school/institution
                            </label>
                        </div>
                        
                    </li>
                    <li>
                        <div class="radio m-b-15">
                            <label>
                                <input class="pull-right" type="radio" name="Reason" value="As a festival gift to near and dear">
                                <i class="input-helper"></i>
                                As a festival gift to near and dear
                            </label>
                        </div>
                       
                    </li>

                    <li>
                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" name="KeepMeUpdate">
                                <i class="input-helper"></i>
                                Keep me updated with upgradelab.in new and exciting product, for my future transaction
                            </label>
                        </div>
                    </li>
                </ul>
                
                <p>
                    <h5 class="text-center">
                        To make your shortlisted item delivered at your desired address, please provide delivery address, with contact details
                    </h5>
                    <textarea class="form-control"></textarea>

                </p>

             

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control",rows=5 } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-center">
                        <input type="submit" value="Order" class="btn btn-default bgm-primary" />
                    </div>
                </div>
            </div>
        }

    </div>

</div>