﻿@model Scoolfirst.Model.Payments.OfflinePayment
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(i => i.Id)
    @Html.HiddenFor(i => i.UserId)
    @Html.HiddenFor(i => i.Amount)
    @Html.HiddenFor(i => i.Description)
    @Html.HiddenFor(i => i.RequestDate)
    <div>
        Rs
        @(Model.Amount==null?0d:Model.Amount)
    </div>
    <div>
        des: @Model.Description
        <br />
        on:
        @Model.RequestDate
    </div>
    <div>
        @Html.LabelFor(t => t.Paid)
        @Html.CheckBoxFor(t => t.Paid)
    </div>
    <div class="form-group">
        @Html.LabelFor(t=>t.PaidRemaks)
        @Html.TextAreaFor(t=>t.PaidRemaks)
    </div>


    <Button>Save</Button>

}