﻿@model IEnumerable<Scoolfirst.Model.Payments.OfflinePayment>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <td>User</td>
        <td>Desc</td>
        <td>on</td>
        <td>paid</td>
        <td>actions</td>
    </tr>




    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.Email,@item.User.FullName @item.User.PhoneNumber</td>
            <td>@item.Amount</td>
            <td>@item.RequestDate</td>
            <td>@item.Paid</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </td>
        </tr>

    }

</table>

@Pager.Page("/OfflinePayments/Index")