﻿@using Scoolfirst.ViewModel
@using System.Configuration;
@using Scoolfirst.Model.Provider
@model Scoolfirst.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/School/Views/Shared/_LayoutGuest.cshtml";
}

@{
    ViewBag.Title = "Register";
}

<img src="http://static.upgradejr.com/source/logo/upgradejr.png?width=80" style="display: inherit;
                                      margin-left: auto;
                                      MARgin-right: auto;"/>
@using (Html.BeginForm("Register", "SchoolAccount", new { area = "School" }, FormMethod.Post, new { id = "registrationform", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="login-bottom">
        <h2>Register</h2>
        <div class="col-md-12">
            <div class="login-mail">
                <input type="text" id="FullName" name="Name" value="@Model.Name" placeholder="Admin Name">
                <i class="fa fa-user"></i>
            </div>
            <div class="login-mail">
                <input type="text" id="MobileNo" name="PhoneNo" value="@Model.PhoneNo" placeholder="Admin Contact No.">
                <i class="fa fa-phone"></i>
            </div>
            <div class="login-mail">
                <input type="text" id="Email" name="Email" value="@Model.Email" placeholder="Admin E-Mail">

                <i class="fa fa-envelope"></i>
            </div>
            <div class="login-mail">
                @Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "selectpicker", data_width = "88%", data_live_search = "true" })
                <i class="fa fa-envelope"></i>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="Password" required="">
                <i class="fa fa-lock"></i>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="Repeated password" required="">
                <i class="fa fa-lock"></i>
            </div>

            <ul class="list-inline login-do">
                <li>
                    <a class="news-letter" href="#">
                        <label class=""><input type="checkbox" name="checkbox"><i> </i>I agree with the terms</label>
                    </a>
                </li>
                <li class="text-right">
                    <label class="hvr-shutter-in-horizontal login-sub">
                        <input type="submit" value="Register Now">
                    </label>
                </li>
            </ul>


        </div>
        <div class="col-md-12 login-do">

            <p class="lead text-center">Already register</p>
            <a href="@Url.Action("Login", "Account", new { area = "School" })" class="hvr-shutter-in-horizontal">Login</a>
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="modal" id="otherSchool" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="exampleModalLabel">My school not listed with @HostedApplicationConfig.ApplicationName.Value()</h4>
                </div>
                <div class="modal-body">

                    <p class="text-justify">
                        Hey!
                        Upgradejr is ready with access of <strong>eight new age school and future foundation tools</strong> for you.

                        We are upgrading content and adding various features <strong>every day</strong> to make it most useful digital platform for junior students and parent.
                        <strong>
                            Only one service of upgradejr under school foundation
                        </strong> is school specific and most personal.
                    </p>
                    <p class="text-justify">
                        Till the time your school book content gets ready, we have assembled most relevant questions and topics, class wise currently taught in various top schools across INDIA.



                    </p>
                    <h3>Sound interesting……welcome on board!</h3>
                    <br/>
                    <div class="login-mail">
                        <input type="text" id="otherSchoolHolder" Placeholder="Enter your school name">
                        <i class="fa fa-school"></i>
                    </div>


                    <h5>and select any one school from existing</h5>
                    @*@Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "form-control", id="ddlSchool" })*@
                    <div class="login-mail">
                        @Html.DropDownList("SchoolId", null, htmlAttributes: new { id = "ddlSchool", data_width = "100%", data_live_search = "true" })
                        <span id="OtherHandeler"></span>
                        <i class="fa fa-school"></i>
                    </div>



                </div>
                <div class="modal-footer text-center">
                    <button type="button" id="okBtn" class="btn btn-primary bgm-primary">It's Ok, I select the school from List.</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {


    <script>
        $(function () {
            $("select#SchoolId").change(function (e) {
                var val = parseInt($(this).val());
                if(val===0)
                {
                    $('#otherSchool').modal('show')
                }
            })

            $("button#okBtn").click(function () {
                var vl = parseInt($('select#ddlSchool').val());
                var ocs = $('input#otherSchoolHolder').val();
                if (!(vl === 0 || vl === -1)) {
                    $("select#SchoolId").val(vl);
                    $("input#otherschool").val(ocs);
                    $("span#OtherHandeler").html("Your School:"+ocs)
                    $('#otherSchool').modal('hide');
                } else {
                    alert("Invalid school selected");
                }
            })
        })
    </script>

}
