﻿
@{
    ViewBag.Title = "RegistrationConfirm";
    Layout = "~/Areas/School/Views/Shared/_LayoutGuest.cshtml";

}

<img src="http://static.upgradejr.com/source/logo/upgradejr.png?width=80" style="display: inherit;
                                      margin-left: auto;
                                      MARgin-right: auto;" />
<div class="blank">
    <div class="blank-page">
        <div class="">
            <div class="row">
              

                <div class="col-md-6 col-md-offset-3" style="padding: 40px;">
                    <h3 class="text-success">Account Verify successfully</h3>
                    <p>
                        Your have successfully verify your account. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-info" })
                    </p>
                </div>
            </div>
        </div>
        
        </div>
    </div>



