﻿@model Scoolfirst.Model.Projects.Product

@{
    // Review required Shahid
    ViewBag.Title = "Create";
}

@UIHelper.Header("Products")
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = " " })
                            @Html.DropDownList("CategoryId",null,new { @class = "form-control" } )
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = " " })
                           
                            <div class="input-group">
                                @Html.EditorFor(model => model.Image, new { htmlattributes = new { @class = "form-control" } })
                                <span class="input-group-btn">
                                     <a href="http://abc.com/" class="filepicker btn btn-info btn-flat" title="upload image" style="color:white !important"><i class="fa fa-image"></i></a>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Video, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductDisc, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.ProductDisc,new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.ProductDisc, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortDisc, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.ShortDisc,new { @class = "richeditor" } )
                            @Html.ValidationMessageFor(model => model.ShortDisc, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Reedeem, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Reedeem, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Reedeem, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ShowMoney, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.ShowMoney, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShowMoney, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ShowPoints, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.ShowPoints, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShowPoints, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Price, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Price, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = " " })
                           @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "checkbox" } })
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="dtp_input1" class=" control-label">Date Time</label>
                            <div class="input-group date form_datetime " data-date-format="dd MM yyyy  HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" type="text" value="" name="AddedOn">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>

                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="/Products/Index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>

                    </div>

                </div>
            }
        </div>
    </div>
</section>




@section Scripts {
<link href="~/Content/DatePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
@FilePopUp.ModalFileFancyBox("Image")
<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
<script>tinymce.init({ selector:'.richeditor' });</script>
<script src="~/Content/DatePicker/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/DatePicker/locales/bootstrap-datetimepicker.fr.js"></script>

<script type="text/javascript">
    $(function () {
        //$('#datepicker').datetimepicker();

        //moment().format();
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            //showMeridian: 1
        });
    });

</script>
}
