﻿@model Scoolfirst.Model.Projects.Product

@{
    ViewBag.Title = "Details";
}
@UIHelper.Header("Products",null,"Product Details")
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>

                    <h3 class="box-title">Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Image)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Video)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Video)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ProductDisc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ProductDisc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShortDisc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShortDisc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Active)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AddedOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AddedOn)
                        </dd>

                    </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Edit","Products", new { id=Model.Id})" class="btn btn-success pull-right"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Index","Products")" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>


