﻿@model IEnumerable<Scoolfirst.Model.Projects.Product>

@{
    // Review required Shahid
    ViewBag.Title = "Index";
}


@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Products",null,"List Of All Products")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create","Products"),"")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                                <table class="table table-bordered table-striped table-condensed table-vmiddle">
                                    <thead>
                                        <tr role="row">
                                            <th>Title</th>
                                            <th>Active</th>
                                            <th>Added On</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td>@item.Active</td>
                                                <td>@item.AddedOn</td>
                                                <td class="btn-group btn-group-sm" width="120px">
                                                    <a href="@Url.Action("Edit", "Products", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "Products", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>


                                </table>
                            <div class="col-sm-7">
                                @Pager.Page("/Products/index")

                            </div>
                        
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    
    <!-- /.row -->
</section>
