﻿@model IEnumerable<Scoolfirst.Model.Identity.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@UIHelper.Header("User",null,"List Of All Users")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search("school","classid",new string[] {"school","student" }, "30")
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">
                          
                                @*Total User : @TempData["TotalUser"]*@
                           
                            <a href="/AppUsers/Users/Index?desending=true&type=student" class="btn btn-success">Order by Points</a>
                            
                            <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th>
                                            Phone No :
                                        </th>
                                        <th>
                                            Points | Reasoning [B][L][A]
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName) <span class="label label-info"> @Html.Action("UserActivityLast10Days", new { username = item.UserName })</span>
                                        </td>
                                        <td>
                                            @item.PhoneNumber
                                        </td>
                                        <td>
                                            @item.Points | @Html.Action("ReasoningRoots",  new { Level = "Beginner" ,userid=item.Id }) | @Html.Action("ReasoningRoots",  new { Level = "Learner", userid = item.Id }) | @Html.Action("ReasoningRoots", new { Level = "Advanced", userid = item.Id })
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                            <br />
                                            @if (item.Student_Parent_Admin != null && item.Student_Parent_Admin.ToLower() == "student")
        {
                                    <span class=" label label-@(item.IsBrandAmbesdor?"success":"danger")">Student </span>
                                    <span class="label label-info">@item.School.SchoolName , Class: @item.Class.RomanDisplay </span>
}
else
{
                                    <span class="label label-info">@item.School.SchoolName </span>
}
                                        </td>
                                        <td class="btn-group btn-group-sm">
                                            @*<a href="@Url.Action("Edit", "Users", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>*@
                                            <a href="@Url.Action("Details", "Users", new { id =item.Id })" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                            <a href="@Url.Action("Delete", "Users", new { id = item.Id })" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                            @if (item.Roles.Any(i => i.RoleId == ViewBag.Role))
        {

        }
        else if (item.Student_Parent_Admin != null && item.Student_Parent_Admin.ToLower() == "student")
        {
                                    <a href="@Url.Action("MakeStudent", "Users", new { uid = item.Id,role="student" })" class="btn btn-default btn-sm "><i class="fa fa-sliders"></i></a>
}


                                        </td>
                                    </tr>

                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @{ 
                        var url = string.Format("/AppUsers/{0}/{1}", this.ViewContext.RouteData.Values["controller"],this.ViewContext.RouteData.Values["action"]);
                    }
                    @Pager.Page(url)
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

