﻿@model Scoolfirst.Model.Identity.User

@{
    ViewBag.Title = "SchoolDetails";
   
}


@UIHelper.Header("School",null,"School Details")
<section class="content">


    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header">
                    <h3>@Model.School.SchoolName</h3>
                </div>
                <div class="box-body">
                    Modules Enabled : @Model.Modules


                    <dl class="dl-horizontal">


                        <dt>
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FullName)
                        </dd>







                        <dt>
                            @Html.DisplayNameFor(model => model.AboutMe)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AboutMe)
                        </dd>



                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.Expiry)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Expiry)
                        </dd>






                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>




                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>







                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                    </dl>



                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box">
                <div class="box-header">
                    <h3>Modules</h3>
                </div>
                <div class="box-body">
                    
                <form action="~/AppUsers/Users/modules/" method="post">
                    <div class="form-horizontal">
                        <input type="hidden" name="schoolid" value="@Model.SchoolId" />
                        <input type="hidden" name="uid" value="@Model.Id" />
                        <div class="form-group">
                            <label>Expiry</label>
                            <input type="datetime" name="Expiry" value="@Model.Expiry" />
                        </div>
                        <div class="form-group">
                            <label>Subscribed</label>
                            @Html.CheckBoxFor(i=>i.Subscribed)
                        </div>
                        <div class="form-group">
                            <label>Modules</label>
                            @Html.ListBox("ModulesSubscribed",null,new {@class="form-control" })
                        </div>
                        
                        <input type="submit" value="Save" class="btn btn-success"/>
                    </div>
                </form>

                   



                </div>
            </div>
        </div>

    </div>

   


    <div>

        
    </div>
</section>
