﻿@model Scoolfirst.Model.Identity.User

@{
    ViewBag.Title = "StudentDetails";
}

@UIHelper.Header("Student  Details",null,"")
<section class="content">


    <div class="row">

        <div class="col-md-8">
           

            <div class="box">
                <div class="box-header">
                    <h3>User</h3>
                </div>
                <div class="box-body">
                    <h4>User</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Class.RomanDisplay)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Class.RomanDisplay)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.School.SchoolName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.School.SchoolName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FullName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Student_Parent_Admin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Student_Parent_Admin)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Board)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Board)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PictureUrl)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PictureUrl)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Points)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Points)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AboutMe)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AboutMe)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DOB)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DOB)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Trial)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Trial)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Subscribed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Subscribed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Expiry)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Expiry)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RegisterdOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RegisterdOn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Sponsered)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Sponsered)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RegisterAs)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RegisterAs)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RequestedforBrandAmbesdor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RequestedforBrandAmbesdor)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsBrandAmbesdor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsBrandAmbesdor)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gender)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OtherSchool)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OtherSchool)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ConnectionId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ConnectionId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Modules)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Modules)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EmailConfirmed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EmailConfirmed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PasswordHash)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PasswordHash)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SecurityStamp)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SecurityStamp)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TwoFactorEnabled)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LockoutEndDateUtc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LockoutEnabled)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LockoutEnabled)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AccessFailedCount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccessFailedCount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                    </dl>
                </div>
                </div>

            </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header">
                            <h3>Modules</h3>
                        </div>
                        <div class="box-body">

                            <form action="~/AppUsers/Users/Singlemodules/" method="post">
                                <div class="form-horizontal">
                                    <input type="hidden" name="schoolid" value="@Model.SchoolId" />
                                    <input type="hidden" name="uid" value="@Model.Id" />
                                    <div class="form-group">
                                        <label>Expiry</label>
                                        <input type="datetime" name="Expiry" value="@Model.Expiry" />
                                    </div>
                                    <div class="form-group">
                                        <label>Subscribed</label>
                                        @Html.CheckBoxFor(i => i.Subscribed)
                                    </div>
                                    <div class="form-group">
                                        <label>Modules</label>
                                        @Html.ListBox("ModulesSubscribed", null, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>Parents Phone Number</label>
                                        @Html.TextBoxFor(i => i.ParentsNo, new { @class = "form-control" })
                                    </div>

                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                            </form>





                        </div>
                    </div>
                </div>

            </div>

  



</section>

