﻿
@model IEnumerable<Scoolfirst.ViewModel.BulkRegisterViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Upload", "Users", new { Area="AppUsers"}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <input type="file" id="upload" name="upload" />
    </div>

    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-default" />
    </div>
}
@if (Model != null)
{
   <div class="alert alert-danger">
       These records were not inserted due to errors!.
   </div>

    <table class="table table-bordered">
        <tr>
            <th>
                Who I Am
            </th>
            <th>
                Full Name
            </th>
            <th>
                Phone No.
            </th>
            <th>
               Class Name
            </th>
            <th>
              School Name
            </th>

            <th>
               Gender
            </th>
            <th>
                Email
            </th>
            <th>Error Message</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WhoIAm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @item.ClassId
                </td>
                <td>
                 
                    @item.SchoolId
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
              
                <td>@item.ErrorMessage</td>
            </tr>
        }

    </table>
}