﻿@model IEnumerable<Scoolfirst.Model.Common.GeneralKnowledge>


@{
    //Todo Change UI
    // Review required Shahid
    ViewBag.Title = "Index";
}

@UIHelper.Header("General Knowledge")


<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "GeneralKnowledge"), "")
                </div>
                <div class="box-body">
                    <ul class="list-group">


                        @foreach (var item in Model)
                        {
                            //try
                            //{
                            <li class="list-group-item">
                                <h3>

                                    @item.Title
                                </h3>
                                <div>
                                    <h4> Subject : @item.Subject</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                       
                                        <img src="@item.ImageUrl" class="" style="width:300px;height:150px" />
                                    </div>
                                    <div class="col-md-5">
                                       
                                        <iframe class="embed-responsive-item" src="@item.VideoUrl.Replace("youtu.be", "youtube.com/embed")" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="label label-info f-12" style="margin-left:10px">
                                            Date : @string.Format("{0:MM/dd/yyyy}", item.On)

                                        </span>
                                        <br /><br />
                                        <span class="label label-info f-12" style="margin-left:10px">
                                            Class : @Html.DisplayFor(modelItem => item.Class.RomanDisplay)
                                        </span>
                                        <br /><br />
                                        <div class="text-right btn btn-group  btn-sm">
                                            <a href="@Url.Action("Edit", "GeneralKnowledge", new { id = item.Id })" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("Details", "GeneralKnowledge", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                            <a href="@Url.Action("Delete", "GeneralKnowledge", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                               

                        }

                    </ul>
                </div>
                <div>
                    @Pager.Page("/GeneralKnowledge/Index")
                </div>
            </div>


        </div>
    </div>
</section>




