﻿@model Scoolfirst.ViewModel.Common.BrandingVM

@{

    ViewBag.Title = "Branding";

}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="box-title">
                        <h2>Portal Branding <small>Set company logo use in diffrent application 'or' screen. </small></h2>
                    </div>
                </div>

                <div class="box-body">


                    @using (Html.BeginForm("Branding", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(false, null, new { @class = "error-text" })


                        <div class="form-group">
                            <label>Web Portal Logo</label><br />
                            <div class="input-group">

                                @if (@Uri.IsWellFormedUriString(Model.Weblogo, UriKind.RelativeOrAbsolute))
                {
                                    <span class="input-group-addon">
                                        <img src="@Model.Weblogo" class="thumbnail input-group-addon" />
                                    </span>
                                }

                                <div class="fg-line">

                                    @Html.TextBoxFor(model => model.Weblogo, new { @class = "form-control", })
                                </div>

                                <span class="input-group-btn last">
                                    <a href="#Weblogo" class="filepicker btn btn-info btn-flat" title="upload image" style="color:white !important"><i class="fa fa-image"></i></a>
                                </span>

                            </div>
                        </div>




                        <div class="form-group">
                            <label>Mobile Portal Logo</label><br />
                            <div class="input-group">

                                @if (@Uri.IsWellFormedUriString(Model.MobileLogo, UriKind.RelativeOrAbsolute))
                {
                                    <span class="input-group-addon">
                                        <img src="@Model.MobileLogo" class="thumbnail input-group-addon" />
                                    </span>
                                }

                                <div class=" fg-line">

                                    @Html.TextBoxFor(model => model.MobileLogo, new { @class = "form-control", })
                                </div>
                                <span class="input-group-addon last">
                                    <a href="http://static.upgrde.net/filemanager/dialog.php?crossdomain=1&type=1&field_id=MobileLogo" class="filepicker">
                                        <i class="zmdi zmdi-image zmdi-hc-fw" style="font-size:50px;"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Admin Portal Logo</label><br />
                            <div class="input-group">

                                @if (@Uri.IsWellFormedUriString(Model.MobileLogo, UriKind.RelativeOrAbsolute))
                {
                                    <span class="input-group-addon">
                                        <img src="@Model.Adminlogo" class="thumbnail input-group-addon" />
                                    </span>
                                }

                                <div class="fg-line">

                                    @Html.TextBoxFor(model => model.Adminlogo, new { @class = "form-control", })
                                </div>
                                <span class="input-group-addon last">
                                    <a href="http://static.upgrde.net/filemanager/dialog.php?crossdomain=1&type=1&field_id=Adminlogo" class="filepicker">
                                        <i class="zmdi zmdi-image zmdi-hc-fw" style="font-size:50px;"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class=" pull-right btn btn-primary btn-lg waves-effect">Save</button>

                            </div>
                        </div>

                        <div class="clearfix"></div>
                    }
                </div>

            </div>
            </div>
        </div>
    </section>


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                @FilePopUp.ModalFileFancyBox("Weblogo")
                @FilePopUp.ModalFileFancyBox("MobileLogo")
                @FilePopUp.ModalFileFancyBox("Adminlogo")
            }
