﻿@model Scoolfirst.ViewModel.NoticeModel
@{
    ViewBag.Title = "GetNotice";
}

<h2>GetNotice</h2>

<form action="/Home/Notice" method="post" >
    <div class="form-group">
        <textarea name="Notice"class="form-control richeditor">
        @Model.Notice
        </textarea>
    </div>
   <div class="form-group">
       <button class="btn btn-success">Save</button>
   </div>
   
</form>


@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/tinymce/settings"></script>
    <script>tinymce.init({ selector:'.richeditor' });</script>
}