﻿@model IEnumerable<Scoolfirst.Model.Common.SideBarNav>

<div class="right-corder-container hidden-xs hidden-sm">
    <ul class="p-0 m-0 list-unstyled">
        @foreach (var i in Model)
        {
            <li>
                <button class="right-corder-container-button">
                    <img class="short-text" src="http://static.upgrde.net/source/logo/upgrageJr_logo.png?height=40" />
                    <span class="long-text">@i.Title</span>
                </button>
                <ul class="dropdown">
                    @foreach(var p in i.Menu)
                    {
                        if (!p.IsEmpty())
                        {
                            <li>
                                @p
                            </li>
                        }
                    }

                </ul>
            </li>
        }

        
        
    </ul>


</div>

