﻿<!DOCTYPE html>
<html>
<head>
    <title></title>

    @Styles.Render("~/static/css")
    <link href="~/static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">

</head>
<body>

    <div class="card">
        <div class="card-header bgm-blue">
            <h4>Search Videos From YouTube</h4>
        </div>
        <div class="card-body">
            <div class="p-10">
                <div class="form-horizontal">
                    <input type="hidden" id="updateUrl" value="@ViewBag.Id" />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-collection-video zmdi-hc-fw"></i>
                        </span>
                        <div class="fg-line">
                            <input id="query-field" type="text" class="form-control fg-line" placeholder="search video" />
                        </div>
                        <span class="input-group-addon last"><button type="button" onclick="search()" id="#search-button" class="btn btn-success"><i class="zmdi zmdi-search zmdi-hc-fw"></i>Search</button></span>

                    </div>
                    <div id="login-container" class="pre-auth">
                        This application requires access to your YouTube account.
                        Please <a href="#" id="login-link">authorize</a> to continue.

                    </div>
                </div>
            </div>
            <hr />
            <div class="col-lg-6">
                <div id="results">

                </div>
            </div>
            <div class="col-lg-6">
                <div id="video-container"></div>
                <div class="button-container">
                    <button id="prev-button" class="paging-button" onclick="previousPage();">Previous Page</button>
                    <button id="next-button" class="paging-button" onclick="nextPage();">Next Page</button>
                </div>
            </div>
           

        </div>


    </div>

    <script>
        var origin = '@Request.Url.AbsoluteUri';
    </script>
    <script src="~/static/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="~/Scripts/youtubeApi/auth.js"></script>
    <script src="~/Scripts/youtubeApi/searchPlugin.js"></script>
    <script src="~/Scripts/youtubeApi/my_uploads.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
    @FgMD.FgInit()
</body>
</html>
