﻿@model IEnumerable<Scoolfirst.Model.Projects.Order>
@using Scoolfirst.Model.Utility
@{
    ViewBag.Title = "Index";
}


@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Orders", null, "List Of All Orders")
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Orders"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Invoice</th>
                                <th>Name</th>
                                <th>Mobile No.</th>
                                <th>Product</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr title="@item.UserId">
                                <td>@item.OrderDate.GetISTShort()</td>
                                <td>@item.PrintInvoiceNo</td>
                                <td>@item.Name</td> 
                                <td> 
                                @MobileNo.Format(item.Phone)
                                @if (!string.IsNullOrWhiteSpace(item.Email))
                                {<br />
                                    <span class="label label-info">@item.Email</span>
                                }
                                </td>
                                <td>@item.Product.Title</td>
                                <td>@item.Address</td>

                                <td class="btn-group btn-group-sm" width="120px">
                                    <a href="@Url.Action("Edit", "Orders", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Details", "Orders", new { id =item.Id })" class="btn btn-info btn-sm"><i class="fa fa-info-circle"></i></a>
                                    <a href="@Url.Action("Delete", "Orders", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>

                            }
                        </tbody>


                    </table>
                </div>
            </div>
            <div class="col-sm-7">
                @Pager.Page("/Orders/index")

            </div>
        </div>
    </div>

    <!-- /.box-body -->
    <!-- /.box -->
    <!-- /.col -->
    <!-- /.row -->
</section>


