﻿@model Scoolfirst.Model.PlayReasoning.PlayRoot

@UIHelper.Header("Play", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Subject)
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category)
                            @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Content)

                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control richeditor" } })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })

                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.TimeInMinutes)
                            @Html.EditorFor(model => model.TimeInMinutes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimeInMinutes, "", new { @class = "text-danger" })

                        </div>



                        @*<div class="form-group">
                            <label for="dtp_input1" class=" control-label">Date</label>
                            <div class="input-group date form_datetime "  data-date-format="dd MM yyyy  HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" type="text" value="@Model.AddedOn" name="AddedOn">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>

                        </div>*@
                        <div class="form-group">
                            <label for="dtp_input1" class=" control-label">Publish On</label>
                            <div class="input-group date form_datetime " data-date-format="dd MM yyyy  HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" type="text" value="@Model.StartsOn" name="StartsOn">
                                @*<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>*@
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TestBrief)
                            @Html.EditorFor(model => model.TestBrief, new { htmlAttributes = new { @class = "form-control richeditor" } })
                            @Html.ValidationMessageFor(model => model.TestBrief, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Order)
                            @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Level)
                            @Html.EditorFor(model => model.Level, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Color)
                            @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TitleColor)
                            @Html.EditorFor(model => model.TitleColor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TitleColor, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Play/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</section>

@section scripts
            {
    <link href="~/Content/DatePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/tinymce/settings"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/Content/DatePicker/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function () {

            $('.form_datetime').datetimepicker();
        });

    </script>

}
