﻿@model IEnumerable<Scoolfirst.Model.PlayReasoning.PlayRoot>

@{
    ViewBag.Title = "Index";
}

@UIHelper.Header("Play", null, "List Of All Play")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Play"), " Add New")
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                <thead>
                                    <tr>
                                       
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AddedOn)
                                        </th>
                                       
                                        <th>
                                            @Html.DisplayNameFor(model => model.StartsOn)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.AddedOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StartsOn)
                                            </td>
                                           
                                            <td class="btn-group btn-group-sm" width="150px">
                                                <a href='@Url.Action("Index", "PlayQuestion" , new { id=item.Id })' class="btn btn-sm btn-info"><i class="fa fa-tags"></i> View Question</a>
                                                <a href='@Url.Action("Edit", "Play" , new { id=item.Id })' class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                                <a href='@Url.Action("Delete", "Play" , new { id=item.Id })' class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>

                                            </td>
                                        </tr>

                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/Play/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
