﻿@model Scoolfirst.Model.KDC.ArticleComment

<div class="media" id="@string.Format("Comment_"+Model.Id)">

    <a href="#" class="pull-left">
        @Html.Action("ppic", "profile", new { Id = Model.UserId })
    </a>

    <div class="pull-right p-0">
        <ul class="actions">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#">Report</a>
                    </li>
                    <li>
                        <a href="#" class="deleteComment" data-target="@string.Format(Model.Id.ToString())" data-comment="@string.Format("#PostComment_"+Model.ArticleId)">Delete</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="media-body">
        <a href="#" class="a-title">@Model.User.UserName</a> <small class="c-gray m-l-10 CommentTime" data-time="@Model.On">@Model.On.ToString("dd MMM yyyy hh:mm:ss")</small>
        <p class="m-t-5 m-b-0">@Model.Comment</p>
    </div>
</div>