﻿@model IEnumerable<Scoolfirst.ViewModel.KDC.KdcVM>
@{
    ViewBag.Title = "KDC";
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var fileUrl = http + System.Web.Configuration.WebConfigurationManager.AppSettings["pictureServer"];

}
<style>
    .affix {
        top: -27px;
        width: 100%;
    }
</style>

@using System.Collections.Generic;


    

    <div id="postHolder">
        
        <div>
            <a href="@Url.Action("New", "MYkdc")" class="a-title btn btn-success" data-spy="affix" id="newKdc">Post New KDC</a>
        </div>
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header">
                    <div class="media">
                        <div class="pull-left">
                            @Html.Action("ppic", "profile", new { Id = item.Article.UserId })
                        </div>

                        <div class="media-body m-t-5">
                            <h2>@item.Article.User.UserName<small>@item.Article.On</small></h2>
                        </div>
                    </div>
                </div>



                <div class="card-body card-padding">
                    <span class="lead">@item.Article.Title</span>
                    <p>
                        @*Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero, gravida vel diam ut, lobortis mollis quam. Morbi posuere egestas posuere. Curabitur in dui sollicitudin, lacinia magna at, laoreet sapien. Integer vitae eros nulla.*@
                        @item.Article.Solution
                    </p>
                    @if (!string.IsNullOrEmpty(item.Article.ImageUrl))
                {
                        <div class="wall-img-preview lightbox clearfix">
                            <div class="wip-item" data-src="@item.Article.ImageUrl" style="background-image: url(@item.Article.ImageUrl);">
                                <div class="lightbox-item"></div>
                            </div>
                        </div>
                    }
                    <ul class="wall-attrs clearfix list-inline list-unstyled">
                        <li class="wa-stats">
                            <span>
                                <i class="zmdi zmdi-comments"></i>
                                <span id="@string.Format("PostComment_{0}",item.Article.ID)" data-comment="@item.Article.Comments.Count()">@item.Article.Comments.Count()</span>
                            </span>
                            <span class="active">
                                <i class="zmdi zmdi-thumb-up"></i>
                                <span id="@string.Format("PostLikes_"+item.Article.ID)"> @item.Article.Likes.Count()</span>
                            </span>

                        </li>

                        <li class="wa-users">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="btn bgm-pink btn-icon waves-effect waves-circle waves-float FavMe @(item.FavByMe?"bgm-pink":"bgm-gray")" data-id="@item.Article.ID"><i class="zmdi zmdi-favorite"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn bgm-orange btn-icon waves-effect waves-circle waves-float LikeMe @(item.LikedByMe?"bgm-indigo":"bgm-gray")" data-id=" @item.Article.ID " data-update="@string.Format("#PostLikes_"+item.Article.ID)"><i class=" zmdi zmdi-thumb-up"></i> </a>

                                </li>
                                <li class="dropdown dropup">
                                    <a href="#" class="dropdown-toggle bgm-red btn btn-icon waves-effect waves-circle waves-float" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-share zmdi-hc-fw"></i></a>
                                    <ul class="dropdown-menu popup-button dropdown-menu-right">
                                        <li role="presentation"><button class="btn bgm-blue btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-facebook"></i></button></li>
                                        <li role="presentation"><button class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-twitter"></i></button></li>
                                        <li role="presentation"><button class="btn btn-danger btn-icon waves-effect waves-circle waves-float" onclick="javascript:window.open('https://plus.google.com/share?url=@Request.Url' ,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="zmdi zmdi-google-plus"></i></button></li>
                                        <li role="presentation"><button class="btn bgm-green btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-android"></i></button></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>


                    </ul>

                </div>
                <div class="wall-comment-list">

                    <!-- Comment Listing -->
                    <div class="wcl-list" id="@string.Format("Post_"+item.Article.ID)">
                        @foreach (var c in item.Article.Comments.OrderByDescending(id => id.On).Take(3).ToList().OrderBy(ig => ig.On))
                {
                            <div class="media" id="@string.Format("Comment_"+c.Id)">
                                <a href="#" class="pull-left">
                                    @Html.Action("ppic", "profile", new { Id = c.UserId })
                                </a>

                                <div class="pull-right p-0">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                @if (User.Identity.Name == c.User.UserName || User.Identity.Name == c.User.PhoneNumber)
                                                {
                                                    <li>
                                                        <a href="#" class="deleteComment" data-target="@string.Format(c.Id.ToString())" data-comment="@string.Format("#PostComment_" + c.Id)">Delete</a>
                                                    </li>}
                                                else {
                                                    <li>
                                                        <a href="#" id="Report" onclick="javascript:Invoke('@string.Format("{0}/home/report?type={2}&PostId={1}",fileUrl,c.Id,TypeSource.KDCComment.ToString())')">Report</a>
                                                    </li> }

                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="a-title">@c.User.UserName</a> <small class="c-gray m-l-10 CommentTime" data-time="@c.On">@c.On.ToString("dd MMM yyyy hh:mm:ss")</small>
                                    <p class="m-t-5 m-b-0">@c.Comment</p>
                                </div>
                            </div>
                        }




                        <!-- Comment form -->



                    </div>
                    <a href="#" class="pull-left commentLoader" data-id="@item.Article.ID" data-update="@string.Format("#Post_"+item.Article.ID)" data-date="@DateTime.UtcNow" data-page="1">More Comments</a>
                    <div class="wcl-form">
                        <form class="Comment" data-target="@string.Format("#Post_"+item.Article.ID)" data-comment="@string.Format("#PostComment_"+item.Article.ID)">
                            <input type="hidden" value="@item.Article.ID" name="id" />

                            <div class="fg-line">
                                <textarea name="Comment" class="form-control auto-size p-15" placeholder="Write a comment..."></textarea>
                            </div>

                            <button type="submit" class="m-t-15 btn btn-primary btn-sm waves-effect pull-right">Post</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>

            </div>
        }
        <a class="text-center btn btn-block btn-info waves-button-input" href="@ViewBag.Page">Load More</a>

    </div>


@section scripts{
    <script>
        var url = fileUrl1 + '/home/kdc/';
        $("#newKdc").click(function (e) {
            e.preventDefault();
            console.log(url);
            var win = window.open(url,'windowName', "width =900,height=800,scrollbars=no");
            var timer = setInterval(function () {
                if (win.closed) {
                    clearInterval(timer);

                    window.location.reload();
                }
            }, 1000);
        })
        function Invoke(str) {
            var url = str;

            var win = window.open(url, 'windowName', "width =900,height=800,scrollbars=no");
           
            var timer = setInterval(function () {
                if (win.closed) {
                    clearInterval(timer);

                    alert("Reported")
                }
            }, 1000);

        }
    </script>
    <script src="~/static/CustomScript/ArtilceComment.js"></script>
    <script src="~/static/CustomScript/ArticleLike.js"></script>

    <script src="~/static/CustomScript/InfinteScroll.js"></script>
}