﻿<div class="blank">


    <div class="blank-page">
        <h1>Hi @User.Identity.Name ! This is UpgradeJr</h1>
        <p>
           Its @DateTime.Now.AddHours(-5.5) !
        </p>
    </div>
</div>