﻿@model IEnumerable<Scoolfirst.Model.NAO.Olympiad>

@{
    ViewBag.Title = "NLO";
}
@if (Request.IsAjaxRequest())
{
@PostRender();
    return;
}

        <div role="tabpanel">
            <ul class="tab-nav" role="tablist">
                <li class="active"><a href="#home11" aria-controls="home11" role="tab" data-toggle="tab" aria-expanded="false">NLO Theory</a></li>
                <li class=""><a href="#profile11" aria-controls="profile11" role="tab" data-toggle="tab" aria-expanded="true">Test Papers</a></li>

            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home11">
                    <h3>National All Rounder</h3>
                    <div id="postHolder">
                       @PostRender()
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="profile11">
                    @Html.Action("TestList")
                </div>

            </div>
        </div>

   
@section scripts{
    <script src="~/static/CustomScript/InfinteScroll.js"></script>
}
@helper PostRender() {

    foreach (var i in Model)
    {
        <div class="card">
            <div class="card-header">
                <h6>@i.Title</h6>

            </div>
            <div class="card-body card-padding">
                <p>@Html.Raw(i.Content)</p>
            </div>
        </div>
    }
    if (Model.Count() == 0)
    {
        <h3>Sorry ! We Don't have Any  Chocholates For you :(</h3>
        <h5>We will add them Soon! :D</h5>
        
    }
    else
    {
        var Page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"].ToString()) : 0;
        var Controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToUpper();

        var url = string.Format("/{1}/?page={0}", (Page + 1), Controller);
        <a class="text-center btn btn-block btn-info waves-button-input" href="@url">Load More</a>
    }

}