﻿@model IEnumerable<Scoolfirst.Model.MCQ.QuestionSet>

@{
    ViewBag.Title = "NLOTest";
}

<h3>National All Rounder -Test</h3>
@foreach (var i in Model)
{
    <div class="card">
        <div class="card-header">
            <h6>@i.Title</h6>

        </div>
        <div class="card-body card-padding">
            <p>@Html.Raw(i.Description)</p>
        </div>
        <div class="card-footer card-padding">
            <a href="/NLO/TEST/@i.Id" class="btn btn-success card-footer-item pull-right">Take Test</a>
        </div>
    </div>
}