﻿@model Scoolfirst.Model.Common.ProjectCategory

@{
    ViewBag.Title = "Edit";
}

@UIHelper.Header("Project Category")
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="box box-primary">
                    <div class="box-header with-border">
                        @if (Model.Id == 0)
                        {
                            <h3 class="box-title">Add New Project</h3>
                        }
                        else
                        {
                            <h3 class="box-title">Edit Project Category</h3>
                        }

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name,"Subject Name", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="/ProjectCategory/Index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

