﻿@model IEnumerable<Scoolfirst.Model.Common.ProjectCategory>

@{
    ViewBag.Title = "Project Category";
}


@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Project Category",null,"List Of All Project Category")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Edit","ProjectCategory", new { id=0}),"")
                </div>
                <!-- /.box-header -->
                <div class="box-body">                
                        <div class="row">
                            
                                <table class="table table-bordered table-striped ">
                                    <thead>
                                        <tr role="row">
                                            <th>Id</th>
                                            <th>Category</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                
                                                <td class="btn-group btn-group-sm" width="120px">
                                                    <a href="@Url.Action("Edit", "ProjectCategory", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "ProjectCategory", new { id = item.Id })"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>


                                </table>
                            
                        </div>
                    <div class="box-footer">
                        @Pager.Page("/projectcategory/index")
                    </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    
    <!-- /.row -->
</section>
