﻿@model IEnumerable<Scoolfirst.Model.PeriodicAssesment.PARoot>

@{
    ViewBag.Title = "Index";
}


<div class="blank">

    <div class="blank-page">

        <div class="text-center">
            @UIHelper.Header("Exams", null, "List of All Exams")
        </div>

        @using (Html.BeginForm("Index", "exams", FormMethod.Get, new { id = "demoForm", name = "demoForm" }))
        {
            <div class="col-md-12">
                <label>Class</label>
                <div class="form-group">
                    @Html.DropDownList("cid", null, null, new { @class = "form-control", onchange = "SelectedIndexChanged()" })

                </div>
            </div>
        }



        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.Class.RomanDisplay
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.ActionLink("Students", "liststudent", new { id = item.Id },new { @class="btn btn-success"}) 

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

    function SelectedIndexChanged() {
        //Form post
        document.demoForm.submit();
    }
</script>
