﻿@model IEnumerable<Scoolfirst.Model.PeriodicAssesment.PAAttemp>

@{
    ViewBag.Title = "Liststudent";
}


<div class="blank">

    <div class="blank-page">
        <div class="text-center">
            @UIHelper.Header("Students", null, "List of Students")
        </div>

       
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </th>
                <td>Correct</td>
                <td>Wrong</td>
                <td>Skiped</td>
                <th></th>
            </tr>

            @foreach (var item in Model.OrderByDescending(i => i.RightAns))
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RightAns)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WrongAns)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkippedAns)
                    </td>

                    <td>

                        @Html.ActionLink("Report", "StudentReport", new { id = item.Id},new { @class="report btn btn-success"}) 

                    </td>
                </tr>
            }

        </table>

</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body" id="content-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(function () {

        $(".report").click(function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            $("#content-body").load(url)
            $("#modal").modal();
        })
        
    })
</script>