﻿@model IEnumerable<Scoolfirst.Model.RNM.ReasoningAnswers>
@{
    ViewBag.Title = "Report";


}
<div class="blank">

    <div class="blank-page">
        <h2 >Report</h2>
        <ul class="list-group">
            @foreach (var item1 in Model.GroupBy(i => i.Attemp))
    {

    <li class="list-group-item">
        @item1.Key.On
     
        <ul>
            @foreach (var item in item1.GroupBy(i => i.Question.Module))
                {
                <li class="list-group-item">
                    @item.Key

                    correct: @item.Count(o => o.Option.Correct == true);
                    wrong: @item.Count(o => o.Option.Correct == false);

                </li>
                }
        </ul>
    </li>


    }
        </ul>
</div>
</div>