﻿@model Scoolfirst.ViewModel.Assement.PAReport

<ul class="list-group">
    @foreach(var i in Model.Questions.Select((i,index)=>new { item=i,index=index+1}))
    {
        <li class="list-group list-group-item">
            @i.index
            
            <div class="c-pink">
                @Html.Raw(i.item.Query)
            </div>
            <span class="label label-default">@color(i.item)</span>


        </li>
    }


</ul>


@functions{

        string color(Scoolfirst.Model.PeriodicAssesment.PAQuestion question) { 
            if(Model==null)
            return "";
        if(Model.Attemp.Ans.Any(o => o.QuestionId == question.Id))
        {
            var res = Model.Attemp.Ans.First(o => o.QuestionId == question.Id);
            return question.Option.FirstOrDefault(i => i.Correct == true).Id == res.OptionId ? "Correct" : "Wrong";
        }

        return "Skipped";


    }


}