﻿@model Scoolfirst.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-sm-4">

    </div>

    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header ch-alt">
                <h1>Change password of your account.</h1>
            </div>

            <div class="card-body card-padding">
                <!-- New Password Creation -->
                <form action="@Url.Action("ChangePassword", "Manage")" method="post" role="form" id="changepasswordform">
                    @Html.AntiForgeryToken()
                    <div class="input-group m-b-20 ">
                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                        <div class="fg-line">
                            <input type="password" id="OldPassword" name="OldPassword" class="form-control" placeholder="enter your old password">
                        </div>

                    </div>

                    <div class="input-group m-b-20 ">
                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                        <div class="fg-line">
                            <input type="password" id="Password" name="NewPassword" class="form-control" placeholder="enter new password">
                        </div>

                    </div>
                    <div class="input-group m-b-20 ">
                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                        <div class="fg-line">
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="re-type new password">
                        </div>

                    </div>

                    <button type="submit" id="submitVCode" class="btn  btn-lg btn-primary pull-right m-t-15"> <i class="zmdi zmdi-lock"></i> Change Password</button>
                    <div class="clearfix"></div>



                </form>



            </div>
        </div>
    </div>
</div>
@section style
{
    <link href="~/static/vendors/bower_components/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" />

}
@section scripts
{
    <script src="~/static/vendors/bower_components/bootstrap-validator/js/bootstrapValidator.min.js"></script>

    <script type="text/javascript">

            $().ready(function () {

                // change password Form Validation
                $('#changepasswordform').bootstrapValidator({
                    //        live: 'disabled',
                    message: 'This password is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        OldPassword: {
                            group: ".fg-line",
                            validators: {
                                notEmpty: {
                                    message: 'The old password is required and cannot be empty'
                                },
                                different: {
                                    field: 'Password,ConfirmPassword',
                                    message: 'The old password cannot be the same as new password.'
                                }
                            }
                        },
                        NewPassword: {
                            group: ".fg-line",
                            validators: {
                                notEmpty: {
                                    message: 'The password is required and cannot be empty'
                                },
                                identical: {
                                    field: 'confirmpassword',
                                    message: 'The password and its confirm are not the same'
                                },
                                 different: {
                    field: 'OldPassword',
                    message: 'The old password cannot be the same as new password.'
                                    }
                            }
                        },
                        ConfirmPassword: {
                            group: ".fg-line",
                            validators: {
                                notEmpty: {
                                    message: 'The confirm password is required and cannot be empty'
                                },
                                identical: {
                                    field: 'password',
                                    message: 'The password and its confirm are not the same'
                                }
                                ,
                                different: {
                                    field: 'OldPassword',
                                    message: 'The old password cannot be the same as new password.'
                                }
                            }
                        },

                    }
                });

            });//Jquery End
    </script>
}




@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@