﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Static/css/app.min.1.css" rel="stylesheet" />

    @Styles.Render("~/Static/css")
   

  
</head>
<body class="" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <header>
        @Html.Partial("_Menu")
        <div class="clearfix"></div>
        yusuf
        @Html.Partial("_Slider")
    </header>
   
        @RenderBody()
       
       
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; @DateTime.Now.Year - @System.Configuration.ConfigurationManager.AppSettings["ProjectName"].</p>
                    <ul class="list-inline">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>    
                </div>
                </div>
            </div>
                    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Static/plugin/ResponsiveSlider/css/responsive-slider.css" rel="stylesheet" />
    <link href="~/Static/plugin/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <script src="~/Static/plugin/ResponsiveSlider/js/responsive-slider.min.js"></script>
    <script src="~/Static/plugin/ResponsiveSlider/js/jquery.event.move.js"></script>
    @*<link href="~/Static/css/app.min.2.css" rel="stylesheet" />*@
</body>
</html>
