﻿@*<section id="visit-our-store" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/art/image-background04.jpg);">
    <div class="container inner">

        <div class="row">
            <div class="col-md-8 col-sm-9 ">
                <header>
                    <h1>Customize your own model</h1>
                    <p>Magnis modipsae que voloratati andigen daepeditem quiate conecus aut labore. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam explabo.</p>
                </header>
                <a href="#" class="btn btn-large">Visit our store</a>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
</section>*@
