﻿<div class="modal fade" id="modal-contact01" tabindex="-1" role="dialog" aria-labelledby="modal-contact01" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="modal-contact01">Call Me</h4>
            </div><!-- /.modal-header -->
            <!-- ============================================================= MODAL CONTENT ============================================================= -->

            <div class="modal-body">


                <section id="contact-form">
                    <div class="container inner-xs">
                        <div class="row">
                            <div class="col-xs-12 inner-bottom-xs">

                                <h2>Have a query? Let us call you for FREE</h2>

                                <form id="contactform" class="forms" action="/Umbraco/Api/Callback/Me" method="post">

                                    <div class="row">

                                        <div class="col-sm-12">
                                            <input type="text" name="Mobile" class="form-control" placeholder="Your mobile no. (Required)">
                                        </div><!-- /.col -->

                                        

                                    </div><!-- /.row -->

                                  
                                    <button type="submit" class="pull-right btn btn-default btn-submit">Call Now</button>

                                </form>

                                <div id="response"></div>

                            </div><!-- ./col -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section>

                <!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
            </div><!-- /.modal-body -->
            <!-- ============================================================= MODAL CONTENT : END ============================================================= -->

            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        
        <!-- /.modal-footer -->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

