﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
     @{
         // for default image. This will be used when product has no image.
         var home = this.Umbraco.ContentAtRoot().First("name=@0", "Home");
         string DefaultImageId =home.siteLogo.ToString();

         IPublishedContent DefultImage;
         string MediaIds = string.Empty;
        
         string Image = null;
     }
<style>
    .page-header {
        background-image: url('http://app.upgradejr.com/static/img/web-bg.jpg');
        background-position: center -245px;
        padding: 30px 0px 0px 0px;
        margin: 0px !important;
        border-bottom: 0px;
        text-align: center;
}
    .circle-big-page-header{z-index:100;}
    .breadcrumb {
        background: transparent;
             margin-bottom: 0px; 
    }
    .page-header h1{color:white; position: relative;top: 30px; }
    .owl-dots{display:none;}
</style>


<div class="page-header">
    <h1 id="header-title" >@CurrentPage.Name</h1>
    

    <div class="circle-big-page-header">
      
        <div class="circle-inner">
            <div class="circle-inner">
                @if (CurrentPage.HasValue("icon"))
                {
                    MediaIds = CurrentPage.icon;

                    if (!string.IsNullOrWhiteSpace(MediaIds))
                    {

                        Image = MediaIds;
                        DefultImage = Umbraco.TypedMedia(Image);
                    }
                    else
                    {
                        Image = DefaultImageId;
                    }
                }
                else
                {

                    Image = DefaultImageId;
                }

                    <img id="header-circle-image" class="img-responsive img-circle" src="@Umbraco.Media(Image).url" alt="">
</div>
        </div>
    </div>



    @*<a href="#" class="btn btn-small" style="background-color:#256360">Join Now</a>*@
</div>

<div>
    <div class="container">
        <ul class="breadcrumb">
            @foreach (var ancestor in Model.Content.Ancestors().Where(x => x.IsVisible()).OrderBy(i => i.Level))
            {
                <li><a href="@ancestor.Url">@ancestor.Name</a></li>
            }
            <li>@Model.Content.Name</li>
        </ul>
    </div>
</div>
