﻿
<section id="get-started" class="tint-bg">
    <div class="container inner">
        <div class="row">
            <div class="col-sm-11 center-block text-center">
                <h1 class="single-block"><span style="display: block !important;"> Get Started With UpgradeJR.com</span>  
                    <a data-toggle="modal" href="#modal-contact01" class="btn btn-large">Get a free Call</a>
                </h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>