﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
 
    var data = CurrentPage.AncestorOrSelf(1).ourServices.First();

}



<!--=====================================================================================================================================================-->
<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->


<section id="visit-our-store" class="light-bg inner-xs">


    <div class="row">
       
         
                <ul class="list-inline service text-center hidden-sm hidden-xs">
                    @foreach (var page in data.Children)
                    {
                    <li class="service-item bow-tie ">
                        <a class="button secondary url animated rotateInUpLeft" href="@data.url">
                            <img data-placement="bottom"  rel="tooltip" title="" data-original-title="@page.Description"  alt="@page.title" src="@Umbraco.Media(page.serviceIcon).url?width=80" class="img-circle" />
                        </a>
                    </li>
                    }
                </ul>

        <div class="service-sm text-center hidden-md hidden-lg">
            @foreach (var page in data.Children)
            {
              
                    <a class="animated rotateInUpLeft" href="@data.url">
                        <img data-placement="bottom" rel="tooltip" title="" data-original-title="@page.Description" alt="@page.title" src="@Umbraco.Media(page.serviceIcon).url?width=70" class="img-circle" />
                        <h4 class="media-heading">@page.title</h4>
                        @*<div class="media">
                            <div class="media-left">
                             
                                
                            </div>
                            <div class="media-body">
                               
                                @Html.Raw(page.Description)
                            </div>
                        </div>*@
                    </a>
                

            }
        </div>






      
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->
