﻿

@model Scoolfirst.Model.Geo.Area



    @{
        ViewBag.Title = "Edit";
    }
    

@UIHelper.Header("Areas", null)
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            @if (Model.Id == 0)
                            {
                                <h3 class="box-title">Add New Area</h3>
                            }
                            else
                            {
                                <h3 class="box-title">Edit Area</h3>
                            }
                            
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = " " })
                                @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control selectpicker" })

                                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="fg-label">Area</label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PostBox,"Pin Code", htmlAttributes: new { @class = " " })
                               @Html.EditorFor(model => model.PostBox, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.PostBox, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            
                            <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                            <a href="~/Area/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                        </div>

                    </div>
                }
            </div>
        </div>
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }





