﻿@model Tuple<List<Scoolfirst.Model.Notifications.Notification>,int>

@{
    ViewBag.Title = "View";

}

@UIHelper.Header("Notification",null,"List Of All Notification")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @*@UIHelper.Search(Url.Action("CreateRnmQuestion", "ReasoningQuestions", new { sid = ViewBag.SetId }), "")*@
                    @UIHelper.Search(Url.Action("Create", "Notifications"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                <thead>
                                    <tr>
                                        <th>
                                            User
                                        </th>

                                        <th>
                                       Group
                                        </th>


                                        <th>
                                          ImageUrl
                                        </th>

                                        <th>
                                           Title
                                        </th>

                                        <th>
                                           Message
                                        </th>

                                        <th>
                                           Date
                                        </th>

                                        <th>
                                           Read
                                        </th>

                                        <th>
                                             Module
                                        </th>
                                        <th>
                                            Size
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Item1)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User)
                                            </td>
                                        
                                                <td> @Html.DisplayFor(modelItem => item.Group)</td>

                                            <td> <img src="@item.ImageUrl" height="100" width="150"/></td>

                                            <td>  @Html.DisplayFor(modelItem => item.Title)</td>

                                            <td>  @Html.DisplayFor(modelItem => item.Message)</td>

                                            <td>  @Html.DisplayFor(modelItem => item.Date)</td>

                                            <td>  @Html.DisplayFor(modelItem => item.Read)</td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Module)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Size)
                                            </td>
                                            <td class="btn-group btn-group-sm">
                                                <a href="@Url.Action("Edit", "Notifications", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("Delete", "Notifications", new { id = item.Id })" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>

                                            </td>
                                        </tr>

                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/NotificationManager/Notifications")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
       
            @Html.DisplayNameFor(model => model.Group)
     
      
            @Html.DisplayNameFor(model => model.ImageUrl)
       
            @Html.DisplayNameFor(model => model.Title)
      
            @Html.DisplayNameFor(model => model.Message)
       
            @Html.DisplayNameFor(model => model.Date)
       
            @Html.DisplayNameFor(model => model.Read)
        
            @Html.DisplayNameFor(model => model.Module)
       
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
       
            @Html.DisplayFor(modelItem => item.ImageUrl)
      
            @Html.DisplayFor(modelItem => item.Title)
      
            @Html.DisplayFor(modelItem => item.Message)
      
            @Html.DisplayFor(modelItem => item.Date)
       
            @Html.DisplayFor(modelItem => item.Read)
       
            @Html.DisplayFor(modelItem => item.Module)
       
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
