/* line 3, ../sass/zooomin.sass */
body.zooomin-noscroll {
  overflow: hidden;
}

/* line 6, ../sass/zooomin.sass */
.zooomin img,
.zooomin video {
  max-width: 100%;
  display: inline-block;
}

/* line 12, ../sass/zooomin.sass */
.zooomin {
  cursor: zoom-in;
  position: relative;
}

/* line 16, ../sass/zooomin.sass */
.zooomin .z-c {
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 100%;
  text-align: center;
}

/* line 26, ../sass/zooomin.sass */
.zooomin img,
.zooomin video {
  transition: all 0.4s ease-in-out;
  position: relative;
  z-index: 1;
}

/* line 32, ../sass/zooomin.sass */
.zooomin .z-c.zooomin {
  position: absolute;
  transition: all 0.4s ease-in-out;
  cursor: zoom-out;
}

/* line 38, ../sass/zooomin.sass */
.zooomin .z-c.zooomin img,
.zooomin .z-c.zooomin video {
    margin-left:-330px;
    margin-top:55px;
  z-index: 4000;
}

/* line 44, ../sass/zooomin.sass */
.zooomin .z-c.zooomin-animating img,
.zooomin .z-c.zooomin-animating video {
  z-index: 4000;
}

/* line 49, ../sass/zooomin.sass */
.zooomin .z-c.zooomin-animating {
  position: absolute;
}

/* line 53, ../sass/zooomin.sass */
.zooomin .z-c.zooomin-animating:before {
  visibility: visible;
  opacity: 0;
  z-index: 4000;
}

/* line 60, ../sass/zooomin.sass */
.zooomin .z-c.zooomin:before {
  visibility: visible;
  opacity: 1;
  z-index: 20;
  transition: visibility 0s linear, opacity 0.3s;
}

/* line 66, ../sass/zooomin.sass */
.zooomin .z-c:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear, opacity 0.3s;
}

/* line 81, ../sass/zooomin.sass */
.zooomin .z-c {
  position: relative;
}
/* line 83, ../sass/zooomin.sass */
.zooomin .z-c .zooomin-caption {
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s, bottom 1s;
  bottom: -10px;
  right: 0;
  left: 0;
  padding: 20px;
}
/* line 92, ../sass/zooomin.sass */
.zooomin .z-c .zooomin-caption article {
  color: #000;
  transition: opacity 1s;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
/* line 98, ../sass/zooomin.sass */
.zooomin .z-c .zooomin-caption.viewable {
  z-index: 5000;
  opacity: 1;
  bottom: 0;
  right: 0;
  left: 0;
}
