﻿
@{
    ViewBag.Title = "CreateQuestion";
}

@UIHelper.Header("Questions", null)

<section class="content" ng-controller="QuizControl" ng-init="Exec('@ViewBag.Id','@ViewBag.SetId')">
    <div class="row">

        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header">
                    <h3>Create</h3>
                </div>
                <div class="box-body">              
                            
                    <div class="form-group">
                        <label>
                            Subject
                        </label>
                        <input ng-model="Model.McqQuestion.Subject" class="form-control" />
                    </div>

                              
                    <div class="form-group">
                        <label> Unit </label>
                        <input ng-model="Model.McqQuestion.Unit" class="form-control" />
                    </div> 
                    <div class="form-group">
                        <label> Query</label>
                        <textarea ng-model="Model.McqQuestion.Query" class="form-control"></textarea>
                    </div>
                    
                   
                              

                                <ul class="list-group">
                                    <li class="list-group-item-heading list-group-item">
                                        Options
                                    </li>
                                    <li class="list-group-item" ng-repeat="item in Model.McqQuestion.Option">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="item.Correct" /><span>Right Answer</span>
                                            </span>
                                            <textarea ng-model="item.Answer" class="form-control"></textarea> 
                                            <span class="input-group-btn"><button ng-click="removeOption($index)" class="btn btn-danger" style="margin-left:10px"><i class="fa fa-trash"></i></button></span>
                                        </div>
                                        
                                       
                                        
                                    </li>
                                    <li class="list-group-item">
                                        <button ng-click="addOption()" class="btn btn-primary">Add Option</button>
                                    </li>
                                </ul>
  
                        </div>
                <div class="box-footer">
                    <button ng-click="sendData()" class="btn btn-success pull-right ">Save Changes</button>
                    <a href="/McqQuestions/Index/@ViewBag.SetId" class="btn btn-danger  pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                </div>
                    </div>
            </div>
        </div>
    </section>
                    @section scripts{

                        <script src="~/Scripts/MCQQuiz/McqQuiz.js"></script>
                    }
