﻿@model Scoolfirst.Model.MCQ.McqQuestion

@{
    ViewBag.Title = "Details";
}

@UIHelper.Header("Questions")
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>

                    <h3 class="box-title">Question Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl>
                        <dt>Subject</dt>
                        <dd>@Model.Subject</dd>                        
                        <dt>Unit</dt>
                        <dd>@Model.Unit</dd>
                        <dt>Query</dt>
                        <dd>@Model.Query</dd>
                        

                    </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("CreateQuestion", "McqQuestions", new { id=Model.Id,sid=Model.SetId})" class="btn btn-success pull-right"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Index", "McqQuestions", new { id=Model.SetId})" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>


