﻿@model IEnumerable<Scoolfirst.Model.MCQ.McqQuestion>

@{
    ViewBag.Title = "Index";
}
@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
<input type="hidden" value="@ViewBag.SetId" />
@UIHelper.Header("Questions", null, "List of All Questions")
<section class="content">
    <div class="row">

        <div class="col-xs-12">  
                     
            <div class="box box-primary">
                
                <div class="box-header">
                    @UIHelper.Search(Url.Action("CreateQuestion","McqQuestions", new { sid = ViewBag.SetId }),"")
                    @*@Html.ActionLink("Create New", "CreateQuestion", new { sid = ViewBag.SetId }, null)*@
                </div>
                <div class="box-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-heading">
                               Details  
                        </li>

                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">
                                <div>
                                    <div>
                                        @Html.Raw(item.Query)
                                    </div>
                                    <span class="label label-info"><i class="fa fa-tag"></i> @item.Subject</span>
                                    <span class="label label-info"><i class="fa fa-tags"></i> @item.Unit</span>
                                    
                                </div>
                                <div class="btn btn-group-sm btn-group ">


                                    <a href="@Url.Action("CreateQuestion", "McqQuestions",new { id = item.Id, sid = ViewBag.SetId })" class="btn btn-success  btn-sm"><i class="fa fa-edit"></i>Edit</a>
                                    <a href="@Url.Action( "Details","McqQuestions", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-eye"></i> Details</a>
                                    <a href="@Url.Action( "Delete","McqQuestions", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>


                                </div>  
                               
                            </li>

                        }

                    </ul>
                </div>
            </div>

</div>
</div>
</section>