﻿<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1> <a class="navbar-brand" href="index.html">UpgradeJr</a></h1>
    </div>
    <div class="border-bottom">
        <div class="full-left">
            <section class="full-top">
                <button id="toggle"><i class="fa fa-arrows-alt"></i></button>
            </section>
            @*<form class=" navbar-left-right">
                <input type="text" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
                <input type="submit" value="" class="fa fa-search">
            </form>*@
            <div class="clearfix"> </div>
        </div>


        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="drop-men">
            <ul class="nav_1">

                @Html.Partial("_Notification")
                @Html.Partial("_Profile")
               
            </ul>
        </div><!-- /.navbar-collapse -->
        <div class="clearfix">

        </div>
</div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="@(this.Url.Action("Index","Dashboard"))" class="hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
                    </li>
                    <li>
                        <a href="@(this.Url.Action("Referal","Dashboard"))" class="hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Users</span> </a>
                    </li>

                    <li><a href="@(this.Url.Action("Logoff","Account",new {area=""}))" class="hvr-bounce-to-right"><i class="fa fa-sign-in nav_icon"></i>LogOff</a></li>
                    @*<li><a href="signup.html" class="hvr-bounce-to-right"><i class="fa fa-sign-in nav_icon"></i>Singup</a></li>*@

                </ul>
            </div>
        </div>
</nav>

