﻿<li class="dropdown">
    <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class="name-caret">@User.Identity.Name<i class="caret"></i></span><img src="~/Areas/School/Content/images/wo.jpg"></a>
    <ul class="dropdown-menu " role="menu">
        <li><a href="#"><i class="fa fa-user"></i>Edit Profile</a></li>
        <li><a href="#"><i class="fa fa-calendar"></i>Calender</a></li>
    </ul>
</li>
