﻿@model Scoolfirst.ViewModel.ConnectedSchool.ConnectedSchoolViewModel
@{
    ViewBag.EnableSidebar = false;
    var Classes = (SelectList) ViewBag.ClassId;
    //var apiserver = "/api/AC?St=";
    Layout = "~/Views/Shared/_Layout_User_SideBar.cshtml";
    var firstItem = 0;
}

<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 bar-info">
                                <div class="form-group fg-float m-b-30">
                                    <div class="fg-line ">
                                        <div class="btn-group " data-toggle="buttons">
                                            @foreach (var item in Classes)
                                    {
                                                <label class="btn btn-sm btn-primary @(item.Selected?"active":"") ">
                                                    <input type="radio" name="ClassId" value="@item.Value" id="@string.Format("Class", item.Value)" autocomplete="off" @( item.Selected ? "checked='checked'" : "") />
                                                    @item.Text
                                                </label>
                                    }

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 bar-info">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        @if (Model.Type == "PL")
                                {
                                            @Html.DropDownList("SchoolId", null, "Select School", htmlAttributes: new { @class = "selectpicker", data_width = "100%", data_live_search = "true", disabled = "disabled" })
                                }
                                else
                                {
                                            @Html.DropDownList("SchoolId", null, "Select School", htmlAttributes: new { @class = "selectpicker", data_width = "100%", data_live_search = "true" })
                                }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-header child ch-alt p-0  o-auto">

                                    <ul class="tab-nav  bgm-white" role="tablist" data-tab-color="amber">

                                        @foreach (var i in ViewBag.Subjects)
                                {

                                            <li class="@(Url.RequestContext.HttpContext.Request.QueryString["id"]!=null?int.Parse(Url.RequestContext.HttpContext.Request.QueryString["id"].ToString())==i.SubjectId?"active":"":firstItem ==0?"active":"")">
                                                <a class="c-blue" role="tab"  aria-expanded="false" href="/ConnectedSchool?Type=@Model.Type&SchoolId=@Model.School&ClassId=@Model.Class&SubjectId=@i.Id" >
                                                    @i.DisplayName
                                                </a>
                                            </li>
                                    firstItem++;
                                }
                                    </ul>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input type="text" name="serach" class="form-control" placeholder="Search A Topic" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body"></div>
                </div>
            </div>


        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                @if (Model.IsSearch)
                {
                    <div class="card">
                        <div class="card-header">
                            <h4>Search Result <i class="fa fa-bookmark pull-right"></i></h4>
                        </div>
                    </div>
                }
                <div class="card">
                    <div class="card-header">
                        <h4>Trending <i class="fa fa-bookmark pull-right"></i></h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            @foreach (var i in Model.Trending)
                            {
                                <li class="list-group-item">
                                    <a href="/ConnectedSchool/topic/@Model.Type/@i.Id">@i.Title</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-md-5">
                <div class="card  bgm-primary col-w">
                    <div class="card-body">
                        <ul class="nav nav-pills nav-stacked">

                            <li>
                                <a href="#" class="c-white">SYNERGIC TRAINER</a>
                            </li>
                            <li @(Model.Type == "TT" ? "class=active" : "")><a class="c-white" href="/ConnectedSchool?Type=TT">Toss Topic</a></li>
                            <li @(Model.Type == "PL" ? "class=active" : "")><a class="c-white" href="/ConnectedSchool?Type=PL">Progressive Learning</a></li>
                            <li @(Model.Type == "RN" ? "class=active" : "")><a class="c-white" href="/ConnectedSchool?Type=RN">Revision Note</a></li>

                        </ul>

                        <div class="description p-10 c-white">

                            @switch (Model.Type)
                            {
                                case "TT":
                                    {
                                        <div>
                                         <h4 class="c-white" >What is Toss Topic?</h4>   
                                           
                            <p>
                                
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            
                            </div>
                                    }
                                    break;
                                case "PL":
                                    {
                                       <div> <h4 class="c-white">What is Progressive Learning?</h4>

                                        <p>

                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p></div>
                                    }
                                    break;
                                case "RN":
                                    {
                                        <div><h4 class="c-white">What is Revision Note?</h4>

<p>

    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
                            </div>
                                    }
                                    break;
                            }
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
@section scripts
{
<link href="~/static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />
<script src="~/static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script>
    $("label").click(function () {
                            console.log($("label").button('toggle').html());
                            // $("#frmConnectedSchool").submit();

                        })
</script>
}