﻿@model Scoolfirst.ViewModel.ConnectedSchool.ConnectedSchoolViewModel
@{
    ViewBag.EnableSidebar = false;
    var Classes = (SelectList)ViewBag.ClassId;
    //var apiserver = "/api/AC?St=";
    Layout = "~/Views/Shared/_Layout_User_SideBar.cshtml";
    var firstItem = 0;
    string CurrentModule = string.Empty;
    if(Url.RequestContext.HttpContext.Request.QueryString["Type"] != null)
    {
        CurrentModule = Url.RequestContext.HttpContext.Request.QueryString["Type"];
    }
}



<div class="card">
    <div class="card-header parent ch-alt p-0 full-width-tabs">
        <ul class="tab-nav " role="tablist" data-tab-color="amber">
          
            <li  class="@(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="TT"?"active":"":"") bgm-primary" >
                <a class="c-white p-t-10 p-b-10"  href="/ConnectedSchool?Type=TT" aria-controls="cc_tossTopic" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Search and practice questions collated from different school books relevant to your class. Select chapter from trending topics or search questions from your shortlisted chapter." title="" data-original-title="What is Toss Topic?" aria-describedby="popover453295">
                    Toss Topic
                </a>
            </li>
            <li   class="@(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="PL"?"active":"":"") bgm-bluegray">
                <a class="c-white  p-t-10 p-b-10"  href="/ConnectedSchool?Type=PL" aria-controls="cc_progressiveLearning" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Search advance questions, from current class chapters for Advance learning of next class. Practice relevant questions topic and chapter wise from different schools for future foundation." title="" data-original-title="What is Progressive Learning?" aria-describedby="popover453295">
                    Progressive Learning
                </a>
            </li>
            <li   class="@(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="RN"?"active":"":"") bgm-primary">
                <a class="c-white  p-t-10 p-b-10"  href="/ConnectedSchool?Type=RN" aria-controls="cc_revisionNote" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Interesting and to the point revision note on shortlisted given topics. Regular update of important topics relevant to various class with interesting and latest updates." title="" data-original-title="What is Revision Note?" aria-describedby="popover453295">
                    Revision Note
                </a>
            </li>

        </ul>
    </div>
    <div class="card-body">
       <div class="tab-content p-0">
            <!--Chapter Worbook Tab Panel Centent-->
           @{
               firstItem = 0;
           }
            <div role="tabpanel" class="@(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="TT"?"active":"":"") tab-pane" id="cc_tossTopic">
                
                @Html.Partial("SearchUI", Model)
                @Html.Partial("SearchedTopicList",Model)
                @Html.Partial("TrandingTopicList", Model)

            </div>
          
            <!--Test Worbook Tab Panel Centent-->
            <div role="tabpanel" class="@(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="PL"?"active":"":"") tab-pane" id="cc_progressiveLearning">

                @Html.Partial("SearchUI", Model)
                @Html.Partial("SearchedTopicList", Model)
                @Html.Partial("TrandingTopicList", Model)

            </div>
        
        
            <div role="tabpanel" class="@(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="RN"?"active":"":"")  tab-pane" id="cc_revisionNote">

                @Html.Partial("SearchUI", Model)
                @Html.Partial("SearchedTopicList", Model)
                @Html.Partial("TrandingTopicList", Model)
            </div>

        </div>





    </div>
</div>


@section scripts
{
    <link href="~/static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />
    <script src="~/static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script>
        $("label").click(function () {
            console.log($("label").button('toggle').html());
            // $("#frmConnectedSchool").submit();

        })
    </script>
}
