﻿

@model Scoolfirst.Model.WorkBook.Chapter



@{
    ViewBag.EnableSidebar = false;
    ViewBag.Title = "Connected School";
    //var Book = (Scoolfirst.Model.WorkBook.Books)ViewBag.Books;
    //int CurrentChapter = int.Parse(ViewContext.RouteData.Values["Id"].ToString());
    //int count = 1;
    //int QuestionCount = 1;
    //var Subjects = (IEnumerable<Scoolfirst.Model.Common.SchoolClassSubject>)ViewBag.Subjects;
    //var Classes = (SelectList)ViewBag.ClassId;
}
<div id="affix_cc" class="p-10" style="z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    background: #ffcd39;
    left: 0;">


</div>
<div class="card">
    <div class="card-header bgm-primary p-0 full-width-tabs">
        <div class="card-header child  p-0  full-width-tabs">

        </div>
        <div class="media">

            <div class="media-body">



            </div>
        </div>


    </div>
    <div class="card-body">
        <div class="bgm-yellow p-10">


            <ul class="actions">
                <li>
                    <span class="lead">
                        @*@Book.Chapters.OrderBy(i => i.Id).Skip(CurrentChapter * 1).FirstOrDefault().Name*@
                    </span>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    @*<ul class="dropdown-menu dropdown-menu-right">

                            @foreach (var i in Book.Chapters.Select((x, i) => new { Value = x, Index = i }))
                            {
                                <li class="text-left">
                                    <a style="text-align:left!important" href="@Url.Action("UnitWise","ConnectedSchool",new { Id = i.Index, bookid = Book.Id,UnitName=i.Value.Name.StripUrl(),School=Session["SchoolName"].ToString().StripUrl(),Class=Session["Class"].ToString().StripUrl() })">
                                        @i.Value.Name
                                    </a>
                                </li>
                            }
                        </ul>*@
                </li>
            </ul>
        </div>
        <div class="row m-0">
            <!-- Question List-->
            <div class="col-md-9 m-0 p-0 m-b-30">
                <div class="listview lv-bordered lv-lg m-l-30">

                    <!-- Question Ans Section-->
                    <div class="lv-body linklist">
                        @foreach (var item in Model.Notes)
                        {
                           
                           

                                <div class="lv-item lv-q-ans media ">
                                    @*<div class="pull-left m-0 p-r-10">
                                            <div class="lv-avatar m-r-0">Q.@QuestionCount</div>
                                        </div>*@
                                    <div class="media-body m-l-10">
                                        <div class="lv-question">

                                            @Html.Raw(item.Topic)
                                        </div>

                                        <div  class="lv-answer card-body p-5  bgm-lime">

                                            @Html.Raw(item.RevisonMatter)
                                        </div>

                                    </div>
                                </div>

                           

                        }

                    </div>
                </div>
            </div>
            <!-- Topic List-->

            <div class="col-md-3 m-0 p-0 bgm-primary hidden-sm hidden-xs">

                <div class="m-b-0">

                    <div class="card-header ch-alt">

                    </div>

                    <div class="@*card-body c-white*@ m-l-10" id="topiclist">
                        <div class="listview linklist">

                            <!-- Topic List

                                -->



                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="clear-fix"></div>
</div>
@*<button class="btn bgm-cyan btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
<div class="row item-position-top-70">
    <div class="">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">



            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning  btn-lg waves-effect" id="btnToggleSolution">Solution</button>
            </div>


        </div>
    </div>
</div>*@