﻿@model Scoolfirst.ViewModel.ConnectedSchool.ConnectedSchoolViewModel
@{
    ViewBag.EnableSidebar = false;
    var Classes = (SelectList)ViewBag.ClassId;
    //var apiserver = "/api/AC?St=";
    var firstItem = 0;
    string CurrentModule = string.Empty;
    if (Url.RequestContext.HttpContext.Request.QueryString["Type"] != null)
    {
        CurrentModule = Url.RequestContext.HttpContext.Request.QueryString["Type"];
    }
}
<div class="card-body card-padding">
    <form method="GET" action="@(this.Request.Url)" class="form-horizontal" role="form">
        <!--hidden input-->
        @Html.HiddenFor(model => model.Type)
        @Html.Hidden("SubjectId", Model.Subject)
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Select Class</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <div class="btn-group " data-toggle="buttons">
                        @foreach (var item in Classes)
                        {
                            <label class="btn btn-sm btn-primary bgm-bluegray disabled @(item.Selected?"active":"")">
                                <input type="radio" name="ClassId" value="@item.Value" id="@string.Format("Class", item.Value)" autocomplete="off" @( item.Selected ? "checked='checked'" : "") class="disabled"  disabled/>
                                @item.Text
                            </label>
                        }

                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Select School</label>
            <div class="col-sm-8">

                <div class="fg-line">
                    
                    @if (Model.Type == "TT")
                    {
                    @Html.DropDownList("SchoolId", null, "Select School", htmlAttributes: new { @class = "selectpicker", data_width = "100%", data_live_search = "true", disabled = "disabled" })
                    }
                   
                    else
                    {
                        @Html.DropDownList("SchoolId", null, "Select School", htmlAttributes: new { @class = "selectpicker", data_width = "100%", data_live_search = "true" })
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Select Subject</label>
            <div class="col-sm-8">

                <div class="fg-line">
                    
                    <ul class="tab-nav  bgm-white" role="tablist" data-tab-color="amber">
                        
                        @foreach (var i in ViewBag.Subjects)
                        {

                            <li class="@(Url.RequestContext.HttpContext.Request.QueryString["SubjectId"]!=null?int.Parse(Url.RequestContext.HttpContext.Request.QueryString["SubjectId"].ToString())==i.Id?"active":"":firstItem ==0?"active":"")">
                                <a class="c-blue" role="tab" aria-expanded="false" href="/ConnectedSchool?Type=@Model.Type&SchoolId=@Model.School&ClassId=@Model.Class&SubjectId=@i.Id">
                                    @i.DisplayName
                                </a>
                                @if (Url.RequestContext.HttpContext.Request.QueryString["SubjectId"] != null && int.Parse(Url.RequestContext.HttpContext.Request.QueryString["SubjectId"].ToString()) == i.Id)
                                {
                                    <input type="hidden" name="SubjectId" value="@i.Id"/>
                                }
                                
                            </li>
                            firstItem++;
                        }
                    </ul>
                </div>
            </div>
        </div>
        
        @if (Model.Type != "RN")
        {
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Topic</label>
                <div class="col-sm-8">

                    <div class="fg-line">
                        @(this.Html.TextBoxFor(model => model.Topic, new { @class = "form-control", placeholder = "Enter topic name" }))
                        @*<input type="text" name="serach"  />*@
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-sm">Search</button>
                </div>
            </div>
        }
    </form>






</div>