﻿@using Scoolfirst.ViewModel.ConnectedSchool
@model Scoolfirst.ViewModel.ConnectedSchool.ConnectedSchoolViewModel

@if (Model.IsSearch)
{
    <div class="p-10">
        <span class="lead">Search Result:-</span>

            <ul class="list-inline">
                @foreach (var i in this.Model.SearchResult)
                {
                    <li>
                        <a href="/ConnectedSchool/topic/@Model.Type/@i.Id">@i.Title</a>
                    </li>
                }
            </ul>

    
    </div>
}



