﻿@*
// This view use to display chaper & Test workbook list..
    // Chapert workbook contain list of all book, subject and it's topic   
*@
@{
    ViewBag.EnableSidebar = false;
    int firstItem = 0;
    var Classes = (SelectList)ViewBag.ClassId;
}


@model IEnumerable<Scoolfirst.Model.Common.SchoolClassSubject>
<div id="affix_cc" class="p-10" style="z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    background: #ffcd39;
    left: 0;">

    <form action="@Url.Action("school","ConnectedSchool")" id="frmConnectedSchool" method="GET" class="form-inline">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            @*<b>Choose School</b>*@    @Html.DropDownList("SchoolId", null, "Select School", htmlAttributes: new { @class = "selectpicker", data_width = "100%", data_live_search = "true" })
                        </div>
                        <div class="col-md-5 col-xs-12">
                            <div class="btn-group " data-toggle="buttons">
                                @foreach (var item in Classes)
                    {
                                    <label class="btn  btn-primary  @(item.Selected?"active":"") ">
                                        <input type="radio" name="ClassId" value="@item.Value" id="@string.Format("Class", item.Value)" autocomplete="off" @(item.Selected ? "checked='checked'" : "") />
                                        @item.Text
                                    </label>
                    }
                            </div>
                        </div>

                        <div class="col-md-1 col-xs-12">
                            <button type="submit" class="btn btn-success">Search</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("Index","ConnectedSchool")" class="btn bgm-pink waves-effect">Go to TOSS TOPIC</a>
                </div>

            </div>
        </div>

    </form>
</div>

<div class="clearfix"></div>
@if (Model.Count() > 0)
{
    <div class="card m-t-10">
        <div class="card-header  p-0 full-width-tabs">
            
             

                <ul class="tab-nav" role="tablist" data-tab-color="amber">

                    <li class="active bgm-primary">
                        <a class="c-white" role="tab" data-toggle="tab" aria-expanded="false" href="#chapter_workbook" aria-controls="chapter_workbook">
                            Chapter Workbook
                        </a>
                    </li>
                    <li class="bgm-teal-dark">
                        <a class="c-white" role="tab" data-toggle="tab" aria-expanded="false" href="#test_workbook" aria-controls="test_workbook">
                            Test Workbook
                        </a>
                    </li>


                </ul>


</div>
        <div class="card-body">

            <div class="tab-content p-0">
                <!--Chapter Worbook Tab Panel Centent-->
                <div role="tabpanel" class="tab-pane active" id="chapter_workbook">

                    <div class="card" id="workbook">
                        <div class="card-header child  p-0  full-width-tabs o-auto">
                            <!--Preparing Subject Listing UI Start-->

                            <ul class="tab-nav  bgm-white" role="tablist" data-tab-color="amber">
                                @foreach (var i in Model.ToList())
                                {
                                    <li class="@(firstItem==0?"active":"") bgm-shadeEven">
                                        <a class="c-white" role="tab" data-toggle="tab" aria-expanded="false" href="@string.Format("#subject_{0}", i.Id)" aria-controls="@string.Format("subject_{0}", i.Id)">
                                            @i.Subject.SubjectName
                                        </a>
                                    </li>
                                    firstItem++;
                                }


                            </ul>
                            <!--Preparing Subject Listing UI End-->
                            @*<button id="btnToggleSolution" class="btn bgm-cyan btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>*@

                        </div>
                        @*<div class="card-header full-width-tabs  child ch-alt o-auto p-0">

                            <ul class="tab-nav bgm-white" role="tablist" data-tab-color="amber">
                               
                                @foreach (var i in Model.ToList())
                                {

                                    <li class="@(firstItem==0?"active":"")">
                                        <a class="c-white" role="tab" data-toggle="tab" aria-expanded="false" href="@string.Format("#subject_{0}", i.Id)" aria-controls="@string.Format("subject_{0}", i.Id)">
                                            @i.Subject.SubjectName
                                        </a>
                                    </li>
                                    firstItem++;
                                }
                            </ul>
                        </div>*@

                        <div class="card-body card-padding">

                            <div class="tab-content p-0">
                                @{ firstItem = 0; }
                                @foreach (var i in Model.ToList())
                {
                            <!--Tab Panel Centent-->
                                    <div role="tabpanel" class="tab-pane @(firstItem==0?"active":"")  " id="@string.Format("subject_{0}", i.Id)">
                                        @{ firstItem++; }


                                        <!--Accordian Start-->
                                        <div class="panel-group" data-collapse-color="red" id="@string.Format("accordion_subject_books_{0}", i.Id)" role="tablist" aria-multiselectable="true">

                                            @foreach (var item in i.Books.ToList())
                                            {
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading " role="tab">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="@string.Format("#accordion_subject_books_{0}", i.Id)" href="@string.Format("#book_{0}", item.Id)" aria-expanded="true">
                                                            <span class="f-17"> Book: @item.Title</span>
                                                        </a>
                                                    </h4>
                                                </div>


                                                <div id="@string.Format("book_{0}", item.Id)" class="collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        @Html.Action("Units", "ConnectedSchool", new { id = item.Id })
                                                    </div>
                                                </div>
                                            </div>


                                            }
                                        </div>
                                    </div>



                                            }
                            </div>

                        </div>

                    </div>
                </div>
               
                <!--Test Worbook Tab Panel Centent-->
                <div role="tabpanel" class="tab-pane" id="test_workbook">
                    <div class="card m-b-0" id="testworkbook">
                        <div class="card-header full-width-tabs  child  p-0">
                           
                            <ul class="tab-nav" role="tablist" data-tab-color="amber">

                                <li class="active">
                                    <a role="tab" data-toggle="tab" aria-expanded="false" href="#syllabus" aria-controls="syllabus">
                                      Exam Syllabus
                                    </a>
                                </li>
                                <li >
                                    <a  role="tab" data-toggle="tab" aria-expanded="false" href="#test_worksheet" aria-controls="test_worksheet">
                                        Exam Worksheets
                                    </a>
                                </li>


                            </ul>
                            </div>
                        </div>
                    <div class="card-body p-0">
                        <div class="tab-content p-0 ">
                            <div role="tabpanel" class="tab-pane active" id="syllabus">
                                @Html.Action("Syllabus", "ConnectedSchool")
                            </div>
                            <div role="tabpanel" class="tab-pane" id="test_worksheet">
                                @Html.Action("TestWorkbook", "ConnectedSchool")
                            </div>
                        </div>

                        </div>

                    </div>
                    </div>





                </div><!--Top card body end-->
    </div><!--Top card  end-->

                    }
                    else
                    {
                        <h2>No Candies Found :"(  </h2>

                    }
@section scripts
{

    <link href="~/static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />
    <script src="~/static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script>
        $("label").click(function () {
            console.log($("label").button('toggle').html());
            // $("#frmConnectedSchool").submit();

        })
    </script>

}