﻿@model Scoolfirst.Model.WorkBook.Quiz

@{
    ViewBag.EnableSidebar = false;
    ViewBag.Title = Model.Name;
    int count = 1;
}


@if(this.Model.Questions.Count>0)
{
<div class="card">
    <div class="card-header bgm-primary p-0 ">
        <div class="media">
            <div class="media-body">

                <ul class="list-unstyled m-t-15">
                    <li class="f-20 c-white text-center">@Model.Name</li>
                    <li class="text-center">

                        <span class="c-gray">No Of questions: @Model.NoOfQuestion</span>

                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row m-0">
            <!-- Question List-->
            <div class="col-md-12 m-0 p-0 m-b-30">
                
                <div class="listview lv-bordered lv-lg m-l-30">

                    <!-- Question Ans Section-->
                    <div class="lv-body linklist">
                       @foreach (var i in Model.Questions.GroupBy(i => i.QuestionType))
                       {
                        @i.Key
                        @foreach (var item in i)
                        {
                            <div class="lv-item lv-q-ans media ">
                                @*<div class="pull-left m-0 p-r-10">
                                        <div class="lv-avatar m-r-0">Q.@QuestionCount</div>
                                    </div>*@
                                <div class="media-body m-l-10">
                                    <div class="lv-question">

                                        @Html.Raw(item.Title)
                                    </div>

                                    <div id="ans" style="display:none" class="lv-answer card-body p-5  bgm-lime">

                                        @Html.Raw(item.Answer)
                                    </div>

                                    <div id="ref" style="display:none" class="lv-answer card-body p-5">

                                        @Html.Raw(item.Refrence)
                                    </div>
                                </div>
                            </div>
                        }
                       }






                    </div>
                </div>
                
            </div>
            <!-- Topic List-->

            
        </div>

        <div class="col-md-12 p-0 ">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                @{ //TODO Imran : Pagging Issue... Please fix the pagging..

                }
                @*<div class="btn-group" role="group">

                    <a href="/WorkBook/Unitwise?" type="button" class="radius-0 btn btn-primary  btn-lg waves-effect" id="btnPrevious">Previous</a>
                </div>*@
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-warning  btn-lg waves-effect" id="btnToggleSolution">Solution</button>
                </div>
                @*<div class="btn-group" role="group">
                    <a href="#" type="button" class="radius-0 btn btn-primary  btn-lg waves-effect" id="btnNext">Next</a>
                </div>*@
            </div>
        </div>

    </div>
    <div class="clear-fix"></div>
</div>
                    }
                    else
                    {
                       <h3 class="c-red">OOPS! no question answer</h3>
                    }