﻿@model Scoolfirst.Model.WorkBook.Chapter



@{
    ViewBag.EnableSidebar = false;
    ViewBag.Title = "Connected School";
  
}

<div class="card">
    <div class="card-body">
        <div class="lv-header-alt bgm-bluegray  clearfix">
            <h2 class="lvh-label l-h-10 f-500 c-white">
                @Model.Name
            </h2>

            

        </div>
        
        <div class="row m-0">
            <!-- Question List-->
            <div class="col-md-12 m-0 p-0 m-b-30">
                 <div class="listview lv-bordered lv-lg m-l-30">
                    
                    <!-- Question Ans Section-->
                    <div class="lv-body linklist linklist-border-right qSlider">
                        @foreach (var i in Model.Questions.GroupBy(i => i.QuestionType))
                        {
                        <div class="p-10 m-l-20 m-b-20 m-r-20 m-t-0 " style="border-bottom: 2px solid #a0a0a0;">
                              <span class="c-orange f-17">@i.Key</span> 
                        </div> 
                        foreach (var item in i)  
                        {

                            <div class="lv-item lv-q-ans media qSliderItem">
                                @*<div class="pull-left m-0 p-r-10">
                                        <div class="lv-avatar m-r-0">Q.@QuestionCount</div>
                                    </div>*@
                                <div class="media-body m-l-10">
                                    <div class="lv-question">

                                        @Html.Raw(item.Title)
                                    </div>

                                    <div id="ans" style="display:none" class="lv-answer card-body p-5 ">

                                        @Html.Raw(item.Answer)
                                    </div>

                                    @*<div id="ref" style="display:none" class="lv-answer card-body p-5">
                                        @if(string.IsNullOrWhiteSpace(item.Refrence) || )
                                        @Html.Raw(item.Refrence)
                                    </div>*@
                                </div>
                            </div>
                              
                            }
                            
                        }
                       
                    </div>
                </div>
            </div>
        

            
        </div>



    </div>
    <div class="clear-fix"></div>
</div>
<ul class="p-fixed list-unstyled m-r-10 hidden-xs hidden-sm" style="right: 0; bottom: 20%;">

    <li>
        <button id="nav_up" class="border-radius-0 btn btn-lg bgm-primary  waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="slide up"><i class="zmdi zmdi-chevron-up zmdi-hc-fw"></i></button>
    </li>
    <li>
        <button id="btnToggleSolution" type="button" class="border-radius-0 btn btn-lg bgm-orange waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="hide/show solution"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></button>
        @*<button id="btnToggleSolution" class="btn btn-lg bgm-orange waves-effect"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></button>*@
    </li>
    <li>
        <button id="nav_down" class="border-radius-0 btn btn-lg bgm-primary  waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="slide down"><i class="zmdi zmdi-chevron-down zmdi-hc-fw"></i></button>
    </li>

</ul>

@section scripts{

    <script>
        $(function() {

            var CurrentPosition = 0;
            var height = 0;
            // the element inside of which we want to scroll
            var $elem = $('.qSlider');
            var slideamount = $elem.height() / $elem.find('.qSliderItem').size();
            var TotalItems = $elem.find('.qSliderItem').size();

            // show the buttons
            $('#nav_up').fadeIn('slow');
            $('#nav_down').fadeIn('slow');

            // whenever we scroll fade out both buttons
            $(window).bind('scrollstart', function() {
                $('#nav_up,#nav_down').stop().animate({ 'opacity': '0.2' });
            });
            // ... and whenever we stop scrolling fade in both buttons
            $(window).bind('scrollstop', function() {
                $('#nav_up,#nav_down').stop().animate({ 'opacity': '1' });
            });

            // clicking the "down" button will make the page scroll to the $elem's height
            $('#nav_down').click(function(e) {

                if (CurrentPosition < TotalItems - 1) {
                    height += slideamount;
                    $('html, body').animate({ scrollTop: height }, 800);
                    CurrentPosition++;
                } else {
                    console.log("Else is running" + CurrentPosition)
                }

            });
            // clicking the "up" button will make the page scroll to the top of the page
            $('#nav_up').click(function(e) {
                if (CurrentPosition > 0) {
                    height -= slideamount;
                    $('html, body').animate({ scrollTop: height }, 800);
                    console.log("Pos" + CurrentPosition + "-" + height)
                    CurrentPosition--;
                } else {
                    console.log("Else is running" + CurrentPosition)
                }
            });


            $("button#btnToggleSolution").click(function () {
               // $elem.removeClass('linklist-ans')
                $elem.toggleClass('linklist-ans')
                slideamount = $elem.height() / $elem.find('.qSliderItem').size();
            });
        });
    </script>
}