﻿@using Scoolfirst.ViewModel.ConnectedSchool
@model Scoolfirst.ViewModel.ConnectedSchool.ConnectedSchoolViewModel

<div class="p-10">
    <span class="lead">Tranding Topics:-</span>
    <ul class="list-inline">
        @foreach (var i in Model.Trending)
        {
            <li>
                <a href="/ConnectedSchool/topic/@Model.Type/@i.Id">@i.Title</a>,
            </li>
        }
    </ul>

</div>



