﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Chapter>

@{
    ViewBag.Title = "Units";
    var BookId = ViewBag.Id;
    int SerialNo = 1;
   
    // todo apply random animation to each item of table
}

@if (Model.Count() == 0)
{
    <div class="c-red">Sorry ! We Don't have Any more Chocholates For you :(</div>
}
else
{
<div class="animated fadeIn listview lv-bordered lv-lg">
    <div class="lv-body linklist">
       

        @foreach (var item in Model.Select((x,i)=>new {Index=i,Value=x }))
        {

              <a class="lv-item media p-0 "  href="@Url.Action("Unitwise","ConnectedSchool",new {id=item.Index,bookid=BookId,school=Session["SchoolName"].ToString().StripUrl(),Class=Session["Class"].ToString().StripUrl(),UnitName=item.Value.Name.StripUrl() })">
                  @*<div class="pull-right">
                      <div class="label label-info">@item.Questions.Count</div>
                  </div>*@
                    <div class="media-body">
                        <div class="lv-title f-17 p-l-20" style="line-height: 30px!important">
                            @*<div class="label label-info">@SerialNo</div>*@ 
                            @item.Value.Name  <span class="label label-primary pull-right m-t-5">@string.Format("{0:D2}",item.Value.Questions.Count)</span>
                       
                        </div>
                    </div>

                </a>
            SerialNo++;
        }

    </div>
</div>
}
