﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Questions>

@{
    ViewBag.EnableSidebar = false;
    ViewBag.Title = "Connected School";
    var Book = (Scoolfirst.Model.WorkBook.Books)ViewBag.Books;
    int CurrentChapter = int.Parse(ViewContext.RouteData.Values["Id"].ToString());
    int count = 1;
    int QuestionCount = 1;
    var Subjects = (IEnumerable<Scoolfirst.Model.Common.SchoolClassSubject>)ViewBag.Subjects;
    var Classes = (SelectList)ViewBag.ClassId;
}
<div id="affix_cc" class="p-10" style="z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    background: #ffcd39;
    left: 0;">

    <form action="@Url.Action("school","ConnectedSchool")" id="frmConnectedSchool" method="GET" class="form-inline">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            @*<b>Choose School</b>*@    @Html.DropDownList("SchoolId", null, "Select School", htmlAttributes: new { @class = "selectpicker", data_width = "100%", data_live_search = "true" })
                        </div>
                        <div class="col-md-5 col-xs-12">
                            <div class="btn-group " data-toggle="buttons">
                                @foreach (var item in Classes)
                                {
                                    <label class="btn  btn-primary  @(item.Selected?"active":"") ">
                                        <input type="radio" name="ClassId" value="@item.Value" id="@string.Format("Class", item.Value)" autocomplete="off" @(item.Selected ? "checked='checked'" : "") />
                                        @item.Text
                                    </label>
                                }
                            </div>
                        </div>

                        <div class="col-md-1 col-xs-12">
                            <button type="submit" class="btn btn-success">Search</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("Index","ConnectedSchool")" class="btn bgm-pink waves-effect">Go to TOSS TOPIC</a>
                </div>

            </div>
        </div>

    </form>
</div>
<div class="card">
    <div class="card-header bgm-primary p-0 full-width-tabs">
        <div class="card-header child  p-0  full-width-tabs">
            <ul class="tab-nav  bgm-white" role="tablist" data-tab-color="amber">
                @foreach (var i in Subjects)
                {
                    <li class="active bgm-shadeEven">
                        <a class="c-white" role="tab" data-toggle="tab" aria-expanded="false" href="#subject_8" aria-controls="subject_8">
                            @i.Subject.DisplayName
                        </a>
                    </li>
                }
                 

            </ul>
        </div>
        <div class="media">
            @*<div class="pull-left">
                    <a href="#">
                        <img class="media-object thumbnail img-responsive" src="@Book.ImageUrl?height=70" style="height:100px" alt="">
                    </a>
                </div>*@
            <div class="media-body">

                <ul class="list-unstyled m-t-15">
                    <li class="f-20 c-white text-center">@Book.Subject.DisplayName (@Book.Title)</li>
                    <li class="text-center">

                        @foreach (var VARIABLE in Book.SchoolClassBooks.FirstOrDefault().Books)
                        {
                            <a href="#" class="c-gray text-center">@VARIABLE.Title</a>
                        }

                    </li>

                    <li class="text-center">

                        @foreach (var VARIABLE in Book.SchoolClassBooks)
                        {
                            <a href="#" class="c-gray text-center">@VARIABLE.Subject.DisplayName</a>
                        }

                    </li>
                </ul>

            </div>
        </div>
        

    </div>
    <div class="card-body">
        <div class="bgm-yellow p-10">


            <ul class="actions">
                <li>
                    <span class="lead">
                        @Book.Chapters.OrderBy(i=>i.Id).Skip(CurrentChapter*1).FirstOrDefault().Name
                    </span>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">

                        @foreach (var i in Book.Chapters.Select((x,i)=> new {Value=x,Index=i }))
                        {
                            <li class="text-left">
                                <a style="text-align:left!important" href="@Url.Action("UnitWise","ConnectedSchool",new { Id = i.Index, bookid = Book.Id,UnitName=i.Value.Name.StripUrl(),School=Session["SchoolName"].ToString().StripUrl(),Class=Session["Class"].ToString().StripUrl() })">
                                    @i.Value.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row m-0">
            <!-- Question List-->
            <div class="col-md-9 m-0 p-0 m-b-30">
                <div class="listview lv-bordered lv-lg m-l-30">

                    <!-- Question Ans Section-->
                    <div class="lv-body linklist">
                        @foreach (var i in Model.GroupBy(i => i.QuestionType))
                        {
                        <div class="lead m-l-25 is-bold ">
                              <b style="color:#052941">@i.Key</b> 
                        </div> 
                        foreach (var item in i)  
                        {

                            <div class="lv-item lv-q-ans media ">
                                @*<div class="pull-left m-0 p-r-10">
                                        <div class="lv-avatar m-r-0">Q.@QuestionCount</div>
                                    </div>*@
                                <div class="media-body m-l-10">
                                    <div class="lv-question">

                                        @Html.Raw(item.Title)
                                    </div>

                                    <div id="ans" style="display:none" class="lv-answer card-body p-5  bgm-lime">

                                        @Html.Raw(item.Answer)
                                    </div>

                                    <div id="ref" style="display:none" class="lv-answer card-body p-5">

                                        @Html.Raw(item.Refrence)
                                    </div>
                                </div>
                            </div>
                                QuestionCount++;
                            }
                            
                        }
                       
                    </div>
                </div>
            </div>
            <!-- Topic List-->

            <div class="col-md-3 m-0 p-0 bgm-primary hidden-sm hidden-xs">

                <div class="m-b-0">

                    <div class="card-header ch-alt">
                        <h2>Seleceted Topic Name<small>Total Chapters:- <span class="badge badge-warning">@Book.Chapters.Count()</span></small></h2>
                    </div>

                    <div class="@*card-body c-white*@ m-l-10" id="topiclist">
                        <div class="listview linklist">

                            <!-- Topic List

                                -->
                            @foreach (var i in Book.Chapters.Select((x,i)=>new {Index=i,Value=x }))
                            {

                                <a class="lv-item item-bg" href="@Url.Action("UnitWise","ConnectedSchool",new { Id = i.Index, bookid = Book.Id,UnitName=i.Value.Name,School=Session["SchoolName"].ToString().Replace(' ','-').Replace(',','-'),Class=Session["Class"].ToString().Replace(' ','-') })">
                                    <div class="media">
                                        @*<div class="pull-left">
                                                <div class="lv-avatar  pull-left">@count</div>
                                            </div>*@
                                        <div class="media-body">
                                            <div class="lv-title m-t-5 f-17 c-white">@i.Value.Name</div>
                                        </div>
                                    </div>
                                </a>
                                count++;
                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
    <div class="clear-fix"></div>
</div>
<button class="btn bgm-cyan btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
<div class="row item-position-top-70">
    <div class="">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">

            @if (ViewBag.Previous)
            {
                var Prev = Book.Chapters.Skip((CurrentChapter - 1) * 1).FirstOrDefault().Name;
                <div class="btn-group" role="group">

                    <a href="@Url.Action("UnitWise","ConnectedSchool",new { Id = CurrentChapter-1, bookid = Book.Id,UnitName=Prev,School=Session["SchoolName"].ToString().Replace(' ','-').Replace(',','-'),Class=Session["Class"].ToString().Replace(' ','-') })" type="button" class="radius-0 btn btn-primary  btn-lg waves-effect" id="btnPrevious">Previous</a>
                </div>
            }
            else
            {
                <div class="btn-group" role="group">

                    <a href="#" type="button" class="radius-0 btn btn-primary disabled btn-lg waves-effect" id="btnPrevious">Previous</a>
                </div>
            }

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning  btn-lg waves-effect" id="btnToggleSolution">Solution</button>
            </div>
            @if (ViewBag.Next){
                        var Next = Book.Chapters.Skip((CurrentChapter + 1) * 1).FirstOrDefault().Name;
                <div class="btn-group" role="group">
                    <a href="@Url.Action("UnitWise","ConnectedSchool",new { Id = CurrentChapter+1, bookid = Book.Id,UnitName=Next,School=Session["SchoolName"].ToString().Replace(' ','-').Replace(',','-'),Class=Session["Class"].ToString().Replace(' ','-') })" type="button" class="radius-0 btn btn-primary  btn-lg waves-effect" id="btnNext">Next</a>
                </div>
            }
            else
            {
                <div class="btn-group" role="group">
                    <a href="#" type="button" class="radius-0 btn btn-primary  btn-lg waves-effect disabled" id="btnNext"> Next</a>
                </div>
            }

        </div>
    </div>
</div>