﻿@{
    ViewBag.Title = "Home Page";
    this.Layout= "~/Views/Shared/_Layout_User.cshtml";
}


<div class="row">
    <div class="col-sm-6">
        <!-- Recent Items -->
        <div class="card">
            <div class="card-header">
                <h2>Recent Items <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>
                
            </div>

            <div class="card-body m-t-0">
                <table class="table table-inner table-vmiddle">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th style="width: 60px">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        @for (int i = 0; i < 8; i++)
                        {
                            <tr>
                                <td class="f-500 c-cyan">2569</td>
                                <td>Samsung Galaxy Mega</td>
                                <td class="f-500 c-cyan">$521</td>
                            </tr>
                        }
                       
                       
                    </tbody>
                </table>
            </div>
            @*<div id="recent-items-chart" class="flot-chart"></div>*@
        </div>

       </div>
        <div class="col-sm-6">
            <!-- Recent Posts -->
            <div class="card">
                <div class="card-header ch-alt m-b-20">
                    <h2>Event Calendar  <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>
                  
                </div>

                <div class="card-body">
                    <div class="listview">
                        @for (int i = 0; i < 5; i++)
                        {
                        <a class="lv-item" href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">David Belle</div>
                                    <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                </div>
                            </div>
                        </a>
                        }
                        <a class="lv-footer" href="#">View All</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- Calendar -->
            <div id="calendar-widget"></div>
            </div>
            <div class="col-sm-6">
                <!-- Recent Posts -->
                <div class="card">
                    <div class="card-header ch-alt m-b-20">
                        <h2>Event Calendar  <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>
                       
                    </div>

                    <div class="card-body">
                        <div class="listview">
                            @for (int i = 0; i < 5; i++)
                            {
                                <a class="lv-item" href="#">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="lv-title">David Belle</div>
                                            <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                        </div>
                                    </div>
                                </a>
                            }
                            <a class="lv-footer" href="#">View All</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>


<div class="row">
    <div class="col-sm-6">
        <!-- Calendar -->
        <div class="card">
            <div class="card-header ch-alt m-b-20">
                <h2>My Favorite <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>

            </div>

            <div class="card-body">
                <div class="listview">
                    @for (int i = 0; i < 5; i++)
                    {
                        <a class="lv-item" href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">David Belle</div>
                                    <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                </div>
                            </div>
                        </a>
                    }
                    <a class="lv-footer" href="#">View All</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <!-- Profile view -->
        <div class="card profile-view">
            <div class="pv-header">
                <img src="img/profile-pics/profile-pic.jpg" class="pv-main" alt="">
            </div>

            <div class="pv-body">
                <h2>Malinda Hollaway</h2>
                <small>Praesent vitae justo purus. In hendrerit lorem nislac lacinia urnaunc vitae ante id magna </small>

                <ul class="pv-contact">
                    <li><i class="zmdi zmdi-pin"></i> Jupitor</li>
                    <li><i class="zmdi zmdi-phone"></i> +11 55694785</li>
                </ul>

                <ul class="pv-follow">
                    <li>589 Followers</li>
                    <li>8545 Followings</li>
                </ul>

                <a href="#" class="pv-follow-btn">Follow</a>
                
                @Html.Partial("UserDetails")
            </div>
        </div>
    </div>
</div>



<div class="card">

    <div class="card-header bgm-primary">
        <div class="media">
            <div class="pull-left color c-lightgreen">
                <img src="~/static/img/feedIcon/ic_brain_breakfast.png" class="lv-img-sm" />

            </div>
            <div class="media-body m-t-5">
                <h2>
                    My performance

                    
                </h2>
            </div>
        </div>
    </div>


    <div class="card-body card-padding">

        

        <div class="rawContent">




            
        </div>

        

    </div>

    
</div>
<div class="card">

    <div class="card-header bgm-primary">
        <div class="media">
            <div class="pull-left color c-lightgreen">
                <img src="~/static/img/feedIcon/ic_brain_breakfast.png" class="lv-img-sm" />

            </div>
            <div class="media-body m-t-5">
                <h2>
                    New learning update


                </h2>
            </div>
        </div>
    </div>


    <div class="card-body card-padding">



        <div class="rawContent">





        </div>



    </div>


</div>

<div class="card">

    <div class="card-header bgm-primary">
        <div class="media">
            <div class="pull-left color c-lightgreen">
                <img src="~/static/img/feedIcon/ic_brain_breakfast.png" class="lv-img-sm" />

            </div>
            <div class="media-body m-t-5">
                <h2>
                    Live assessment update


                </h2>
            </div>
        </div>
    </div>


    <div class="card-body card-padding">



        <div class="rawContent">





        </div>



    </div>


</div>

<div class="card">

    <div class="card-header bgm-primary">
        <div class="media">
            <div class="pull-left color c-lightgreen">
                <img src="~/static/img/feedIcon/ic_brain_breakfast.png" class="lv-img-sm" />

            </div>
            <div class="media-body m-t-5">
                <h2>
                    Service overview


                </h2>
            </div>
        </div>
    </div>


    <div class="card-body card-padding">



        <div class="rawContent">





        </div>



    </div>


</div>