﻿@{
    Layout = null;
    var rrand = new Random();
    var r = rrand.Next(0,1);

    var url = r == 0 ? @"'/home/PaymentFailed'" : @"'/home/PaymentSuccess'";
}

@model string
<html >
<head>
    <title></title>
</head>
<body>
    payment @Model


    <script>
        setTimeout(function () {
            window.location.assign(@Html.Raw(url)+'/@r')
        }, 300)
    </script>
</body>
</html>
