﻿@model Scoolfirst.Model.Common.SideBarNav
@{ 
    if(Model == null)
    {
        return;
    }
}


<div class="right-corder-container hidden-xs hidden-sm">
        <ul class="p-0 m-0 list-unstyled">
 
@foreach (var p in Model.Menu)
 {
     if (!p.IsEmpty())
     {
         <li>
             <button class="right-corder-container-button">
                 @*<img class="short-text" src="http://static.upgrde.net/source/logo/upgrageJr_logo.png?height=40"/>*@
                 <span class="long-text">@p</span>
             </button>
         </li>
     }
 }
    </ul>
</div>
