﻿@model Scoolfirst.Model.Common.NewsGlobal

@{
    ViewBag.Title = "Details";
}

@UIHelper.Header("News Globals",null,"Detail Of News Globals")
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>

                    <h3 class="box-title">Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ImageUrl)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.VideoUrl)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.VideoUrl)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Content)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Content)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.On)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.On)
                        </dd>

                    </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Edit","NewsGlobals", new { id=Model.Id})" class="btn btn-success pull-right"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Index","NewsGlobals")" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

