﻿@model Scoolfirst.Model.Common.NewsGlobal

@{
    ViewBag.Title = "Edit";
}

@UIHelper.Header("News", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="card-body card-padding">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(i => i.Type)
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit</h3>
                        </div>
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group ">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="">Select Image</label>
                                <div class="input-group">


                                    @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <a href="http://abc.com/" class="filepicker btn btn-info">
                                            <i class="fa fa-image" style=""></i>
                                        </a>
                                    </span>


                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VideoUrl, htmlAttributes: new { @class = " " })

                                <div class="input-group">

                                    @Html.EditorFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-btn">
                                        <a href="/home/youTube/VideoUrl" data-id="ImageUrl" class="Videopicker btn btn-info btn-flat" style="color:white !important"><i class="fa fa-television"></i></a>
                                    </span>
                                </div>
                                <span class="field-validation-valid text-danger" data-valmsg-for="Image" data-valmsg-replace="true"></span>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "" })
                               @Html.TextAreaFor(model => model.Content, new { @class = "richeditor" })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                            <input type="hidden" name="On" value="@DateTime.UtcNow" />
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">Save</button>
                            <a href="~/NewsGlobals/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts{
<script src="~/ckeditor/ckeditor.js"></script>
    @FilePopUp.VideoSearch()
    @FilePopUp.ModalFileFancyBox("ImageUrl")
<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
<script>tinymce.init({ selector:'.richeditor' });</script>
}
