﻿@model IEnumerable<Scoolfirst.Model.Common.NewsGlobal>

@{
    ViewBag.Title = "Index";
}
@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}

@UIHelper.Header("News", null,"List Of All News")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header ">
                    @UIHelper.Search(Url.Action("Create", "NewsGlobals"), "")
                </div>
                <div class="box-body">

                    <table id="data-table-subject" class="table table-striped table-condensed table-vmiddle">
                        <thead>
                            <tr>

                                <th>Title</th>
                                <th>Image Url</th>
                                <th>Video Url</th>
                                <th>On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        <img src="@item.ImageUrl" class="lv-img-sm" style="width:60px;height:40px"  />
                                    </td>
                                    <td>@item.VideoUrl</td>
                                    <td>@item.On</td>
                                    <td width="120px">
                                        <div class="btn btn-group btn-group-sm">
                                            <a href="@Url.Action("Edit", "NewsGlobals", new { id = item.Id })" class="btn btn-success btn-sm" ><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("Details","NewsGlobals", new { id =item.Id })" class="btn btn-info btn-sm"  ><i class="fa fa-eye"></i></a>
                                            <a href="@Url.Action("Delete","NewsGlobals", new { id = item.Id })" class="btn btn-danger btn-sm " ><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="box-footer">
                    @Pager.Page("/NewsGlobals/Index")
                </div>
            </div>
        </div>
    </div>
</section>

