﻿@model IEnumerable<Scoolfirst.Model.Common.Board>

@{
    ViewBag.Title = "Index";
}



@UIHelper.Header("Boards", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Boards"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-condensed table-striped table-vmiddle " role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MediumLanguage)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MediumLanguage)
                                </td>
                                @*<td width="120px">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>*@
                                <td class="btn-group btn-group-sm" width="120px">
                                    <a href="@Url.Action("Edit", "Boards", new { id =item.Id })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Details", "Boards", new { id =item.Id })" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Delete", "Boards", new { id = item.Id })" data-toggle="tooltip" data-placement="top" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>

                </div>
                <div class="box-footer">
                    @Pager.Page("/Boards/index")
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
