﻿@model IEnumerable<Scoolfirst.Model.Common.Group>

@{
    ViewBag.Title = "Index";
}
@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Groups", null)
<section class="content">
                <div class="row">
        <div class="col-xs-12">
        
                <div class="box box-primary">
                    <div class="box-header ">
                        @UIHelper.Search(Url.Action("Edit", "Groups", new { id = 0 }), "")
                        @*<a href="@Url.Action("Edit","Groups", new { id=0})" class="btn btn-success btn-float pull-right btn-sm"><i class="fa fa-plus"></i></a>*@
                            </div>
                    <div class="box-body">

            <table  class="table table-striped table-vmiddle table-condensed">
                <thead>
                    <tr>
                                    
                                    <th>Name</th>
                                    <th>Classes</th>
                                    <th>School</th>
                                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                @foreach (var i in item.Class)
                                {
                                    <span class="badge bg-aqua"> @i.RomanDisplay</span>
                                }
                            </td>
                            <td>
                                @foreach (var i in item.Schools)
                                {
                                    <span class="badge bg-yellow"> @i.SchoolName</span>
                                }
                            </td>
                            <td class="btn-group btn-group-sm" width="120px">
                                <a href="@Url.Action("Edit", "Groups", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                <a href="@Url.Action("Delete", "Groups", new { id = item.Id })"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

                    </div>
                    <div class="box-footer">
                        @Pager.Page("/Groups/Index")
                </div>
                </div>
            </div>
        </div>
    </section>






