﻿@model Scoolfirst.Model.Projects.Project
@{
    ViewBag.Title = "Detail";
   
}


<div class="row">
    <div class="block-header">
    <h1>
        School Projects <small>
            @Model.Name
        </small>
    </h1>
</div>
    <div class="">
        
        <div class="card p-10">

            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="@Url.Action("Index","Projects")">@Model.Category.Name</a></li>
                <li class="active">@Model.Name</li>
            </ol>

            
          
                <div class="card">
                    <div class="card-header bgm-orange">
                        <h2>@Model.Name <small><a href="@Url.Action("Index","Projects")" class="label label-info">@Model.Category.Name</a></small></h2>

                        <ul class="actions actions-alt hidden-lg hidden-md">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="#">Refresh</a>
                                    </li>
                                    <li>
                                        <a href="#">Manage Widgets</a>
                                    </li>
                                    <li>
                                        <a href="#">Widgets Settings</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body card-padding">
                       @Html.Raw(Model.Description)  
                        <div class="p-25">
                            <h4 class="c-green f-400">REMARKS</h4>
                            <p class="c-gray">
                            @Model.Remarks</p></div>                
                     </div>
                    
                </div>
            <ul class="m-t-10 list-inline pull-left">
                <li class="dropdown dropup">
                    <a href="#" class="dropdown-toggle bgm-red btn btn-icon waves-effect waves-circle waves-float" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-share zmdi-hc-fw"></i></a>
                    <ul class="dropdown-menu popup-button dropdown-menu-right">
                        <li role="presentation"><button class="btn bgm-blue btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-facebook"></i></button></li>
                        <li role="presentation"><button class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-twitter"></i></button></li>
                        <li role="presentation"><button class="btn btn-danger btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-google-plus"></i></button></li>
                        <li role="presentation"><button class="btn btn-success btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-android"></i></button></li>

                    </ul>
                </li>
                </ul>

                <ul class="m-t-10 list-inline pull-right">
                    
                    <li>
                        @*<a href="@Model.FileUrl" class="hidden-sm hidden-xs btn btn-default btn-icon-text waves-effect bgm-orange" aria-expanded="true">
                            <i class="zmdi zmdi-download"></i> Download Abstract
                        </a>
                        <a href="@Model.FileUrl" class="hidden-lg hidden-md btn  waves-effect bgm-orange" aria-expanded="true">
                            <i class="zmdi zmdi-download"></i>
                        </a>*@

                    </li>
                    <li>
                        @*<a href="#" class="hidden-sm hidden-xs btn btn-default btn-icon-text waves-effect bgm-green" aria-expanded="true">
                        <i class="zmdi zmdi-money"></i> Buy Now
                    </a>
                    <a href="#" class="hidden-lg hidden-md btn btn-default btn-icon-text waves-effect bgm-green" aria-expanded="true">
                        <i class="zmdi zmdi-money">@Model.Price</i>
                    </a>*@

                        @*<a href="#" class="hidden-sm hidden-xs btn btn-default btn-icon-text waves-effect bgm-green" aria-expanded="true">
                            <i class="zmdi zmdi-money"></i> Request To Buy
                        </a>
                        <a href="#" class="hidden-lg hidden-md btn btn-default btn-icon-text waves-effect bgm-green" aria-expanded="true">
                            <i class="zmdi zmdi-money"></i>
                        </a>*@

                    </li>


                </ul>

                <div class="clearfix"></div>
</div>

    </div>
    <div class="col-md-4">

       
    </div>
    <div class="clearfix"></div>
    @*<ul class="list-inline">
        <li>
            <a href="#" class="btn bgm-pink btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-favorite"></i></a>
        </li>
        <li>
            <a href="#" class="btn bgm-orange btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-thumb-up"></i> </a>

        </li>
        <li class="dropdown dropup">
            <a href="#" class="dropdown-toggle bgm-red btn btn-icon waves-effect waves-circle waves-float" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-share zmdi-hc-fw"></i></a>
            <ul class="dropdown-menu popup-button dropdown-menu-right">
                <li role="presentation"><button class="btn bgm-blue btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-facebook"></i></button></li>
                <li role="presentation"><button class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-twitter"></i></button></li>
                <li role="presentation"><button class="btn btn-danger btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-google-plus"></i></button></li>
                <li role="presentation"><button class="btn btn-danger btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-Whats-app"></i></button></li>

            </ul>
        </li>
    </ul>*@
</div>
@section style
{

}
@section scripts
{
    <script type="text/javascript">
            $(document).ready(function(){
                $('body').on('click', 'button[data-toggle=collapse]', function () {
                    var animation = "hinge";//$(this).text();
                   
                    var cardImg = $(this).closest('.card .collapse');
                    console.log(cardImg);
                    if (animation === "hinge") {
                        animationDuration = 2100;
                    }
                    else {
                        animationDuration = 1200;
                    }

                    cardImg.removeAttr('class');
                    cardImg.addClass('animated '+animation);

                    setTimeout(function(){
                        cardImg.removeClass(animation);
                    }, animationDuration);
                });
            });
    </script>

}

