﻿@model IEnumerable<Scoolfirst.Model.Common.ProjectCategory>
@{
    ViewBag.Title = "Index";
    
}


<div class="row">
       <div class="col-sm-12 col-md-12">
           <div class="block-header">
               <h1>Creative Canvas <small>Browse your school project</small></h1>

               
               <ul class="actions">
                   <li>
                       <a href="#">
                           <i class="zmdi zmdi-trending-up"></i>
                       </a>
                   </li>
                   <li>
                       <a href="#">
                           <i class="zmdi zmdi-check-all"></i>
                       </a>
                   </li>
                   <li class="dropdown">
                       <a href="#" data-toggle="dropdown">
                           <i class="zmdi zmdi-more-vert"></i>
                       </a>

                       <ul class="dropdown-menu dropdown-menu-right">
                           <li>
                               <a href="#">Refresh</a>
                           </li>
                           <li>
                               <a href="#">Manage Widgets</a>
                           </li>
                           <li>
                               <a href="#">Widgets Settings</a>
                           </li>
                       </ul>
                   </li>
               </ul>
           </div>
           <div class="card p-10">
               <ol class="breadcrumb">
                   <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                  
                   <li class="active">Projects</li>
               </ol>

              @foreach (var item in Model)
              {

                  <div class="card-body p-b-10">

                      <button class="text-left btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#@(@item.Id)collapse" aria-expanded="false" aria-controls="@(@item.Id)collapseExample">
                          @item.Name <span class="badge pull-right">@item.Projects.Count() <i class="zmdi zmdi-arrow-right "></i></span>
                      </button>

                      <div class="card collapse " id="@(@item.Id)collapse">
                          <div class="card-body">
                              <div class="listview lv-bordered lv-lg">
                                  <div class="lv-header-alt clearfix">
                                      <h2 class="lvh-label hidden-xs">@item.Name : <span class="label label-info">@item.Projects.Count()  Projects  availabe</span></h2>
                                     
                                      <div class="lvh-search">
                                          <input type="text" placeholder="Start typing...@item.Name" class="lvhs-input">

                                          <i class="lvh-search-close">&times;</i>
                                      </div>

                                      <ul class="lv-actions actions">
                                          <li>
                                              <a href="#" class="lvh-search-trigger">
                                                  <i class="zmdi zmdi-search"></i>
                                              </a>
                                          </li>


                                          <li>
                                              <a href="#">
                                                  <i class="zmdi zmdi-refresh"></i>
                                              </a>
                                          </li>

                                      </ul>
                                  </div>
                                  <div class="lv-body">

                                      @foreach (var item2 in item.Projects)
                                   {
                                  <div class="lv-item media">
                                   <div class="media-body">
                                          <div class="lv-title">
                                             
                                                  <a class="lead" href="@Url.Action("Detail", "Projects", new { id=item2.Id})"> @item2.Name </a>
                                             
                                              <ul class="m-t-10 list-inline">
                                                  @*<li>
                                                      <a href="@Url.Action("Detail", "Projects", new { id=item2.Id})" class="hidden-sm hidden-xs btn btn-toolbar bgm-blue" aria-expanded="true">
                                                          <i class="zmdi zmdi-zoom-in"></i> View Detail
                                                      </a>
                                                      <a href="@Url.Action("Detail", "Projects", new { id=item2.Id})" class="hidden-lg hidden-md btn btn-toolbar bgm-blue" aria-expanded="true">
                                                          <i class="zmdi zmdi-zoom-in"></i>
                                                      </a>

                                                  </li>*@
                                                  @*<li>
                                                      <a href="@item2.FileUrl" class="hidden-sm hidden-xs btn btn-toolbar bgm-orange" aria-expanded="true">
                                                          <i class="zmdi zmdi-download"></i> Download Abstract
                                                      </a>
                                                      <a href="@item2.FileUrl" class="hidden-lg hidden-md btn btn-toolbar bgm-orange" aria-expanded="true">
                                                          <i class="zmdi zmdi-download"></i>
                                                      </a>

                                                  </li>*@

                                              </ul>
                                          </div>

                                          <div class="lv-actions">
                                           @*<a href="#" class="hidden-sm hidden-xs btn btn-toolbar bgm-green" aria-expanded="true">
                                                  <i class="zmdi zmdi-money"></i> Request To Buy
                                              </a>
                                              <a href="#" class="hidden-lg hidden-md btn btn-toolbar bgm-green" aria-expanded="true">
                                                  <i class="zmdi zmdi-money"></i>
                                              </a>*@
                                              <ul class="dropdown-menu dropdown-menu-right">
                                                  <li>
                                                      <a href="#">Edit</a>
                                                  </li>
                                                  <li>
                                                      <a href="#">Delete</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                                   }


                                  </div>
                              </div>

                          </div>
                      </div>

               </div>
                  
                 
              
             

              }


               </div>



        </div>
    </div>
    @section style
{

    }
    @section scripts
{
<script src="~/static/js/quickSearch/jquery.quicksearch.min.js"></script>
    <script type="text/javascript">
                $(document).ready(function(){
                    $('body').on('click', 'button[data-toggle=collapse]', function () {
                        var animation = "hinge";//$(this).text();
                        console.log("I am clicked.");
                        var cardImg = $(this).closest('.card .collapse');
                        console.log(cardImg);
                        if (animation === "hinge") {
                            animationDuration = 2100;
                        }
                        else {
                            animationDuration = 1200;
                        }

                        cardImg.removeAttr('class');
                        cardImg.addClass('animated '+animation);

                        setTimeout(function(){
                            cardImg.removeClass(animation);
                        }, animationDuration);
                    });
                });

                   //$('.search_ajax').submit(function (e) {
                   //    e.preventDefault();

                   //    var data = $(this).serialize();
                   //    $.ajax({
                   //        url: $(this).attr('action'),
                   //        type: 'html',
                   //        data: data,
                   //        method: 'post',
                   //        success: function (data) { $('#insert').html(data); },
                   //        error: function () {
                   //            alert("Error");
                   //        }

                   //    });
                   //})
               </script>

@foreach(var item in Model)
{ 
<script type="text/javascript">
    $(document).ready(function () {
        //Quick Search for Project
        $('#@(item.Id)collapse .lvh-search input[type=text]').quicksearch('#@(item.Id)collapse .lv-body .lv-item');
                   }
                  );
</script>
}
    
}




