﻿
<!--_Breadcrumbs-->
<div class="banner">

    <h2>
        <a href="index.html">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Dashboard</span>
    </h2>
</div>
<!--//_Breadcrumbs-->