﻿@using Scoolfirst.Model.Provider
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title | @HostedApplicationConfig.ApplicationName.Value()</title>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/Areas/School/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/Areas/School/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/Areas/School/Content/css/font-awesome.css" rel="stylesheet">
    <script src="/Areas/School/Content/js/jquery.min.js"> </script>
    <script src="/Areas/School/Content/js/bootstrap.min.js"> </script>
    <link href="/static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">

</head>
<body>
    <div class="login">
        @RenderBody()
      
    </div>
    
    <div class="copy">
        <p> &copy; @DateTime.Now.Year UpgradeJr. All Rights Reserved. @*Developed by <a href="http://goldpi.com">GoldPI</a>*@</p>
    </div>
    <!---->
    <!--scrolling js-->
    <script src="/Areas/School/Content/js/jquery.nicescroll.js"></script>
    <script src="/Areas/School/Content/js/scripts.js"></script>
    <script src="/static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

    <!--//scrolling js-->
    
    @RenderSection("Scripts",false)
</body>
</html>
