﻿<!DOCTYPE html>
<html>
@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>*@
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    

    <link href="/Areas/School/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href="/Areas/School/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/Areas/School/Content/css/font-awesome.css" rel="stylesheet">
    <script src="/Areas/School/Content/js/jquery.min.js"> </script>
    <!-- Mainly scripts -->
    <script src="/Areas/School/Content/js/jquery.metisMenu.js"></script>
    <script src="/Areas/School/Content/js/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <link href="/Areas/School/Content/css/custom.css" rel="stylesheet">
    <script src="/Areas/School/Content/js/custom.js"></script>
    <script src="/Areas/School/Content/js/screenfull.js"></script>
    <script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}



			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});



		});
    </script>

    <!----->
    <!--pie-chart--->
    <script src="/Areas/School/Content/js/pie-chart.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
    <!--skycons-icons-->
    <script src="/Areas/School/Content/js/skycons.js"></script>
    <!--//skycons-icons-->
</head>
<body>

    <div id="wrapper">
        


        @Html.Partial("~/Areas/School/Views/Shared/_Navigation.cshtml")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main">
                @Html.Partial("_Breadcrumbs")
                @RenderBody()



               
                </div>
             </div>
        <div class="clearfix"></div>
        <div class="copy">
            <p> &copy; @DateTime.Now.Year UpgradeJr. All Rights Reserved. Developed by <a href="http://goldpi.com">GoldPI</a></p>
        </div>

        </div>
    
    <!---->
    <!--scrolling js-->
    @*<script src="/Areas/School/Content/js/jquery.nicescroll.js"></script>
    <script src="/Areas/School/Content/js/scripts.js"></script>*@
    <!--//scrolling js-->
    <script src="/Areas/School/Content/js/bootstrap.min.js"> </script>
</body>
</html>