﻿@model Scoolfirst.Model.Feed.PostVideos

<div class="embed-responsive embed-responsive-16by9 m-b-10">
    <iframe class="embed-responsive-item" src="@Model.VideoUrl.Replace("youtu.be","youtube.com/embed")" width="300" height="150" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>


