﻿@model IEnumerable<Scoolfirst.Model.Feed.PostImages>
<div class="wall-img-preview lightbox clearfix">
    @foreach (var i in Model)
    {
        
            
            <div class="wip-item" data-src="@i.ImageUrl" style="background-image: url(@i.ImageUrl);" data-title="@i.ImageTitle">

                <img src="@i.ImageUrl" alt="@i.ImageTitle" data-title="@i.ImageTitle">
                <h6 class="wiki-content badge-info" >@i.ImageTitle</h6>
            </div>
      

    }
</div>