﻿
@model IEnumerable<Scoolfirst.Model.Feed.Post>
@{
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var fileUrl = http + System.Web.Configuration.WebConfigurationManager.AppSettings["pictureServer"];


    ViewBag.Title = "Index";
}
@section style{
    <style>
        .card-header{
            padding: 10px 15px 5px!important;
        }
    </style>
    }


<div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-collapse full-width-tabs">
        <ul class="tab-nav " role="tablist" data-tab-color="amber">

            <li class="bgm-bluegray">
                <a class="c-white" href="/Reasoning/Spalsh" aria-controls="collapseOne">
                    Lesson and schedule
                </a>
            </li>
            <li class="bgm-primary">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="c-white">
                        Must Remember Tricks
                    </a>
</li>
            @*<li class="bgm-bluegray">
                <a class="c-white" href="/Reasoning/SingleTest" aria-controls="collapseThree">
                    Practice Test
                </a>
            </li>*@

        </ul>
        <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
            
        </div>

            <div id="collapseTwo" class="collapse in" role="tabpanel" aria-labelledby="headingThree" aria-expanded="true" style="height: 0px;">
                <div class="panel-body">
                    <h3 class="text-left text-primary">
                        Must remember tricks
                    </h3>
                    <p>
                        Especially crafted collection of must remember point and tricks to solve various types of question of reasoning. Some of these collections are taken from reasoning root lesson plan.
                    </p>
                    <p>
                        <b>New must remember points and tricks are regularly updated</b>. Pl follow following links for rare collection and its regular update for ready reference and fine tuning the knowledge.
                    </p>
                </div>

                <div id="postHolder">


                    @foreach (var ir in Model)
                {

                <div class="card">
                    <div class="card-header bgm-cyan">
                        <div class="media">
                            <div class="pull-left">
                                <img src="~/static/img/feedIcon/ic_vocabulary.png" class="lv-img-sm" />

                            </div>
                            <div class="media-body m-t-5">
                                <h2>
                                    Must Remember Tips
                                    <small class="dateTime CommentTime" data-Time="@ir.OnDateTIme.ToString("o")">
                                        Posted on @ir.OnDateTIme.ToString("dd MMM yyyy hh:mm:ss")
                                    </small>
                                </h2>
                            </div>
                        </div>
                    </div>


                    <div class="card-body card-padding">

                        <span class="lead">@ir.Title</span>


                        <div class="rawContent">
                            @Html.Raw(ir.Content)
                        </div>



                    </div>


                </div>
                }





                    @if (Model.Count() == 0)
                {
                <h3>Sorry ! We Don't have Any more Chocholates For you :(</h3>
                }
                else
                {
                    var Page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"].ToString()) : 0;
                    var Category = Request.QueryString["category"] ?? "KN";
                    var url = string.Format("/feed/?page={0}&category={1}", (Page + 1), Category);
                <a class="text-center btn btn-block btn-info waves-button-input" href="@url">Load More</a>
                }



                </div>

            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">

            </div>
        </div>

</div>





   

@section scripts{

    @if (Request.IsLocal)
    {
        <script>
            var debug = true;
        </script>
    }
    else
    {
        <script>
            var debug = false;
        </script>
    }
    <script src="~/static/CustomScript/debugHelper.js"></script>
    <script src="~/static/CustomScript/Comment.js"></script>

    <script src="~/static/CustomScript/Like.js"></script>
    <script src="~/static/CustomScript/InfinteScroll.js"></script>
    <script>
        function bindIframe() {
            //$('.rawContent *').removeAttr('style');;

            //var ifrm = $('iframe');
            //console.log(ifrm.hasClass('embed-responsive-item'))
            //if (ifrm.hasClass('embed-responsive-item') === false) {
            //    ifrm.attr('height', '');
            //    ifrm.attr('width', '');
            //    ifrm.wrap('<div class="embed-responsive embed-responsive-16by9"/>');
            //    ifrm.addClass('embed-responsive-item');
            //}

            $('.rawContent * img').each(function () {
                var img = $(this);
                if (img.hasClass('img-responsive') === false) {
                    img.wrap('<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12"/>')
                    img.addClass('img-responsive');
                }
            })



        }
        $(function () {
            bindIframe();
        })
        function Invoke(str) {
            var url = str;

            var win = window.open(url, 'windowName', "width =900,height=800,scrollbars=no");
            var timer = setInterval(function () {
                if (win.closed) {
                    clearInterval(timer);

                    alert("Reported")
                }
            }, 1000);

        }
    </script>

}


