﻿@model IEnumerable<Scoolfirst.Model.Feed.FeedComment>
@using Scoolfirst.Model.Utility;
@{
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var fileUrl = http + System.Web.Configuration.WebConfigurationManager.AppSettings["pictureServer"];

}
 @foreach (var c in Model)
 {
    <div class="media" id="@string.Format("Comment_"+c.Id)">
        <a href="#" class="pull-left">
            @Html.Action("ppic", "profile", new { Id = c.UserId })
        </a>

        <div class="pull-right p-0">
            <ul class="actions">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        @if (User.Identity.Name == c.User.UserName || User.Identity.Name == c.User.PhoneNumber)
                        {
                            <li>
                                <a href="#" class="deleteComment" data-target="@string.Format(c.Id.ToString())" data-comment="@string.Format("#PostComment_" + c.Id)">Delete</a>
                            </li>}
                        else
                        {
                            <li>
                                <a href="#" id="Report" onclick="javascript:Invoke('@string.Format("{0}/home/report?type={2}&PostId={1}",fileUrl,c.Id,TypeSource.FeedComment.ToString())')">Report</a>

                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>

        <div class="media-body">
            <a href="#" class="a-title">@c.User.FullName</a> <small class="c-gray m-l-10 CommentTime" data-time="@c.On.ToString("o")">@c.On.ToString("dd MMM yyyy HH:mm:ss 'GMT'K '(GMT Standard Time)'")</small>
            <p class="m-t-5 m-b-0">@Html.Raw(Html.BreakedText(c.Comment))</p>
        </div>
    </div>
 }
