﻿
@model IEnumerable<Scoolfirst.Model.Feed.Post>
@{
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var fileUrl = http + System.Web.Configuration.WebConfigurationManager.AppSettings["pictureServer"];


    ViewBag.Title = "Index";
}
@section style{
    <style>
        .card-header {
            padding: 10px 15px 5px !important;
        }
    </style>
}



    @foreach (var ir in Model)
    {

        <div class="card">
            <div class="card-header bgm-cyan">
                <div class="media">
                    <div class="pull-left">
                        <img src="~/static/img/feedIcon/ic_vocabulary.png" class="lv-img-sm" />

                    </div>
                    <div class="media-body m-t-5">
                        <h2>
                          Must Remember Tips
                            <small class="dateTime CommentTime" data-Time="@ir.OnDateTIme.ToString("o")">
                                Posted on @ir.OnDateTIme.ToString("dd MMM yyyy hh:mm:ss")
                            </small>
                        </h2>
                    </div>
                </div>
            </div>


            <div class="card-body card-padding">

                <span class="lead">@ir.Title</span>


                <div class="rawContent">
                    @Html.Raw(ir.Content)
                </div>



            </div>


        </div>
    }





    @if (Model.Count() == 0)
    {
        <h3>Sorry ! We Don't have Any more Chocholates For you :(</h3>
    }
    else
    {
        var Page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"].ToString()) : 0;
        var Category = Request.QueryString["category"] ?? "KN";
        var url = string.Format("/feed/?page={0}&category={1}", (Page + 1), Category);
        <a class="text-center btn btn-block btn-info waves-button-input" href="@url">Load More</a>
    }

