﻿@model IEnumerable<Scoolfirst.Model.RNM.RnmPost>


        <div class="card" style="background: transparent;box-shadow:0 0px 0px rgba(0, 0, 0, 0.15)!important">
            <div class="card-header ch-alt p-0 p-t-20 ">
               <h1 class="p-l-10 m-t-0">Reasoing Root</h1>
                <ul class="tab-nav" role="tablist">
                    <li class="active bgm-orange"><a href="#home11" class="c-white" aria-controls="home11" role="tab" data-toggle="tab" aria-expanded="false">R &amp; N Theory</a></li>
                    <li class="bgm-deeporange"><a href="#profile11" class="c-white" aria-controls="profile11" role="tab" data-toggle="tab" aria-expanded="true">Test Papers</a></li>
                </ul>
            </div>
            <div class="card-body">
                <div role="tabpanel">
                    
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home11">
                           
                                @*<h3>R &amp; M</h3>*@
                              
                                    @foreach (var i in Model)
                        {
                                        <div class="card">
                                            <div class="card-header ch-alt p-15">
                                                <h6>@i.Title</h6>

                                            </div>
                                            <div class="card-body card-padding">
                                                <p>@Html.Raw(i.Content)</p>
                                            </div>
                                        </div>
                        }
                                    @if (Model.Count() == 0)
                        {
                                        <h3>Sorry ! We Don't have Any more Chocholates For you :(</h3>
                        }
                        else
                        {
                                        <a class="text-center btn btn-block btn-info waves-button-input" href="@ViewBag.Page">Load More</a>
                        }
                               
                          
                        </div>
                        <div role="tabpanel" class="tab-pane " id="profile11">
                            @Html.Action("RandMTest")
                        </div>

                    </div>
                </div>
            </div>

        </div>

@section scripts{
    <script src="~/static/CustomScript/InfinteScroll.js"></script>
}