﻿@model IEnumerable<Scoolfirst.Model.MCQ.QuestionSet>

@{
    ViewBag.Title = "NLOTest";
}

@*<h3>R &amp; M -Test</h3>
    @foreach (var i in Model)
    {
        <div class="card">
            <div class="card-header">
                <h6>@i.Title</h6>

            </div>
            <div class="card-body card-padding">
                <p>@Html.Raw(i.Description)</p>


            </div>
            <div class="card-footer card-padding">
                <a href="/feed/exam/@i.Id" class="btn btn-success card-footer-item pull-right">Take Test</a>
            </div>
        </div>
    }*@

<div class="card">
    <div class="card-header">

    </div>

    <div class="card-body">

        <div class="listview lv-bordered lv-lg">

            <!-- Question Ans Section-->
            <div class="lv-body">

                @foreach (var i in Model)
                {
                    <div class="lv-item media">
                        <div class="pull-left">
                            <div class="lv-avatar  pull-left">Q</div>
                        </div>
                        <div class="media-body">
                            <div class="lv-title">@i.Title</div>
                            <div class="lv-small card-body p-t-10 p-b-10">
                                @Html.Raw(i.Description)
                               
                            </div>
                            
                            <ul class="lv-attrs">

                                <li class="pull-right">
                                    <a href="/feed/exam/@i.Id" class="btn btn-success" aria-expanded="true">
                                        Start Test
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
