﻿@model IEnumerable<Scoolfirst.Model.Common.RoleModel>

@{
    //TODO Imran Ali Please review this view and delete it if nesessory. I think this view is copy of index view of YInspireMe controller
    ViewBag.Title = "UInspireMe";
}

@if (!Request.IsAjaxRequest())
{
    
   
    <div class="row">
        <div class="col-md-7" id="postHolder">
            @PostMaker()
        </div>

        <div class="col-md-4 hidden-sm" id="rightsidebar">
            @Html.Action("TopFeeds", "widgets")
            @Html.Action("TopKDC", "widgets")
            @Html.Action("TopProjects", "widgets")

        </div>
    </div>

}
else
{
    @PostMaker()
}

@section scripts{
    <script src="~/static/CustomScript/InfinteScroll.js"></script>
}

@section style{
    <style>
        .card-header {
            padding: 10px 15px 5px !important;
        }
    </style>
}






@helper PostMaker(){

    foreach (var ir in Model)
    {
        <div class="card" >
            <div class="card-header bgm-blue">
                <div class="media">
                    <div class="pull-left color c-lightgreen">
                        <img src="~/static/img/feedIcon/ic_brain_breakfast.png" class="lv-img-sm" />

                    </div>
                    <div class="media-body m-t-5">
                        <h2>
                            You Inspire Me
                            <small class="dateTime CommentTime" data-Time="@ir.On.ToString("o")">
                                Posted on @ir.On.ToString("dd MMM yyyy hh:mm:ss")
                            </small>
                        </h2>
                    </div>
                </div>
            </div>


            <div class="card-body card-padding">

                <span class="lead">@ir.Title</span>

                @if (!(string.IsNullOrEmpty(ir.ImageUrl) && string.IsNullOrWhiteSpace(ir.ImageUrl)))
                {
                <div class="wip-item" data-src="@ir.ImageUrl" style="background-image: url(@ir.ImageUrl);">
                    <img src="@ir.ImageUrl" alt="@ir.Title" />
                </div>
                }

                <div class="rawContent">
                    @Html.Raw(ir.Content)
                </div>

              

            </div>


        </div>
        }

        if (Model.Count() == 0)
        {
            <h3>Sorry ! We Don't have Any more Chocholates For you :(</h3>
        }
        else
        {
            var Page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"].ToString()) : 0;
            var Category = Request.QueryString["category"] ?? "KN";
            var url = string.Format("/feed/UInspireMe?page={0}&category={1}", (Page + 1), Category);
            <a class="text-center btn btn-block btn-info waves-button-input" href="@url">Load More</a>
        }
}





