﻿@model Scoolfirst.Model.DaliyTestNameSpace.DaliyTest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DaliyTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartsOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartsOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndsOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndsOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
