﻿@model IEnumerable<Scoolfirst.Model.DaliyTestNameSpace.DaliyTest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartsOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndsOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td colspan="3">
           Scroll Message: <span class="label label-info">@item.Scroll</span>
        </td>
    </tr>
    <tr>

        <td>
            
            
            @Html.DisplayFor(modelItem => item.StartsOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndsOn)
        </td>
        <td class="btn btn-group btn-group-sm">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) 
            @Html.ActionLink("Sets", "index", "DTQuestionSets", new { DTI = item.Id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Send SMS", "SendMessage", new { id = item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
