﻿@model IEnumerable<Scoolfirst.Model.Identity.User>

@{
    ViewBag.Title = "SendMessage";
}

<h2>SendMessage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class.RomanDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Parent_Admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Board)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AboutMe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subscribed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterdOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sponsered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterAs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedforBrandAmbesdor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBrandAmbesdor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherSchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefferedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefferCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentsNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Class.RomanDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Parent_Admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Board)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutMe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subscribed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expiry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterdOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sponsered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterAs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedforBrandAmbesdor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBrandAmbesdor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherSchool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConnectionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefferedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefferCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentsNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
