﻿@model Scoolfirst.Model.Common.RoleModel

@{
    //Todo Change UI
    // Review required Shahid
    ViewBag.Title = "Edit";
}

@UIHelper.Header("Role Model")

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="box box-primary">
                    <div class="box-header">
                        <h3>Edit</h3>
                    </div>
                    <div class="box-body">

                        @Html.ValidationSummary(false, null, new { @class = "error-text" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClassId, "Class", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("ClassId", null, htmlAttributes: new { @class = "form-control" })


                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })


                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.Content, new { @class = "richeditor" })


                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageUrl, "Image", htmlAttributes: new { @class = " " })

                            <div class="input-group">
                                @Html.EditorFor(model => model.ImageUrl, new { htmlattributes = new { @class = "form-control" } })
                                <span class="input-group-btn">
                                    <a href="#" class="filepicker btn btn-info btn-flat" title="upload image" style="color:white !important"><i class="fa fa-image"></i></a>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group ">
                            @Html.LabelFor(model => model.VideoUrl, "Video Url", htmlAttributes: new { @class = "control-label" })

                            <div class="input-group">
                                @Html.EditorFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-btn">
                                    <a href="/home/youTube/VideoUrl" data-id="VideoUrl" class="Videopicker btn btn-info btn-flat" style="color:white !important">
                                        <i class="fa fa-television"></i>
                                    </a>
                                </span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="dtp_input1" class=" control-label">Date</label>
                            <div class="input-group date form_datetime" data-date-format="dd MM yyyy  HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" type="text" value="@Model.On" name="On">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Pinned, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.Pinned)


                        </div>

                        <div class="form-group">
                            <label>
                                Type Of U Inspire me

                            </label>
                            <select name="TypeOfRm">
                                <option @(Model.TypeOfRm=="Current Affairs"?"selected":"")>Current Affairs</option>
                                <option @(Model.TypeOfRm=="Quiz"?"selected":"")>Quiz</option>
                                <option @(Model.TypeOfRm=="Daily Vocab"?"selected":"")>Daily Vocab</option>
                            </select>


                        </div>


                    </div>
                    <div class="box-footer">
                        <button class="btn btn-success pull-right">Save</button>
                        <a href="/RoleModels" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>
                </div>
            }
        </div>

    </div>

</section>

@section Scripts{

<link href="~/Content/DatePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
   @*<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />*@
<script src="~/Content/DatePicker/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/DatePicker/locales/bootstrap-datetimepicker.fr.js"></script>

<script type="text/javascript">
    $(function () {
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            //showMeridian: 1
        });
    });

</script>



    @Scripts.Render("~/bundles/jqueryval")
    @FilePopUp.ModalFileFancyBox("ImageUrl")
    @FilePopUp.VideoSearch()
    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
   <script src="/tinymce/settings"></script>
    <script>tinymce.init({ selector:'.richeditor' });</script>
}