﻿@model IEnumerable<Scoolfirst.Model.Common.ModuleData>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@UIHelper.Header("Module")

<section class="content">
    <div class="box">
         <div class="box-header">
             <p>
                 @Html.ActionLink("Create New", "Create")
             </p>
         </div>
        <div class="box-body">
            <table class="table">
                <tr>
                    <th>Module Name</th>
                    <th>Active</th>
                    <th>Free</th>
                    <th>Auth</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ModuleName
                        </td>
                        <td>@item.Active</td>
                        <td>@item.Free</td>
                        <td>@item.AuthRequired</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ModuleName }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ModuleName }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ModuleName })
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>


    

    
    
</section>

