﻿@model Scoolfirst.Model.Common.Goals

@{
    ViewBag.Title = "Create";
}




@UIHelper.Header("Goals", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="box box-primary">
                    <div class="box-header with-border">                     
                            <h3 class="box-title">Create</h3>                       
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                   
                    <div class="box-body">
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserId,"User Id", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Points, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Points, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = " " })
                            <input type="date" class="form-control" name="StartDate"/>
                            @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GoalLevel, htmlAttributes: new { @class = " " })
                            @Html.EnumDropDownListFor(model => model.GoalLevel, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GoalLevel, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Goals/index" class="btn btn-warning pull-right" style="margin-right:5px">Cancel</a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

