﻿@model Scoolfirst.Model.Common.Goals

@{
    ViewBag.Title = "Edit";
}



@UIHelper.Header("Goals", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               <input type="hidden" name="Id" value="@ViewBag.Id"/>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserId,"User Id", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Points, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Points, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = " " })
                            <input type="date" class="form-control" name="StartDate" />
                            @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GoalLevel, htmlAttributes: new { @class = " " })
                            @Html.EnumDropDownListFor(model => model.GoalLevel, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GoalLevel, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Goals/index" class="btn btn-warning pull-right" style="margin-right:5px">Cancel</a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




@*@FgMD.FgInit()
@if (!Request.IsAjaxRequest())
{

<div class="card">
    <div class="card-header bgm-blue">
        <h2>Edit Goals <small>write some descriptive title</small></h2>
        <a href="@Url.Action("Index","Goals")" class="btn bgm-deeporange btn-float waves-effect"><i class="zmdi zmdi-arrow-back"></i></a>
    </div>

<div class="card-body card-padding">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        @Html.ValidationSummary(false,null,new{@class="error-text"})
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model=>model.UserId)

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })

            
        </div> <!-- Form Control End-->

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.Points, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EditorFor(model => model.Points, new { htmlAttributes = new { @class = "form-control" } })

            
        </div> <!-- Form Control End-->

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })

            
        </div> <!-- Form Control End-->

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.GoalLevel, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EnumDropDownListFor(model => model.GoalLevel, htmlAttributes: new { @class = "selectpicker" })

            
        </div> <!-- Form Control End-->

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control" } })

            
        </div> <!-- Form Control End-->

            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              	<button type="submit" class=" pull-right btn btn-primary btn-lg waves-effect">Save</button>
            </div>
        </div>
    </div>
} <!-- Form  End-->
</div>
</div>
} <!--Normal Web Request End-->

@if (Request.IsAjaxRequest())
{
    using (Html.BeginForm())
    {
     @Html.AntiForgeryToken()
<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Edit Goals</h4>
</div>
<!--Modal Body Start-->
 <div class="modal-body">
     <div class="form-horizontal">
      
        @Html.ValidationSummary(false,null,new{@class="error-text"})
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })

            
        </div> <!-- Form Control End-->

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.Points, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EditorFor(model => model.Points, new { htmlAttributes = new { @class = "form-control" } })

            
        </div> <!-- Form Control End-->

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })

            
        </div> <!-- Form Control End-->

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.GoalLevel, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EnumDropDownListFor(model => model.GoalLevel, htmlAttributes: new { @class = "selectpicker" })

            
        </div> <!-- Form Control End-->

        <div class="form-group fg-line">
            @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = "control-label col-md-2" })
           
                @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control" } })

            
        </div> <!-- Form Control End-->

          
    </div><!--form-horizontal END-->
 </div> <!--Modal-Body-horizontal END-->
 
 <div class="modal-footer">
<hr />
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<button type="submit" class="btn btn-primary">Save changes</button>
</div><!--Modal Foter End-->  

}<!--FormEnd-->
}<!--Ajax Web Request End-->*@
    
