﻿@model IEnumerable<Scoolfirst.Model.Common.Goals>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Sucess"] != null)
{

    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Goals", null, "List of All Goals")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Goals"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                                    
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped table-condensed table-vmiddle">
                                    <thead>
                                        <tr role="row">
                                            <th>Title</th>
                                            <th>Points</th>
                                            <th>Start Date</th>
                                            <th>Goal Level</th>
                                            <th>Days</th>
                                            <th>Action</th>

                                         </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td>@item.Points</td>
                                                <td>@item.StartDate</td>
                                                <td>@item.GoalLevel</td>
                                                <td>@item.Days</td>
                                               
                                                <td class="btn-group btn-group-sm" width="120px">
                                                    <a href="@Url.Action("Edit", "Goals", new { id =item.Id })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" ><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "Goals", new { id = item.Id })" data-toggle="tooltip" data-placement="top" class="btn btn-danger btn-sm "><i class="fa fa-remove"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                   
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/Goals/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>




@*<div class="card">
    <div class="card-header bgm-blue">
        <h2>Index Goals <small>write some descriptive title</small></h2>
        <a  href="@Url.Action("Create","Goals")" class="btn bgm-pink btn-float waves-effect"><i class="zmdi zmdi-plus"></i></a>
    </div>
<div class="card-body">

@if (Model.Count() > 0)
{

<div class="p-20">
<form action="@Url.Action("Search","Goals")" method="post">
            <div id="data-table-subject-header" class="bootgrid-header container-fluid">
                <div class="row">
                    <div class="col-sm-12 actionBar">
                        <div class="search form-group pull-left">
                            <div class="input-group">
                                <span class="zmdi icon input-group-addon glyphicon-search"></span>
                                <input type="text" class="search-field form-control" placeholder="Search" name="search">

                                <span class="input-group-addon">
                                    <button type="submit">Go</button>
                                </span>

                            </div>
                        </div>
                        <div class="actions btn-group">
                            <div class="dropdown btn-group">
                                <button class="btn btn-default dropdown-toggle waves-effect" type="button" data-toggle="dropdown">
                                    <span class="dropdown-text">10</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li class="active" aria-selected="true">
                                        <a data-action="10" class="dropdown-item dropdown-item-button">10</a>
                                    </li>
                                    <li aria-selected="false">
                                        <a data-action="25" class="dropdown-item dropdown-item-button">25</a>
                                    </li>
                                    <li aria-selected="false">
                                        <a data-action="50" class="dropdown-item dropdown-item-button">50</a>
                                    </li>
                                    <li aria-selected="false">
                                        <a data-action="-1" class="dropdown-item dropdown-item-button">All</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoalLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td class="text-right">
             <a href="@Url.Action("Edit","Goals", new {id=item.Id })" data-toggle="tooltip" data-placement="top" title="Click to edit Goals" class="btn btn-primary btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
             <a href="@Url.Action("Details","Goals", new {id=item.Id })" data-toggle="tooltip" data-placement="top" title="Click to view details Goals" class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-search"></i></a>
             <a href="@Url.Action("Delete","Goals", new {id=item.Id })" data-toggle="tooltip" data-placement="top" title="Click to delete Goals" class="btn btn-danger btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-close"></i></a>            
        </td>
        
    </tr>
}

</table>

}

else{

<div class="p-30">
                <p class="text-center">
                    <h3>No Goals found. To create Goals  <a  href="@Url.Action("Create","Goals")">click on me</a> </h3>
                </p>
            </div>
}

</div><!--Card Body End-->
</div><!--Card End-->*@
