﻿@model string
@{
    Layout = null;

  

   
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
</head>
<body>
    <div> 
       <h4>One moment please !</h4>
       <p>Please wait while we open payment gateway for you.</p>
    </div>
</body>
</html>
