﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.debugHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.show = function (result) {
                console.log(result)
                var encodedName = $('<div />').text(JSON.stringify(result)).html();

                $('#discussion').append('<li><strong>' + encodedName
                    + '</strong></li>');
            };
            
            $.connection.hub.start().done(function () {
               
            });
        });
    </script>
</head>
<body>
    <ul id="discussion"> 
    </ul>
</body>
</html>
