﻿@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="0;URL='@string.Format("{0}/Payment/PaymentOver",HostingServerInfo.Application.GetCompleteUrl())'" />   
    <title>Success</title>
</head>
<body>
    <div> 
        @Model
    </div>
</body>
</html>
