﻿@model Scoolfirst.Model.Slides.SliderSlice

@{

    ViewBag.Title = "Edit";

}

<div class="card">
    <div class="card-header bgm-green">
        <h2>New Slide <small>Add new slider item for slider @(Model.Slider!= null ? Model.Slider.SliderName : "No Title")</small></h2>

    </div>

    <div class="card-body card-padding">


        @using (Html.BeginForm("index", "sliderSlice", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()




            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)


            <div class="form-group">
                <div class="fg-line">
                    <label class="fg-label">Title</label>
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label class="fg-label">Description</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label class="fg-label">Link/URL</label>
                        @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Link)
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label class="fg-label">Target</label>
                        @Html.DropDownList("Target", null, null, new { @class = "form-control" })

                    </div>
                </div>


                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="fg-line">
                            <label class="fg-label">Select Image</label>
                            @Html.TextBoxFor(model => model.Image, new { @class = "form-control" })

                        </div>
                        <span class="input-group-addon last">
                            <a href="http://abc.com/"  class="filepicker" data-id="Image">
                                <i class="zmdi zmdi-image zmdi-hc-fw" style="font-size:50px;"></i>
                            </a>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class=" pull-right btn btn-primary btn-lg waves-effect">Save</button>
                        
                    </div>
                </div>

                <div class="clearfix"></div>
        }
    </div>

    </div>

