﻿@model Scoolfirst.Model.Slides.SliderSlice

    @{

        ViewBag.Title = "Edit";

    }


    @using (Html.BeginForm("edit", "sliderSlice", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="thumbnail">
                <img src="/Image/SliderImage/@Model.Id" />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Link, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link)
                    @Html.ValidationMessageFor(model => model.Link)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                <div class="input-group ">

                    @Html.TextBoxFor(model => model.Image, new { @class = "form-control ckeditor", id = "Image" })
                    <div class="input-group-addon" id="basic-addon2"><button type="button" onclick="BrowseServer('Image');">Pick Image</button></div>
                </div>
            </div>

            <div class="form-group">

                @Html.HiddenFor(model => model.UpdateOn)

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


