﻿    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
    </div>
    <div class="modal-body">
        <iframe src="http://static.upgrde.net/filemanager/dialog.php?crossdomain=1&type=1&field_id=Image"></iframe>

       
    </div>
 
   


