﻿@model IEnumerable<Scoolfirst.Model.Slides.SliderSlice>
@using System.Configuration
@{
    ViewBag.Title = "Slider Image";
    int slidecount = 0;

    var fileserve = "http://" + ConfigurationManager.AppSettings["fileDomain"].ToString() + "/filemanager/dialog.php?crossdomain=1&type=1&field_id=Image";
    fileserve = "http://static.upgrde.net/filemanager/dialog.php?crossdomain=1&type=1&field_id=Image";
}

<div class="card">
    <div class="card-header bgm-blue">
        <h2>Slider Slice(s) for @(Model.FirstOrDefault()!=null? Model.FirstOrDefault().Slider.SliderName:"No Title") <small></small></h2>
        <a href="@Url.Action("Index","SliderSlice")" class="btn bgm-deeporange btn-float waves-effect"><i class="zmdi zmdi-arrow-back"></i></a>

    </div>

    <div class="card-body card-padding">



        @if (Model.Count() > 0)
        {
            @*<h2>Slide List of @Model.First().SliderName Slider</h2>*@

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                @foreach (var item in Model)
                {
                    slidecount++;

                    <div class="panel panel-default" data-id="@item.Id">
                        <div class="panel-heading" role="tab" id="@item.Slider.Id">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#@item.Slider.Id-@item.Id" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                    @item.Title <span class="pull-right label label-info">Slide-@slidecount</span>
                                   
                                </a>
                            </h4>
                            <div class="clearfix"></div>
                        </div>
                        <div id="@item.Slider.Id-@item.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@item.Slider.Id" aria-expanded="false" style="height: 0px;">


                            <div class="panel-body">
                                <div class="">
                                    <img src="@item.Image" class="img-responsive" />
                                </div>

                                <hr />

                                @using (Html.BeginForm("edit", "sliderSlice", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {


                                    <div class="form-horizontal">




                                        @*<input type="hidden" name="Id" value="@item.Id" />*@

                                        <div class="form-group">

                                            <div class="col-md-2">
                                                Title
                                            </div>
                                            <div class="col-md-10">
                                                <div class="fg-line">
                                                   
                                                    @Html.TextBox("Title", item.Title, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                Description
                                            </div>
                                            <div class="col-md-10">
                                                <div class="fg-line">
                                                    @Html.TextArea("Description", item.Description, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                Link
                                            </div>
                                            <div class="col-md-10">
                                                <div class="fg-line">
                                                    @Html.TextBox("Link", item.Link, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                Target
                                            </div>
                                            <div class="col-md-10">
                                                <div class="fg-line">
                                                    @Html.DropDownList("Target", null, item.Target, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                Image
                                            </div>
                                            <div class="col-md-10">
                                               
                                                    <div class="input-group input-group-lg">
                                                        <div class="fg-line">
                                                           
                                                            @Html.TextBox("Image", item.Image, new { @class = "form-control", id = "EditImage" + item.Id })

                                                        </div>
                                                        <span class="input-group-addon last">
                                                            <a href="#" data-id="@("EditImage" + item.Id)" class="filepicker">
                                                                <i class="zmdi zmdi-image zmdi-hc-fw"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                               
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            
                                                @Html.Hidden("Slider.Id", item.Slider.Id)

                                                <input type="hidden" name="Id" value="@item.Id" />

                                                <button type="submit" value="Update" class="btn btn-info pull-right">Update</button>
                                          
                                        </div>
                                    </div>
                                }


                                @using (Html.BeginForm("delete", "sliderSlice", FormMethod.Post))
                                {
                                  
                                    <input type="hidden" name="Id" value="@item.Id" />
                                    <div class="form-group">
                                      
                                            <button type="submit" value="Delete" class="btn btn-danger pull-right">Delete </button>
                                       
                                    </div>
                                }


                            </div>
                        </div>
                    </div>



                    //Html.RenderPartial("edit", item);
                }
            </div>
            <div class="p-10 pull-right">
                <form action="/Slider/SaveOrder" method="post">
                    <input type="hidden" name="Id" value="@ViewBag.sliderid" />
                    <input type="hidden" name="Order" id="Order" />
                    <button class="btn btn-primary" id="SaveOrder">Save Order</button>
                </form>
            </div>
            <div class="clearfix"></div>
            @Html.Partial("Create", new Scoolfirst.Model.Slides.SliderSlice { Slider = Model.FirstOrDefault().Slider })

        }

        else
        {
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                
            </div>

            @Html.Partial("Create", new Scoolfirst.Model.Slides.SliderSlice())

        }
        
    </div>
</div>

@section Scripts
{
<script src="~/static/vendors/bower_components/sortable/Sortable.js"></script>
    @*http://jsbin.com/rehihajujo/edit?html,js,console,output*@

    <script>

        $().ready(function () {
            $("#SaveOrder").hide();
            // List with handle

           
        Sortable.create(accordion, {
            animation: 150,
            setData: function (dataTransfer, dragEl) {
                dataTransfer.setData('Text', dragEl.textContent);

            },
            set: function (sortable) {
                var order = sortable.toArray();
                console.log(order)
               // localStorage.setItem(sortable.options.group, order.join('|'));
            },
            // dragging started
            onStart: function (/**Event*/evt) {
                evt.oldIndex;  // element index within parent
            },

            // dragging ended
            onEnd: function (/**Event*/evt) {
                evt.oldIndex;  // element's old index within parent
                evt.newIndex;  // element's new index within parent
                //console.log("Old:-" + evt.oldIndex)
                //console.log("New:-" + evt.newIndex)
            },

            // Element is dropped into the list from another list
            onAdd: function (/**Event*/evt) {
                var itemEl = evt.item;  // dragged HTMLElement
                evt.from;  // previous list
                // + indexes from onEnd
            },

            // Changed sorting within list
            onUpdate: function (/**Event*/evt) {
                var itemEl = evt.item;  // dragged HTMLElement
                // + indexes from onEnd
                //console.log(itemEl)
            },

            // Called by any change to the list (add / update / remove)
            onSort: function (/**Event*/evt) {
                // same properties as onUpdate
            },

            // Element is removed from the list into another list
            onRemove: function (/**Event*/evt) {
                // same properties as onUpdate
            },

            // Attempt to drag a filtered element
            onFilter: function (/**Event*/evt) {
                var itemEl = evt.item;  // HTMLElement receiving the `mousedown|tapstart` event.
            },

            // Event when you move an item in the list or between lists
            onMove: function (/**Event*/evt) {
                // Example: http://jsbin.com/tuyafe/1/edit?js,output
                evt.dragged; // dragged HTMLElement
                evt.draggedRect; // TextRectangle {left, top, right и bottom}
                evt.related; // HTMLElement on which have guided
                evt.relatedRect; // TextRectangle
                // return false; — for cancel
            },
            group: "localStorage-example",
            store: {
                /**
                 * Get the order of elements. Called once during initialization.
                 * param   {Sortable}  sortable
                 * returns {Array}
                 */
                get: function (sortable) {

                   
                    var order = $("input#Order").val();
                    console.log(order)
                    return order ? order.split('|') : [];
                },

                /**
                 * Save the order of elements. Called onEnd (when the item is dropped).
                 * param {Sortable}  sortable
                 */
                set: function (sortable) {
                    var order = sortable.toArray();
                    console.log(order)
                    $("input#Order").val(order.join('|'));
                    $("#SaveOrder").show();
                }
            }
        });
    });
    </script>
@FilePopUp.ModalFileFancyBoxData()
}

