﻿@model IEnumerable<Scoolfirst.Model.VirtualCompetetion.VirtualCompetitonSubCategory>

@{
    ViewBag.Title = "Index";
}



@UIHelper.Header("Sub Category", null, "List Of all Subcategory")
<section class="content">
    <div class="row">

        <div class="col-xs-12">

            <div class="box box-primary">

                <div class="box-header">
                    <a href="@Url.Action( "Create", new { catid = ViewBag.CatId })" class="btn btn-success">Created New</a>
                </div>
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Category.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            

                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                               
                                <td>

                                    <div class="btn-group">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Edit</a>
                                        <a href="@Url.Action( "Details", new { id = item.Id })" class="btn btn-success">Info</a>
                                        <a href="@Url.Action( "Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                                        <a href="/camp/virtualExams/?catid=@item.Id" class="btn btn-primary">Exams</a>
                                    </div>
    
                                </td>
                            </tr>
                        }

                    </table>


                </div>
            </div>

        </div>
    </div>
</section>





