﻿@model IEnumerable<Scoolfirst.Model.Geo.City>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("City",null,"List of All Cities")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Edit", "Cities", new { Id=0}), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped table-condensed" role="grid" >
                        <thead>
                            <tr role="row">
                                <th>Id</th>
                                <th>City Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td class="btn-group btn-group-sm" width="120px">
                                        <a href="@Url.Action("Edit", "Cities", new { id =item.Id })" class="btn btn-success btn-sm" ><i class="fa fa-edit"></i></a>
                                        <a href="@Url.Action("Delete", "Cities", new { id = item.Id })" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>


                    </table>

                    
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/cities/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>








