﻿@model IEnumerable<Scoolfirst.Model.Common.Achievement>
@{
    ViewBag.Title = "Index";
}

@UIHelper.Header("Achievements",null,"List Of all Achievement")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Achievement"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped table-condensed table-vmiddle">
                        <thead>
                            <tr role="row">
                                <th>Id</th>
                                <th>User Id</th>
                                <th>Achievement Detail</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.UserId</td>
                                    <td>@item.AchievementDetails</td>
                                    <td>@item.OnDate</td>
                                    <td>@item.Status</td>
                                    <td class="btn-group btn-group-sm" width="120px">
                                        <a href="@Url.Action("Edit", "Achievement", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                        <a href="@Url.Action("Delete", "Achievement", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>


                    </table>
                    <div class="col-sm-7">
                        @Pager.Page("/Achievement/index")

                    </div>

                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.row -->
</section>

