﻿@model Scoolfirst.Model.Common.SideBarNav

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SideBarNav</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleDataId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleDataId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Title }) |
    @Html.ActionLink("Back to List", "Index")
</p>
