﻿@model IEnumerable<Scoolfirst.Model.Common.SideBarNav>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@UIHelper.Header("Navigation",null,"List Of All Navigation")
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "SideBarNavs"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped table-condensed table-vmiddle">
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                               Order
                            </th>
                            <th>
                              Sub Menu
                            </th>
                            <th>
                               Module Data Id
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubMenu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModuleDataId)
                                </td>
                                <td class="btn-group btn-group-sm" width="120px">
                                    <a href="@Url.Action("Edit", "SideBarNavs", new { id =item.ModuleDataId})" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Details", "SideBarNavs", new { id =item.ModuleDataId })" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Delete", "SideBarNavs", new { id = item.ModuleDataId })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            
                        }

                    </table>

                    <div class="row">
                        <div class="col-sm-12">

                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

