﻿@model Scoolfirst.Model.Common.Achievement

@{
    ViewBag.Title = "Create";
}

<div class="card">
    <div class="card-header bgm-blue">
        <div class="media-body m-t-5">
            <h2>
                Achievement
            </h2>
        </div>
    </div>
    <div class="card-body card-padding">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form">               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })              
                @*<input type="hidden" name="UserId" value="@Session["UserDetails"]"/>*@
                @Html.HiddenFor(i=>i.UserId)
                <div class="form-group fg-line">
                        @Html.LabelFor(model => model.AchievementDetails,"Details Of Achievement", htmlAttributes: new { style = "" })                   
                        @Html.EditorFor(model => model.AchievementDetails, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AchievementDetails, "", new { @class = "text-danger" })
                    </div>              
                <div class="form-group fg-line">
                        @Html.LabelFor(model => model.OnDate,"Date", htmlAttributes: new { style = "" })
                        @Html.EditorFor(model => model.OnDate, new { htmlAttributes = new { @class = "form-control date-time-picker" } })
                        @Html.ValidationMessageFor(model => model.OnDate, "", new { @class = "text-danger" })
                 
                </div>
                        <button type="submit" class="btn btn-success pull-right" style="margin-top:-10px">Save</button>
                   
            </div>
        }
    </div>
</div>

@section Scripts {
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
            $(function () {
                $('.date-time-picker').datetimepicker();
            });
</script>
    @Scripts.Render("~/bundles/jqueryval")
}
