﻿@model Scoolfirst.Model.Identity.User

@{
    ViewBag.Title = "Details";
}

<div class="blank">
    <div class="blank-page">
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Class 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Class.RomanDisplay)
            </dd>

            

            <dt>
                Name 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            

            


            <dt>
                @Html.DisplayNameFor(model => model.Points)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Points)
            </dd>

            

            <dt>
               Date of Birth
            </dt>

            <dd>
                @Model.DOB
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

           

           
           

           

          


            <dt>
                Gender 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                Contact Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

           




           




           


           


        </dl>
    </div>
    </div>
    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>
