﻿@model IEnumerable<Scoolfirst.Model.Identity.User>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index","Students", FormMethod.Post, new { id = "demoForm", name = "demoForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="blank">

    <div class="blank-page">

        <div class="text-center">
            @UIHelper.Header("Students", null, "List of All Students")
        </div>
        <div class="col-md-12">
            <label>Class</label>
            <div class="form-group">
                @Html.DropDownList("ClassId", null, null, new { @class = "form-control", onchange = "SelectedIndexChanged()" })

            </div>
        </div>
        <table class="table table-striped">
            

            <tr>
                <th>
                    Student
                </th>

               

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" src="@item.PictureUrl?width=52" />
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">@Html.DisplayFor(modelItem => item.FullName)</h5>
                             <p>
                                 @Html.DisplayFor(modelItem => item.Class.RomanDisplay)
                                 @Html.DisplayFor(modelItem => item.Gender)
                             </p>
                            </div>
                        </div>

                       
                    </td>

                   
                    <td>
                       
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                        
                    </td>
                </tr>
            }
            
            <tfoot>
            <tr>
                <td colspan=2>
                    @Pager.Page("/School/Students/Index/")
                </td>
            </tr>
            </tfoot>

        </table>
        
        
    </div>
</div>
<div class="clearfix"></div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

    function SelectedIndexChanged() {
        //Form post
     
        document.demoForm.submit();
    }
</script>  