﻿@model Scoolfirst.Model.Common.ReportAbuseTitle

@{
    ViewBag.Title = "Edit";
}

@UIHelper.Header("Olympiad", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box box-primary">
                    <div class="box-header with-border">
                        @if (Model.Id == 0)
                        {
                            <h3 class="box-title">Create</h3>
                        }

                        else
                        {
                            <h3 class="box-title">Edit</h3>
                        }
                            
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.EntryDate,"Entry Date", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control date-time-picker" } })
                            @Html.ValidationMessageFor(model => model.EntryDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Visible, new { htmlAttributes = new { @class = "checkbox" } })
                            @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/ReportAbuseTitles/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
<link href="~/static/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
            $(function () {
                $('.date-time-picker').datetimepicker();
            });
</script>
}