﻿@model IEnumerable<Scoolfirst.Model.Common.ReportAbuseTitle>

@{
    ViewBag.Title = "Index";
}


@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Reports", null, "List of All Reports")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Edit", "ReportAbuseTitles", new { Id=0}), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Message</th>
                                        <th>Visible</th>                                       
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Title</td>
                                            <td><span class="alert alert-@(item.Visible?"sucess":"danger")"> @(item.Visible ? "Yes" : "No")</span></td>                                           
                                            <td class="btn-group btn-group-sm" width="120px">
                                                <a href="@Url.Action("Edit", "ReportAbuseTitles", new { id =item.Id })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("Delete", "ReportAbuseTitles", new { id = item.Id })" data-toggle="tooltip" data-placement="top" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/ReportAbuseTitles/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

