﻿@model Scoolfirst.Model.WorkBook.Note

@{
    ViewBag.Title = "Details";
}

@UIHelper.Header("Notes", null, "Details Of Notes")
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>

                    <h3 class="box-title">Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl>
                        <dt>Chapter Name</dt>
                        <dd>@Model.Chapter.Name</dd>
                        <dt>Topic</dt>
                        <dd>@Model.Topic</dd>
                        <dt>Revision Matter</dt>
                        <dd>@Html.Raw(Model.RevisonMatter)</dd>
                        
                    </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Edit","Notes", new { id=Model.Id,BookId=ViewBag.Book})" class="btn btn-success pull-right"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Index","Notes", new { ChapterId=Model.ChapterId,BookId=ViewBag.Book})" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>


