﻿@model Scoolfirst.Model.WorkBook.Note

@{
    ViewBag.Title = "Edit";
}

@UIHelper.Header("Notes", null)

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               @Html.HiddenFor(i=>i.ChapterId)
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <h3 class="box-title">Add New Notes</h3>


                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RevisonMatter, "Revision Matter", htmlAttributes: new { @class = "" })
                            @Html.TextAreaFor(model => model.RevisonMatter, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.RevisonMatter, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Trending, "Trending", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Trending, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Trending, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GlobalTrending, "Global Trending", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.GlobalTrending)
                            @Html.ValidationMessageFor(model => model.GlobalTrending, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="@Url.Action("Index","Notes", new { ChapterId=Model.ChapterId,BookId= ViewBag.Book})" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "false")
    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/tinymce/settings"></script>
    <script>tinymce.init({ selector:'.richeditor' });</script>
}
