﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Note>

@{
    ViewBag.Title = "Index";
}
<input type="hidden" name="ChapterId" value="@ViewBag.ChapterId"/>
@UIHelper.Header("Notes",null,"List Of All Notes")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Notes", new { ChapterId=ViewBag.ChapterId,BookId=ViewBag.Book}), "")

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped table-condensed ">
                        <thead>
                            <tr>
                                <th>Chapter Name</th>
                                <th>Topic</th>
                                <th>Revision Matter</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                     @item.Chapter.Name
                                    </td>
                                    <td>
                                       @item.Topic
                                    </td>
                                    <td>
                                        @Html.Raw(item.RevisonMatter)
                                    </td>
                                    <td width="120px">
                                        <div class="btn btn-group btn-sm">
                                            <a href="@Url.Action("Edit", "Notes", new { id =item.Id,BookId=ViewBag.Book })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("Details", "Notes", new { id =item.Id,BookId=ViewBag.Book })" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                            <a href="@Url.Action("Delete", "Notes", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>


                    </table>
                    <div class="box-footer">
                        <a href="/Books/Details/@ViewBag.Book" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                    </div>
                </div>
                <div class="box-footer">
                    @Pager.Page("/Notes/Index")
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

