﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Chapter>
@{
    ViewBag.Title = "Index";
}
@if (!ViewContext.IsChildAction)
{

    <section class="content-header">
        <h1>
            @ViewBag.BookName - Chapters
        </h1>
        <a href="/books/" class="btn btn-success">Back To list</a><a href="/books/details/@ViewBag.BookId" class="btn btn-info">Book Details</a>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            @{ 
                //todo review required--------------------shahid
            }
            <li><a href="#">Examples</a></li>
            <li class="active">Books</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
              @PrintData()
            </div>

        </div>

    </section>
}

else
{
@PrintData()
}

@helper PrintData() {

    <section class="content-header">
        <h1>
            List Of Chapters: Total: (@Model.Count()) Chapters
        </h1>
       
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        @Html.ActionLink("Add Chapter", "CreateChapter", new { bookId = ViewBag.BookId }, new { @class = "btn btn-success pull-right" })
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">


                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr role="row">
                                            <th>Name</th>                                            
                                            <th class="">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.Raw(item.Name)</td>
                                                <td class="btn-group btn-sm">
                                                    <a href="@Url.Action("Edit", "Chapters", new { id =item.Id, BookId = ViewBag.BookId })" class="btn btn-success btn-sm" ><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Details", "Chapters", new { id =item.Id })" class="btn btn-info btn-sm" ><i class="fa fa-eye"></i></a>
                                                    <a href="@Url.Action("Delete", "Chapters", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                    @Html.ActionLink("Questions", "ChaptresQuestion", "Questions", new { ChapterId = item.Id, BookId = ViewBag.BookId }, new { @class = "btn btn-sm btn-primary pull-right" })
                                                    <a href="@Url.Action("Index", "Notes",new {BookId=ViewBag.BookId,ChapterId=item.Id })"  class="btn btn-primary btn-sm"><i class="">Add New Notes</i></a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        @Pager.Page("/Questions/index")
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

}