﻿@model Scoolfirst.Model.WorkBook.Chapter

@{ 
    // Review required--------Shahid
}

@UIHelper.Header("Chapters", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(i=>i.ClassesId)
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Chapter</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">


                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.Name, new { @class = "form-control" })
                            <div class="help-block">Use comma(,) Or new line to create multiple chapters.(eg Multiplication,Addition,Substraction ...etc)</div>
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = " " })
                            @Html.EnumDropDownListFor(model => model.Month, htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchKeyWord, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.SearchKeyWord, htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.SearchKeyWord, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Active)

                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>


                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                       @backurl()
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@helper backurl() {
if (Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("/chapters/bookschapter"))
{
        <a href="@Request.UrlReferrer" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
}
else
{
        <a href="/chapters/Index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
}
}

