﻿@model Scoolfirst.Model.WorkBook.Chapter

@{
    ViewBag.Title = "Details";
}

<section class="content">
    <div class="row">

        <div class="col-xs-12">

            <div class="box box-primary">

                <div class="box-header">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3 class="">@Model.Name</h3>
                            <span>@Model.Month</span>
                            <p>
                                <ul class="list-unstyled">
                                    <li class="f-19 c-white">
                                        <b>No. Of Questions: </b><a class="label bgm-pink">@Model.Questions.Count()</a>
                                    </li>
                                    
                                </ul>
                            </p>
                        </div>
                        <div class="icon">
                           
                        </div>
                        <a href="#" class="small-box-footer"> </a>
                    </div>
                    
                </div>
                <div class="box-body">
                    @Html.Action("ChaptresQuestion", "Questions", new { ChapterId = Model.Id })
                </div>
            </div>

        </div>
    </div>
</section>






