﻿@model Scoolfirst.Model.WorkBook.Chapter

@{
    ViewBag.Title = "Edit";
}

@UIHelper.Header("Chapters", null)

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <input type="hidden" name="Id" value=""/>
                <div class="box box-primary">
                    <div class="box-header with-border">                      
                            <h3 class="box-title">Edit Chapter</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group">
            @Html.LabelFor(model => model.ClassesId, htmlAttributes: new { @class = " " })
            @Html.DropDownList("ClassesId",null, new { @class="form-control"})
            @Html.ValidationMessageFor(model => model.ClassesId, "", new { @class = "text-danger" })
        </div>*@
                        @Html.HiddenFor(i => i.ClassesId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Trending, "Trending", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Trending, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Trending, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GlobalTrending, "Global Trending", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.GlobalTrending)
                            @Html.ValidationMessageFor(model => model.GlobalTrending, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchKeyWord, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.SearchKeyWord, htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.SearchKeyWord, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = " " })
                            @Html.EnumDropDownListFor(model => model.Month, htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, "Active", htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        @BackUrl()
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@helper BackUrl(){
    if (Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("/chapters/bookschapter"))
    {
        <a href="@Request.UrlReferrer" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
    }
    else
    {
        <a href="@Url.Action("Index","Chapters", new { id=Model.Id})" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
    }
}