﻿@model Scoolfirst.Model.Common.Classes

    @{
        ViewBag.Title = "Edit";
    }

    @UIHelper.Header("Classes", null)
     
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    @if (Model.Id == 0)
                                    {
                                        <h3 class="box-title">Add New Class</h3>
                                    }
                                    else
                                    {
                                        <h3 class="box-title">Edit Classes</h3>
                                    }
                                    
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RomanDisplay, htmlAttributes: new { @class = " " })
                                        @Html.EditorFor(model => model.RomanDisplay, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RomanDisplay, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NumericDisplay, htmlAttributes: new { @class = " " })
                                        @Html.EditorFor(model => model.NumericDisplay, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NumericDisplay, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                                    <a href="~/Classes/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </section>
       
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "false")
}


