﻿
@model IEnumerable<Scoolfirst.Model.Common.Classes>


@if (TempData["Sucess"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      @Html.Raw(TempData["Sucess"])
       </div>
}

@UIHelper.Header("Classes", null)

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Edit", "Classes", new { id = 0 }), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-bordered  table-condensed table-striped table-vmiddle " role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th> Class Id</th>
                                <th>Roman Display</th>
                                <th>Numeric Display</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.RomanDisplay</td>
                                    <td>@item.NumericDisplay</td>
                                    <td width="120px">
                                        <div class="btn btn-group btn-sm">
                                            <a href="@Url.Action("Edit", "Classes", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("Delete", "Classes", new { id = item.Id })" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>


                    </table>


                </div>
                <div class="box-footer">
                    @Pager.Page("/Classes/index")

                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>

