﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var data = CurrentPage.AncestorOrSelf(1).ourAdvantages.First();
    int firstitemIndex = 0;
    ViewBag.Title = "Advantages";
    int itemPrinted = 0;
}


	<!-- ============================================================= SECTION – SERVICES ============================================================= -->
<section id="pattern-background-2" class="dark-bg img-bg-softer" style="background-image: url(assets/images/art/pattern-background02.png);">
   
@*<section id="services">*@
    <div class="container inner-top inner-bottom-sm">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>@data.title</h1>
                    <p>@Html.Raw(data.description)</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
@foreach (var page in data.Children)
{
    itemPrinted++;

    if (itemPrinted % 2 == 1)
    {
       @Html.Raw("<div class='row inner-top-sm text-center' id='advantages'>")
            }





            <div class="col-md-6 inner-bottom-xs" id="item">
                <a href="#">
                    <div class="icon">
                        <i class="@page.icon icn lg"></i>
                    </div><!-- /.icon -->
                    <h2>@Html.Raw(page.title)</h2>
                    <div class="text-small">@Html.Raw(page.description)</div>
                </a>
            </div>
            <!-- /.col -->


            if (itemPrinted % 2 == 0)
            {
                @Html.Raw("</div>")
        <!-- /.row -->
    }

    
}
 </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->

