﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@*@model SEAH.Models.ContactUs*@
@{
    ViewBag.Title = "Contact";
}


<!-- ====== Contact Section ====== -->
<section id="description">
    <div>
        <div class="footer">
            <div class="container">
                <h1>Contact Us</h1>
            
                <div class="row" id="OfficeList">
                        @Html.Raw(CurrentPage.sectionDescription)
                 <div class="clearfix"></div>
                </div>
            
                   
        </div> <!-- end .footer -->
            </div>
    </div>
</section>
<!-- ====== End Contact Section ====== -->
<style type="text/css">
    #OfficeList ul{
        
    }
    #OfficeList ul li{
      
        margin-bottom: 30px;
    }
    #OfficeList ul li:nth-child(even){
      border-left: 1px solid gray;
        border-right: 1px solid gray;
     
    }
</style>