﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var data = CurrentPage.AncestorOrSelf(1).fAQ.First();
    int firstitemIndex = 0;
    ViewBag.Title = "FAQ";
}


   <!-- ============================================================= SECTION – FAQ ============================================================= -->

<section id="faq" class="light-bg">
    <div class="container inner">

        <div class="row animated fadeInDown-3">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>@data.title</h1>
                    <p>@data.description</p>
                </header>
            </div><!-- /.col -->
        </div><!-- ./row -->

        <div class="row">
            <div class="col-sm-12 inner-top">
                <div id="accordion" class="panel-group">
                    @foreach (var page in data.Children)
                    {
                        <div class="panel panel-default animated fadeInLeft-1">

                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="@string.Format("#content{0}",page.Id)" >
                                        <span>@page.title</span>
                                    </a>
                                </h4>
                            </div><!-- /.panel-heading -->

                            <div id="@string.Format("content{0}",page.Id)" class="panel-collapse collapse @(firstitemIndex==0?"in":"")">
                                <div class="panel-body">
                                    @page.description
                                </div><!-- /.panel-body -->
                            </div><!-- /.content -->

                        </div>
                        <!-- /.panel -->
                        firstitemIndex++;
                    }
                </div><!-- /.accordion -->
            </div><!-- /.col -->
        </div>
    <!-- ./row -->



    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – ACCORDION : END ============================================================= -->