﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var data = CurrentPage.AncestorOrSelf(1).ourServices.First();
}

@{
    ViewBag.Title = "OurSkill";
}


<!--=====================================================================================================================================================-->
<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->


<section id="courses" class="dark-bg">

    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>@data.title</h1>
                    <p>@data.description</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">



                <ul class="items col-4 gap">
@foreach (var page in data.Children)
{
                    <li class="item thumb">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <a href="@data.url"><img src="@Umbraco.Media(page.Image).url" alt=""></a>
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered-thin  no-top-border">
                                <div class="info">
                                    <h4><a href="@data.url">@page.Title</a></h4>
                                    <p> @page.Description</p>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>
                    </li><!-- /.item -->
}
                </ul><!-- /.items -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->
