﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var data = CurrentPage.AncestorOrSelf(1).ourSkill.First();
}

@{
    ViewBag.Title = "OurSkill";
}


<!--=====================================================================================================================================================-->
<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->


<section id="portfolio" class="inner">

    @*<div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>@data.Title</h1>
                    <p>@data.description</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->*@

       


              
                    @foreach (var page in data.Children)
                    {
                        @Html.GetGridHtml((IPublishedContent)page, "htmlgrid", "bootstrap3")

                    }
              

          
        
   
</section>

<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->
