﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var data = CurrentPage.AncestorOrSelf(1).subscription.First();
}

@{
    ViewBag.Title = "OurSubscription";
    int SubscriptionCount = 1;
    int firstitemIndex = 0;

}

<!-- ============================================================= SECTION – PRICING TABLES ============================================================= -->

<section id="pricing">
    <div class="container inner">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>@data.title</h1>
                    <p>@data.description</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row pricing col-4">
            @foreach (var page in data.Children)
            {
                <div class="col-lg-3 col-sm-6 inner-top-sm">
                    <div class="plan">
                        <div class="plan-top-extra">
                            <div class="circle" style="width: 70px; height: 70px; margin-bottom: 20px;">
                                <div class="circle-inner" style="background-color:#@page.color">

                                    <span>@SubscriptionCount</span>

                                </div>
                            </div>
                            <div class="" style="height: 70px;">
                                <h3 class="text-black">@Html.Raw(page.title)</h3>
                            </div>
                        </div>
                        <header style="background-color:#@page.color">
                            <div class="circle">
                                <div class="circle-inner" style="background-color:#@page.color">
                                    <div class="circle-inner">
                                        <img class="img-responsive img-circle" src="@Umbraco.Media(page.Image).url" alt="">
                                    </div>
                                </div>
                            </div>


                            <div class="price">
                                @if (string.Equals(page.Name, "Demo", StringComparison.InvariantCultureIgnoreCase))
                                {

                                    <span class="currency">₹</span>
                                    <span class="amount">@page.price</span>
                                    <span class="period">NA  </span>
                                }
                                else
                                {
                                    <span class="currency">₹</span>
                                    <span class="amount">@page.price/Month</span>
                                    <span class="period">Billed @page.billingCycle</span>
                                }

                            </div><!-- /.price -->

                            <a href="#" class="btn btn-small" style="background-color:#@page.subscribeBtnColor">Join Now</a>
                        </header>

                        <div class="features p-10">
                            @page.description
                           
                        </div><!-- /.features -->
                        <div class="text-center callout">
                            <a href="#" class="btn btn-small" style="background-color:#@page.subscribeBtnColor">Join Now</a>
                        </div>
                    </div><!-- /.plan -->
                </div>
    <!-- /.col -->

                SubscriptionCount++;
            }
        @{ SubscriptionCount = 1;}

        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-12 inner-top">
                <div id="accordion" class="panel-group">
                    @foreach (var page in data.Children)
                    {
                        <div class="panel panel-default animated fadeInLeft-1">

                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="@string.Format("#content{0}",page.Id)">
                                        <span>@page.title</span>
                                    </a>
                                </h4>
                            </div><!-- /.panel-heading -->

                            <div id="@string.Format("content{0}",page.Id)" class="panel-collapse collapse @(firstitemIndex==0?"in":"")">
                                <div class="panel-body">
                                    @page.description
                                </div><!-- /.panel-body -->
                            </div><!-- /.content -->

                        </div>
                        <!-- /.panel -->
                        firstitemIndex++;
                    }
                </div><!-- /.accordion -->
            </div><!-- /.col -->
        </div>
        <!-- ./row -->
    

    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PRICING TABLES : END ============================================================= -->
