﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var data = CurrentPage.AncestorOrSelf(1).testimonials.First();
}
@{
    ViewBag.Title = "Testimonials";
}
@using Umbraco.Web;



	<!-- ============================================================= SECTION – TESTIMONIALS ============================================================= -->

<section id="testimonials" class="light-bg img-bg-softer" style="background-image: url(assets/images/art/pattern-background01.jpg);">
    <div class="container inner">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>@data.title</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12 col-sm-12 center-block text-center">
                <div id="owl-testimonials" class="owl-carousel owl-outer-nav owl-ui-md">
                    @*.Where("DocumentTypeAlias == @sectionitem")*@              
@foreach (var page in data.Children().Where("DocumentTypeAlias = \"sectionitem\"").Take(10))
{
    <div class="item">
        <div class="row">
            
            <div class="col-md-9">
                <p>@page.description</p>

            </div>
            <div class="col-md-3">
                <img src="@Umbraco.Media(page.Image).url?width=100" style="width: auto!important;" class="img-circle mt-10">
                <footer>
                    <cite>@Html.Raw(page.title)</cite>
                </footer>
            </div>
        </div>
      
    </div>
    <!-- /.item -->

}        

                </div><!-- /.owl-carousel -->
           
                <a href="@data.url">Read more stories</a>

             </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – TESTIMONIALS : END ============================================================= -->
