﻿@{
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";   
    bool EnableSidebar = true;
    if (ViewBag.EnableSidebar != null)
    {
        EnableSidebar = ViewBag.EnableSidebar;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/static/img/favicon.ico">
    <title>@(ViewBag.Title != null ? ViewBag.Title + " -" : "") @HostedApplicationConfig.ApplicationName.Value()</title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Vendor CSS -->
    <link href="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    @RenderSection("style", false)
    <link href="~/static/vendors/bower_components/lightgallery/light-gallery/css/lightGallery.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        @Styles.Render("~/static/css")
        <link href="~/static/css/app.min.1.css" rel="stylesheet" />
        <link href="~/static/css/app.min.2.css" rel="stylesheet" />
    <script>
        var welcome = "@User.Identity.Name";
    </script>
</head>
<body class="" ng-app="scoolfirst">
    <div id="fb-root"></div>

    <header id="header-2" class="clearfix" data-current-skin="bluewhale">
        <div class="container">
            @*<div class="container">*@
            <!-- Make sure to change both class and data-current-skin when switching sking manually -->
            <ul class="header-inner clearfix">
                <li id="menu-trigger" data-trigger=".ha-menu" class="visible-xs">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>

                <li class="logo">

                    <a href="/">
                        @if (MvcApplication.Logos != null && MvcApplication.Logos.Weblogo != null)
                        {
                            <img src="@MvcApplication.Logos.Weblogo?height=70" class="img-responsive hidden-md hidden-lg" alt="" />
                                <img src="@MvcApplication.Logos.Weblogo?height=70" class="img-responsive hidden-xs hidden-sm" alt="" />
                        }

                    </a>

                </li>

                <li class="m-l-30 m-r-30">
                    <ul class="list-unstyled">
                        <li class="c-white text-center"><i class="zmdi zmdi-phone"></i> Call Us</li>
                        <li class="c-white text-center">+91-8877-21-1234</li>
                    </ul>
                </li>
                <li>
                    <div class="fb-like" data-href="https://www.facebook.com/Upgradejracademy" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                </li>
                <li class="col-xs-6 col-md-5">
                    @Html.Partial("_Search")

                </li>
                <li class="">
                    <ul class="list-unstyled">

                        <li>
                            <button class="btn btn-info bgm-amber m-t-3">Buy Subscription</button>
                        </li>
                    </ul>
                </li>
                <li class="pull-right">

                    <ul class="top-menu">

                        <li class="dropdown" ng-controller="notificationController" ng-cloak>
                            <a data-toggle="dropdown" href="#">
                                <i class="tm-icon zmdi zmdi-notifications"></i>
                                <i class="tmn-counts" ng-show="notification.length>0">{{notification.length>99?'99+':notification.length}}</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg pull-right">
                                <div class="listview" id="notifications">
                                    <div class="lv-header">
                                        Notification

                                        <ul class="actions">
                                            <li class="dropdown">
                                                <a href="#" ng-click="clear()">
                                                    <i class="zmdi zmdi-check-all"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="lv-body fc-scroller" style="max-height:400px;overflow:scroll">
                                        <a class="lv-item" href="{{noti.Link}}" ng-repeat="noti in notification.reverse() | limitTo:100"  target="_blank">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img class="lv-img-sm" src="{{noti.ImageUrl}}" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">{{noti.Title}}</div>
                                                    <small class="lv-small">{{noti.Message}}</small>
                                                    <small class="lv-small">{{noti.Date | date:'medium'}}</small>
                                                </div>
                                            </div>
                                        </a>

                                    </div>

                                    <a class="lv-footer" href="#" ng-click="send()">View Previous</a>
                                </div>

                            </div>
                        </li>

                        <li class="dropdown hidden-xs hidden-sm">

                            @Html.Partial("UserDetails")

                            <ul class="dropdown-menu dm-icon pull-right">
                                <li class="hidden-xs">
                                    <a data-action="fullscreen" href="#"><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Profile")"><i class="zmdi zmdi-account"></i> View Profile</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Profile")"><i class="zmdi zmdi-account"></i> My Favorites</a>
                                </li>
                                @*<li>
                                    <a href="@Url.Action("Orders","Account")"><i class="zmdi zmdi-account"></i>Orders</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Invoice","Order")"><i class="zmdi zmdi-account"></i>Invoice</a>
                                </li>*@
                                <li>
                                    <a href="@Url.Action("ChangePassword", "Manage")"><i class="zmdi zmdi-settings"></i> Change Password</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LogOff", "Account")"><i class="zmdi zmdi-settings"></i> Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        
        </div>
        <div class="container">


        </div>
    </header>
    @Html.Partial("ServiceMenu", TempData["menu"] as IEnumerable<Scoolfirst.Web.Models.MenuItem>)




   @if (TempData["Expiry"] != null)
   {
    <div class="nav nav-navbar">
        <div class="row">
            <div class="col-md-12">
                <div class="alert bgm-Offwhite alert-block affix-top">@TempData["Expiry"]</div>
            </div>
        </div>
    </div>
   }

    <section id="main" data-layout="layout-1">
      @*@Html.Action("SideNav", "Home")*@
        <section id="content">

            <div class="container">
                
                <div class="row">
                    @{ 
                        //Todo: Yusuf  already a non sidebar layout is there?
                    }
                    @if (EnableSidebar)
                    { 
                    <div class="col-md-8">
                        @RenderBody()
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs" id="rightsidebar">
                       
                        @Html.Action("TopFeeds", "widgets")
                       
                        @*@Html.Action("TopProjects", "widgets")*@
                    </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    }
                </div>

               
            </div>
        </section>
    </section>
    <footer id="footer">
        Copyright &copy; @DateTime.Now.Year @HostedApplicationConfig.ApplicationName.Value()
        <ul class="f-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
   


    @Scripts.Render("~/bundles/jquery")
    <script src="~/static/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/static/vendors/bower_components/moment/min/moment-timezone.min.js"></script>
    <script src="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/static/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="~/static/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/static/vendors/bower_components/lightgallery/light-gallery/js/lightGallery.min.js"></script>
    <script src="~/static/vendors/bower_components/autosize/dist/autosize.min.js"></script>
    <script src="~/static/vendors/bower_components/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Notification.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="~/static/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    <script src="~/static/js/functions.js"></script>
    <script src="~/static/js/demo.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/apps/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Scripts/apps/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="~/Scripts/apps/bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="~/Scripts/apps/bower_components/morris.js/morris.min.js"></script>
    <script src="~/Scripts/apps/bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="~/Scripts/apps/bower_components/angular-morris/angular-morris.min.js"></script>
    <script src="~/Scripts/apps/app.js"></script>
    <script src="~/Scripts/apps/Notification/Service.js"></script>
    <script src="~/Scripts/apps/Notification/message.js"></script>
    <script src="~/Scripts/apps/Notification/notification.js"></script>
    <script src="~/Scripts/apps/search/Search.js"></script>
    <script src="~/static/js/FloatExpandableButton.js"></script>
    @*<script src="~/static/vendors/bower_components/JqueryCookies/jquery.cookie.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        app.value('backendServerUrl', '@(http+Request.Url.Authority)');
        app.value('api', '@(http+HostingServerInfo.Api.Url())');
        var fileUrl1 = '@(http+HostingServerInfo.File.Url())';
        ///By Yusuf
        ///Refractored By Imran
        $(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1510949499186115";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        });
    </script>

</body>
</html>
