﻿
@{
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
   
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/static/img/favicon.ico">
    <title>@(ViewBag.Title != null ? ViewBag.Title + " -" : "") 
    @HostedApplicationConfig.ApplicationName.Value()
    </title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Vendor CSS -->
    <link href="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    @RenderSection("style", false)
    @Styles.Render("~/static/css")
    <script>
        var welcome = "@User.Identity.Name";
    </script>
</head>
<body class="" ng-app="scoolfirst" >
    <div id="fb-root"></div>

  
    @Html.Partial("ExamMenu", TempData["menu"] as IEnumerable<Scoolfirst.Web.Models.MenuItem>)


    <div class="clearfix"></div>

    <section id="main" data-layout="layout-1">
      
      

            <div class="container-fluid">
                @RenderBody()
            </div>
     
    </section>
    @*<footer id="footer">
   
    </footer>*@


    @Scripts.Render("~/bundles/jquery")
    <script src="~/static/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/static/vendors/bower_components/moment/min/moment-timezone.min.js"></script>
    <script src="~/static/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/static/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="~/static/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/static/vendors/bower_components/autosize/dist/autosize.min.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="~/static/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    @*<script src="~/static/js/functions.js"></script>
    <script src="~/static/js/demo.js"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/apps/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Scripts/apps/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="~/Scripts/apps/bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="~/Scripts/apps/bower_components/morris.js/morris.min.js"></script>
    <script src="~/Scripts/apps/bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="~/Scripts/apps/bower_components/angular-morris/angular-morris.min.js"></script>
    <script src="~/Scripts/apps/app.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
   
    </script>

</body>
</html>
