﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | @HostedApplicationConfig.ApplicationName.Value()</title>
    <!-- CSS -->
    <link href="~/static/vendors/bower_components/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" />

    <!-- Vendor CSS -->
    <link href="~/static/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet" />
   
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="~/static/css/app.min.1.css" rel="stylesheet" />
    <link href="~/static/css/app.min.2.css" rel="stylesheet" />
    @*<link href="~/static/vendors/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">

    <link href="~/static/css/style.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/static/img/favicon.ico">
    <style>
        .validation-summary-errors,.field-validation-error {
            color: red;
        }
    </style>
</head>
<body class="login-content">

    
    <!-- Top content -->
    <div class="top-content">

        <div class="p-t-10">
            <div class="container">
                @*<div class="row text-left">
                    <a href="/" class="m-l-10">
                        @if (MvcApplication.Logos != null && MvcApplication.Logos.Weblogo != null)
                        {<img src="@MvcApplication.Logos.Weblogo?width=70" class="" alt="" />}
                        else
                        { <img src="http://upgrde.net/upgrade-logo.png" class="img-responsive " />}
                        
                      <strong class="lead c-white">Upgrade<span class="c-yellow">Jr</span></strong>  
                    </a>
                </div>*@
                @RenderBody()
            </div>
        </div>

    </div>

    <!-- Javascript -->
    <script src="~/static/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/static/vendors/bower_components/jquery/dist/modernizr-2.6.2.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap-validator/js/bootstrapValidator.min.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <script src="~/static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

    <script src="~/static/vendors/bower_components/Waves/dist/waves.min.js"></script>
    @*<script src="~/static/vendors/bower_components/backstretch/jquery.backstretch.min.js"></script>*@
    <script src="~/static/vendors/bower_components/backstretch/jquery.backstretch.js"></script>
    <script src="~/static/js/FloatExpandableButton.js"></script> 
    <script src="~/static/js/functions.js"></script>
    <script>

        $().ready(function () {

            // Guest Mode


            // Duration is the amount of time in between slides,
            // and fade is value that determines how quickly the next image will fade in
            $.backstretch(["/static/img/web-bg.jpg"], { duration: 3000, fade: 750 });
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
