﻿<div id="top-search-wrap">
    <div class="tsw-inner" ng-controller="autoCompleteController" ng-cloak>
        <i id="top-search-icon" class="tm-icon zmdi zmdi-search"></i>
        <input type="text" ng-model="Term" data-ng-focus="OnFocus()" data-ng-change="OnChange()" data-ng-blur="OnBlur()">
        

        <!---->
        <div data-ng-show="ShowAtocomplete" class="ngShowAtocomplete onhigh" data-ng-model="ShowAtocomplete" ng-class="{'bodo':ShowAtocomplete}" style="border-radius:0px! important;background:white; border: 1px solid #efefef; position: absolute; width: 100%;">

          <div class="row">
        
            <div class="col-sm-12">
                <div class="p-5" style="border-bottom: 1px solid #F0F0F0; border-radius: 0px !important;">



                    <div class="col-sm-8 global-font-Ligth">Searching <b>{{Term}}</b></div>
                    <div class="col-sm-4 ">
                        <a ng-click="OnBlur()" class="global-font-Ligth pull-right"> <u>Clear Result</u> </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="p-10">
                    <h5>Feed Items result ({{TotalFeed}})</h5>
                    <ul class="item list-unstyled">
                        <li ng-repeat="fitem in Feed" ng-mouseover="OnFocus()" data-ng-show="HasItem" class="ngHasItem" data-ng-model="HasItem" style="padding:3px;">
                            <a href="/feed/details/{{fitem.Id}}">
                                {{fitem.Title}}
                            </a>
                        </li>
                    </ul>
                    <h5>KDC Items result ({{TotalKDC}})</h5>

                    <ul class="item list-unstyled">
                        <li ng-repeat="kd in KDC" ng-hover="OnFocus()" data-ng-show="HasItem" class="ngHasItem" data-ng-model="HasItem">
                            <a href="/myKDC/details/{{kd.Id}}">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{kd.Title}}
                                    </div>
                                </div>

                            </a>
                        </li>
                    </ul>
                    <h5>Project Items result ({{TotalProjects}})</h5>
                    <ul class="item list-unstyled">
                        <li ng-repeat="pro in Projects" ng-hover="OnFocus()" data-ng-show="HasItem" class="ngHasItem" data-ng-model="HasItem">
                            <a href="/project/details/{{pro.Id}}">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{pro.Title}}
                                    </div>
                                </div>

                            </a>
                        </li>
                    </ul>
                </div>

                <div class="p-10" style="border-top: 1px solid #F0F0F0">
                    
                    <div class="col-sm-3">
                        <a href="/search/Feed/?s={{Term}}&p=0&s=5" class="global-font-Ligth"> Total Feed {{TotalFeed}}</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/home/search?s={{Term}}" class="global-font-Ligth">Total KDC {{TotalKDC}}</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/home/search?s={{Term}}" class="global-font-Ligth">Total Project {{TotalProjects}}</a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a href="/search/index/?s={{Term}}" class="global-font-Ligth">All Result</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        </div>
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
        </style>
        @*<style>
            .clear-btn {
                border-radius: 4px;
                background: #F7F8F9 !important;
                padding: 2px 7px 3px 7px;
                margin: 2px 5px 3px 5px;
                float: right;
                color: rgb(157, 152, 152);
                border: 1px solid rgb(215, 211, 211);
            }

            .search-button {
                height: 30px;
                border: 1px solid rgb(168, 171, 171);
                border-left: 0px;
                background: rgb(255, 255, 255);
                width: 40px;
                margin-top: 7px;
                color: black;
                -webkit-border-top-right-radius: 5px;
                -webkit-border-bottom-right-radius: 5px;
                -moz-border-radius-topright: 5px;
                -moz-border-radius-bottomright: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .dp-SEARCH {
                height: 60px !important;
                width: 60px !important;
                border-radius: 50%;
                display: block;
                background: gray;
                border: 2px solid white;
                background: rgb(253, 253, 253);
            }
        </style>*@
        <!---->
    </div>
    
   
</div>
