﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error. @Model.ActionName  @Model.ControllerName</h1>
        <h2>An error occurred while processing your request.</h2>
        @Model.Exception.Message
        <br />
        @Model.Exception.Source
        <br />
        @Model.Exception.StackTrace
        <br />
        @Model.Exception.InnerException.Message

        <br />
        


    </hgroup>
</body>
</html>
