﻿@model Scoolfirst.Model.MCQ.QuestionSet
@{
    ViewBag.Title = "Exam";
    ViewBag.ExamTitle = Model.Title;
}

@section scripts{
    <script>
        var TimerRelated = 0;
        var mintExam=@Model.Minutes*60;
    </script>
    
<script src="~/Scripts/apps/Test/Test.js"></script>
    
    }
<h2 class="heading">@(Model.Title??"") [Test]</h2>

<div class="card" id="profile-main">
  

    <div ng-controller="TestController" ng-init="GetId('@Model.Id')" style="border:0px!important; padding: 0px !important" ng-cloak>
        <div class="card-header">
            <div ng-show="TestStarted">
                <timer interval="1000" autostart="false" countdown="Time" ng-model="time">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{progressBar}}%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>

                    <div class="pull-right">
                        <span class="time">{{hours}} h:</span>
                        <span>{{minutes}} m:</span>
                        <span>{{seconds}} s</span>
                    </div>
                </timer>
            </div>
        </div>
        <div class="card-body card-padding">
            <div ng-show="Loaded">
                <button ng-click="startTimer()" ng-disabled="timerRunning" ng-hide="TestStarted" class="btn btn-success">Start Test</button>

                <button ng-click="stopTimer()" ng-disabled="!timerRunning" ng-show="!TestClosed" class="btn btn-danger">Stop Test</button>
                <span ng-show="TestStarted&&!TestClosed"> {{Attempt()}}/ {{Test.Questions.length}} </span>
                <div layout="row" layout-sm="column" layout-align="space-around" ng-show="TestStarted&&!TestClosed">
                    <ul class="list-group-item">
                        <li class="list-group-item list-group-item-info ">
                            (Q{{(Index+1)}})   {{SelectedQuestion.Query}}
                        </li>
                        <li ng-repeat="r in SelectedQuestion.Option" ng-click="SelectedQuestion.Answer=r.Id" class="list-group-item " ng-class="{'list-group-item-success':SelectedQuestion.Answer==r.Id}">
                            <div style="width:100%">
                                {{ToChar($index)}}) <i class="fa fa-check pull-right" ng-show="SelectedQuestion.Answer==r.Id" style="color:green">x</i>  {{r.Answer}}


                            </div>
                        </li>

                    </ul>





                </div>


                <div class="row">
                    <div class="col-sm-12" ng-show="TestStarted&&!TestClosed">
                        <md-menu>
                            <button ng-click="SlecetQuestion(Index-1)" class="btn btn-default pull-left">Previous</button>
                        </md-menu>
                        <md-menu>
                            <button ng-click="SlecetQuestion(Index+1)" class="btn btn-default pull-right">Next</button>
                        </md-menu>

                    </div>
                </div>
            </div>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="Loaded">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="Loaded">
                Loading..
            </div>

            <div  ng-show="TestClosed">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button ng-click="Redraw()" class="btn btn-success waves-effect">
                            Genrate Report
                        </button>



                    </div>
                    <div class="col-sm-6">
                        <div donut-chart
                             
                             donut-data='Report'
                             donut-label-color='"#000000"'
                             donut-background-color='"#ffffff"'
                             donut-colors='["#31C0BE","#c7254e","#98a0d3"]'>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-group" style="margin-top:50px">
                            <li class="list-group-item-info list-group-item">
                                Total Time taken :  {{TotalMin()}}
                            </li>
                            <li class="list-group-item" ng-repeat="i in Report">
                                {{i.label}} :{{i.value}}
                            </li>
                        </ul>
                       
                       
                    </div>
                </div>
                


               
            </div>

        </div>
    </div>

</div>