﻿
@{
    ViewBag.Title = "Inactive";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    var user = (Scoolfirst.Model.Identity.User)Session["UserDetails"];
}

@if (TempData["Message"] == null)
{
    @user.FullName

    <div class="card">

        <div class="card-body card-padding">
            <h2>Reasoning Root</h2>

            <p>
                Hey @TempData["UserName"]!
                Upgradejr is ready with access of <strong>eight innovative school and future foundation service</strong> for you. 
                <br />
                <strong>But, the subject is not part of our formal education.</strong> Moreover, most of the content available digitally or physically are mostly designed for senior students.
            </p>
            <p>
                We are upgrading content and adding various features everyday to make it most useful digital platform for junior students and parent.
                <strong>
                    The services of National Allrounder Olympiad ( NLO ), is getting updated. Shortly it will be available.                
                </strong>.
            <br />
                The objective of NLO is to spot talent among junior students, in the field where individual is having natural flair, with the purpose of encouraging and refining natural skill for success in life.            
            </p>

           
        </div>
        </div>
        }
        else
        {
      

    <div class="card">

        <div class="card-body card-padding">
            <h3>Hello!</h3>
           
            
            <div>
                <p>
                    Dear @Html.Raw(user!= null?"<b>"+user.FullName+"</b>":"") as an exclusive member of FUTURE FOUNDATION CLUB, you are entitled to receive services from school first academy as per the following details:-
                    </p>
                 

                    <dl class="dl-horizontal">
                        <dt>
                            School Name :
                        </dt>

                        <dd>
                            @user.School.SchoolName
                        </dd>

                        
                        <dt>
                            Club Name: 
                        </dt>

                        <dd>
                            Future Foundation Club
                        </dd>



                        <dt>
                            Service Details: 
                        </dt>

                        <dd>
                            @user.Modules.Replace("_", " ").Replace(",", ", ")
                        </dd>



                        <dt>
                            Service Period: 
                        </dt>

                        <dd>
                            @user.Expiry.AddYears(-1).ToString("MMM yyyy") to @user.Expiry.ToString("MMM yyyy") 
                        </dd>

                       
                    </dl>
                  
                <p>
                    For any query you may contact to your school administration, or contact upgrade junior team at <b>@HostedApplicationConfig.MobileNo.Value()</b> 'or' email us at <b>@HostedApplicationConfig.Email.Value()</b>. Wish you a happy learning.
                </p> 
            </div>
            @*
                //commented on suggestion of Imran
                
                @Html.Raw(TempData["Message"])*@






        </div>
    </div>
}

