﻿@model Scoolfirst.Model.Common.Subscription
@{ 
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="row">
    <div class="col-sm-6 text-left">
        <div class="description p-t-100">
            <a class="show b-0">
                @if (!Request.IsLocal)
                {
                    @*This is a buggy code Breaks application *@
                    <img src="@MvcApplication.Logos.Weblogo?width=100" class="rotate-anti-360 -m-t-75 m-r-10" alt="" />
                }

                <h1 style="display: inline-block;" class="c-yellow text-justify show-inline">
                    <strong class="c-white" style="letter-spacing: 9px;
    display: block;">Enabling</strong>Your Wishes
                </h1>

            </a>

            <div class="p-10 text-center card bgm-black-op-7">
                <p>
                    <h3 class="c-lightblue">Welcome to UpgradeJr Academy</h3>
                    <ul class="c-white text-justify">
                        <li>
                            Practice to perfection Worksheets, Chapter wise and school exam syllabus wise from own school books.
                        </li>
                        <li>
                            Significant information carved from current affairs as interesting AV.
                        </li>
                        <li>
                            Different School books question search, tagging own chapter, for self-bench marking.
                        </li>
                        <li>Innovative educational tools and science projects at your doorstep.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 p-l-10">
        <div class="lc-block toggled form-box  m-t-140" id="l-login">
            @if (Model.Code == 0)
            {
                <h4> @Model.Reason</h4>
            }
            else
            {
                <h4>Access Denied: @Model.Reason</h4>
            }


                        @*ToDo: payment

        http://upgradejr.com/umbraco/api/subscription/GetAll
                        *@

        </div>
        
    </div>
</div>

