﻿@model IEnumerable<Scoolfirst.Web.Models.MenuItem>
@using System.Text;
@{
    

}

<div class="mainmenu">
    <div class="container">
        <nav class="ha-menu">
            <ul class="nav navbar-nav">
                <li class="logo">

                        <a href="/">
                            @if (MvcApplication.Logos != null && MvcApplication.Logos.Weblogo != null)
                        {
                                <img src="@MvcApplication.Logos.Weblogo?height=40" class="img-responsive hidden-md hidden-lg" alt="" />
                                <img src="@MvcApplication.Logos.Weblogo?height=40" class="img-responsive hidden-xs hidden-sm" alt="" />
                        }

                        </a>

                    </li>

                @foreach (var item in Model)
        {
                    @*<li class="@(item.Menus.Count() > 0?"dropdown":"") @(item.IsActive(ViewContext.HttpContext)?"active":"")">
                        <a href="@item.Action" class="@(item.Menus.Count() > 0?"dropdown-toggle":"")  " data-toggle="@(item.Menus.Count() > 0?"dropdown":"")" role="button" aria-haspopup="true" aria-expanded="false" title="@item.Title">
                            @Display(item) @Html.Raw(item.Menus.Count() > 0 ? "<span class='caret'></span>" : "")
                        </a>
                      
                    </li>*@

                    @LoadMenu(item)

                }
            </ul>
        </nav>
    </div>
</div>

@helper Display(Scoolfirst.Web.Models.MenuItem item) { 
if(string.IsNullOrEmpty(item.ShortDisplay))
{
        @item.Title
}else
{
        @item.ShortDisplay
}
    
    

    
    }

@functions {



    private  IHtmlString LoadMenu(Scoolfirst.Web.Models.MenuItem item)
    {
        var sb = new StringBuilder();





        if (item.Menus.Count() > 0)
        {
            sb.AppendFormat("<li class='{0} {1}'>", (item.Menus.Where(x=>x.Menus==null).Count() > 0 ? "dropdown" : item.ParentId == 0 ? "" : "dropdown-submenu"),
                (item.IsActive(ViewContext.HttpContext) ? "active" : ""));

            sb.AppendFormat(@"
                            <a href = '{0}' class='{1}' data-toggle='{2}' role='button' aria-haspopup='true' aria-expanded='false' title='{3}'>
                            {3} {4} 
                        </a>",
                "#",
                (item.Menus.Count() > 0 ? "dropdown-toggle" : ""),
                (item.Menus.Count() > 0 ? "dropdown" : ""),
                Display(item),
                Html.Raw(item.ParentId == 0 ? "<span class='caret'></span>" : "")

                )
        ;



            sb.AppendFormat("<ul class='dropdown-menu'>");

            foreach (var menuItem in item.Menus)
            {


                sb.AppendFormat(LoadMenu(menuItem).ToString());
            }

            sb.AppendFormat("</ul>");

            sb.AppendFormat("</li>");


        }
        else
        {
            sb.AppendFormat("<li>");

            sb.AppendFormat(@"<a href = '{0}' title='{1}'>
                            {1}
                        </a>", item.Action, Display(item));
            sb.AppendFormat("</li>");


        }

        return MvcHtmlString.Create(sb.ToString());
    }
    }







