﻿
@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="card">
    <div class="card-header ch-alt card-padding text-center">
        <h3>Hey, You need to subscribe This Module!</h3>
    </div>
    <div class="card-body card-padding">
        @*<ul class="list-group"  >
            <li class="list-group-item">
                <div class="text-center">
                    <h5>How to subscribe?</h5>
                    <div>
                     Click On the button! 
                        <br />  <img src="~/static/img/Subscription.png" />
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="text-center">
                    <h5>What are the Plans?</h5>
                    <div>
                        <a href="#">Click On the link to view the plans!</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="text-center">
                    <h5>I already have a subscription!</h5>
                    <div>
                        Call 9000111100
                    </div>
                </div>
            </li>

        </ul>*@
        <h3>OOOPS! Content of this service is very informative and interesting…</h3>
        <p>
          
            You can access it right now with <a href="#">online payment</a> for this service as per the available payment option.

            Please <a href="#">click here to visit payment getaway</a>  to initiate payment.

        </p>
    </div>

</div>

