﻿
<a data-toggle="dropdown" href="#" id="profile-mini">
    <div class="media" title="@TempData["UserName"]">
        <div class="media-left">
            @Html.Action("Pic", "Profile",new { noProfile = false })
        </div>
        <div class="media-body">
            <h4 class="media-heading m-0 c-white">@TempData["UserName"]</h4>
            <p class="p-0 m-0">@TempData["Class"] <span class="caret"></span></p>
            @*<p class="p-0 m-0">Subscription: @TempData["Subs"] </p>*@
        </div>
    </div>
</a>