﻿@model Scoolfirst.Model.Projects.ProductCategory

@{
    // Review required Shahid
    ViewBag.Title = "Create";
}

@UIHelper.Header("ProductCategories", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Title, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.Description,  new { @class = "richeditor" } )
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortDescription, "Short Description", htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.ShortDescription,new { @class = "richeditor" } )
                            @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = " " })

                            <div class="input-group">
                                @Html.EditorFor(model => model.Image, new { htmlattributes = new { @class = "form-control" } })
                                <span class="input-group-btn">
                                    <a href="#" class="filepicker btn btn-info btn-flat" title="upload image" style="color:white !important"><i class="fa fa-image"></i></a>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/ProductCategories/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
<script src="~/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
@FilePopUp.ModalFileFancyBox("Image")
<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
<script>tinymce.init({ selector:'.richeditor' });</script>
}


