﻿@model IEnumerable<Scoolfirst.Model.Projects.ProductCategory>

@{
    // Review required Shahid
    ViewBag.Title = "Index";
}

@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Product Categories", null, "List of All Product Categories")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "ProductCategories"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    
                       
                                <table class="table table-bordered table-striped table-condensed table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th>Title</th>     
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                @if (Uri.IsWellFormedUriString(item.Image, UriKind.RelativeOrAbsolute))
                                                {
                                                    <img src="@item.Image?height=80&width=100" class="thumb img-circle lv-img-sm pull-right" />
                                                }
                                                    <i class="f-20"> @Html.DisplayFor(modelItem => item.Title)</i>
                                                </td>
                                               

                                                <td class="btn-group btn-group-sm" style="margin-top:22px" width="120px">
                                                    <a href="@Url.Action("Edit", "ProductCategories", new { id =item.Id })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" ><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "ProductCategories", new { id = item.Id })" data-toggle="tooltip" data-placement="top"  class="btn btn-danger btn-sm "><i class="fa fa-remove"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>


                                </table>
                           
                    </div>
                <div class="box-footer">
                    @Pager.Page("/ProductCategories/index")
                </div>
                </div>
                <!-- /.box-body -->
            
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
  
    <!-- /.row -->
</section>
