﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <script src="/Content/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/Scripts/ui-tinymce.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <!--<script src="/Content/tinymce/TinyMceAdvance/TinyMces.js"></script>-->
    <!--<script src="../Content/tinymce/js/tinymce/plugins/image/plugin.min.js"></script>-->
    <script>
        var myAppModule = angular.module('myApp', []);

        myAppModule.controller('TinyMceController', function ($scope) {
            $scope.tinymceModel = 'Initial content';

            $scope.getContent = function () {
                console.log('Editor content:', $scope.tinymceModel);
            };

            $scope.setContent = function () {
                $scope.tinymceModel = 'Time: ' + (new Date());
            };

            $scope.tinymceOptions = {
                plugins: 'link image code',
                toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code'
            };
        });
    </script>
</head>
<body ng-app="myApp">
    <form method="post" ng-controller="TinyMceController">
        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
        <button ng-click="getContent()">Get content</button>
        <button ng-click="setContent()">Set content</button>
    </form>
</body>
</html>
