﻿@model Scoolfirst.Model.Common.RoleModel

<div class="card">
    <div class="card-header bgm-primary p-10">
        <div class="media">
            <div class="pull-left color c-lightgreen">
                @{
//TODO: static icon set chane it to according to content type
                }
                <img src="~/static/img/feedIcon/ic_brain_breakfast.png" class="lv-img-sm" />

            </div>
            <div class="media-body m-t-5">
                <h2>
                    You Inspire Me
                    <small class="dateTime CommentTime" data-Time="@Model.On.ToString("o")">
                        Posted on @Model.On.ToString("dd MMM yyyy hh:mm:ss")
                    </small>
                </h2>
            </div>
        </div>
    </div>


    <div class="card-body card-padding">

        <p class="lead">@Model.Title</p>

        @*@if (!(string.IsNullOrEmpty(Model.ImageUrl) && string.IsNullOrWhiteSpace(Model.ImageUrl)))
            {
                <div class="wip-item" data-src="@Model.ImageUrl" style="background-image: url(@Model.ImageUrl);">
                    <img src="@Model.ImageUrl" alt="@Model.Title" />
                </div>
            }*@

        @if (!(string.IsNullOrEmpty(Model.ImageUrl) && string.IsNullOrWhiteSpace(Model.ImageUrl)))
        {
            <div class="wall-img-preview lightbox clearfix">
                <div class="wip-item" data-src="@Model.ImageUrl" style="background-image: url(@Model.ImageUrl);">
                    <div class="lightbox-item"></div>
                </div>
                @{
//todo multiple image
                }
                @*<div class="wip-item" data-src="@Model.ImageUrl" style="background-image: url(@Model.ImageUrl);">
                        <img src="@Model.ImageUrl" alt="">
                    </div>
                    <div class="wip-item" data-src="@Model.ImageUrl" style="background-image: url(@Model.ImageUrl);">
                        <img src="@Model.ImageUrl" alt="">
                    </div>
                    <div class="wip-item" data-src="@Model.ImageUrl" style="background-image: url(@Model.ImageUrl);">
                        <img src="@Model.ImageUrl" alt="">
                    </div>
                    <div class="wip-item" data-src="@Model.ImageUrl" style="background-image: url(@Model.ImageUrl);">
                        <img src="@Model.ImageUrl" alt="">
                    </div>*@
            </div>


                    }
        <div class="rawContent">
            @Html.Raw(Model.Content)
        </div>



    </div>


</div>