﻿@model IEnumerable<Scoolfirst.Model.Common.RoleModel>

@{
    ViewBag.Title = "UInspireMe";
}

@if (Request.IsAjaxRequest())
{
    @PostMaker()
    return;
}


<div id="postHolder">
        @PostMaker()
    </div>


@section scripts{
   
<script src="~/static/CustomScript/InfinteScroll.js"></script>
}

@section style{
    <style>
        .card-header {
            padding: 10px 15px 5px !important;
        }
    </style>
}






@helper PostMaker()
{

foreach (var ir in Model)
{
        <div class="card">
            <div class="card-header bgm-primary p-10">
                <div class="media">
                    <div class="pull-left color c-lightgreen">
                        @{
//TODO: static icon set chane it to according to content type
                        }
                        <img src="~/static/img/feedIcon/ic_brain_breakfast.png" class="lv-img-sm" />

                    </div>
                    <div class="media-body m-t-5">
                        <h2>
                            You Inspire Me
                            <small class="dateTime CommentTime" data-Time="@ir.On.ToString("o")">
                                Posted on @ir.On.ToString("dd MMM yyyy hh:mm:ss")
                            </small>
                        </h2>
                    </div>
                </div>
            </div>


            <div class="card-body card-padding">

                <p class="lead" style="color:#2196f3">@ir.Title</p>

                @*@if (!(string.IsNullOrEmpty(ir.ImageUrl) && string.IsNullOrWhiteSpace(ir.ImageUrl)))
                    {
                        <div class="wip-item" data-src="@ir.ImageUrl" style="background-image: url(@ir.ImageUrl);">
                            <img src="@ir.ImageUrl" alt="@ir.Title" />
                        </div>
                    }*@

                @if (!(string.IsNullOrEmpty(ir.ImageUrl) && string.IsNullOrWhiteSpace(ir.ImageUrl)))
                {
                    <div class="wall-img-preview lightbox clearfix">
                        <div class="wip-item" data-src="@ir.ImageUrl" style="background-image: url(@ir.ImageUrl);">
                            <div class="lightbox-item"></div>
                        </div>
                      @{
                          //todo multiple image
                      }  
                        @*<div class="wip-item" data-src="@ir.ImageUrl" style="background-image: url(@ir.ImageUrl);">
                            <img src="@ir.ImageUrl" alt="">
                        </div>
                        <div class="wip-item" data-src="@ir.ImageUrl" style="background-image: url(@ir.ImageUrl);">
                            <img src="@ir.ImageUrl" alt="">
                        </div>
                        <div class="wip-item" data-src="@ir.ImageUrl" style="background-image: url(@ir.ImageUrl);">
                            <img src="@ir.ImageUrl" alt="">
                        </div>
                        <div class="wip-item" data-src="@ir.ImageUrl" style="background-image: url(@ir.ImageUrl);">
                            <img src="@ir.ImageUrl" alt="">
                        </div>*@
                    </div>

                   
                }
                <div class="rawContent">
                    @Html.Raw(ir.Content)
                </div>



            </div>


        </div>
                            }

                            if (Model.Count() == 0)
                            {
                                <h3>Sorry ! We Don't have Any more Chocholates For you :(</h3>
                            }
                            else
                            {
                                var Page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"].ToString()) : 0;
                                var Controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToUpper();

                                var url = string.Format("/{1}/?page={0}", (Page + 1), Controller);
                                <a class="text-center btn btn-block btn-info waves-button-input" href="@url">Load More</a>
                            }
}

