﻿
@{
    ViewBag.Title = "CreateQuiz";
}

@UIHelper.Header("Add A Quiz")

<input type="hidden" name="id" value="@ViewBag.Quizid"/>
<form name="formValid" >
    <section class="content" ng-controller="QuicCntrl" ng-init="QuizModel.SyllabusId='@(ViewBag.Id)'">
        <div class="row">
            <div class="col-md-12">
<div class="box box-primary">
    <div class="box-header">
        <h4>Fill In the required field</h4>
    </div>
    <div class="box-body">
        <div class="form-group">
            Title :<input type="text" name="Title" ng-model="QuizModel.Title" class="form-control " required />
            {{formValid.Title.$valid}}
        </div>
        <div class="form-group">
            Details :<textarea name="Details" rows="6" class="form-control" required ng-model="QuizModel.Details"></textarea>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Class:

                <select class="form-control" ng-model="QuizModel.ClassId" ng-change="changequestion()"
                        ng-options="clas.Id as clas.Name for clas in Classes" required>
                    <option value=''>Select Class</option>
                    @*<option ng-repeat="clas in Classes" value={{clas.Id}}>{{clas.Name}} </option>*@

                </select>
            </div>
            <div class="col-md-4">
                School:
                <select class="form-control" ng-model="QuizModel.SchoolId" ng-change="changequestion()" ng-options="school.Id as school.Name for school in Schools" required>
                    <option value=''>Select School</option>
                    @*<option ng-repeat="school in Schools" value={{school.Id}}>{{school.Name}}</option>*@
                </select>
            </div>

            <div class="col-md-4">
                Subject:
                <select class="form-control" ng-model="QuizModel.Subject" ng-change="changequestion()" ng-options="subject.SubjectName as subject.SubjectName for subject in Subjects" required>
                    <option value=''>Select Subject</option>
                    @*<option ng-repeat="subject in Subjects" value={{subject.SubjectName}}>{{subject.SubjectName}}</option>*@

                </select>
            </div>

        </div>
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-6">

                   
                       
                        <div  class="panel panel-default" heading="({{qgrp[0].Book}} -> {{qgrp[0].Chapter}} [{{qgrp.length}}])" ng-repeat="qgrp in Questions | groupBy: 'Chapter'" template-url="group-template.html">
                           <div class="box-header with-border">
                               <h4 class="box-title">
                                   <a data-toggle="collapse" data-parent="#accordion" href="#Chapter{{$index}}" aria-expanded="false" class="">
                                       ({{qgrp[0].Book}} -> {{qgrp[0].Chapter}} [{{qgrp.length}}])
                                   </a>
                               </h4>
                           </div>
                            <div id="Chapter{{$index}}" class="panel-collapse collapse in" aria-expanded="false">
                                <ul class="list-group">
                                    <li ng-repeat="quest in qgrp" class="list-group-item">
                                        <div class="col-lg-1">{{$index+1}}</div>
                                        <div ng-bind-html="quest.Title" class="col-lg-10">

                                        </div>
                                        <button ng-click="Add(quest,$index)" class="pull-right btn btn-success"><i class="glyphicon glyphicon-check"></i></button>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>
                             
                        </div>
                        
                  



                    @*<ul class="list-group" ng-repeat="qgrp in Questions | groupBy: 'Chapter'">
                        <li class="list-group-item-heading list-group-item list-group-item-danger">
                          ({{qgrp[0].Book}} -> {{qgrp[0].Chapter}} [{{qgrp.length}}])
                        </li>
                        <li ng-repeat="quest in qgrp" class="list-group-item">
                            <div class="col-lg-1">{{$index+1}}</div>
                            <div ng-bind-html="quest.Title" class="col-lg-10">

                            </div>
                            <button ng-click="Add(quest,$index)" class="pull-right btn btn-success"><i class="glyphicon glyphicon-check"></i></button>
                            <div class="clearfix"></div>
                        </li>

                    </ul>*@
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-heading list-group-item-danger ">
                            Selected Questions [{{QuizModel.Questions.length}}]
                        </li>
                        <li ng-repeat="sel in QuizModel.Questions" class="list-group-item list-group-item-info">
                            <div class="col-lg-1">{{$index+1}}</div>
                            <div ng-bind-html="sel.Title" class="col-lg-10">

                            </div>

                            <button ng-click="Remove(sel,$index)" class="pull-right btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                            <div class="clearfix"></div>

                        </li>
                    </ul>
                </div>

            </div>
          
          

        </div>
    </div>

    <div class="box-footer">
        <button class="btn btn-success pull-right" ng-click="Save()">Save</button>
    </div>

</div>
            </div>
        </div>

    </section>






  


</form>

@section scripts{
    
<script src="~/Scripts/Quiz/Quiz.js"></script>
    <script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
        </div>
    </div>
</script>
    }