﻿@model Scoolfirst.Model.WorkBook.SyllabusDate

@{
    ViewBag.Title = "Details";
}

@UIHelper.Header("Syllabus")
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>

                    <h3 class="box-title">Details Of Syllabus</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl>
                        <dt>Title</dt>
                        <dd>@Html.Raw(Model.Title)</dd>
                        <dt>Class</dt>
                        <dd>@Html.Raw(Model.Class)</dd>
                        <dt>From</dt>
                        <dd>@Model.From</dd>
                        <dt>To</dt>
                        <dd>@Model.To</dd>
                        <dt>Content</dt>
                        <dd>@Html.Raw(Model.Content)</dd>
                       

                    </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Edit", "SyllabusDates", new { id = Model.Id })" class="btn btn-success pull-right"><i class="fa fa-edit"></i></a>

                    <a href="@Url.Action("Index","SyllabusDates")" class="btn btn-danger "><i class="fa fa-remove"></i></a>

                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
