﻿@model Scoolfirst.Model.WorkBook.SyllabusDate

@{
    ViewBag.Title = "Create";
}

@UIHelper.Header("Syllabus")
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header">
                        <h3>Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = " " })
                            @Html.DropDownList("Class", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.School, htmlAttributes: new { @class = " " })
                            @Html.DropDownList("School", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.School, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="dtp_input1" class=" control-label">Date</label>
                            <div class="input-group date form_datetime "  data-date-format="dd MM yyyy  HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" type="text" value="@Model.From" name="From">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="dtp_input1" class=" control-label">Date</label>
                            <div class="input-group date form_datetime " data-date="2017-12-10T05:25:07Z" data-date-format="dd MM yyyy  HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" type="text" value="@Model.To" name="To">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.Content, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/SyllabusDates/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    <link href="~/Content/DatePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/tinymce/settings"></script>
    <script>tinymce.init({ selector: '.richeditor' });</script>
    <script src="~/Content/DatePicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/DatePicker/locales/bootstrap-datetimepicker.fr.js"></script>

    <script type="text/javascript">
        $(function () {
            //$('#datepicker').datetimepicker();

            //moment().format();
            $('.form_datetime').datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                //showMeridian: 1
            });
        });

    </script>

}
