﻿@model IEnumerable<Scoolfirst.Model.WorkBook.SyllabusDate>

@{
    ViewBag.Title = "Index";
   // var p = Model.First().School
}

@UIHelper.Header("Syllabus",null,"List Of All Syllabus")
<section class="content">
    <div class="row">

        <div class="col-xs-12">

            <div class="box box-primary">

                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "SyllabusDates"), "")
                </div>
                <div class="box-body">
                    <table class="table table-bordered  table-condensed table-striped table-vmiddle ">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Class)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.School)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.From)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.To)
                                </th>
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Class)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.School)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.From)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.To)
                                    </td>
                                    
                                    <td class="btn-group btn-group-sm" width="160px">
                                        <a href="@Url.Action("Edit",  new { id = item.Id })" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
                                        <a href="@Url.Action("Details",  new { id = item.Id })" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                                        <a href="@Url.Action("Delete",  new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                        <a href="@Url.Action("CreateQuiz","SyllabusDates", new { id=item.Id})" class="btn btn-sm btn-primary"><i class="fa fa-clipboard">Add Quiz</i></a>
                                        <a href="@Url.Action("Quiz","SyllabusDates", new { sid=item.Id})" class="btn btn-sm bg-navy"><i class="fa fa-list">View Quiz</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        }

                    </table>
                   
                    <div class="box-footer">
                        @Pager.Page("/SyllabusDates/Index")
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

