﻿@model IEnumerable<Scoolfirst.Model.WorkBook.Quiz>

@{
    ViewBag.Title = "Quiz";
}
<input type="hidden" name="SyllabusId" value="@ViewBag.SyllabusId"/>
@UIHelper.Header("Quiz",null,"List Of All Quiz Question")
<section class="content">
    <div class="row">

        <div class="col-xs-12">

            <div class="box box-primary">

                <div class="box-header">
                    @UIHelper.Search(Url.Action("CreateQuiz", "SyllabusDates", new { id= ViewBag.SyllabusId }), "")
                </div>
                <div class="box-body">
                    <table class="table table-bordered  table-condensed table-striped table-vmiddle ">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Syllabus.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Details)
                                </th>
                                <th>
                                    No Of Question
                                </th>
                              <th>
                                  Action
                              </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Syllabus.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Details)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoOfQuestion)
                                    </td>
                                   <td>
                                       <a href="@Url.Action("DeleteQuiz",  new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>

                                   </td>
                                    
    </tr>
                            </tbody>
                        }

                    </table>

                    <div class="box-footer">
                        @Pager.Page("/Quiz/Index")
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

