﻿@model IEnumerable<Scoolfirst.Model.Common.ProjectCategory>
<div class="card p-10">
    

    @foreach (var item in Model)
    {
        <div class="card-body p-b-10">

            <button class="text-left btn btn-primary btn-lg btn-block" style="background-color:#031521" type="button" data-toggle="collapse" data-target="#@(@item.Id)collapse" aria-expanded="false" aria-controls="@(@item.Id)collapseExample">
                @item.Name <span class="badge pull-right">@item.Projects.Count() <i class="zmdi zmdi-arrow-right "></i></span>
            </button>

            <div class="card collapse " id="@(@item.Id)collapse">
                <div class="card-body">
                    <div class="listview lv-bordered lv-lg">
                        <div class="lv-header-alt clearfix">
                            <a href="/CreativeCanvas?cateId=@item.Id">
                            <h2 class="lvh-label hidden-xs">@item.Name : <span class="label label-info">@item.Projects.Count()  Creative Canvas  availabe</span></h2>
                            </a>    
                        </div>
                        <div class="lv-body">

                            @foreach (var item2 in item.Projects)
                            {
                                <div class="lv-item media">
                                    <div class="media-body">
                                        <div class="lv-title">

                                            <a class="lead" href="/CreativeCanvas?cateId=@item.Id"> @item2.Name </a>

                                            
                                        </div>

                                        
                                    </div>
                                </div>
                            }


                        </div>
                    </div>

                </div>
            </div>

        </div>
    }


</div>


