﻿@model IEnumerable<Scoolfirst.ViewModel.Feed.FeedViewModel>

<div class="card">
    <div class="card-header card-header ch-alt p-20">
        <h2>Trending Nutrition</h2>
    </div>

    <div class="card-body">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-body">
                @foreach (var i in Model)
                {
                    <a class="lv-item media" href="/feed/details/@i.Feed.Id">

                        <div class="media-body">
                            <div class="lv-title">@i.Feed.Title</div>

                            <div class="lv-actions actions dropdown">
                                <span class="zmdi zmdi-thumb-up pull-right"> @i.Feed.Likes.Count()</span>
                            </div>
                        </div>

                    </a>


                }
            </div>
        </div>
    </div>
</div>

