﻿@model IEnumerable<Scoolfirst.Model.Feed.Post>

<div class="card">
    <div class="card-header card-header ch-alt p-20">
        <h2>Trending Tricks</h2>
    </div>

    <div class="card-body">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-body">
                @foreach (var i in Model)
                {
                    <a class="lv-item media" href="/feed/details/@i.Id">

                        <div class="media-body">
                            <div class="lv-title">@i.Title</div>

                            
                        </div>

                    </a>


                }
            </div>
        </div>
    </div>
</div>