﻿<section class="dark-bg hidden-sm hidden-phone hidden-xs" id="partialRegister">
    <div class="container">
        <div class="row">
            <div class="form-bottom" id="remoteform">@{  var str =  HostingServerInfo.Application.GetCompleteUrl()+ "/Account/Register";}
                <form action="@str" method="POST" class="form-inline">
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <div class="radio radio-inline form-control">
                            <label><b>I am a</b></label>
                            <label><input type="radio" name="WhoIam" id="Student" value="Student" />Student</label>
                            <label><input type="radio" name="WhoIam" id="Parent" value="Parent" />Parent</label>
                        </div>
                        <input type="text" id="FullName" name="Name" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                        <input type="text" id="MobileNo" name="PhoneNo" class="form-control" placeholder="Mobile No." aria-describedby="basic-addon1">
                        <input type="text" id="Email" name="Email" class="form-control" placeholder="E-Mail" aria-describedby="basic-addon1">
                        @Html.DropDownList("ClassId", null, htmlAttributes: new { @class = "form-control", data_width = "100%" })
                       @*<select class="form-control" id="ddlclass"></select>*@
                        @Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "form-control", data_width = "100%", data_live_search = "true" })

                    
    @*<select class="form-control" id="ddlschool"></select>*@
                        @*<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">*@

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Register Now</button>
                        </span>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>


