﻿@model IEnumerable<Scoolfirst.Model.KDC.Article>

<div class="card">
    <div class="card-header card-header ch-alt p-20">
        <h2>Top KDC</h2>
    </div>

    <div class="card-body">
        <ul class="listbox list-unstyled">
            @foreach (var i in Model)
            {
                <li class="lv-item">
                    <a href="/mykdc/details/@i.ID">
                        <div>
                            @i.Title
                        </div>
                        <span class="zmdi zmdi-thumb-up pull-right"> @i.Likes.Count()</span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            }
        </ul>
    </div>
</div>
