﻿@model IEnumerable<Scoolfirst.Model.Projects.Project>
<div class="card">
    <div class="card-header ch-alt p-20">
        <h2>Products For You</h2>
    </div>


    <div class="card-body">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-body">
                @foreach (var i in Model)
            {
                  
                   
                        <a class="lv-item media" href="/Projects/Detail/@i.Id">

                            <div class="media-body">
                                <div class="lv-title">@i.Name</div>

                              
                            </div>

                        </a>

                }
                </div>
            </div>
        </div>
    
    </div>
