﻿@model IEnumerable<Scoolfirst.Model.Common.RoleModel>

<div class="card">
    <div class="card-header card-header ch-alt p-20">
        <h2>Trending Inspiration</h2>
    </div>

    <div class="card-body">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-body">
                @foreach (var i in Model)
                {
                    <a class="lv-item media" href="/YouInspireMe/details/@i.Id">

                        <div class="media-body">
                            <div class="lv-title">@i.Title</div>

                            @*<div class="lv-actions actions dropdown">
                                <span class="zmdi zmdi-thumb-up pull-right"> @i..Count()</span>
                            </div>*@
                        </div>

                    </a>


                }
            </div>
        </div>
    </div>
</div>

@*<div class="card p-10">


    @foreach (var item in Model)
    {
        <div class="card-body p-b-10">

            <button class="text-left btn btn-primary btn-lg btn-block" style="background-color:#031521" type="button" data-toggle="collapse" data-target="#@(@item.Id)collapse" aria-expanded="false" aria-controls="@(@item.Id)collapseExample">
                @item.Title <span class="badge pull-right">@item.Title.Count() <i class="zmdi zmdi-arrow-right "></i></span>
            </button>

            <div class="card collapse " id="@(@item.Id)collapse">
                <div class="card-body">
                    <div class="listview lv-bordered lv-lg">
                        <div class="lv-header-alt clearfix">
                            <a href="/CreativeCanvas?cateId=@item.Id">
                                <h2 class="lvh-label hidden-xs">@item.Title : <span class="label label-info">@item.Title.Count()  UInspire Me  availabe</span></h2>
                            </a>
                        </div>
                        <div class="lv-body">

                            @foreach (var item2 in item.Title)
                            {
                                <div class="lv-item media">
                                    <div class="media-body">
                                        <div class="lv-title">

                                            <a class="lead" href="#"> @item2 </a>


                                        </div>


                                    </div>
                                </div>
                            }


                        </div>
                    </div>

                </div>
            </div>

        </div>
    }


</div>*@