﻿@model Scoolfirst.Model.Slides.Slider


@using (Html.BeginForm())
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Delete Slider</h4>


    <div class="modal-body">
        <h3>Are you sure you want to delete this?</h3>

            @Html.AntiForgeryToken()

           
        </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
       
    </div>
  }