﻿@model Scoolfirst.Model.Slides.Slider

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Edit Slider</h4>
        </div>

        <div class="modal-body">

            <div class="form-horizontal">
                
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.SliderName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="fg-line">
                            @Html.TextBoxFor(model => model.SliderName, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SliderName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </div>

                
            </div>

        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
            }


