﻿@model IEnumerable<Scoolfirst.Model.Slides.Slider>

@{
    ViewBag.Title = "Index";

}

<section class="content-header">
    <h2>Slider <small>create slider for android app and web portal</small></h2>
    <br>
    <ol class="breadcrumb">
        <li><a href="/KDC"><i class="fa fa-dashboard"></i> AllKDC</a></li>

    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h2>Slider <small>create slider for android app and web portal</small></h2>

            <a data-modal="" href="@Url.Action("Create","slider")" class="btn bgm-pink btn-float waves-effect"><i class="zmdi zmdi-plus"></i></a>
        </div>

        <div class="box-body">

            @if (Model.Count() > 0)
            {

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SliderName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>Slide(s)</th>
                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SliderName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                            <td>
                                <a href="@Url.Action("index", "SliderSlice", new {id = item.Id })" data-toggle="tooltip" data-placement="top" title="Click to add slide image." class="btn btn-primary"><i class=" glyphicon glyphicon-picture"></i></a>


                            </td>
                            <td width="120px">

                                <a data-modal='' href="@Url.Action("Edit", "Slider", new { id = item.Id })" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Click to edit slider name"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a>
                                <a data-modal='' href="@Url.Action("delete", "Slider", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Click to delete slider." class="btn btn-danger "><i class="zmdi zmdi-delete zmdi-hc-fw"></i></a>



                            </td>
                        </tr>
                    }

                </table>


            }
            else
            {
                <div class="p-30">
                    <h2>No slider created, to create click on "Add Slider"</h2>
                    @Html.ActionLink("Add New Slider", "Create", new { area = "FrontStore" }, new { @class = "btn btn-primary pull-right", data_modal = "" })
                </div>
            }

        </div>
    </div>
</section>

@section Scripts
{


    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @FilePopUp.ModalFileFancyBox("Image")
}
