﻿@model Scoolfirst.ViewModel.User.ProfileUpdateWeb.AboutInformation

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Summary</h2>

        <ul class="actions">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-pmb-action="edit" href="#">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
          <p>@Model.About</p>
        </div>

        <div class="pmbb-edit">
            <form action="/profile/ChangeAboutInfo" method="post">
                <div class="fg-line">
                    <textarea name="About" class="form-control" rows="5" placeholder="Summary...">@Model.About</textarea>
            </div>
            <div class="m-t-10">
                <button class="btn btn-primary btn-sm">Save</button>
                <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
            </div>
        </form>
        </div>
    </div>
</div>