﻿@model Scoolfirst.ViewModel.User.ProfileUpdateWeb.AcadamemicInformation

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Academic  Information</h2>

        <ul class="actions">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-pmb-action="edit" href="#">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt>Board</dt>
                <dd>@Model.Board</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>School</dt>
                <dd>@Model.School</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Class</dt>
                <dd>@Model.Class</dd>
            </dl>
        </div>

        <div class="pmbb-edit">
            <form action="/profile/changeAcademicInfo" method="post">
                <dl class="dl-horizontal">
                    <dt class="p-t-10">Board</dt>
                    <dd>
                        <div class="fg-line">
                            <select class="form-control" id="Board" name="Board">
                                
                                <option @(Model.Board=="CBSE"?"selcted":"") value="CBSE">CBSE</option>
                                <option  @(Model.Board=="ICSE"?"selcted":"") value="ICSE">ICSE</option>
                                <option  @(Model.Board== "State" ? "selcted":"") value="State">State</option>

                            </select>
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">School</dt>
                    <dd>
                        <div class="fg-line">
                            @Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">Class</dt>
                    <dd>
                        <div class="fg-line">
                           @Html.DropDownList("ClassId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </dd>
                </dl>

                <div class="m-t-30">
                    <button class="btn btn-primary btn-sm">Save</button>
                    <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>