﻿@model Scoolfirst.ViewModel.User.ProfileUpdateWeb.BasicInformation



<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>

        <ul class="actions">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-pmb-action="edit" href="#">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt>Full Name</dt>
                <dd>@Model.Name</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Gender</dt>
                <dd>@Model.Gender</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Birthday</dt>
                <dd>@Model.DateOfBirth</dd>
            </dl>

        </div>

        <div class="pmbb-edit">
            <form action="/profile/changeBasicprofile" method="post">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Full Name</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" name="name" class="form-control" placeholder="eg. Mallinda Hollaway" value="@Model.Name">
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Gender</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" name="Gender">
                            <option @(Model.Gender=="Male"?"Selected":"")>Male</option>
                            <option @(Model.Gender=="Female"?"Selected":"")>Female</option>
                            <option @(Model.Gender=="Other"?"Selected":"")>Other</option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Birthday</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type='text' class="form-control date-picker" data-toggle="dropdown" placeholder="Click here..." value="@Model.DateOfBirth" name="DateOfBirth">
                    </div>
                </dd>
            </dl>


            <div class="m-t-30">
                <button class="btn btn-primary btn-sm">Save</button>
                <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>


