﻿@model Scoolfirst.ViewModel.User.ProfileUpdateWeb.ContactInformation

@if (ViewBag.SideBar)
{
    <ul>
        <li><i class="zmdi zmdi-phone"></i>@Model.PhoneNo</li>
        <li><i class="zmdi zmdi-email"></i> @Model.Email</li>
        <li>
            <i class="zmdi zmdi-pin"></i>
            <address class="m-b-0 ng-binding">
               @Model.Address
            </address>
        </li>
    </ul>
}
else
{
    <div class="pmb-block">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>

            <ul class="actions">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a data-pmb-action="edit" href="#">Edit</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>Mobile Phone</dt>
                    <dd>@Model.PhoneNo</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Email Address</dt>
                    <dd>@Model.Email</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Address</dt>
                    <dd>@Model.Address</dd>
                </dl>
            </div>

            <div class="pmbb-edit">
                <form action="/profile/changeContactInfo" method="post">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Mobile Phone</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" placeholder="eg. 00971 12345678 9" value="@Model.PhoneNo" name="PhoneNo">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Email Address</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="email" class="form-control readonly" placeholder="eg. malinda.h@gmail.com" value="@Model.Email" name="Email">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Address</dt>
                        <dd>
                            <div class="fg-line">
                                <textarea name="address" class="form-control" placeholder="eg. malinda.h@gmail.com">@Model.Address</textarea>
                        </div>
                    </dd>
                </dl>

                <div class="m-t-30">
                    <button class="btn btn-primary btn-sm">Save</button>
                    <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
                </div>
            </form>
            </div>
        </div>
    </div>
}
