﻿@model IEnumerable<Scoolfirst.Model.Common.PointsHistory>

@{
    ViewBag.Title = "History";
}

<h2>Reward History </h2>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.On)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.On)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
      
    </tr>
}

</table>
