﻿@{ 
    ViewBag.EnableSidebar = false;
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var BaseUrl = http + HostingServerInfo.Picture.Url();
}

@if (TempData["Error_message"] != null)
{
    <div class="alert alert-danger">
        <a href="#" data-dissmiss="alert" class="close">x</a>
        <p>@TempData["Error_message"]</p>

    </div>
    <br />
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <a href="#" data-dissmiss="alert" class="close">x</a>
        <p>@TempData["message"]</p>

    </div>
    <br />
}




<div class="card" id="profile-main">

    <div class="pm-overview c-overflow">
        <div class="pmo-pic">
            <div class="p-relative">
                <a href="#">
                    @Html.Action("Pic", "profile")
                </a>

                <div class="dropdown pmop-message">
                    <a data-toggle="dropdown" href="#" class="btn bgm-white btn-float z-depth-1">
                        <i class="zmdi zmdi-camera"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <div>
                                    <a href="@string.Format("{0}{1}",BaseUrl,"/home/Picture/")">
                                        Select From Album <i class="zmdi zmdi-camera"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item-heading list-group-item">
                               Or Upload a Picture.
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <form action="@string.Format("{0}{1}",BaseUrl,"/home/UploadPicture")" method="post" enctype="multipart/form-data">
                                        <div class="fg-line">
                                            <input type="file" name="file" onchange="javascript: this.form.submit();" class="fileinput form-control" />
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>

                       

                       
                    </div>
                </div>


            </div>


            <div class="pmo-stat">
                <h2 class="m-0 c-white">@TempData["Points"]</h2>
                Points Earned
            </div>
        </div>

        <div class="pmo-block pmo-contact hidden-xs">
            <h2>Contact</h2>

            @Html.Action("ContactInfoAction", "profile", new { sidebar = true })
        </div>
    </div>

    <div class="pm-body clearfix">
        <ul class="tab-nav tn-justified">
            <li class="active waves-effect"><a href="#">About</a></li>
        </ul>
        @Html.Action("AboutInfo")
        @Html.Action("BasicInfo")
        @Html.Action("AcademicInfo")
        @Html.Action("ContactInfoAction")
    </div>
</div>


<div id='myModal' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">

            <div id="myModalContent">
                <div class="text-info pn centered " style="box-shadow:0px;"><i class="fa fa-spinner faa-spin animated" style="margin-top: 12%; font-size: 7.6em;"></i></div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script src="~/static/js/modal-popup.js"></script>
}