﻿
@model IEnumerable<Scoolfirst.Model.PeriodicAssesment.PARoot>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    string CurrentModule = string.Empty;
    if (Url.RequestContext.HttpContext.Request.QueryString["Type"] != null)
    {
        CurrentModule = Url.RequestContext.HttpContext.Request.QueryString["Type"];
    }
}

<div class="card">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-collapse full-width-tabs">
            <ul class="tab-nav " role="tablist" data-tab-color="amber">
                
                <li class="bgm-bluegray  @(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "WorkBook" ? "active" : "" : "") ">
                    <a   href="PeriodicAssessment?Type=WorkBook" aria-expanded="false"  class="c-white @(!string.IsNullOrEmpty(CurrentModule)?CurrentModule=="WorkBook"?"active":"":"")">
                        School Assessment
                    </a>
                </li>
                <li class="@(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "SiteRealted" ? "active" : "" : "") bgm-primary ">
                   
                    <a  href="PeriodicAssessment?Type=SiteRealted" aria-expanded="false" aria-controls="collapseTwo" class="c-white @(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "SingleTest" ? "active" : "" : "")">

                        Upgrade Assessment
                    </a>
                </li>
                <li class="bgm-bluegray @(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "SingleTest" ? "active" : "" : "") ">
                    <a  href="PeriodicAssessment?Type=SingleTest" aria-expanded="false" aria-controls="collapseThree" class="c-white @(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "SingleTest" ? "active" : "" : "")">

                        Reasoning Assessment
                    </a>
                </li>

            </ul>
            <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" aria-expanded="@(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "WorkBook" ? "true" : "false" : "")" class="collapse @(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "WorkBook" ? "in" : "" : "")">
                
                <div class="panel-body">
                    <h3 class="text-left text-primary">
                        School Assessment
                    </h3>
                    <p>
                        School assessment is a monthly LIVE testing platform. Every student gets questions from own school as per individual class from the topic taught during a month.
                        Most innovative online practice platform to master control and plug loop hole and reman in full control of School studies.

                    </p>
                    <h4>Quality Assurance:</h4>
                    <ul>

                        <li>
                            The question paper are syllabus and time specific. We follow monthly chapter progression of your school and finalise question in consultation with your school management.
                        </li>
                        <li>
                            By shortlisting most important and most common questions from books of different school.
                        </li>
                    </ul>


                    <h4>
                        Feedback Mechanism:
                    </h4>

                    <ul>
                        <li>
                            Question wise feedback with correct solution will be given. Student can check own historic performance at any point of time.
                        </li>
                    </ul>
                </div>
               
            </div>
            <div id="collapseTwo"  role="tabpanel" aria-labelledby="headingTwo"   aria-expanded="@(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "SiteRealted" ? "true" : "false" : "")" class="collapse @(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "SiteRealted" ? "in" : "" : "")">
                
                
                <div class="panel-body">
                    <h3 class="text-left text-primary">
                        Upgrade Assessment
                    </h3>
                    <p>
                        Upgrade assessment is a monthly LIVE testing platform. The questions are compiled from 1. Current affairs 2. Reasoning root and 3. U inspire me section of upgrade learning, taught during a month.
                        Most innovative online practice platform to get foundation for future and reman in full control of and type of competitive examination.
                    </p>
                    <h4>Quality Assurance:</h4>
                    <ul>
                        <li>
                            The question paper are syllabus and time specific. We follow monthly content give over three head.
                        </li>
                        <li>
                            By shortlisting most important and most relevant questions which will be having significance in future competitive examination.
                        </li>
                      
                    </ul>
                    <h4>Feedback Mechanism:</h4>
                    <ul>
                        <li>
                            Question wise feedback with correct solution will be provided. Student can check own historic performance at any point of time.  
                        </li>
                      
                    </ul>

                    </div>

                </div>
            <div id="collapseThree"  role="tabpanel" aria-labelledby="headingThree" aria-expanded="@(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "SingleTest" ? "true" : "false" : "")" class="collapse @(!string.IsNullOrEmpty(CurrentModule) ? CurrentModule == "SingleTest" ? "in" : "" : "")">
                <div class="panel-body">
                    <h3 class="text-left text-primary">
                        Reasoning Assessment
                    </h3>
                    
                    <p>
                        Reasoning assessment is a monthly LIVE testing platform. The questions are compiled from reasoning root chapter on which learning is provided over one-month period.
                        Most innovative online practice platform to get best practice for future and reman in full control of and type of competitive examination.
                    </p>
                    <h4>Quality Assurance:</h4>
                    <ul>
                        <li>
                            The question paper are syllabus and time specific.
                        </li>
                        <li>
                            Student will also get two more LIVE test, as Practice test and Qualifying test which is imbedded in lesson plan of reasoning.
                        </li>
                        <li>
                            By shortlisting most important and most relevant questions which will be having significance in future competitive examination.
                        </li>
                    </ul>
   	
    <h4>Feedback Mechanism:</h4>
                    <ul>
                        <li>
                            Question wise feedback with correct solution will be provided. Student can check own historic performance at any point of time.
                        </li>

                    </ul>
  

</div>
               
            </div>
            <div class="lv-body linklist">
                @foreach (var item in Model)
            {
                    <div class="">
                        <div class="media-body">
                            <ul class="lv-attrs">

                                <li class="list-group-item pull-right bgm-red" style="margin-right:16px;">  <a href="/PeriodicAssessment/Test/@item.Id" style="color:white">Start Test</a></li>
                                <li class="list-group-item pull-right" style="margin-right:6px;background-color:#21a3f6;color:white">Posted On : @item.AddedOn.ToString("dd-MMM, yyyy")</li>

                                @*<li>Class: @item.Class</li>*@
                                @*<li>Number of Days: @item.Days</li>*@
                            </ul>
                            <div class="lv-title f-20">@Html.Raw(item.Title)</div>
                            @*<small class="lv-small">@Html.Raw(item.ShortDiscription)</small>*@

                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

</div>


