﻿@{ 
    Layout = null;
}
@model Scoolfirst.Model.Projects.Order
<!DOCTYPE html>
<html>

<head>
    
    
</head>

<body style="padding:0px;margin:0px;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        #table, #th, #td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    @*<div class="header">*@
    <table border="0"  width="100%">

        <tr >
            <th colspan="2">
                <img src="@Server.MapPath("~/Content/header.png")" />
            </th>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
               <h4>Invoice</h4>
            </td>
            
        </tr>
    </table>


       
    
    <table style="width:100%">
        <tr>
            <td style="text-align:left"><h3>Customer Details:- </h3></td>
            <td style="text-align:right"><p>
                Invoice Number:<strong> #@Model.PrintInvoiceNo</strong><br />
                Date: <strong>@Model.OrderDate.ToShortTimeString()</strong>
                <br />Payment Method: <strong>Phone payment</strong>
                </p></td>
        </tr>
        <tr>
            <td style="text-align:left">
                <p>
                    <strong>To,</strong><br/>
                    <strong>Gautam Kumar Rana</strong><br />
                    User ID: 7870996302<br />
                    School Name: D.A.V Hehal, Ranchi – 834001<br />
                    Class: III<br />

                </p>
            </td>
        </tr>
    </table>
    <br />
    <h5>&nbsp;</h5>
    <div style="height:550px;margin-top:100px">
        <table style="width:100%; border: 1px solid black;border-collapse: collapse;margin-bottom:10px;margin-top:10px">
            <tr style="border: 1px solid black;border-collapse: collapse;">
                <th style="border: 1px solid black;border-collapse: collapse;">
                    Perticulars
                </th>
                <th style="border: 1px solid black;border-collapse: collapse;">
                    Unit Price
                </th>
                <th style="border: 1px solid black;border-collapse: collapse;">
                    Qty.
                </th>
                <th style="border: 1px solid black;border-collapse: collapse;">
                    Amount (₹)
                </th>
            </tr>

            <tr style="border: 1px solid black;border-collapse: collapse;">
                <td style="border: 1px solid black;border-collapse: collapse;">
                    #ProductDescription#
                </td>
                <td style="border: 1px solid black;border-collapse: collapse;">
                    #Unitprice#
                </td>
                <td style="border: 1px solid black;border-collapse: collapse;">
                    #Qty#
                </td>
                <td style="border: 1px solid black;border-collapse: collapse;">
                    #Amount#
                </td>
            </tr>

            <tr style="border: 1px solid black;border-collapse: collapse;">
                <td style="border: 1px solid black;border-collapse: collapse;">
                    UPGRADE JUNIOR INDIVIDUAL STUDENTS' SUBSCRIPTION
                </td>
                <td style="border: 1px solid black;border-collapse: collapse;">
                    100
                </td>
                <td style="border: 1px solid black;border-collapse: collapse;">
                    5
                </td>
                <td style="border: 1px solid black;border-collapse: collapse;">
                    500
                </td>
            </tr>
            <tr style="border: 1px solid black;border-collapse: collapse;">
                <td colspan="2" style="border: 1px solid black;border-collapse: collapse;"></td>


                <td colspan="2" style="border: 1px solid black;border-collapse: collapse;">
                    <ul style="width:100%; list-style:none;padding:0px; margin:0px;list-style-type:none">
                        <li style="padding:2px 0px;list-style:none;border: 1px solid black;">
                            <span style="text-align:left; display:block;">Sub total:  <span style="float:right">₹ #SubTotal#</span></span>

                        </li>
                        <li style="padding:2px 0px;list-style:none;border: 1px solid black;">
                            <span style="text-align:left;display:block;">IGST:<span style="float:right">₹ #IGST#</span></span>

                        </li>
                        <li style="padding:2px 0px;list-style:none;border: 1px solid black;">
                            <span style="text-align:left;display:block;">SGST: <span style="float:right">₹ #SGST#</span></span>

                        </li>

                        <li style="padding:5px 0px; border-top:1px solid black;list-style:none;border: 1px solid black;">
                            <span style="text-align:left;display:block;">Total: <span style="float:right">₹ #Total#</span></span>

                        </li>
                    </ul>
                </td>
            </tr>

        </table>
    </div>

    <img src="@Server.MapPath("~/content/footer.png")" style="position:fixed;bottom:0px" />
</body>

</html>