﻿@model Scoolfirst.Model.PeriodicAssesment.PAQuestion


@{
    ViewBag.Title = "CreateQuestion";
    var setId = long.Parse((this.ViewContext.RouteData.Values["setid"]??(Request.QueryString["setid"]??"0")).ToString());
    var id = Guid.Empty;
    if (ViewContext.RouteData.Values["Id"]!=null){
        id = Guid.Parse(ViewContext.RouteData.Values["Id"].ToString());
    }
}

@UIHelper.Header("Questions", null)

<section class="content" ng-controller="PAQuizControl" ng-init="Execut('@id',@setId)">
    <div class="row">

        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header">
                    <h3>Create</h3>
                </div>
                <div class="box-body">

                    <div class="form-group">
                        <label>Question Short Order</label>
                        <input type="number" class="form-control" ng-model="Models.ReasoningQuestion.ShortOrder" /><span></span>
                        <label>Module</label>
                        <input type="text" class="form-control" ng-model="Models.ReasoningQuestion.Module" />
                        <label> Query</label>
                        <textarea ng-model="Models.ReasoningQuestion.Query" ui-tinymce="tinymceOptions" class="form-control"></textarea>
                        <label> Solution</label>
                        <textarea ng-model="Models.ReasoningQuestion.Solution" ui-tinymce="tinymceOptions" class="form-control"></textarea>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item-heading list-group-item">
                            Options
                        </li>
                        <li class="list-group-item" ng-repeat="item in Models.ReasoningQuestion.Option">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" ng-model="item.Correct" /><span>Right Answer</span>
                                    <input type="number" ng-model="item.ShortOrder" /><span>Short order</span>
                                </span>
                                <textarea ng-model="item.Answer" class="form-control" ui-tinymce="tinymceOptions"></textarea>
                                <span class="input-group-btn"><button ng-click="removeOptions($index)" class="btn btn-danger" style="margin-left:10px"><i class="fa fa-trash"></i></button></span>
                            </div>



                        </li>
                        <li class="list-group-item">
                            <button ng-click="addOptions()" class="btn btn-primary">Add Option</button>
                        </li>
                    </ul>





                </div>
                <div class="box-footer">
                    <button ng-click="sendDatas()" class="btn btn-success pull-right ">Save Changes</button>
                    <a href="/PAQuestions/Index/@setId" class="btn btn-danger  pull-right" style="margin-right: 5px"><i class="fa fa-backward" style="margin-right: 5px"></i>Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="loading" ng-show="Save">Loading&#8230;</div>
</section>

<style>
    .loading {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

        /* Transparent Overlay */
        .loading:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
        }

        /* :not(:required) hides these rules from IE9 and below */
        .loading:not(:required) {
            /* hide "loading..." text */
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
        }

            .loading:not(:required):after {
                content: '';
                display: block;
                font-size: 10px;
                width: 1em;
                height: 1em;
                margin-top: -0.5em;
                -webkit-animation: spinner 1500ms infinite linear;
                -moz-animation: spinner 1500ms infinite linear;
                -ms-animation: spinner 1500ms infinite linear;
                -o-animation: spinner 1500ms infinite linear;
                animation: spinner 1500ms infinite linear;
                border-radius: 0.5em;
                -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
                box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            }

    /* Animation */

    @@-webkit-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@-moz-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@-o-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style>
@section scripts{
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    @*<script src="~/Scripts/RNMQuiz/RnmQuiz.js"></script>*@
    <script src="/TinyMce/PAAngular"></script>
}


