﻿@model IEnumerable<Scoolfirst.Model.PeriodicAssesment.PAQuestion>

@{
    ViewBag.Title = "Index";
    
}

@UIHelper.Header("Assesments", null, "List Of All Assements")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "PAQuestions",new {setid= this.ViewContext.RouteData.Values["id"] }), " Add New")
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">
                            
                            <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Set.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Query)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solution)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ShortOrder)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Module)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Set.Title)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Query)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Solution)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShortOrder)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Module)
                                            </td>
                                            <td class="btn-group btn-group-sm" width="120px">
                                                <a href="@Url.Action("Create","PAQuestions",new { id = item.Id, setId = this.ViewContext.RouteData.Values["id"] })" class="btn btn-primary btn-sm">Edit</a>
                                                <a href="@Url.Action("Details","PAQuestions")" class="btn btn-info btn-sm">Details</a>
                                                <a href="@Url.Action("Delete","PAQuestions")" class="btn btn-danger btn-sm">Delete</a>
                                                
    
    @*@Html.ActionLink("Edit", "create", new { id = item.Id,setId= this.ViewContext.RouteData.Values["id"] }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                            </td>
                                        </tr>

                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/PAQuestions/index/")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



