﻿@model IEnumerable<Scoolfirst.Model.MCQ.Options>

@{
    ViewBag.Title = "Index";
}

@UIHelper.Header("Options",null,"List Of All Options")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Options"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-condensed " role="grid" aria-describedby="example1_info">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Question.Subject)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Answer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Correct)
                                    </th>
                                    <th>Action</th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Question.Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Answer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Correct)
                                        </td>
                                        <td class="btn-group btn-group-sm" width="120px">
                                            <a href="@Url.Action("Edit", "Options", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("Delete", "Options", new { id = item.Id })" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/Options/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


