﻿@model IEnumerable<Scoolfirst.Model.NAO.Olympiad>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Olympiad", null, "List of All Olympiad")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create","Olympiad"),"")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped table-condensed table-vmiddle " >
                                    <thead>
                                        <tr role="row">
                                            <th >Level</th>
                                            <th>Subject</th>
                                            <th>Class</th>
                                            <th>Title</th>
                                            <th>Added On</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Level</td>
                                                <td>@item.Subject</td>
                                                <td>@item.Class</td>
                                                <td>@item.Title</td>
                                                <td>@string.Format("{0:dd/MM/yyyy}",item.AddedOn)</td>
                                                <td class="btn-group btn-group-sm" width="120px">
                                                    <a href="@Url.Action("Edit", "Olympiad", new { id =item.Id })" class="btn btn-success btn-sm" ><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "Olympiad", new { id = item.Id })"  class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/Olympiad/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
