﻿@model Scoolfirst.Model.Common.AppUpdate

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AppUpdate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTitle1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTitle1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowUpdate1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowUpdate1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTitle2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTitle2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowUpdate2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowUpdate2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTitle3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTitle3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowUpdate3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowUpdate3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTitle4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTitle4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowUpdate4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowUpdate4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
