﻿@model Scoolfirst.Model.Common.AppUpdate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppUpdate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTitle1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTitle1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowUpdate1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowUpdate1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTitle2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTitle2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowUpdate2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowUpdate2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTitle3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTitle3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowUpdate3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowUpdate3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTitle4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTitle4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowUpdate4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowUpdate4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
