﻿@model IEnumerable<Scoolfirst.Model.Common.AppUpdate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTitle1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowUpdate1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTitle2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowUpdate2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTitle3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowUpdate3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTitle4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowUpdate4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTitle1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Update1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowUpdate1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTitle2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Update2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowUpdate2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTitle3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Update3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowUpdate3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTitle4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Update4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowUpdate4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedOn)
        </td>
       
        <td class="btn-group btn-group-sm" width="120px">
            <a href="@Url.Action("Edit", "AppUpdates", new { id =item.Id })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit"></i></a>
            <a href="@Url.Action("Details", "AppUpdates", new { id =item.Id })" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye"></i></a>
            <a href="@Url.Action("Delete", "AppUpdates", new { id = item.Id })" data-toggle="tooltip" data-placement="top" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
        </td>
       
    </tr>
}

</table>
