﻿@model Scoolfirst.Model.DaliyTestNameSpace.DTQuestion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DTQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionSet.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionSet.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowSloution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowSloution)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index",new { DTI = ViewBag.DTI, QSI = ViewBag.QSI })
        </div>
    }
</div>
