﻿@model Scoolfirst.Model.DaliyTestNameSpace.DTQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DTQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionSet.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionSet.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowSloution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowSloution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id,DTI=ViewBag.DTI, QSI = ViewBag.QSI }) |
    @Html.ActionLink("Back to List", "Index",new { DTI = ViewBag.DTI, QSI = ViewBag.QSI })
</p>
