﻿@model IEnumerable<Scoolfirst.Model.DaliyTestNameSpace.DTQuestion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",new { DTI = ViewBag.DTI, QSI = ViewBag.QSI })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionSet.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
     
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionSet.Id)
        </td>
        <td>
            @Html.Raw(item.Question)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id, DTI = ViewBag.DTI, QSI = ViewBag.QSI }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id, DTI = ViewBag.DTI, QSI = ViewBag.QSI }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, DTI = ViewBag.DTI, QSI = ViewBag.QSI })
            @Html.ActionLink("Answers", "Index","DTAnswers", new { QI = item.Id, DTI = ViewBag.DTI, QSI = ViewBag.QSI },null)
        </td>
    </tr>
}

</table>
