﻿@model IEnumerable<Scoolfirst.Model.Feed.Post>
@using Scoolfirst.Model.Utility
@{
    ViewBag.Title = "BBF";
}

<section class="content-header">
    <h1>
        Post
        <small>All Post</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Post/"><i class="fa fa-dashboard"></i> AllPost</a></li>

    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Knowledge Nutrition</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class=" form-inline ">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="" id="example1_length">
                                    <label>
                                        Show
                                        <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="example1_filter" class="dataTables_filter">
                                    <label>
                                        Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <table class="table table-bordered table-striped " role="grid" aria-describedby="example1_info">
                                    
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="text-align:center">@item.Title.Substring(0, Math.Min(item.Title.Length, 20))</td>
                                               
                                                
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="ci-avatar">

                                                        <iframe width="237" height="150"
                                                                src="@item.Videos.First().VideoUrl.Replace("youtu.be","youtube.com/embed")"></iframe>
                                                    </a>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td style="text-align:center">
                                                    <a href="@Url.Action("EditBreakBrainFast", "Post", new { id =item.Id })" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Click to edit BBF."><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "Post", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Click to delete BBF." class="btn btn-danger "><i class="fa fa-remove"></i></a>
                                                    <a href="@Url.Action("Schedules", "Post", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Click to schedule BBF." class="btn btn-info "><i class="fa fa-square"></i></a>
                                                </td>
                                           </tr>
                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div><div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-7">
                                @Pager(ViewBag.Pager)

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@helper Pager(Scoolfirst.Model.Provider.Pagers p)
{
    <ul class="pagination">


        @if (p.HasPreviousPage)
        {
            <li class="">
                <a href="/Post/BBF?page=@p.FirstPageIndex&size=@p.PageSize">First </a>
            </li>
            <li>
                <a href="/Post/BBF?page=@p.PreviousPageIndex&size=@p.PageSize">Previous </a>
            </li>

        }
        @foreach (var i in p)
        {
            if (i == p.CurrentPageIndex)
            {
                <li>
                    <a>Current @i</a>
                </li>

            }

            else
            {
                <li>
                    <a> @i</a>
                </li>
            }

        }
        @if (p.HasNextPage)
        {
            <li>
                <a href="/Post/BBF?page=@p.NextPageIndex&size=@p.PageSize">Next </a>
            </li>
            <li>
                <a href="/Post/BBF?page=@p.LastPageIndex&size=@p.PageSize">Last </a>
            </li>


        }
    </ul>
}



@*<div class="card">
    <div class="card-header bgm-blue">

        <h2><strong>Knowledge Nutrition</strong></h2>
        <a href="@Url.Action("CreateBreakBrainFast","Post")" class="btn bgm-deeporange btn-float waves-effect"><i class="zmdi zmdi-plus"></i></a>

    </div>
</div>

              @foreach (var item in Model)
              {
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="card">
                        <div class="card-header bgm-blue">
                            
                                <h2><strong>@item.Title</strong></h2>
                            <ul class="actions" style="z-index:4">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="tm-icon zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu dm-icon pull-right">
                                        <li >
                                            <a href="@Url.Action("EditBreakBrainFast","Post", new { id=item.Id})">Edit</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Delete","Post", new { id=item.Id})">Delete</a>
                                        </li>
                                      
                                    </ul>
                                </li>
                            </ul>

                            </div>
                        <div class="card-body card-padding">
                            <div class="contacts clearfix row">
                                <div class="c-item">
                                    <a href="#" class="ci-avatar">
                                       
                                        <iframe width="237" height="150"
                                                src="@item.Videos.First().VideoUrl.Replace("youtu.be","youtube.com/embed")"></iframe>
                                    </a>

                                    <div class="c-info">
                                       
                                        @Html.RawTextMore(item.Content, 400)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
              }*@



