﻿@model Scoolfirst.ViewModel.Feed.CreativeCanvasViewModel

@{
    ViewBag.Title = "Creative Canvas";
}

@UIHelper.Header("Creative Canvas")

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(i => i.Id)
                @Html.HiddenFor(i=>i.OnDateTime)
                <div class="box box-primary">
                    <div class="box-header bgm-blue">
                        Add Images
                        @Html.ValidationSummary(false, null, new { @class = "error-text" })
                        <button type="button" onclick="AddImage()" class="btn btn-primary">Add Image</button>
                    </div>
                    <div class="box-body">

                        <div id="con">

                            @for (int index = 0; index < Model.ImageId.Count(); index++)
                            {
                                <div class="col-sm-4" id="@("url" + index)">
                                    @Html.HiddenFor(i => i.ImageId[index])
                                    @Html.HiddenFor(i => i.ImageUrl[index])

                                    <a href="#" onclick="PopUp('@("url" + index)', @index)" data-url="@("url" + index)" class="pic">
                                        <img src="@Model.ImageUrl[index]" class="img-responsive pre" id="@("url" + index)"/>
                                    </a>
                                    @Html.TextBoxFor(i => i.ImageTitle[index],  new { @class = "form-control", style = "margin-top:5px" } )
                                </div>
                            }
                        </div>

                        <div class="clearfix">

                        </div>

                        <div class="form-group ">
                            @Html.LabelFor(model => model.Title)

                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })


                        </div>

                        <div class="form-group ">
                            @Html.LabelFor(model => model.Content)

                            @Html.TextAreaFor(model => model.Content, new { @class = "richeditor" } )


                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Tags)

                            @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })


                        </div>


                    </div>
                    <div class="box-footer">
                        <button type="submit" class=" pull-right btn btn-success  waves-effect">Save</button>
                        <a href="/Post/Index" class="btn btn-danger pull-right " style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>
                </div>

            }
        </div>
    </div>
</section>


@section Scripts{
   
    @FilePopUp.ModalFileClass()
<script>
    var count=@Model.ImageId.Count;

    function AddImage(){
        if(count==NaN)
            count=0;
        var html='<div class="col-sm-4" id="url'+count+'">'+
                   '<input type="hidden" name="ImageId['+count+']"  onchange=Imagefy() value="00000000-0000-0000-0000-000000000000" />'+
        '<input type="hidden" name="ImageUrl['+count+']" data-id="url'+count+'"  id="ImageUrl_'+count+'_" />'+
        '<a href="#" onclick="PopUp(\'url'+count+'\','+count+')" data-url="url'+count+'" class="pic">'+
        '<img src="http://placehold.it/350x150" class="img-responsive pre" id="url'+count+'"></a>'+
        '<input type="text" name="ImageTitle['+count+']" value="Add Image Title"  id="ImageTitle_'+count+'_" class="form-control" placeholder="Image Title" style="margin-top:5px" />'+
    '</div>';
        $('#con').append(html);
        count++;
    }

   
    </script>
<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
    }

