﻿@model Scoolfirst.ViewModel.Feed.KnowledgeNutritionViewModel

@UIHelper.Header("Knowledge Nutrition", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("CreateBreakBrainFast","Post",FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserId)
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Title, new { htmlattributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = " " })
                            @Html.TextAreaFor(model => model.Content, new { @class = "richeditor" } )
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                        </div>

                        <!--TODO: VideoUrl field not updating when selection and item from search result!-->

                        <div class="form-group">
                           @Html.LabelFor(model => model.VideoUrl, htmlAttributes: new { @class = " " }) 

                            <div class="input-group">
                                
                                @Html.EditorFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-btn">
                                    <a href="/home/youTube/VideoUrl" data-id="ImageUrl"  class="Videopicker btn btn-info btn-flat"  style="color:white !important"><i class="fa fa-image"></i></a>
                                </span>
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Image" data-valmsg-replace="true"></span>
                        </div>
                       
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Post/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>


  @section Scripts{
     
<script src="~/ckeditor/ckeditor.js"></script>
@FilePopUp.VideoSearch()
<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
<script>tinymce.init({ selector:'.richeditor' });</script>

}