﻿@model Scoolfirst.Model.Feed.Post

@if (Request.IsAjaxRequest())
{
    <form action="@Url.Action("Edit", "Post")" method="post" role="form" id="entryform">

        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            @*<h4 class="modal-title">Posts</h4>
                <hr />*@
            @if (Model.Id == 0)
                {
                <h4 class="modal-title">New Post</h4>
                    <hr />
            }
            else
            {
                <h4 class="modal-title">Edit Post- @Model.Title</h4>
                    <hr />
            }
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Type)
        <!--Hidden-->

        <div class="col-md-12">
            <div class="input-group fg-float">
                <span class="input-group-addon"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></span>
                <div class="fg-line">

                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })

                    <label class="fg-label">Title</label>
                </div>
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
            <div class="input-group fg-float">
                <span class="input-group-addon"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></span>
                <div class="fg-line">

                    @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })

                    <label class="fg-label">Tags</label>
                </div>
                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
            </div>
            <div class="input-group fg-float">
                <span class="input-group-addon"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></span>
                <div class="fg-line">

                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control ckeditor" })

                    @*<label class="fg-label">Content</label>*@
                </div>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
            <div class="input-group fg-float">
                <span class="input-group-addon">Pinned</span>
                <div >

                    @Html.EditorFor(model => model.Pinned)

                    @*<label class="fg-label">Content</label>*@
                </div>
                @Html.ValidationMessageFor(model => model.Pinned, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="modal-footer">
            <hr />
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>



        @*<script src="~/ckeditor/ckeditor.js"></script>*@
        <script src="~/static/vendors/bower_components/tinymce/tinymce.js"></script>
            <script src="~/static/vendors/bower_components/tinymce/TinyMCE-BasicSetting.js"></script>

            <script type="text/javascript">

                $().ready(function () {

                    // Login Form Validation
                    $('#entryform').bootstrapValidator({
                        container: 'tooltip',
                        //        trigger: 'blur',
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },//,


                        fields: {

                            Title: {
                                group: '.fg-line',
                                message: 'The Title is not valid',
                                validators: {
                                    notEmpty: {
                                        message: 'The Title is required and cannot be empty'
                                    }
                                }
                            },
                            Content: {
                                group: '.fg-line',
                                message: 'The subject is not valid',
                                validators: {
                                    notEmpty: {
                                        message: 'The Content is required and cannot be empty'
                                    }
                                }
                            }

                        }

                    });

                });//Jquery End
            </script>
           
    @FgMD.FgInit()
    if (Model.Id == 0)
    {
        <script>
            $(function () {
                bindForm("#entryform")
            })
        </script>
    }

}
else
{
    @UIHelper.Header("Post", null)

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Type)
                    @Html.HiddenFor(model => model.Id)
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            @if (Model.Id == 0)
                            {
                                <h3 class="box-title">Add New Post</h3>
                            }
                            else
                            {
                                <h3 class="box-title">Edit Post</h3>
                            }

                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "fg-label" })
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-sm " } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "fg-label" })
                                @Html.TextAreaFor(model => model.Content, new { @class = "richeditor" })
                                @*<textarea class="form-control" name="Content" ui-tinymce="tinymceOptions"></textarea>*@
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "fg-label" })
                                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                            <a href="~/Post/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                        </div>

                    </div>
                }
            </div>
        </div>
    </section>



    @*<div class="card">
        @{
            ViewBag.Title = "Edit";
        }

        <div class="card-header bgm-blue">
           
            @if (Model.Id == 0)
                {
                <h2>Add New Post</h2>
                    <a href="@Url.Action("Index","Post")" class="btn bgm-deeporange btn-float waves-effect"><i class="zmdi zmdi-arrow-back"></i></a>
            }
            else
            {
                <h2>Edit Post- @Model.Title</h2>
                    <a href="@Url.Action("Index","Post")" class="btn bgm-deeporange btn-float waves-effect"><i class="zmdi zmdi-arrow-back"></i></a>
            }
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Type)
            @Html.HiddenFor(model => model.Id)
            <div class="card-body card-padding">
                <div class="form">

                    <div class="form-group fg-line">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "fg-label" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-sm " } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group fg-line">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "fg-label" })
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group fg-line">
                        @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "fg-label" })
                        @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix">
                        <button type="submit" class="btn btn-success pull-right btn-sm m-t-5 waves-effect">Save Changes</button>
                    </div>
                </div>
            </div>
        }


    </div>*@
            @*<script src="~/static/vendors/bower_components/tinymce/tinymce.js"></script>*@
           
            @*<script src="~/static/vendors/bower_components/tinymce/TinyMCE-BasicSetting.js"></script>*@
    @section scripts{
<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
<script>tinymce.init({ selector: '.richeditor' });</script>
        @FgMD.FgInit()
        }
          


            }


