﻿@model IEnumerable<Scoolfirst.Model.Feed.Post>

@{
    ViewBag.Title = "ExperimentalLearning";
}
<div class="card">
    <div class="card-header bgm-blue">
        <h2>Experimental Learning Post <small>write some descriptive title</small></h2>
        <a href="@Url.Action("ExperimentalLearningCreate","Post")" class="btn bgm-pink btn-float waves-effect"><i class="zmdi zmdi-plus"></i></a>
    </div>
<div class="card-body">



<div class="p-20">
<form action="@Url.Action("Search","Post")" method="post">
            <div id="data-table-subject-header" class="bootgrid-header container-fluid">
                <div class="row">
                    <div class="col-sm-12 actionBar">
                        <div class="search form-group pull-left">
                            <div class="input-group">
                                <span class="zmdi icon input-group-addon glyphicon-search"></span>
                                <input type="text" class="search-field form-control" placeholder="Search" name="search">

                                <span class="input-group-addon">
                                    <button type="submit">Go</button>
                                </span>

                            </div>
                        </div>
                        <div class="actions btn-group">
                            <div class="dropdown btn-group">
                                <button class="btn btn-default dropdown-toggle waves-effect" type="button" data-toggle="dropdown">
                                    <span class="dropdown-text">10</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li class="active" aria-selected="true">
                                        <a data-action="10" class="dropdown-item dropdown-item-button">10</a>
                                    </li>
                                    <li aria-selected="false">
                                        <a data-action="25" class="dropdown-item dropdown-item-button">25</a>
                                    </li>
                                    <li aria-selected="false">
                                        <a data-action="50" class="dropdown-item dropdown-item-button">50</a>
                                    </li>
                                    <li aria-selected="false">
                                        <a data-action="-1" class="dropdown-item dropdown-item-button">All</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
           User Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
            @if (item.Images.Count() > 0)
            {
                <img src="@item.Images.First().ImageUrl" class="img-responsive" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
       
        <td class="text-right">
             <a href="@Url.Action("ExperimentalLearningCreate", "Post", new {id=item.Id })" data-toggle="tooltip" data-placement="top" title="Click to edit Post" class="btn btn-primary btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
             <a href="@Url.Action("Details","Post", new {id=item.Id })" data-toggle="tooltip" data-placement="top" title="Click to view details Post" class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-search"></i></a>
             <a href="@Url.Action("Delete","Post", new {id=item.Id })" data-toggle="tooltip" data-placement="top" title="Click to delete Post" class="btn btn-danger btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-close"></i></a>            
        </td>
        
    </tr>
}

</table>
@if(Model.Count()==0){

<div class="p-30">
                <p class="text-center">
                    <h3>No Post found. To create Post  <a href="@Url.Action("ExperimentalLearningCreate","Post")">click on me</a> </h3>
                </p>
            </div>
}

</div><!--Card Body End-->
</div><!--Card End-->
