﻿@model IEnumerable<Scoolfirst.Model.Feed.Post>
@using Scoolfirst.Model.Utility;
@{
    ViewBag.Title = "Index";
    
}
@if (TempData["Sucess"] != null)
{

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        @Html.Raw(TempData["Sucess"])
    </div>
}
@UIHelper.Header("Posts", null, "List of All Posts")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <a href="/post/CreativeCanvasCreate" class="btn btn-info btn-sm pull-right">ADD CREATIVE CANVAS</a>
                    <a href="/post/CreateBreakBrainFast" class="btn btn-info btn-sm pull-right">ADD KNOWLEDGE NUTRITION</a>
                    <a href="/Post/edit/0">MUST REMEMBER TRICKS</a>
                    @UIHelper.Search(new string[] { "ALL", "KNOWLEDGE_NUTRITION", "CREATIVE_CANVAS", "MUST_REMEMBER_TRICKS" })
                </div>
                <div class="box-body">
                    <ul class="timeline timeline-inverse">
                        @foreach (var item in Model.ToList())
                    {
                            <li>
                                @PostTypes(item)

                            </li>
                    }

                    </ul>
                </div>
                <div class="box-footer">
                    @Pager.Page("/post")
                </div>
            </div>
        </div>
    </div>

</section>
<div class="modal fade" tabindex="-1" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add To Feed : <span id="headingTitle"></span></h4>
                                    </div>
            <div class="modal-body">
                <div class="alert" id="modalResult">

                </div>
                <div id="loader" style="position:fixed;top:25%;left:40%; z-index:200000;text-align:center">
                    <h3>Posting</h3>
                    <div class="loader"></div>
                </div>

                <form id="modalForm">
                    <input type="hidden" name="type" id="type" />
                    <input type="hidden" name="id" id="id" />
                    <div class="form-group">
                        <label for="inputtext">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                                        </div>
                    <div class="form-group">
                        <label for="inputbody">Body</label>
                        @*<input type="text" class="form-control" id="body" name="body" placeholder="Body">*@
                        <textarea class="form-control" id="body" name="body" placeholder="Body"></textarea>
                                    </div>
                    <div class="form-group">
                        <label for="inputimage">Image Url</label>
                        <div class="input-group">
                            <input type="text" id="imageurl" class="form-control" placeholder="Image Url" name="imageurl">
                            <span class="input-group-btn"><button class="btn filepicker" type="button"><i class="fa fa-image"></i></button></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputgroup">Group</label>
                        @Html.DropDownList("Group", null, "Select Group", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="inputgroup">Pinned</label>
                        @Html.CheckBox("Pinned")
                    </div>
                                   
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="datetime">Date</label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" id="Date" name="date" value="@DateTime.Now.ToShortDateString()">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                            </div>
                                            </div>
                        <div class="col-xs-6">
                            <label for="time">Time</label>
                            <div class="input-group bootstrap-timepicker timepicker" data-provide="timepicker-picker">

                                <input type="text" class="form-control" id="time" name="time">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                           </div>
                                            </div>
                                        </div>
                            </div>


                </form>
                </div>
            <div class="modal-footer">
                <div class="btn">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Cancel</button>
                </div>
                <div id="addBtn" class="btn">
                    <button type="button" class="btn btn-primary" id="addTofeed">Add</button>
            </div>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div>

@section scripts {
    <style> 
        .bootstrap-timepicker-weight,
        .datepicker
        {
            z-index:10000!important;
        }


        .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    </style>
<script src="~/static/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
<link href="~/static/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<link href="~/static/Content/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
<script src="~/static/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script>
        $(".feedAdd").click(function (e) {
            e.preventDefault();
            $("#loader").hide();
            $("#modalResult").hide();
            $("#modalForm").show();
            var Id = $(this).data('id')
            var Tyepe = $(this).data('type');
            var headingTitle = $(this).data("title");
            $("input#id").val(Id);
            $("input#type").val(Tyepe);
            $("#headingTitle").html(headingTitle);
            $("input#title").val(headingTitle);
            $("textarea#body").val(headingTitle);
            $("#addBtn").show();
            $("#cancel").html("Cancel");
            $("#myModal").modal();
        })
    </script>

    <script>
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d',
            defaultDate: new Date()

        });
        </script>
    <script>
        $('#time').timepicker();
    </script>
    <script>
        $("#addTofeed").click(function () {
            $(this).attr('disable','disable');
            $("#cancel").attr('disable', 'disable');
            $("#loader").show();
           var formData= $("form#modalForm").serialize();
           $.ajax({
               url: '/feeds/AddtoFeed',
               dataType: 'json',
               type: 'post',
               data:formData,
               success: function (data) {
                   console.log(data)
                   console.log(data.Class)
                   $("form#modalForm").hide();
                   $("#loader").hide();
                   $("#modalResult").removeClass("alert-danger");
                   $("#modalResult").removeClass("alert-success");
                   $("#modalResult").html(data.message);
                   $("#modalResult").addClass(data.Class);
                   $("#modalResult").show();
                   $("#addBtn").hide();
                   $("#cancel").html("Done");
               }
           })
                




        })


    </script>



    @FilePopUp.ModalFileFancyBox("imageurl")
}


@helper PostTypes(Scoolfirst.Model.Feed.Post item)
   {
if (item.Type == PostType.KNOWLEDGE_NUTRITION)
{
        @KNOWLEDGE_NUTRITIONK(item)
    return;
}
if (item.Type == PostType.CREATIVE_CANVAS)
{
        @CreativeCanvas(item)
    return;
}
if (item.Type == PostType.MUST_REMEMBER_TRICKS)
{
        @MustRemberTrick(item)
}

}
@helper MustRemberTrick(Scoolfirst.Model.Feed.Post item)
{
if (item == null)
{
    return;
}

    <i class="fa fa-television bg-red"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> </span>
            @if (item.Title != null)
            {
                <h3 class="timeline-header"><a href="#">@item.Title</a></h3>
            }
            <div class="timeline-body">
               
                @Html.Raw(item.Content)
            </div>
            <div class="timeline-footer">
                <div class="btn btn-group btn-group-sm" style="margin-top:-5px">
                    <a href="@Url.Action("Delete", "Post", new { id = item.Id })" class="btn btn-danger "><i class="fa fa-trash"></i></a>
                </div>
                <div class="btn btn-group btn-group-sm pull-right" style="margin-top:-5px">
                    <a href="@Url.Action("EditBreakBrainFast", "Post", new { id = item.Id })" class="btn btn-success"><i class="fa fa-edit"></i></a>
                    @*<a href="#" data-id="@item.Id" data-title="@item.Title" data-type="KN" class="btn btn-primary feedAdd"> Add To Feed</a>*@
                </div>
            </div>
        </div>

}


@helper KNOWLEDGE_NUTRITIONK(Scoolfirst.Model.Feed.Post item)
{
if (item == null)
{
    return;
}

        <i class="fa fa-television bg-red"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> </span>
            @if (item.Title != null)
            {
            <h3 class="timeline-header"><a href="#">@item.Title</a></h3>
            }
            <div class="timeline-body">
                @if (item.Videos != null && item.Videos.Count() > 0) { 
                <div class="" style="">
                    @*Note For Yusuf *Please consider a small preview window. Does not makes sense in a long run*@
                    <iframe class="embed-responsive-item" src="@item.Videos.First().VideoUrl.Replace("youtu.be", "youtube.com/embed")" frameborder="0" allowfullscreen></iframe>
                </div>}
                @Html.Raw(item.Content)
            </div>
            <div class="timeline-footer">
                <div class="btn btn-group btn-group-sm" style="margin-top:-5px">
                    <a href="@Url.Action("Delete", "Post", new { id = item.Id })" class="btn btn-danger "><i class="fa fa-trash"></i></a>
                </div>
                <div class="btn btn-group btn-group-sm pull-right" style="margin-top:-5px">
                    <a href="@Url.Action("EditBreakBrainFast", "Post", new { id = item.Id })" class="btn btn-success"><i class="fa fa-edit"></i></a>
                    <a href="#" data-id="@item.Id" data-title="@item.Title" data-type="KN" class="btn btn-primary feedAdd"> Add To Feed</a>
                </div>
            </div>
            </div>
    
}
@helper CreativeCanvas(Scoolfirst.Model.Feed.Post item)
{
    <i class="fa fa-picture-o bg-red"></i>
    <div class="timeline-item">
        <span class="time"><i class="fa fa-clock-o"></i> </span>

        <h3 class="timeline-header"><a href="#">@item.Title</a></h3>

        <div class="timeline-body">
            @if (item.Images != null && item.Images.Count() > 0)
            {
                foreach (var img in item.Images)
                {

                    <div> <img src="@img.ImageUrl?height=100" alt="..." class="margin"><br/>
                        <i style="margin-left:12px"> @img.ImageTitle</i></div>
                    
                }
            }
            <div class="p-10">
                @Html.Raw(item.Content)
                    </div>
                    </div>
        <div class="timeline-footer">

            <div class="btn btn-group btn-group-sm" style="margin-top:-5px">
                <a href="@Url.Action("Delete", "Post", new { id = item.Id })" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                </div>
            <div class="btn btn-group btn-group-sm pull-right" style="margin-top:-5px">
                <a href="@Url.Action("CreativeCanvasCreate", "Post", new { id = item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                <a href="#" data-id="@item.Id" data-title="@item.Title" data-type="CC" class="btn btn-primary feedAdd">Add To Feed</a>
                            </div>
                        </div>

                    </div>

}

 