﻿<div ng-controller="EditorController">




    <div class="col-md-7">
        <div class="card">
            <input type="hidden" id="OgImage" ng-model="OgImage" />

            <div class="card-body card-padding">
               
                    <span class="lead" ng-model="Heading">{{Heading}}</span>
              
                <div>
                        <p ng-repeat="i in P">{{i.p}}</p>
                </div>
                <div class="wall-img-preview lightbox clearfix" >
                    <div class="wip-item" style="background-image: url({{image.img}});" ng-click="editImage($index)" ng-repeat="image in images">
                        <div class="lightbox-item"></div>
                    </div>

                </div>
                

              

            </div>

           
        </div>


    </div>
    <div class="col-md-4">
        <div><button ng-click="AddPra()" class="pull-right"><i class="zmdi zmdi-star"></i>Add Pragraph</button> <button ng-click="AddImg()">Add Image</button></div>
        <input type="text" class="form-control" ng-model="Heading" />
        <div >
            <div ng-repeat="i in P" class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <textarea ng-model="i.p" class="form-control " msd-elastic></textarea><i class="zmdi zmdi-close input-group-addon" ng-click="RemoveP($index)"></i>
                    </div>
                   
                </div>
                

            </div>
        </div>
        <div class="row">
            <div ng-repeat="image in images">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" ng-model="image.img" class="form-control" /><i class="zmdi zmdi-close input-group-addon" ng-click="RemoveImg($index)"></i>
                    </div>
                   
                </div>
               
            </div>
        </div>
        
       
    </div>
</div>
<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <iframe src="http://static.scoolfirst.com/filemanager/dialog.php?type=0&crossdomain=1&fldr=field_id=OgImage" frameborder="0" style="overflow:hidden;min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>
@section scripts{
    
<script src="~/Scripts/app/Editor.js"></script>
   
    }