﻿@model Scoolfirst.Model.Common.Summary

@{
    ViewBag.Title = "Details";
}

@UIHelper.Header("Summaries",null,"Summary Details")
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>

                    <h3 class="box-title">Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Summarizer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Summarizer)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Visualizer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Visualizer)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Month)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Month)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Year)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Year)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Class)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Class)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.School)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.School)
                        </dd>

                    </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Edit","Summaries", new { id=Model.Id})" class="btn btn-success pull-right"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Index","Summaries")" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

