﻿@model Scoolfirst.Model.Common.Summary

@{
    ViewBag.Title = "Edit";
}


@UIHelper.Header("Summaries")
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, "Category", htmlAttributes: new { @class = " " })
                            @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Summarizer, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Summarizer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Summarizer, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Visualizer, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Visualizer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Visualizer, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = " " })
                            @Html.DropDownList("Month", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = " " })
                            @Html.DropDownList("Year", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.School, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.School, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.School, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Summaries/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>


