﻿@model IEnumerable<Scoolfirst.Model.Common.Summary>

@{
    ViewBag.Title = "Index";
}

@UIHelper.Header("Summaries",null,"List Of All Summaries")
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search(Url.Action("Create", "Summaries"), "")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped table-condensed table-vmiddle">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Summarizer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Visualizer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Month)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Year)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Class)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.School)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Summarizer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Visualizer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Month)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Class)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.School)
                                </td>
                                <td class="btn-group btn-group-sm" width="120px">
                                    <a href="@Url.Action("Edit", "Summaries", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Details", "Summaries", new { id =item.Id })" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Delete", "Summaries", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }

                    </table>

                    <div class="row">
                        <div class="col-sm-12">
                            
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


