﻿@using System.Linq;
@using Scoolfirst.Model.Utility;
@model IEnumerable<Scoolfirst.Model.Projects.Project>
@{
    var http = "http";
    if (Request.IsSecureConnection)
    { http += "s"; }
    http += "://";
    var fileUrl = http + System.Web.Configuration.WebConfigurationManager.AppSettings["pictureServer"];


    ViewBag.Title = "Index";
}

@if (Request.IsAjaxRequest())
{
    @RenderPosts(fileUrl)
    <script>
        $(function () {
            bindIframe();

        })
    </script>
    return;
}


@section style{
    <style>
        .card-header {
            padding: 10px 15px 5px !important;
        }
    </style>
}
<div id="postHolder">
        @RenderPosts(fileUrl)
   
</div>
@section scripts{
    <script src="~/static/CustomScript/debugHelper.js"></script>
    <script src="~/static/CustomScript/Comment.js"></script>
    <script src="~/static/CustomScript/Like.js"></script>
    <script src="~/static/CustomScript/InfinteScroll.js"></script>
    <script>
        function bindIframe() {
             $('.rawContent * img').each(function () {
                var img = $(this);
                if (img.hasClass('img-responsive') === false) {
                    img.wrap('<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12"/>')
                    img.addClass('img-responsive');
                }
            })
        }
        $(function () {
            bindIframe();
        })
        function Invoke(str) {
            var url = str;

            var win = window.open(url, 'windowName', "width =900,height=800,scrollbars=no");
            var timer = setInterval(function () {
                if (win.closed) {
                    clearInterval(timer);

                    alert("Reported")
                }
            }, 1000);

        }
    </script>

}





@helper RenderPosts(string fileUrl)
{

foreach (var ir in Model)
{
   
   <div class="card">
            <div class="card-header bgm-primary p-10">
                <div class="media">
                    <div class="pull-left color c-lightgreen">
                        <img src="~/static/img/feedIcon/ic_experiential_learning.png" class="lv-img-sm" />

                    </div>
                    <div class="media-body m-t-5">
                        <h2>
                            Creative Canvas
                            <small class="dateTime CommentTime" data-Time="@ir.AddedOn.ToString("o")">
                                Posted on @ir.AddedOn.ToString("dd MMM yyyy hh:mm:ss")
                            </small>
                        </h2>
                    </div>
                </div>
            </div>



            <div class="card-body card-padding">

                <span class="lead">@ir.Name</span>

                @if (!string.IsNullOrEmpty(ir.FileUrl))
                {
                    @*<div class="wip-item" data-src="@ir.FileUrl" style="background-image: url(@ir.FileUrl);" data-title="@ir.Name">

                        <img src="@ir.FileUrl" alt="@ir.Name" data-title="@ir.Name">
                        <h6 class="wiki-content badge-info">@ir.Name</h6>
                    </div>*@

                    <div class="wall-img-preview lightbox clearfix">
                        <div class="wip-item" data-src="@ir.FileUrl" style="background-image: url(@ir.FileUrl);">
                            <div class="lightbox-item"></div>
                        </div>
                       
                    </div>
                            }

                <div class="rawContent">
                    @Html.Raw(ir.Description)
                </div>
                <div class="clearfix"></div>
                

            </div>

            
        </div>
}
if (Model.Count() == 0)
{
        <h3>Sorry ! We Don't have Any more Chocholates For you :(</h3>
}
else
{
    var Page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"].ToString()) : 0;
    var Controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToUpper();

    var url = string.Format("/{1}/?page={0}", (Page + 1), Controller);
        <a class="text-center btn btn-block btn-info waves-button-input" href="@url">Load More</a>
}
}






