﻿@model Scoolfirst.Model.RNM.ReasoningRoot


@UIHelper.Header("Reasoning", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                       
                          
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Class)
                                    @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })

                               
                           
                          
                        </div>
                       <div class="row">
                           <div class="col-xs-6">
                               <div class="form-group">
                                   @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " " })
                                   @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                   @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                               </div>
                           </div>
                           <div class="col-xs-6">
                               <div class="form-group">
                                   @Html.LabelFor(model => model.MinQuestionToPass, htmlAttributes: new { @class = " " })

                                   @Html.TextBoxFor(model => model.MinQuestionToPass, new { @class = "form-control" })
                                   @Html.ValidationMessageFor(model => model.MinQuestionToPass, "", new { @class = "text-danger" })
                               </div>
                           </div>
                       </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AddedOn, "Added On", htmlAttributes: new { @class = " " })
                                    @Html.EditorFor(model => model.AddedOn, new { htmlAttributes = new { @class = "form-control date-time-picker" } })
                                    @Html.ValidationMessageFor(model => model.AddedOn, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TimeInMinutes, "Time In Minutes", htmlAttributes: new { @class = " " })
                                    @Html.TextBoxFor(model => model.TimeInMinutes, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TimeInMinutes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsLessonOrExam, "Is Lesson Or Exam", htmlAttributes: new { @class = " " })
                                    @Html.EnumDropDownListFor(model => model.IsLessonOrExam, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IsLessonOrExam, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Days, "Days", htmlAttributes: new { @class = " " })
                                    @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Order, "Order", htmlAttributes: new { @class = " " })
                                    @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Level, "Level", htmlAttributes: new { @class = " " })
                                    @Html.DropDownList("Level",null, htmlAttributes: new { @class = "form-control" } )
                                    @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Color, "Color", htmlAttributes: new { @class = " " })
                                    @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PreviousPostId, "Previous Post Id", htmlAttributes: new { @class = " " })
                                    @Html.DropDownList("PreviousPostId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PreviousPostId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = " " })

                            @Html.TextAreaFor(model => model.Content, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tips, htmlAttributes: new { @class = " " })

                            @Html.TextAreaFor(model => model.Tips, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.Tips, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortDiscription, htmlAttributes: new { @class = " " })

                            @Html.TextAreaFor(model => model.ShortDiscription, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.ShortDiscription, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TestBrief, htmlAttributes: new { @class = " " })

                            @Html.TextAreaFor(model => model.TestBrief, new { @class = "richeditor" })
                            @Html.ValidationMessageFor(model => model.TestBrief, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group ">
                            @Html.LabelFor(model => model.VideoUrl, "Video Url", htmlAttributes: new { @class = "control-label" })

                            <div class="input-group">
                                @Html.EditorFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-btn">
                                    <a href="/home/youTube/VideoUrl" data-id="VideoUrl" class="Videopicker btn btn-info btn-flat" style="color:white !important">
                                        <i class="fa fa-television"></i>
                                    </a>
                                </span>
                            </div>

                        </div>
                        
                        
                        
                        
                        
                        
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Reasoning/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>


@section scripts
{

@Scripts.Render("~/bundles/jqueryval")
@FilePopUp.ModalFileFancyBox("ImageUrl")
@FilePopUp.VideoSearch()
<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
}
