﻿@model IEnumerable<Scoolfirst.Model.RNM.ReasoningRoot>

@UIHelper.Header("Reasoning",null,"List Of All Reasoning")
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.Search_URL_DDL_TYPE(Url.Action("Create", "Reasoning"), "","level",new string[] { "Series","Single" })
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                <thead>
                                    <tr>
                                        
                                        <th>
                                            @Html.DisplayNameFor(model => model.Order)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AddedOn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsLessonOrExam)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Days)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.OrderBy(i=>i.Order))
                                    {
                                        <tr>
                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Order)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.Content)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AddedOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsLessonOrExam)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Days)
                                            </td>
                                            <td class="btn-group btn-group-sm" width="120px">
                                                <a href="@Url.Action("Index", "ReasoningQuestions", new { id = item.Id })" class="btn btn-sm btn-info"><i class="fa fa-tags"></i> View Question</a>
                                                <a href="@Url.Action("Edit", "Reasoning", new { id =item.Id })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("Delete", "Reasoning", new { id = item.Id })" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>

                                            </td>
                                        </tr>

                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Pager.Page("/Reasoning/index")
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


