﻿@helper Dependency(System.Web.Mvc.UrlHelper Url) {
    <script src="@Url.Content("~/static/vendors/bootgrid/jquery.bootgrid.updated.min.js")"></script>
    <script src="@Url.Content("~/static/vendors/bower_components/bootstrap-validator/js/bootstrapValidator.min.js")" async></script>
    <script src="~/static/js/modal-popup.js" async></script>
}

@helper Initailze(string EditUrl,string DeleteUrl,string TableSelector,string ModalSelector,string ContentSelector) {

    <script type="text/javascript">
    $(document).ready(function(){
        //Command Buttons
        $("@TableSelector").bootgrid({
            caseSensitive:false,
            css: {
                icon: 'zmdi icon',
                iconColumns: 'zmdi-view-module',
                iconDown: 'zmdi-expand-more',
                iconRefresh: 'zmdi-refresh',
                iconUp: 'zmdi-expand-less'
            },
            formatters: {
                "commands": function (column, row) {

                    return "<button data-modal='' data-ui-url=\"@EditUrl/" + row.id + "\"  class=\"btn btn-icon command-edit waves-effect waves-circle\" ><span class=\"zmdi zmdi-edit\"></span></a> " +
                        "<button type=\"button\" data-ui-url=\"@DeleteUrl/" + row.id + "\" class=\"btn btn-icon command-delete waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>";


                }
            }
        }).on("loaded.rs.jquery.bootgrid", function()
        {
            /* Executes after data is loaded and rendered */
            $("@TableSelector").find(".command-edit").on("click", function (e)
            {
                e.preventDefault();
                $('@ModalSelector').modal({keyboard: true}, 'show');
                $('@ContentSelector').load($(this).data("ui-url"), function () {
                    //this function exist in model-popup.js file. function use to bind the model dialog form to model for ajax request to manupulate data.
                    bindForm(this);
                });
               }).end().find(".command-delete").on("click", function(e)
               {

                   var rows = Array();
                   rows[0] = $(this).data("row-id");
                   delUrl = $(this).data("ui-url");
                   //show warning to user before deletion of record.
                       swal({
                           title: "Are you sure?",
                           text: "You will not be able to recover this record!",
                           type: "warning",
                           showCancelButton: true,
                           confirmButtonColor: "#DD6B55",
                           confirmButtonText: "Yes, delete it!",
                           closeOnConfirm: false
                       }, function () {

                           //Do ajax Calling to delete the element
                           $.ajax({
                               url: delUrl,
                               type: "get",
                               data: {},
                               success: function (result) {
                                   console.log(result);
                                   if (result.success) {
                                       //delete the row from table
                                       $("@TableSelector").bootgrid('remove', rows);
                                       //show deletion message
                                       swal("Deleted!", "Record Deleted Successfuly.", "success");

                                   } else {

                                   }
                               },
                               error: function (xhr, textStatus, error) {
                                   //show ajax error
                                   sweetAlert("OOps..", error, "error");
                               }
                           });

                       });


            });

        });



    });//jquery end


    </script>
}