﻿@using System;
@using System.Linq;

@helper FgInit() {
    <script>
        $(function () {
            if ($('.fg-line')[0]) {
                $('body').on('focus', '.fg-line .form-control', function () {
                    $(this).closest('.fg-line').addClass('fg-toggled');
                })

                $('body').on('blur', '.form-control', function () {
                    var p = $(this).closest('.form-group, .input-group');
                    var i = p.find('.form-control').val();

                    if (p.hasClass('fg-float')) {
                        if (i.length == 0) {
                            $(this).closest('.fg-line').removeClass('fg-toggled');
                        }
                    }
                    else {
                        $(this).closest('.fg-line').removeClass('fg-toggled');
                    }
                });
            }
            if ($('.fg-float')[0]) {
                $('.fg-float .form-control').each(function () {
                    var i = $(this).val();

                    if (!i.length == 0) {
                        $(this).closest('.fg-line').addClass('fg-toggled');
                    }

                });
            }
            if ($('.chosen')[0]) {
                $('.chosen').chosen({
                    width: '100%',
                    allow_single_deselect: true
                });
            }
        })
    </script>

}

@helper divClass(bool Case) { 
    @(Case? "fg-toggled" : "")
    }

@helper PayMarInt(Func<object> d) {
     
    }