﻿@using System.Configuration;

@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Routing;
@using System.Web.Mvc.Razor;

@functions {
    private static WebViewPage page { get { return PageContext.Page as WebViewPage; } }
    private static System.Web.Mvc.HtmlHelper Html { get { return page.Html; } }
    private static UrlHelper Url { get { return page.Url; } }
    private static dynamic ViewBag { get { return page.ViewBag; } }
}


@helper ModalFile(string Id,string pid="Picture")
{

string fileServer = "http://" + ConfigurationManager.AppSettings["fileDomain"].ToString() + "/filemanager/dialog.php?crossdomain=1&type=1&field_id=" + Id;
if (string.IsNullOrEmpty(pid))
{
    pid = "pic" + Id;
}
string ModelId = "Model" + Id;
        <div id="@ModelId" class="modal fade" >
            <span class="close">x</span>
            <div class="modal-dialog">
                <iframe src="@fileServer" width="500" height="400"></iframe>
                </div>
            </div>
        <script>
                    $(function () {
                        $('#@pid').click(function () {
                            console.log("called")
                            $('#@ModelId').modal("show");
                            $(window).on("message",OnMessage)
                        })
                    });
                    function OnMessage(e) {
                        var event = e.originalEvent;
                        if (event.data.sender === 'responsivefilemanager') {
                            if (event.data.field_id) {
                                var fieldID=event.data.field_id;
                                var url=event.data.url;
                                $('#'+fieldID).val(url).trigger('change');
                                $(window).off('message', OnMessage);
                            }
                            $('#@ModelId').modal("hide");
                        }
                    }
                </script>
    
}


@helper ModalFileFancyBox(string Id)
{

string fileServer = "http://" + ConfigurationManager.AppSettings["fileDomain"].ToString() + "/filemanager/dialog.php?crossdomain=1&type=1&field_id=" + Id;    
            <script>
                $().ready(function () {
                    console.log("LOges")
                $('.filepicker').fancybox({
                    'width': 880,
                    'height': 570,
                    'type': 'iframe',
                    'autoScale': false,
                    beforeLoad: function () {
                        console.log('@Html.Raw(fileServer)')
                        this.href = '@Html.Raw(fileServer)';
                }
            });
        })
        function OnMessage(e) {
            console.log(e)
            var event = e.originalEvent;
            // Make sure the sender of the event is trusted
            if (event.data.sender === 'responsivefilemanager') {
                if (event.data.field_id) {
                    var fieldID = event.data.field_id;
                    var url = event.data.url;
                    $('#' + fieldID).val(url).trigger('change');
                    $.fancybox.close();

                    // Delete handler of the message from ResponsiveFilemanager
                    $(window).off('message', OnMessage);
                }
            }
        }
        // Handler for a message from ResponsiveFilemanager
        $('.filepicker').on('click', function () {
            $(window).on('message', OnMessage);
        });
            </script>

}

@helper ModalFileClass()
{

string fileServer = "http://" + ConfigurationManager.AppSettings["fileDomain"].ToString() + "/filemanager/dialog.php?crossdomain=1&type=1&field_id=DataId";

string ModelId = "ModelPopUp";
    <div id="@ModelId" class="modal fade">
        <span class="close">x</span>
        <div class="modal-dialog">
            <input type="hidden" name="data" id="popText" />
            <input type="hidden" name="data" id="popNumber" />
            <iframe src="@fileServer" width="500" height="400"></iframe>
        </div>
    </div>
            <script>
                    function PopUp(id,count) {
                        //var id = $(this).data('url');
                        //console.log(this)
                        console.log(id)
                        $('#popText').val(id);
                        $('#popNumber').val(count);
                            $('#@ModelId').modal("show");
                            $(window).on("message",OnMessage)
                        }
                    function OnMessage(e) {
                        var event = e.originalEvent;
                        if (event.data.sender === 'responsivefilemanager') {
                            if (event.data.field_id) {
                                var fieldID=event.data.field_id;
                                var url = event.data.url;
                                var fild = $('#popText').val();
                                var cou = $("#popNumber").val();
                                console.log(fild)
                                $("input#ImageUrl_"+cou+"_").val(url).trigger('change');
                                $("img#" + fild ).attr('src', url)
                                //$('#'+fieldID).val(url).trigger('change');
                                $(window).off('message', OnMessage);
                            }
                            $('#@ModelId').modal("hide");
                        }
                    }
            </script>

}


@helper ModalFileFancyBoxData()
{

string fileServer = "http://" + ConfigurationManager.AppSettings["fileDomain"].ToString() + "/filemanager/dialog.php?crossdomain=1&type=1&field_id=" ;
    <script>
        var FileId = "";
                     $().ready(function () {
                $('.filepicker').fancybox({
                    'width': 880,
                    'height': 570,
                    'type': 'iframe',
                    'autoScale': false,
                    beforeLoad: function () {
                        console.log('@Html.Raw(fileServer)'+FileId)
                        this.href = '@Html.Raw(fileServer)' + FileId;
                }
            });
        })
        function OnMessage(e) {
            console.log(e)
            var event = e.originalEvent;
            // Make sure the sender of the event is trusted
            if (event.data.sender === 'responsivefilemanager') {
                if (event.data.field_id) {
                    var fieldID = event.data.field_id;
                    var url = event.data.url;
                    $('#' + fieldID).val(url).trigger('change');
                    $.fancybox.close();

                    // Delete handler of the message from ResponsiveFilemanager
                    $(window).off('message', OnMessage);
                }
            }
        }
        // Handler for a message from ResponsiveFilemanager
        $('.filepicker').on('click', function () {
            FileId = $(this).data('id');
            console.log(FileId);
            $(window).on('message', OnMessage);
        });
    </script>

}


@helper VideoSearch() {
    <script>
    $(function () {
        $('.Videopicker').fancybox({
            'width': 880,
            'height': 570,
            'type': 'iframe',
            'autoScale': false
        });
        function OnMessage(e) {
            console.log("Message recived")
            var event = e.originalEvent;
            
            if (event.data.sender === 'videoSearch') {
                if (event.data.field) {
                    var fieldID = event.data.field;
                    var url = event.data.url;
                    $('#' + fieldID).val(url).trigger('change');
                    $.fancybox.close();
                    $(window).off('message', OnMessage);
                }
            }
        }
       
        $('.Videopicker').on('click', function () {
            console.log("fancy Box open");
            $(window).on('message', OnMessage);
        });
    })
    </script>

}