﻿@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Routing;
@using System.Web.Mvc.Razor;

@functions {
    private static WebViewPage page { get { return PageContext.Page as WebViewPage; } }
    private static System.Web.Mvc.HtmlHelper Html { get { return page.Html; } }
    private static UrlHelper Url { get { return page.Url; } }
    private static dynamic ViewBag { get { return page.ViewBag; } }
}

@helper Show(string message)
{
var FormRawMSG = page.Html.Raw(message);
<script src="/static/vendors/FlashMessage/dynamicFunction/dynamic.js" ></script>
<link href ="/static/vendors/FlashMessage/toster/css/toastr.min.css" rel = "stylesheet" />
<script src="/static/vendors/FlashMessage/toster/js/toastr.min.js" ></script>
<script src="/static/vendors/FlashMessage/toster/js/AppToster.js" ></script>
     <script>
         var data = '@FormRawMSG'
         $().ready(function () {
             console.log(data);
             if (data) {
                 var jData = jQuery.parseJSON(data);
                 if (isArray(jData)) {
                     console.log(jData);
                     if (jData != undefined && jData.length > 0) {
                         $(jData).each(function (i, item) {

                             toastr.options.positionClass = 'toast-top-full-width';
                             toastr.options.closeButton = true;
                             toastr.options.progressBar = true;
                             toastr[item.Type](item.Message, item.Title);
                         });

                     }
                 }
                 else {
                     toastr.options.positionClass = 'toast-top-full-width';
                     toastr.options.closeButton = true;
                     toastr.options.progressBar = true;
                     toastr[jData.Type](jData.Message, jData.Title);
                 }
             }
         })
         // To check  data is in Array format.
         function isArray(what) {
             return Object.prototype.toString.call(what) === '[object Array]';
         }

    </script>

}