﻿@using System.Configuration;

@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Routing;
@using System.Web.Mvc.Razor;

@functions {
    private static WebViewPage page { get { return PageContext.Page as WebViewPage; } }
    private static System.Web.Mvc.HtmlHelper Html { get { return page.Html; } }
    private static UrlHelper Url { get { return page.Url; } }
    private static dynamic ViewBag { get { return page.ViewBag; } }
}



@helper Page(Scoolfirst.Model.Provider.Pagers p,string Url)
{
if (p == null)
{
        return;
}

var IsSearch = Request.QueryString["search"] != null;
var search = Request.QueryString["search"] ?? "";

    <ul class="pagination">


        @if (p.HasPreviousPage)
        {
            <li class="">
                <a href="@Url?page=@p.FirstPageIndex&size=@p.PageSize@(IsSearch?"&search="+search:"")"><i class="fa fa-fast-backward"></i> </a>
            </li>
            <li>
                <a href="@Url?page=@p.PreviousPageIndex&size=@p.PageSize@(IsSearch?"&search="+search:"")"><i class="fa fa-backward"></i>  </a>
            </li>

        }
        @foreach (var i in p)
        {
            if (i == p.CurrentPageIndex)
            {
                <li class="active">
                    <a href="#">@i</a>
                </li>

            }

            else
            {
                <li>
                    <a href="@Url?page=@i&size=@p.PageSize@(IsSearch?"&search="+search:"")"> @i</a>
                </li>
            }

        }
        @if (p.HasNextPage)
        {
            <li>
                <a href="@Url?page=@p.NextPageIndex&size=@p.PageSize@(IsSearch?"&search="+search:"")"><i class="fa fa-forward"></i> </a>
            </li>
            <li>
                <a href="@Url?page=@p.LastPageIndex&size=@p.PageSize@(IsSearch?"&search="+search:"")"><i class="fa fa-fast-forward"></i> </a>
            </li>


        }
    </ul>
    if (IsSearch)
    {
        <span class="pull-right">@p.NumberOfPages Pages of  <b>@search</b> found!</span>
    }

}

@helper Page(string Url)
{
if (Url.Contains("?"))
{ var resrt = Url.Split('?');
    Url = resrt[0];
}

if (ViewBag.Pager == null)
{
    return;
}
var p = (Scoolfirst.Model.Provider.Pagers)ViewBag.Pager;
var IsSearch = Request.QueryString["search"] != null;

var search = Request.QueryString["search"] ?? "";
IsSearch = IsSearch && !string.IsNullOrEmpty(search) && !string.IsNullOrWhiteSpace(search);
var prm = "";
foreach(var i in Request.QueryString.Keys)
{
    if (i.ToString().ToLower() == "page")
    {
        continue;
    }
    if (i.ToString().ToLower() == "size")
    {
        continue;
    }
    if (i.ToString().ToLower() == "search" && !IsSearch)
    {
        continue;
    }
    prm += "&" + i + "=" + Request.QueryString[i.ToString()];
}


    <ul class="pagination">


        @if (p.HasPreviousPage)
        {
            <li class="">
                <a href="@Url?page=@p.FirstPageIndex&size=@p.PageSize@prm"><i class="fa fa-fast-backward"></i> </a>
            </li>
            <li>
                <a href="@Url?page=@p.PreviousPageIndex&size=@p.PageSize@prm"><i class="fa fa-backward"></i>  </a>
            </li>

        }
        @foreach (var i in p)
        {
            if (i == p.CurrentPageIndex)
            {
                <li class="active">
                    <a href="#">@i</a>
                </li>

            }

            else
            {
                <li>
                    <a href="@Url?page=@i&size=@p.PageSize@prm"> @i</a>
                </li>
            }

        }
        @if (p.HasNextPage)
        {
            <li>
                <a href="@Url?page=@p.NextPageIndex&size=@p.PageSize@prm"><i class="fa fa-forward"></i> </a>
            </li>
            <li>
                <a href="@Url?page=@p.LastPageIndex&size=@p.PageSize@prm"><i class="fa fa-fast-forward"></i> </a>
            </li>


        }
    </ul>
if (IsSearch)
{
        <span class="pull-right">@p.TotalItems records of <b>@search</b> found!</span>
}
else
{
        <span class="pull-right">@p.TotalItems records found!</span>
}


}