﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    var subscription = CurrentPage.AncestorOrSelf(1).subscription.First();
    //var metadata = Model.Content.GetPropertyValue<Epiphany.SeoMetadata.SeoMetadata>("metadata");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="@CurrentPage.Metadata.Description">
    <meta name="url" content="@CurrentPage.Metadata.UrlName">
    <meta name="author" content="@CurrentPage.CreatorName">
    <title>@CurrentPage.Metadata.Title | UpgradeJr</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Customizable CSS -->
    <link href="/assets/css/UpgrdeStyle.css" rel="stylesheet" data-skrollr-stylesheet />

    <link href="/assets/css/green.css" rel="stylesheet" title="Color">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">
    <!-- Icons/Glyphs -->
    <link href="/assets/fonts/fontello.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<style>
    
     body {
       margin-left: 5%;
       margin-right: 5%;
   }
    

   

 .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
</style>
<body id="top">
    <!-- ============================================================= HEADER ============================================================= -->
    <header>
       
    </header>
    <!-- ============================================================= HEADER : END ============================================================= -->
    <!-- ============================================================= MAIN ============================================================= -->
    <main id="home">


        @RenderBody()

     
    </main>
    <!-- ============================================================= MAIN : END ============================================================= -->
    <!-- ============================================================= FOOTER ============================================================= -->
    
    
    


    <!-- ============================================================= FOOTER : END ============================================================= -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.easing.1.3.min.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <!-- For demo purposes – can be removed on production -->
    <link href="/assets/css/theme.css" rel="alternate stylesheet" title="theme color">


    @RenderSection("scripts", false)
    <!-- For demo purposes – can be removed on production : End -->
    <script type="text/javascript">
        $().ready(function() {

            //youtube
            // Find all YouTube videos
            var $allVideos = $("iframe[src^='//www.youtube.com']"),

                // The element that is fluid width
                $fluidEl = $("body");

            // Figure out and save aspect ratio for each video
            $allVideos.each(function() {

                $(this)
                    .data('aspectRatio', this.height / this.width)

                    // and remove the hard coded width/height
                    .removeAttr('height')
                    .removeAttr('width');

            });

            // When the window is resized
            $(window).resize(function() {

                var newWidth = $fluidEl.width();

                // Resize all videos according to their own aspect ratio
                $allVideos.each(function() {

                    var $el = $(this);
                    $el
                        .width(newWidth)
                        .height(newWidth * $el.data('aspectRatio'));

                });

                // Kick off one resize to fix all videos on page load
            }).resize();
            //youtube video
        });
</script>
</body>
</html>