﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AppIntro>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterLayoutSubPage.cshtml";
	ViewBag.Title = "Upgrade Jr App Intro";
}

<style>
	.page-header {
    background-image: url(http://app.upgradejr.com/static/img/web-bg.jpg);
    background-position: center -245px;
    margin: 0px !important;
    border-bottom: 0px;
    text-align: center;
		
}

.inner{
	padding-bottom: 0px!important; 
}
	</style>
<section id="page-content page-header " style="background-image: url(http://app.upgradejr.com/static/img/web-bg.jpg);     background-position: center -245px;">

                        @Html.GetGridHtml(Model.Content,"section1", "bootstrap3")
</section>
		
<section id="page-content">

                        @Html.GetGridHtml(Model.Content,"descriptions", "bootstrap3")
</section>
		
		@Html.Partial("Testimonials")