﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    ViewBag.Title = "Home";
    Layout = "MasterLayoutLanding.cshtml";
    int mediaFolderId;
    IEnumerable<IPublishedContent> Banners = null;
    if (CurrentPage != null)
    {
        mediaFolderId = int.Parse(CurrentPage.slider);
        string meta = CurrentPage.Metadata.Title;
        if (mediaFolderId > 0)
        {
            var mediaFolder = Umbraco.TypedMedia(mediaFolderId);
            Banners = mediaFolder.Children();

        }
    }
}



<section>
    <div class="" style="position: absolute; top: 0px; width:90% ">
        @foreach (var Banner in Banners)
        {
            <img class="img-responsive" src="@Umbraco.Media(Banner.GetProperty("image").Value.ToString()).url" />
        }
        </div>
        </section>


        <div class="clearfix hidden-sm hidden-xs" style="margin-bottom: 270px;"></div>
        @Html.Partial("ServiceList")
        @Html.Partial("Benifit")
        <!--=====================================================================================================================================================-->
        <!-- ============================================================= SECTION – OUR SKILL ============================================================= -->
        @*@Html.Partial("Advantages")*@
        @Html.Partial("OurSkill")
        @*@Html.Partial("OurServices")*@
        @*@Html.Partial("OurSubscription")*@
        @Html.Partial("Testimonials")
        <!-- ============================================================= SECTION – OUR SKILL : END ============================================================= -->
