﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    var subscription = CurrentPage.AncestorOrSelf(1).subscription.First();
    //var metadata = Model.Content.GetPropertyValue<Epiphany.SeoMetadata.SeoMetadata>("metadata");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="@CurrentPage.Metadata.Description">
    <meta name="url" content="@CurrentPage.Metadata.UrlName">
    <meta name="author" content="@CurrentPage.CreatorName">
    <title>@CurrentPage.Metadata.Title | UpgradeJr</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Customizable CSS -->
    <link href="/assets/css/UpgrdeStyle.css" rel="stylesheet" data-skrollr-stylesheet />

    <link href="/assets/css/green.css" rel="stylesheet" title="Color">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">
    <!-- Icons/Glyphs -->
    <link href="/assets/fonts/fontello.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<style>
    
     body {
       margin-left: 5%;
       margin-right: 5%;
   }
     .navbar-brand img {
         max-height: 80px; 
     }
    .navbar-header {
        border-bottom: 0px;
    }
    .navbar-collapse {
        position: relative;
        background-color: transparent;
        width: 100%;
        border-bottom: 0px;
    }
    .social li a i {
   
        color: #ffffff;
   
    }
    .navbar-header .info li a {
   
        color: #ffffff;
    }
    .navbar-header .info li a:hover {
   
        color: rgba(0,0,0,.7);
    }
    @@media (max-width: 1024px){
        .navbar-header {
            background: transparent;
            padding: 15px 0px 0px 0px;
        }


        .navbar-nav > li > a {
            padding-left: 10px;
            color: white;
            background: #186d5d;
   
            border: none;
            border-radius: 0;
        }
        .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
            background:  #186d5d;
        }

    }

    .tooltip-inner {
        max-width: 300px;
    
    }

 .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
</style>
<body id="top">
    <!-- ============================================================= HEADER ============================================================= -->
    <header>
        <div class="navbar">
            <div class="navbar-header m-t-10">
                <div class="container">
                    <ul class="info pull-left">
                        <li><a href="#" class="btn-pill"><i class="icon-mail-1 contact"></i>@CurrentPage._infoEmail</a></li>
                        <li><a href="tel:@CurrentPage._mobileNo"><i class="icon-mobile contact"></i>@CurrentPage._mobileNo </a></li>
    
                    <li><a  class="btn-pill" data-toggle="modal" href="#modal-contact01"><i class="icon-mobile contact"></i>Call Me </a></li>
                        <li><a href="@subscription.url" class="btn-pill"><i class="icon-money contact"></i>Pricing </a></li>

                    
                    </ul><!-- /.info -->
                    <ul class="social pull-right">

                        <li><a target="_blank" href="@CurrentPage._facebook"><i class="icon-s-facebook"></i></a></li>
                        <li><a target="_blank" href="@CurrentPage._twitter"><i class="icon-s-gplus"></i></a></li>
                        <li><a target="_blank" href="@CurrentPage._googlePlus"><i class="icon-s-twitter"></i></a></li>
                        <li><a target="_blank" href="@CurrentPage._loginUrl"><i>Login</i></a></li>
                        <li><a target="_blank" href="@CurrentPage._registrationUrl" class="btn-pill"><i>Register</i></a></li>
                    </ul><!-- /.social -->
                    <!-- ============================================================= LOGO MOBILE ============================================================= -->
                    <a class="navbar-brand" href="#">
                        <img src="@Umbraco.Media(CurrentPage._siteLogo).url" alt="UpgradeJr" />

                    </a>
                    <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
                    <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
                </div><!-- /.container -->
            </div><!-- /.navbar-header -->
            <div class="yamm">
                <div class="navbar-collapse collapse">
                    <div class="container">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <a class="navbar-brand scroll-to" href="#top">
                            <img src="@Umbraco.Media(CurrentPage._siteLogo).url?width=80" class="logo" alt="UpgradeJr" />
                        </a>
                        <!-- ============================================================= LOGO : END ============================================================= -->
                        <!-- ============================================================= MAIN NAVIGATION ============================================================= -->

                        <ul class="nav navbar-nav pull-right" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                            <li class="active" itemprop="url"><a href="/" class="scroll-to" data-anchor-offset="0" itemprop="name">Home</a></li>
                            <li itemprop="url"><a href="/Services" class="scroll-to" data-anchor-offset="0" itemprop="name">Courses</a></li>
                            <li itemprop="url"><a href="/Future-Foundation-Club" class="scroll-to" data-anchor-offset="0" itemprop="name">Future Foundation Club</a></li>
                            <li itemprop="url"><a href="/skill-certification" class="scroll-to" data-anchor-offset="0" itemprop="name">Skill Certification</a></li>
                            <li itemprop="url"><a href="/E-Store" class="scroll-to" data-anchor-offset="0" itemprop="name">E-Store</a></li>
                            <li itemprop="url"><a href="/FAQ" class="scroll-to" data-anchor-offset="0" itemprop="name">FAQ</a></li>
                            <li itemprop="url" class="hidden-md hidden-lg"><a target="_blank" href="@CurrentPage._loginUrl" class="scroll-to" data-anchor-offset="0" itemprop="name">Login</a></li>

                         </ul>

                        <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
                    </div><!-- /.container -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.yamm -->
        </div><!-- /.navbar -->
        @*@Html.Partial("Login")*@
    </header>
    <!-- ============================================================= HEADER : END ============================================================= -->
    <!-- ============================================================= MAIN ============================================================= -->
    <main id="home">


        @RenderBody()

        <!-- ============================================================= SECTION – GET STARTED ============================================================= -->
        @(this.Html.Partial("RegisterCallOut"))
        @Html.Partial("CallMe")
    </main>
    <!-- ============================================================= MAIN : END ============================================================= -->
    <!-- ============================================================= FOOTER ============================================================= -->
    <footer class="dark-bg">
        <div class="container inner">
            <div class="row">
                <div class="col-md-4 col-sm-6 inner">
                    <h4>You Must Know</h4>
                    <ul class="" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                        @*<li itemprop="url"><a itemprop="name" href="/Support-UpgradeJr" class="scroll-to"><i class="icon-right-hand"></i> Support UpgradeJr</a></li>*@
                        <li itemprop="url"><a itemprop="name" href="/AboutUs/" class="scroll-to"><i class="icon-right-hand"></i> About UpgradeJr</a></li>
                        <li itemprop="url"><a itemprop="name" href="/Terms-Conditions/" class="scroll-to"><i class="icon-right-hand"></i> Terms of Use</a></li>
                        <li itemprop="url"><a itemprop="name" href="/Privacy-Policy/" class="scroll-to"><i class="icon-right-hand"></i> Privacy Policy</a></li>
                        <li itemprop="url"><a itemprop="name" href="/Cookiee-Policy/" class="scroll-to"><i class="icon-right-hand"></i> Cookiee Policy</a></li>
                        <li itemprop="url"><a itemprop="name" href="/ContactUs/" class="scroll-to"><i class="icon-right-hand"></i> Contact Us</a></li>
                    </ul>





                </div>
            <!-- /.col -->
                @*<div class="col-md-3 col-sm-6 inner">
                    <h4>Product Videos</h4>
                    <div class="row thumbs gap-xs">
                        <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                                <a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/work02.jpg" alt=""></a>
                            </figure>
                        </div><!-- /.thumb -->
                        <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                                <a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/work03.jpg" alt=""></a>
                            </figure>
                        </div><!-- /.thumb -->
                        <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                                <a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/work07.jpg" alt=""></a>
                            </figure>
                        </div><!-- /.thumb -->
                        <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                                <a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/work01.jpg" alt=""></a>
                            </figure>
                        </div><!-- /.thumb -->
                    </div><!-- /.row -->
                </div>*@
            
            <!-- /.col -->

                <div class="col-md-4 col-sm-6 inner">
                    <h4>Get In Touch</h4>
                    <p>@Html.Raw(CurrentPage._getInThouchWelcomeNote)</p>
                    <ul class="contacts">
                        <li><i class="icon-location contact"></i> @CurrentPage._address</li>
                        <li><i class="icon-location contact"></i> @CurrentPage._address2</li>
                        <li><i class="icon-mobile contact"></i> @CurrentPage._mobileNo</li>
                        <li><a href="#"><i class="icon-mail-1 contact"></i> @CurrentPage._infoEmail</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
                <div class="col-md-4 col-sm-6 inner">
                    <h4>Follow Us</h4>
                    <ul class="" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                        <li itemprop="url"><a itemprop="name" target="_blank" href="https://www.facebook.com/Upgradejracademy/" class="scroll-to"><i class="icon-s-facebook"></i> Facebook</a></li>
                        <li itemprop="url"><a itemprop="name" target="_blank" href="https://www.linkedin.com/company/schoolfirstacademy/" class="scroll-to"><i class="icon-s-linkedin"></i> LinkedIn</a></li>
                        <li itemprop="url"><a itemprop="name" target="_blank" href="https://www.youtube.com/channel/UCG-M8g3uMUZOuMJy13Fb-bQ" class="scroll-to"><i class="icon-s-youtube"></i> Youtube</a></li>
                        @*<li itemprop="url"><a itemprop="name" target="_blank" href="#pricing-tables" class="scroll-to"><i class="icon-s-twitter"></i> Twitter</a></li>*@
                    </ul>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- .container -->
        <div class="footer-bottom">
            <div class="container inner">
                <p class="pull-left">© @DateTime.Now.Year @CurrentPage._siteName All rights reserved.</p>
                <ul class="footer-menu pull-right" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                    <li itemprop="url"><a href="/AboutUs/" class="scroll-to" itemprop="name">About Us</a></li>
                    <li itemprop="url"><a href="/#Course" class="scroll-to" itemprop="name">Course</a></li>
                    <li itemprop="url"><a href="/#pricing-tables" class="scroll-to">Pricing</a></li>
                    <li itemprop="url"><a href="/Privacy-Policy/" class="scroll-to" itemprop="name">Privacy Policy</a></li>
                    <li itemprop="url"><a href="/Cookiee-Policy/" class="scroll-to" itemprop="name">Cookiee Policy</a></li>
                    <li itemprop="url"><a href="/Terms-Conditions/" class="scroll-to" itemprop="name">Terms & Condition</a></li>
                    <li itemprop="url"><a href="/ContactUs/" class="scroll-to" itemprop="name">Contact Us</a></li>
                </ul><!-- .footer-menu -->
            </div><!-- .container -->
        </div><!-- .footer-bottom -->
    </footer>
    
    
    


    <!-- ============================================================= FOOTER : END ============================================================= -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.easing.1.3.min.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/assets/js/skrollr.min.js"></script>
    <script src="/assets/js/skrollr.stylesheets.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/waypoints-sticky.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.isotope.min.js"></script>
    <script src="/assets/js/jquery.easytabs.min.js"></script>
    <script src="/assets/js/google.maps.api.v3.js"></script>
    <script src="/assets/js/viewport-units-buggyfill.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script src="~/assets/js/appscript.js"></script>
    <!-- For demo purposes – can be removed on production -->
    <link href="/assets/css/theme.css" rel="alternate stylesheet" title="theme color">
    <link href="/assets/css/green.css" rel="alternate stylesheet" title="Green color">
    <link href="/assets/css/blue.css" rel="alternate stylesheet" title="Blue color">
    <link href="/assets/css/red.css" rel="alternate stylesheet" title="Red color">
    <link href="/assets/css/pink.css" rel="alternate stylesheet" title="Pink color">
    <link href="/assets/css/purple.css" rel="alternate stylesheet" title="Purple color">
    <link href="/assets/css/orange.css" rel="alternate stylesheet" title="Orange color">
    <link href="/assets/css/navy.css" rel="alternate stylesheet" title="Navy color">
    <link href="/assets/css/gray.css" rel="alternate stylesheet" title="Gray color">
    <script src="/assets/switchstylesheet/switchstylesheet.js"></script>

    @RenderSection("scripts", false)
    <!-- For demo purposes – can be removed on production : End -->
    <script type="text/javascript">
        $().ready(function () {

            //youtube
            // Find all YouTube videos
            var $allVideos = $("iframe[src^='//www.youtube.com']"),

                // The element that is fluid width
                $fluidEl = $("body");

            // Figure out and save aspect ratio for each video
            $allVideos.each(function () {

                $(this)
                  .data('aspectRatio', this.height / this.width)

                  // and remove the hard coded width/height
                  .removeAttr('height')
                  .removeAttr('width');

            });

            // When the window is resized
            $(window).resize(function () {

                var newWidth = $fluidEl.width();

                // Resize all videos according to their own aspect ratio
                $allVideos.each(function () {

                    var $el = $(this);
                    $el
                      .width(newWidth)
                      .height(newWidth * $el.data('aspectRatio'));

                });

                // Kick off one resize to fix all videos on page load
            }).resize();
            //youtube video

            $(".changecolor").switchstylesheet({ seperator: "color" });


            $.getJSON("http://api.upgrde.net/Api/Class", function (data) {
                console.log(data);
                var items = [];
                items.push("<option id='-1'>--Select Class--</option>");

                $.each(data, function (key,val) {
                   // console.log(val)
                    items.push("<option id='" + val.Id + "'>" + val.Name + "</option>");
                });
                $("#ddlclass").html(items);

            });
            $.getJSON("http://api.upgrde.net/Api/Schools", function (data) {
                console.log(data);
                var items = [];
                items.push("<option id='-1'>--Select Schools--</option>");

                $.each(data, function (key, val) {
                    // console.log(val)
                    items.push("<option id='" + val.Id + "'>" + val.Name + "</option>");
                });
                $("#ddlschool").html(items);

            });

        });
    </script>
    <script type="text/javascript">
var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq ||
{widgetcode:"43a3324de199e7e416ae0604a59633823a2e11a3a40f4bbbaca7184bb6fc0dd4", values:{},ready:function(){}};
var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
    </script>

</body>
</html>