﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterLayoutSubPage.cshtml";
    ViewBag.Title = CurrentPage.Name;
}

@Html.Partial("PageHeader")

@if (CurrentPage.DocumentTypeAlias == "fAQ")
{
    @Html.Partial("FAQ");
}
else
{
    <section id="page-content ">
        <div class="container inner">
            <div class="row">
                <div class="col-md-12">
                    <h1>@CurrentPage.title</h1>
                    <div class="">
                        @CurrentPage.description
                    </div>

                </div>

            </div>
        </div>
    </section>
}

