﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PromotionItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "_PromoTemplates.cshtml";
}

<div>@CurrentPage.description</div>