﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "MasterLayoutSubPage.cshtml";
    var data = CurrentPage.AncestorOrSelf(1).ourServices.First();

}
@Html.Partial("PageHeader")

<style>
    .owl-carousel .item h1{ text-align:left;}
     .owl-carousel .item div{ text-align:justify;}
</style>
<section id="page-content ">
    <div class="">
        <div class="row m-t-30 p-t-30">

            <div class="col-md-12" style="text-align: center;">
                <ul class="list-inline service">
                    @foreach (var page in data.Children)
            {
                        <li class="service-item" data-title="@page.title" data-src="@Umbraco.Media(page.serviceIcon).url">
                            <a class="button secondary url" href="#@page.id">
                                <img src="@Umbraco.Media(page.serviceIcon).url?width=60" class="img-circle" />

                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        
                <div class="owl-carousel owl-theme owl-item-gap owl-outer-nav owl-ui-md" style="overflow:hidden">
                    @foreach (var page in data.Children)
                    {
                        <div class="item" data-hash="@page.id">

                            <h1><a href="@data.url">@page.Title</a></h1>
                           
                              
                               
                           @Html.GetGridHtml( (IPublishedContent) page , "htmlgrid", "bootstrap3")
                         

                        </div>

                        
                <!-- /.item -->
                    }
                </div><!-- /.items -->
          
        
        
        
  
    </div>
</section>


    @section scripts{



        <link href="~/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
        <link href="~/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" />
        <script src="~/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

        <script>
            $('.owl-carousel').owlCarousel({
                items: 1,
                animateOut: 'slideOutDown',
                animateIn: 'flipInX',
                nav: true,
                loop: false,
               
                URLhashListener: true,
                autoplayHoverPause: true,
                startPosition: 'URLHash'
            });


            $().ready(function() {
                $('h1#header-title').html($('li.service-item:first').data('title'))
                $('img#header-circle-image').attr('src', $('li.service-item:first').data('src'));
            })

            $('li.service-item:first').click(function () {

                $('img#header-circle-image').attr('src', $(this).data('src'));
            })

            $('li.service-item').click( function() {
               
                $('img#header-circle-image').attr('src', $(this).data('src'));
                $('h1#header-title').html($(this).data('title'))
            })
        </script>
    }
