﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{   
    var data = CurrentPage.AncestorOrSelf(1).subscription.First();
    Layout = "MasterLayoutSubPage.cshtml";
    ViewBag.Title = "OurSubscription";
    int SubscriptionCount = 1;
    int firstitemIndex = 0;

}
@Html.Partial("PageHeader")


<!-- ============================================================= SECTION – PRICING TABLES ============================================================= -->

<section id="pricing">
    <div class="container inner">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>@data.title</h1>
                    <p>@data.description</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        @*<div class="row pricing col-4">
            @foreach (var page in data.Children)
            {
                <div class="col-lg-3 col-sm-6 inner-top-sm">
                    <div class="plan">
                        <div class="plan-top-extra">
                            <div class="circle" style="width: 70px; height: 70px; margin-bottom: 20px;">
                                <div class="circle-inner" style="background-color:#@page.color">

                                    <span>@SubscriptionCount</span>

                                </div>
                            </div>
                            <div class="" style="height: 70px;">
                                <h3 class="text-black">@Html.Raw(page.title)</h3>
                            </div>
                        </div>
                        <header style="background-color:#@page.color">
                            <div class="circle">
                                <div class="circle-inner" style="background-color:#@page.color">
                                    <div class="circle-inner">
                                        <img class="img-responsive img-circle" src="@Umbraco.Media(page.Image).url" alt="">
                                    </div>
                                </div>
                            </div>


                            <div class="price">
                                @if (string.Equals(page.Name, "Demo", StringComparison.InvariantCultureIgnoreCase))
                                {

                                    <span class="currency">₹</span>
                                    <span class="amount">@page.price</span>
                                    <span class="period">NA  </span>
                                }
                                else
                                {
                                    <span class="currency">₹</span>
                                    <span class="amount">@page.price/Month</span>
                                    <span class="period">Billed @page.billingCycle</span>
                                }

                            </div><!-- /.price -->

                            <a href="#" class="btn btn-small" style="background-color:#@page.subscribeBtnColor">Join Now</a>
                        </header>

                        <div class="features p-10">
                            @page.description

                        </div><!-- /.features -->
                        <div class="text-center callout">
                            <a href="#" class="btn btn-small" style="background-color:#@page.subscribeBtnColor">Join Now</a>
                        </div>
                    </div><!-- /.plan -->
                </div>
    <!-- /.col -->

                SubscriptionCount++;
            }
            @{ SubscriptionCount = 1;}

        </div>*@<!-- /.row -->
    
        <div class="row">
            <div class="col-sm-12 inner-top">
                <div id="accordion" class="panel-group">
                    @foreach (var page in data.Children)
                    {
                        <div class="panel panel-default animated fadeInLeft-1" >

                            <div class="panel-heading">
                               
                                <div class="panel-title">
                                    
                                    <div  style="background-color:#@page.color">
                                       
                                      
                                        <div class="row  pricing v-pricing m-b-0">
                                            <div class="plan col-md-4">
                                                <div class="plan-title">
                                                    @Html.Raw(page.title)
                                                </div>
                                            </div>
                                            <div class="plan col-md-4">
                                                <div class="price">
                                                    @if (string.Equals(page.Name, "Demo", StringComparison.InvariantCultureIgnoreCase))
                                                    {

                                                        <span class="currency">₹</span>
                                                        <span class="amount">@page.price</span>
                                                        <span class="period">NA  </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="currency">₹</span>
                                                        <span class="amount">@page.price/Month</span>
                                                        <span class="period">Billed @page.billingCycle</span>
                                                    }

                                                </div><!-- /.price -->
                                            </div>
                                            <div class="plan  col-md-4">
                                                <a class="panel-toggle btn btn-small" data-toggle="collapse" data-parent="#accordion" href="@string.Format("#content{0}",page.Id)" style="background-color:#@page.subscribeBtnColor">
                                                    View Detail </a>
                                                </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- /.panel-heading -->

                            <div id="@string.Format("content{0}",page.Id)" class="panel-collapse collapse @(firstitemIndex==0?"in":"")">
                                <div class="panel-body">
                                    @Html.Raw(page.description)
                                </div><!-- /.panel-body -->
                                <div class="panel-footer text-center">
                                    <a class="btn btn-small"  href="#" style="background-color:#@page.subscribeBtnColor">
                                       Join Now
                                    </a>
                                </div><!-- /.panel-footer -->
                            <div class="clearfix"></div>
                            </div><!-- /.content -->

                        </div>
                        <!-- /.panel -->
                        firstitemIndex++;
                    }
                </div><!-- /.accordion -->
            </div><!-- /.col -->
        </div>
        <!-- ./row -->

    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PRICING TABLES : END ============================================================= -->
