﻿

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var data = CurrentPage.AncestorOrSelf(1).testimonials.First();
}
@{
	Layout = "MasterLayoutSubPage.cshtml";
	ViewBag.Title = "Testimonials";
}
@Html.Partial("PageHeader")
<!-- ============================================================= SECTION – TESTIMONIALS ============================================================= -->

<section id="testimonials" class="" >
	<div class="container">


		<div class="col-md-12 col-sm-12 center-block text-center inner">

			<div class="center-block text-center inner-bottom-xs">
				<header>
					<h1><span class="text-primary">@data.title</span></h1>
				</header>
			</div>
       
        @for (int i = 0; i < (data.Children.Where("DocumentTypeAlias = \"sectionitem\"").Count() / 3)+ (data.Children.Where("DocumentTypeAlias = \"sectionitem\"").Count() % 3); i++)
        {
            <div class="row inner">
                @foreach (var page in data.Children.Where("DocumentTypeAlias = \"sectionitem\"").Skip(3*i).Take(3))
                {
                    <div class="col-md-4">
                        <div class="">

                            <figure>



                                <figcaption class="bordered no-top-border">

                                    <div class="info text-left">
                                        <blockquote>
                                            <p>@page.description</p>
                                            <div class="">
                                                <img src="@Umbraco.Media(page.Image).url?width=40" style="width: auto !important;" class="img-circle mt-10">
                                            </div><!-- /.icon-overlay -->
                                            <footer>

                                                <cite>@page.title</cite>
                                            </footer>
                                        </blockquote>
                                    </div><!-- /.info -->
                                </figcaption>

                            </figure>


                        </div><!-- /.col -->


                    </div>
                    <!-- /.item -->
                }

            </div>
        }
		

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – TESTIMONIALS : END ============================================================= -->
