﻿
<form class="form-horizontal" method="post" action="/KDC/Approveit">
    <div class="form-group">
        <label>Points</label>
        <input type="number" name="Points" value="@ViewBag.Points" id="Points" class="form-control"/>
        <input type="hidden" name="Id" value="@ViewBag.Id" id="Id" class="form-control" />

    </div>
    <button>Approve</button>
</form>
