﻿@model Scoolfirst.Model.KDC.Article


@UIHelper.Header("Articles", null)

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                   <h2>Article Details</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-bordered  table-condensed table-striped table-vmiddle " role="grid" aria-describedby="example1_info">
                       <tr>
                           <th>Class</th>
                           <td>@Html.DisplayFor(model => model.User.Class.RomanDisplay)</td>
                       </tr>
                        <tr>
                            <th>School</th>
                            <td>@Html.DisplayFor(model => model.User.School.SchoolName)</td>
                        </tr>
                       
                        <tr>
                            <th>Full Name</th>
                            <td>@Html.DisplayFor(model => model.User.FullName)</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>@Html.DisplayFor(model => model.Title)</td>
                        </tr>
                        <tr>
                            <th>Solution</th>
                            <td>@Html.DisplayFor(model => model.Solution)</td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.ImageUrl)) { 
                        <tr>
                            <th>Image</th>
                            <td><img src="@Model.ImageUrl" id="img" class="zooomin"  style="width:500px;height:500px"/></td>

                            
                        </tr>
                        }
                    </table>

                    <form class="form-horizontal" method="post" action="/KDC/ArticleComments">
                       <input type="hidden" name="ArticleId" value="@Model.ID"/>
                       

                            <div class="form-group">
                                <label>Reply Answer :</label>
                               
                                <textarea name="Comment" class="richeditor"></textarea>

                            </div>
                        <div>
                           @foreach(var item in Model.Comments)
                           {
                              <strong>Answers :</strong> @Html.Raw(item.Comment)
                           }
                        </div>
                        <div class="box-footer">

                            <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                            <a href="~/KDC/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    
</section>
<link href="~/Content/JqueryImageZoom/stylesheets/zooomin.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/tinymce/settings"></script>
<script>tinymce.init({ selector:'.richeditor' });</script>
@*<script src="~/Content/JqueryImageZoom/popImg.js"></script>*@
<script src="~/Content/JqueryImageZoom/zooomin.js"></script>
    <script>
        $(document).ready(function () {
         
            //$("#img").popImg();
            $('.zooomin').zooomin({
               
                scrollClose: false,
              
            });
           

          
        })

    </script>
  
        <style>
            .zooomin .z-c:before {
                 content: "";
                 display: block;
                 position: fixed;
                 top: 0;
                 right: 0;
                bottom: 0;
                 left: 0;
                 background: #333;
                 z-index: -1;
                 visibility: hidden;
                opacity: 0;
               
                transition: visibility 0s linear, opacity 0.3s;
                
            }

        </style>
      
    }
