﻿@model Scoolfirst.Model.KDC.Article
@{
    ViewBag.Title = "Edit";
}

@UIHelper.Header("Assement", null)
<section class="content">
    <div class="row">
        <div class="col-xs-12">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(i=>i.UserId)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Solution)

                            @Html.EditorFor(model => model.Solution, new { htmlAttributes = new { @class = "form-control richeditor" } })
                            @Html.ValidationMessageFor(model => model.Solution, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Answered)
                            @Html.CheckBoxFor(model => model.Answered, new { htmlAttributes = new { @class = "form-control richeditor" } })
                            @Html.ValidationMessageFor(model => model.Answered, "", new { @class = "text-danger" })
                        </div>
                      

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/KDC/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</section>


