﻿@model IEnumerable<Scoolfirst.Model.KDC.Article>

<section class="content-header">
    <h1>
        Knowledge Donation Camp(KDC)
    </h1>
    <br>
    <ol class="breadcrumb">
        <li><a href="/KDC"><i class="fa fa-dashboard"></i> AllKDC</a></li>

    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @UIHelper.SearchDDL("type", "10")
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class=" form-inline ">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped " role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="" style="width: 107px;">First Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="" style="width: 140px;">Title</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="" style="width: 126px;">On</th>
                                           
                                            <th>Class</th>
                                            <th>School</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.On)
                                                </td>
                                                <td>
                                                    @if (item.User.Class.RomanDisplay != null)
                                                    {
                                                        @item.User.Class.RomanDisplay
                                                    }
                                                
                                                </td>
                                                <td>
                                                @if (item.User.School.SchoolName != null)
                                                {
                                                    @item.User.School.SchoolName
                                                }
                                               </td>

                                                <td width="120px">
                                                    @*<a href="/Kdc/Edit/@item.ID" class="btn btn-xs btn-success"><i class="fa fa-edit"></i></a>*@
                                                    <a href="/Kdc/Details/@item.ID" class="btn btn-xs btn-danger">Detail</a>
                                                    @*<a href="/kdc/delete/@item.ID" class="btn btn-xs btn-danger">Reject</a>
                                                    <a href="/kdc/delete/@item.ID" class="btn btn-xs btn-danger">Delete</a>
                                                        <i class="fa fa-circle-o"></i>*@
                                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Reject Delete", "Delete", new { id = item.ID })*@
</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                </div>
                            </div>

                       
                        </div>
                    </div>
                <div>
                    @Pager.Page("/KDC/Index")
                </div>
                </div>
            </div>
        </div>
    </section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
