﻿@using System.Configuration;

@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Routing;
@using System.Web.Mvc.Razor;
@using System.Linq;

@functions {
    private static WebViewPage page { get { return PageContext.Page as WebViewPage; } }
    private static System.Web.Mvc.HtmlHelper Html { get { return page.Html; } }
    private static UrlHelper Url { get { return page.Url; } }
    private static dynamic ViewBag { get { return page.ViewBag; } }
}



@helper Header(string Title,object List=null ,string optionaText=""){

    <section class="content-header">
        <h1>
            @Title
            <small>@optionaText</small>
        </h1>
        @if (List != null)
        {
            @BreadCrumb(List)
        }
       
    </section>

}

@helper BreadCrumb(Object List) {
if (List == null) { return; }

var Classs = (KeyValuePair < string,object>) List;
var list =(List<KeyValuePair<string,string>>) Classs.Value;
bool first = true;
    <ol class="breadcrumb">
        @foreach (var i in list)
        {
            <li><a href="@i.Key">
                @if (first)
                {
                    <i class="@Classs.Key"></i>
                }
                 @i.Value</a></li>
        }
        

    </ol>


}



@helper Search(string url,string name,string defalut="10") {


    <a href="@url" class="btn btn-info btn-sm pull-right">@name<i class="fa fa-plus zmdi-plus"></i></a>
  @Search(defalut)
        
    
}


@helper Search( string defalut = "10")
{
var reqdata = Request.QueryString["search"] ?? "";
var size = Request.QueryString["size"] ?? defalut;
var Url = Request.Url.ToString();
if (Url.Contains("?"))
{
    var resrt = Url.Split('?');
    Url = resrt[0];
}

    <form method="get" action="@Request.Url">

        @foreach (var i in Request.QueryString.Keys)
        {
            if (i.ToString().ToLower() == "page")
            {
                continue;
            }
            if (i.ToString().ToLower() == "size")
            {
                continue;
            }
            if (i.ToString().ToLower() == "search")
            {
                continue;
            }
            

                <input type="hidden" name="@i.ToString()" value="@Request.QueryString[i.ToString()].ToString()" />
        }
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <select name="size" onchange="this.form.submit()" class="form-control input-sm col-sm-1">
                    <option value="10" @(size == "10" ? "selected" : "")>
                        10
                    </option>
                    <option value="20" @(size == "20" ? "selected" : "")>20</option>
                    <option value="30" @(size == "30" ? "selected" : "")>30</option>
                    <option value="40" @(size == "40" ? "selected" : "")>40</option>

                </select>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search" value="@reqdata" name="search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>

        </div>

    </form>


}

    @helper Search(string[] types,string defalut = "10")
    {
var reqdata = Request.QueryString["search"] ?? "";
var size = Request.QueryString["size"] ?? defalut;
var Type = Request.QueryString["type"] ?? types.First();
 
    <form method="get" action="@Request.Url">

        @foreach(var i in Request.QueryString.Keys)
        {
            if (i.ToString().ToLower() == "page")
            {
                continue;
            }
            if (i.ToString().ToLower() == "size")
            {
                continue;
            }
            if (i.ToString().ToLower() == "type")
            {
                continue;
            }
            if (i.ToString().ToLower() == "search")
            {
                continue;
            }
        <input type="hidden" name="@i.ToString()" value="@Request.QueryString[i.ToString()]" />
        }
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <select name="type" onchange="this.form.submit()" class="form-control input-sm col-sm-1">
                    @foreach (var t in types)
                    {
                        <option value="@t" @(t == Type ? "selected" : "")>
                            @t
                        </option>
                    }

                </select>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <select name="size" onchange="this.form.submit()" class="form-control input-sm col-sm-1">
                    <option value="10" @(size == "10" ? "selected" : "")>
                        10
                    </option>
                    <option value="20" @(size == "20" ? "selected" : "")>20</option>
                    <option value="30" @(size == "30" ? "selected" : "")>30</option>
                    <option value="40" @(size == "40" ? "selected" : "")>40</option>

                </select>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search" value="@reqdata" name="search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>

        </div>

    </form>


}

