﻿@model IEnumerable<Scoolfirst.Model.MongoDatabase.Group>
@{
    ViewBag.Title = "Gruops";
}



    <table class="table-bordered table">
        <tr>
            <td>Gruop name</td>
            <td>Clases</td>
            <td>Schools</td>
            <td>Conections</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GroupName
                </td>
                <td>
                    @foreach (var item2 in item.ClassId)
                    {
                       <span class="label label-info">@item2</span> 
                    }
                </td>
                <td>
                    @if (item.Schools != null)
                    {
                        foreach (var item2 in item.Schools)
                        {
                        <span class="label label-info">
                            @item2
                        </span>
                        }
                    }
                </td>
                <td>

                    @foreach (var item2 in item.ConnectionId)
                    {
                        <span class="label label-info">
                            @item2
                        </span>
                    }
                </td>

            </tr>
        }
    </table>

@section Refresh{
    <meta http-equiv="refresh" content="60">
    }
