﻿@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
}


<h4>Online test for chat</h4>
<div class="row">
    <div class="col-sm-8">
        <div style="max-height:500px;min-height:500px;overflow:scroll">
            <ul id="discussion" class="list-group">

            </ul>
        </div>
        <div class="input-group"> 
        <input class="form-control" placeholder="your message" id="message"> 
        <span class="input-group-btn"> 
            <button class="btn btn-default" type="button" id="sendmessage">send</button>
             </span> 
        </div>

    </div>
    <div class="col-sm-4">
        <h4>Avaiable groups</h4>
        <ul class="input-group">
            @foreach (var i in Model)
            {
                <li class="list-group-item">
                    <button class="Grp btn btn-danger" data-name="@i">@i</button>
                </li>
            }
        </ul>

    </div>


</div>
  
@section script{   
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var user = "user" + Math.random();
            // Declare a proxy to reference the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (name, message) {
                // Html encode display name and message.
                var encodedName = $('<div />').text(name).html();
                var encodedMsg = $('<div />').text(message).html();
                // Add the message to the page.
                var d = "id" + Math.log(Math.random());
                $('#discussion').prepend('<li class="list-group-item" id="'+d+'"><strong>' + encodedName
                    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
                $("#discussion").scrollTop($('#discussion li').last().position().top);
            };
            chat.client.Notification = function (data) {
                console.log(data)
                alert(data)
            };
            // Get the user name and store it to prepend to messages.
           
            $('#displayname').attr("readonly", "readonly");
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                console.log("started")
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send(user, $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });

                $('.Grp').click(function () {
                    var n = $(this).data('name');
                    chat.server.messagetoGroup("hello", n);
                })
            });


        });
</script>
    }