﻿@model IEnumerable<Scoolfirst.Model.MongoDatabase.OnlineUser>
@{
    ViewBag.Title = "Online User";
}

    <table class="table table-bordered">
        <tr>
            <td>User</td><td>Connection Id</td><td>Agent</td>
            <td>Connected On</td><td>Last activity</td><td>Reconect</td>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.ConnectionId
                </td>
                <td>
                    @item.DeviceId
                </td>
                <td>
                    @item.ConnectedOn
                </td>
                <td>
                    @item.LastConnection
                </td>
                <td>@item.Reconnected</td>
            </tr>
        }
    </table>

@section Refresh{
    <meta http-equiv="refresh" content="60">
}
