﻿@model Scoolfirst.Model.VirtualCompetetion.VirtualCompetetionQuestion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VirtualCompetetionQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowSolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowSolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortOrder)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
