﻿@model Scoolfirst.Model.VirtualCompetetion.VirtualCompetetionQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VirtualCompetetionQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowSolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowSolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortOrder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
