﻿@model IEnumerable<Scoolfirst.Model.Payments.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table ">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.UserId)
            <br />
            @Html.DisplayFor(modelItem => item.Product.Title)
            <br />
           
            @Html.DisplayFor(modelItem => item.On)
            <br />
            @Html.DisplayFor(modelItem => item.Email)
            <br />
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td width="120px">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
